﻿/* --------------------------
  PROPIEDADES ELEMENTOS DEL MENU
--------------------------- */
.navMenu-container{
    margin-bottom: 0rem;
    padding-left: 0rem;
    list-style: none;
    margin-top: 0rem;
}

/* --------------------------
  EFECTOS DEL MENU
--------------------------- */
/*Efecto Movimiento Menu*/
  
.navMenu-navigation,
#side-menu .navMenu-header,
#side-menu li.active {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.navMenu-container  .navMenu-label {
    transition: opacity 0.5s !important;
}
.navMenu-container > li i {
    transition: font-size 0.5s !important;
}

.navMenu-container > li > a {
    white-space: nowrap;
}

/* --------------------------
  ENCABEZADO DEL MENU
--------------------------- */
/*Tamaño y posicion encabezado menu*/
.navMenu-header {
  font-size:18rem;
  padding: 22rem 25rem;
}
/*Icono en Encabezado de Menu a la derecha*/
.navMenu-element .navMenu-minimalize .icon-menu{
    float:right; 
}
/*Quitar link a menu*/
.navMenu-header .navMenu-element .navMenu-minimalize {
    text-decoration: none !important;
}

/* -----------------------------
  ENCABEZADO DEL MENU COLAPSADO
------------------------------ */
/****Tamaño encabezado al minimizar****/
/*.mini-navbar .navMenu-navigation {
  width: 70rem;
      overflow: hidden;
}*/
/****Hacer icono mas grande al minimizar****/
/*.mini-navbar .navMenu-container > li > a i {
    font-size:25rem; 
}*/
/****Centrar Icono al minimizar****/
/*.navMenu-logo {
  text-align: center;
  font-size: 30rem;
  display: none;
  padding: 10rem 0 0 0;
}*/
/****Oculta Nombre opciones al minimizar****/
/*.mini-navbar .navMenu-element,
.mini-navbar .navMenu-label,
.mini-navbar .navMenu-navigation .navMenu-container li a .navMenu-label {
  display: none; 
  opacity:0;
}*/
/****Muestra Icono al minimizar****/
/*.mini-navbar .navMenu-logo {
  display: block;
}*/
/****Mantiene padding al minimizar****/
/*.mini-navbar .navMenu-header {
  padding: 0; 
}*/

/* --------------------------
  OPCIONES DEL MENU
--------------------------- */
/*Alinear titulo con icono*/
.navMenu-container li a i, .navMenu-container li a span{
    display:inline-block;
    vertical-align: middle;
    white-space: nowrap;
}
/*Tamaño Nombre opcion menú*/
.navMenu-label{  
    margin-left: 5rem;      
    width: 100%;  
    opacity:1;
}

 
/*Tamaño fuente Nombre opcion menú*/
.navMenu-container > li > a {  
    /* padding: 14rem 10rem 14rem 25rem; */
    padding: 0 14rem ;
    font-size: 13rem;
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}
/*Tamaño Icono opcion menú*/
.navMenu-container > li > a i {
  font-size:18rem;
  margin-left: 3rem;
}

.navMenu-container li {
    display: table;
    width: 100%;
}
 
li.active i {
    margin-left: 0!important;
}

/* --------------------------
  MENU
--------------------------- */
.navMenu-navigation {
  background-color: transparent;
} 

.wrapped nav.navMenu-navigation {
    bottom: 0;
    left: 0;
    top: 0;
    
    
}
nav.navMenu-navigation {
    height:100%;
    z-index:10;
    overflow: hidden;
}

/* --------------------------
  Medias para el MENU
--------------------------- */

  .navMenu-navigation {
    position: absolute;
    width: 200rem;
  }

/*@media (min-width: 768px) {    
  .navMenu-navigation {
    position: absolute;
    width: 200rem;
  }
  
}
@media (max-width: 768px) {

  .body-small .navMenu-navigation {
    display: none;
    position: absolute;
    width: 70rem;
  }
  .body-small.mini-navbar .navMenu-navigation {
    display: block;
  }
  
}*/

/* -----------------------------------------------------------------------------

  HAMBURGER ICONS COMPONENT
  
----------------------------------------------------------------------------- */
 /**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 30rem;
    height: 30rem;
    font-size: 0;
    text-indent: -9999rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background-color:transparent;
    margin-top: -1rem;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 12rem;
    left: 5rem;
    right: 5rem;
    height: 3rem;
    background: #fff;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: #fff;
    content: "";
}

.c-hamburger span::before {
    top: -6rem;
}

.c-hamburger span::after {
    bottom: -6rem;
}
 
 /**
 * Style 4
 *
 * Hamburger to right-arrow (htra). Hamburger menu transforms to a
 * right-pointing arrow. Usually indicates an off canvas menu sliding in from 
 * right that will be close on re-click of the icon.
 */
.c-hamburger--htra {
    /* background-color: #ff9650; */
    background-color: transparent;
}

.c-hamburger--htra span {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.c-hamburger--htra span::before {
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
    transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htra span::after {
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

/* active state, i.e. menu open */
.c-hamburger--htra.is-active {
    background-color: transparent;
}

.c-hamburger--htra.is-active span {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c-hamburger--htra.is-active span::before,
.c-hamburger--htra.is-active span::after {
    width: 50%;
}

.c-hamburger--htra.is-active span::before {
    top: 0;
    -webkit-transform: translateX(-3rem) translateY(1rem) rotate(-45deg);
    -ms-transform: translateX(-3rem) translateY(1rem) rotate(-45deg);
    transform: translateX(-3rem) translateY(1rem) rotate(-45deg);
}

.c-hamburger--htra.is-active span::after {
    bottom: 0;
    -webkit-transform: translateX(-3rem) translateY(-1rem) rotate(45deg);
    -ms-transform: translateX(-3rem) translateY(-1rem) rotate(45deg);
    transform: translateX(-3rem) translateY(-1rem) rotate(45deg);
}


