﻿

<div class="wrapper-cotizaciones" id="contCotizaciones" style="padding: 0 0 150rem 0">
    <div class="wrapper-tablaCotizaciones">
        <div class="inner-tablaCotizaciones">
           
        </div>
    </div>
    <div class="cart-SumaTotal">
        <div class="idigitales-renglon">
            <div class="idigitales-col-7"></div>
            <div class="idigitales-col-2" style="text-align: center;">
                @*<label for="cotDescuentoPor" style="color: #000; ">Descuento <span id="lblcotDescuentoPor">0%</span></label>*@
                @*<input id="cotDescuentoPor" type="number" value="0" min="0" max="30" />*@
                
            </div>

            <div class="idigitales-col-3">
                
                <div class="idigitales-renglon">
                    <div class="idigitales-col-6">
                        Descuento %
                    </div>
                    <div id="cotDescuento" class="idigitales-col-6">
                        <div  class="botonInputProducto">
                            <input id="cotDescuentoPor" type="text" value="0" />
                        </div>
                        <div id="ceroDescCot" class="fa fa-times botonInputProducto" onclick=""></div>
                        <div id="masDesCot" class="fa fa-plus botonInputProducto" onclick=""><div class="divDesabilitarBoton"></div></div>
                        <div id="menosDesCot" class="fa fa-minus botonInputProducto " onclick=""><div class="divDesabilitarBoton"></div></div>

                        @*<input id="cotDescuentoPor" style="text-align: right" type="number" min="0" max="30" step="1" value="0">*@
                        @*<div>$00.00</div>*@
                    </div>
                </div>

                <div class="idigitales-renglon">

                    <div class="idigitales-col-6">
                        Subtotal
                    </div>
                    <div id="cotizacionSubtotal" class="idigitales-col-6">
                        <div>$00.00</div>
                    </div>
                </div>

                <div class="idigitales-renglon">
                    <div class="idigitales-col-6">
                        IVA
                    </div>
                    <div id="cotizacionIVA" class="idigitales-col-6">
                        <div>$00.00</div>
                    </div>
                </div>
                <div class="idigitales-renglon">
                    <div class="idigitales-col-6">
                        Total
                    </div>
                    <div id="cotizacionTotal" class="idigitales-col-6">
                        <div>$00.00</div>
                    </div>
                </div>
                @*<div id="cotizacionSubtotal">
                Subtotal
                <div>$00.00</div>
            </div>
            <div id="cotizacionIVA">
                IVA
                <div>$00.00</div>
            </div>
            <div id="descuentoCot">
                Descuento %
                <div>
                    <input type="number" value="0"  min="0" max="30"/>
                </div>
            </div>
            <div id="cotizacionTotal">
                Total
                <div>$00.00</div>
            </div>*@
            </div>
        </div>
    </div>

        <div class="hide" id="modelRowCotizacion">
            <div class="cart-fila">
                <div class="cart-image cart-celda">
                    <i class="icon icon-producto" aria-hidden="true"></i>
                </div>
                <div class="cart-name cart-celda">

                </div>
                <div class="cart-model cart-celda">

                </div>
                <div class="cart-cantidad cart-celda">

                    <div class="botonInputProducto">
                        <input value="1" />
                    </div>
                    <div id="cerrar" class="fa fa-times botonInputProducto" onclick="_Members.manejadorSeccion.eliminarProductoCarrito(this)"></div>
                    <div id="agregar1producto" class="fa fa-plus botonInputProducto" onclick="_Members.manejadorSeccion.cambiarCantidad(this,'+')"><div class="divDesabilitarBoton"></div></div>
                    <div id="quitar1producto" class="fa fa-minus botonInputProducto desabilitarBoton" onclick="_Members.manejadorSeccion.cambiarCantidad(this,'-')"><div class="divDesabilitarBoton"></div></div>


                </div>
                <div class="cart-precio cart-celda">

                </div>
                <div class="cart-descuento cart-celda">
                    <div class="botonInputProducto">
                        <input value="0" />
                    </div>
                    <div id="ceroDesc" class="fa fa-times botonInputProducto" onclick="_Members.manejadorSeccion.ceroDescuento(this)"></div>
                    <div id="masDesc" class="fa fa-plus botonInputProducto" onclick="_Members.manejadorSeccion.cambiarDescuento(this,'+')"><div class="divDesabilitarBoton"></div></div>
                    <div id="menosDesc" class="fa fa-minus botonInputProducto desabilitarBoton" onclick="_Members.manejadorSeccion.cambiarDescuento(this,'-')"><div class="divDesabilitarBoton"></div></div>

                    @*<lable>*@
                    @*<input style="text-align: right" class="rango" type="number" min="0" max="30" step="1" value="0">@*<span id="lblPorcentaje">%</span></lable>*@
                    @*<input type="number" value="0"  min="0" max="30"/>*@
                </div>
                <div class="cart-total cart-celda">
                </div>
            </div>
        </div>
        @*@{
            Html.RenderAction("ListaProductos", "Members");
        }*@
    </div>