﻿@using Newtonsoft.Json
@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.Productos>


<div class="hide" id="panelSelectPanelProducto" style="height: 400rem; overflow: auto">    
    @{
        if (Model != null)
        {
            <div style="    width: 99%;">
                @foreach (var producto in Model)
                {
                    <div class="panelProducto-fila" id="panelProd_@producto.IdProducto"
                         data-producto="@JsonConvert.SerializeObject(producto)" 
                         onclick=" _Members.manejadorSeccion.seleccionProductoCarrito(this) ">
                        <div class="panelProducto-imagen">
                            <img src="~/Content/images/productos/Movil2.jpg" alt="" />
                        </div>
                        <div class="panelProducto-descripcion">
                            <div class="panelProducto-nombre">
                                @producto.Modelo @producto.Nombre
                            </div>
                            <div class="panelProducto-fullDesc">
                                @producto.Descripcion
                            </div>
                        </div>
                        <div class="panelProducto-precio">
                            @producto.Precio (@producto.Moneda)
                        </div>
                    </div>
                }
            </div>
        }
    }
    
</div>