﻿@using IDigitales.Pagina.Web.Controllers.Helpers


<div class="idigitales-wrap-vertical-center cart-table" id="carritoCotizaciones">
    @Html.Hidden("idCotizacion", 0)
    @Html.Hidden("nombre", "")
    @Html.Hidden("idLista", 0)
    @Html.Hidden("idUsuario", ((CustomPrincipal)User).Id.ToString())
    @Html.Hidden("iva",0)
    <div class="cart-fila-title">
        <div class="cart-title">
            <div>Imagen</div></div>
        <div class="cart-title">
            <div>Producto</div></div>
        <div class="cart-title">
            <div>Modelo</div></div>
        <div class="cart-title">
            <div>Cantidad</div></div>
        <div class="cart-title">
            <div>Precio</div></div>
        <div class="cart-title">
            <div> % Descuento</div></div>
        <div class="cart-title">
            <div>Total</div></div>
    </div>
</div>
<div class="textoAyuda" id="contAyuda">
    <div class="renglonAyuda"><div class="icon icon-nuevacotizacion iconAyuda"></div><div class="leyendaAyuda">Nueva cotización</div></div>
    <div class="renglonAyuda"><div class="fa fa-folder-open-o iconAyuda"></div><div class="leyendaAyuda">Abrir cotización</div></div>
    <div class="renglonAyuda"><div class="fa fa-floppy-o iconAyuda"></div><div class="leyendaAyuda">Guardar cotización</div></div>
    <div class="renglonAyuda"><div class="icon icon-agregarproducto iconAyuda"></div><div class="leyendaAyuda">Agregar Productos a la cotización</div></div>
    <div class="renglonAyuda"><div class="fa fa-print iconAyuda"></div><div class="leyendaAyuda">Imprimir Cotización</div></div>
    <div class="renglonAyuda"><div class="icon icon-imprimirinventario"></div><div class="leyendaAyuda"> Imprimir Inventario</div></div>
    <div class="renglonAyuda"><div class="icon icon-imprimirlista"></div><div class="leyendaAyuda"> Imprimir Listas de Precios</div></div>
</div>