﻿@using IDigitales.Pagina.Web.Controllers.Helpers
@using IDigitales.Pagina.Web.Data.Entidades.Poco
@using Newtonsoft.Json
@using Cotizaciones = IDigitales.Pagina.Web.Comun.Idioma.Members.Cotizaciones
 
<div id="modalImpresionCotizacion">
    <label class="hide" id="titulo">@Cotizaciones.Cotizacion</label>
    <div id="contDatosImpresionCotizacion" class="idigitales-contenedor-form" style="border: none;">
        <fieldset class="idigitales-fielset" style="margin-top:5rem;">
            <div class="idigitales-fielset-title">
                <label class="idigitales-form-label">@Cotizaciones.DatosCliente</label>
            </div>
            <div class="idigitales-renglon">
                <div class="idigitales-col-12">
                    <label class="idigitales-form-label">@Cotizaciones.Cliente</label>
                    <input type="text" id="nombreCliente" class="idigitales-form-input" placeholder="@Cotizaciones.Cliente" required />
                </div>
            </div>
            <div class="idigitales-renglon">
                <div class="idigitales-col-12">
                    <label class="idigitales-form-label">@Cotizaciones.Empresa</label>
                    <input type="text" id="nombreEmpresa" class="idigitales-form-input" placeholder="@Cotizaciones.Empresa" required />
                </div>
            </div>
        </fieldset>
        <fieldset class="idigitales-fielset" style="margin-top:10rem;">
            <div class="idigitales-fielset-title">
                <label class="idigitales-form-label">@Cotizaciones.DatosContacto</label>
            </div>
            <div class="idigitales-renglon">
                <div class="idigitales-col-12">
                    <label class="idigitales-form-label">@Cotizaciones.Compañía</label>
                    <select id="selCompany" class="select-adjust-container ctrlSelect2" data-placeholder="@Cotizaciones.Compañía" required>
                        <option value="1">Electrónica y Medicina</option>
                        <option value="2">Compañía Mexicana de Radiología</option>
                    </select>
                </div>
            </div>
            <div class="idigitales-renglon">
                <div class="idigitales-col-12">
                    <label class="idigitales-form-label">@Cotizaciones.NombreContacto</label>
                    <input type="text" id="contacto" class="idigitales-form-input" placeholder="@Cotizaciones.NombreContacto" required />
                </div>
            </div>
            <div class="idigitales-renglon">
                <div class="idigitales-col-12">
                    <label class="idigitales-form-label">@Cotizaciones.Correo</label>
                    <input type="text" id="emailContacto" class="idigitales-form-input" placeholder="@Cotizaciones.Correo" required />
                </div>
            </div>
        </fieldset>
    </div>                          
    <div class="idigitales-contenedor-btn-der" style="margin-top:5rem">
        <button id="btnImprimirCotizacion" class="idigitales-boton-chico idigitales-boton" type="button">@Cotizaciones.Imprimir</button>
        <button id="btnCancelarCotizacion" class="idigitales-boton-chico idigitales-boton" type="button">@Cotizaciones.Cancelar</button>
    </div>               
    <div id="spinCarga" class="centrado" style="display: none">
        <div style="font-size: 80rem; color: #446cb3;" class="fa fa-refresh animado lento idigitales-form-icon"></div>
    </div>
</div>