﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
<div id="modalCotizacion">
    <label id="titulo" class="hide">@Cotizaciones.Cotizacion</label>

    <!--Datos Producto-->
    <div id="modalGuardarCot" style="display: none">
        <div id="datosCotizacion" style="border: none;" class="idigitales-contenedor-form">
            @Html.Hidden("idCotizacion", "0")
            @Html.Hidden("porcentajeDescuento", "0")
            @Html.Hidden("idUsuario", "0")

            <div class="idigitales-renglon">
                <div class="idigitales-col-12">
                    <label class="idigitales-form-label">@Cotizaciones.Nombre</label>
                    <input type="text" id="nombre" class="idigitales-form-input" placeholder="@Cotizaciones.Nombre" value="" required="" />
                </div>
            </div>

            <div class="idigitales-renglon">
                <div class="idigitales-col-12">
                    <label for="selLista" class="idigitales-form-label">@Cotizaciones.ListaPrecios:</label>
                    <select id="selLista" class="ctrlSelect2" data-placeholder="@Cotizaciones.ListaPrecios" required readonly></select>
                </div>
            </div>
        </div>

        <!--Botones Pie de pagina-->
        <div class="idigitales-contenedor-btn-der" style="margin-top:10rem">
            <button type="button" id="btnGuardarMod" class="idigitales-boton idigitales-boton-chico">@Productos.Guardar</button>
            <button type="button" id="btnCancelarMod" class="idigitales-boton idigitales-boton-chico">@Productos.Cancelar</button>
        </div>
    </div>

    <div id="modalSeleccionarLista" style="display: none">
        <div style="border: none;" class="idigitales-contenedor-form">
            <div class="idigitales-renglon">
                <div class="idigitales-col-12">
                    <label for="idLista" class="idigitales-form-label">@Cotizaciones.ListaPrecios:</label>
                    <select id="idLista" class="ctrlSelect2" data-placeholder="@Cotizaciones.ListaPrecios" required></select>
                </div>
            </div>
        </div>
        <!--Botones Pie de pagina-->
        <div class="idigitales-contenedor-btn-der" style="margin-top:10rem">
            <button type="button" id="btnGuardarSel" class="idigitales-boton idigitales-boton-chico">@Productos.Guardar</button>
            <button type="button" id="btnCancelarSel" class="idigitales-boton idigitales-boton-chico">@Productos.Cancelar</button>
        </div>
    </div>
    
    <div id="modalAbrirCotizacion" style="display: none">
        <div style="border: none;" class="idigitales-contenedor-form">
            <div class="idigitales-renglon">
                <div class="idigitales-col-12">
                    <label for="selectCotizacion" class="idigitales-form-label">@Cotizaciones.Cotizacion:</label>
                    <select id="selectCotizacion" class="ctrlSelect2" data-placeholder="@Cotizaciones.Cotizacion" required></select>
                </div>
            </div>
        </div>
        <!--Botones Pie de pagina-->
        <div class="idigitales-contenedor-btn-der" style="margin-top:10rem">
            <button type="button" id="btnAbrirCargar" class="idigitales-boton idigitales-boton-chico">@Cotizaciones.Abrir</button>
            <button type="button" id="btnCancelarCargar" class="idigitales-boton idigitales-boton-chico">@Productos.Cancelar</button>
        </div>
    </div>

</div>