﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members

<div id="cntSubSeccion" class="idigitales-seccion cotizacion" style="border: none;">
    <label id="titulo" class="hide">@Cotizaciones.AgregarProducto</label>
    <div id="pnlSubSeccion" class="idigitales-col-12">
        <div id="contTablas" class="pagina-panel-contenido">

        </div>
        <div id="contPlantilla" style="display: none">
            <table class="table-bordered display" id="tabla" style="width: 100%">
                <thead>
                    <tr>
                        <th>
                            <div style="display: none">Icono</div>
                        </th>
                        <th>@Productos.Modelo</th>
                        <th>@Productos.Nombre </th>
                        <th>@Productos.Precio </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="idigitales-contenedor-btn-der">
        <button id="btnCancelarMod" class="idigitales-boton-chico idigitales-boton" type="button">Cerrar</button>
    </div>
</div>