﻿@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.Aplicaciones>

<style>
    i {
        transition-duration: 4s;
        transition-property: all;
    }
        i[aria-expanded="true"] {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
        }
</style>

<div class="mb-4 mb-2">
    <div class="row">
        @foreach (var categoria in Model)
        {
            <div class="col-sm-4 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center justify-content-start">
                                <h6 class="p-0 m-0 mr-2">@categoria.Nombre</h6>
                                <div>ver. @*@(categoria.Version ?? "0.0.0.0")*@</div>
                            </div>
                            <i class="material-icons btn btn-link" data-toggle="collapse" data-target="#modules-@categoria.TAG" aria-expanded="false" aria-controls="modules-@categoria.TAG">keyboard_arrow_right</i>
                        </div>
                        <div id="modules-@categoria.TAG" class="collapse">
                            @foreach (var module in categoria.Modulos)
                            {
                                <div class="badge badge-light mr-2 mt-1">@module.Subcategoria</div>
                            }
                        </div>                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>