﻿@model IDigitales.Pagina.Web.Data.Modelos.HomeSitioViewModel
@using IDigitales.Pagina.Web.Data.Entidades.Poco

<script src="~/Scripts/Chart.min.js"></script>

<div class="d-flex justify-content-between align-items-center mt-4">
    <h2>Hola, @Model.User.Nombre</h2>

    
    <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracion", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        <button class="btn p-0">
            <i class="material-icons">settings</i>
        </button>
    </form>
</div>

<div class="mt-4">
    @Html.Action("InstalacionesLista")
</div>

@if (ViewBag.InstalacionesCount > 0)
{
    <div class="card mb-4">
        <div class="card-header">
            @if (Model.User.TienePermiso("REPORTES_VER_TERCEROS"))
            {
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-start">
                        <h5 class="m-0 mr-4">Reportes del sistema:</h5>
                        @if (Model.Instalaciones.Count > 1)
                        {
                            <form id="initial-table" class="instalaciones-form" action="@Url.Action("ReportesTable", "Members")" method="get" autocomplete="off" data-target="#reportes-container">
                                <input type="submit" class="btn btn-link" value="Todo" />
                            </form>
                            foreach (var proyecto in Model.Instalaciones.OrderByDescending(i => i.Reportes.Count()))
                            {
                                <form class="instalaciones-form" action="@Url.Action("ReportesTable", "Members")" method="get" autocomplete="off" data-target="#reportes-container">
                                    <input type="hidden" name="proyectoId" value="@proyecto.Id" />
                                    <input type="submit" class="btn btn-link" value="@proyecto.Tag" />
                                </form>
                            }
                        }
                    </div> 
                    @if (Model.User.TienePermiso("REPORTES_CREAR") && Model.Total() > 0)
                    {
                        <form class="instalaciones-form" action="@Url.Action("ReportesCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                            <input type="hidden" name="backToHome" value="true" />
                            <button class="btn btn-primary d-flex align-items-center">
                                <i class="material-icons mr-2">edit</i>
                                INICIAR UN NUEVO REPORTE
                            </button>
                        </form>
                    }
                </div>
            }
            else
            {
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-start">
                        <h5 class="m-0 mr-4">Reportes iniciados por ti:</h5>
                        @if (Model.Instalaciones.Count > 1)
                        {
                            <form id="initial-table" class="instalaciones-form" action="@Url.Action("ReportesTable", "Members")" method="get" autocomplete="off" data-target="#reportes-container">
                                <input type="submit" class="btn btn-link" value="Todo" />
                            </form>
                            foreach (var proyecto in Model.Instalaciones.OrderByDescending(i => i.Reportes.Count()))
                            {
                                <form class="instalaciones-form" action="@Url.Action("ReportesTable", "Members")" method="get" autocomplete="off" data-target="#reportes-container">
                                    <input type="hidden" name="proyectoId" value="@proyecto.Id" />
                                    <input type="submit" class="btn btn-link" value="@proyecto.Tag" />
                                </form>
                            }
                        }
                    </div>
                    @if (Model.User.TienePermiso("REPORTES_CREAR") && Model.Total() > 0)
                    {
                        <form class="instalaciones-form" action="@Url.Action("ReportesCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                            <input type="hidden" name="backToHome" value="true" />
                            <button class="btn btn-primary d-flex align-items-center">
                                <i class="material-icons mr-2">edit</i>
                                INICIAR UN NUEVO REPORTE
                            </button>
                        </form>
                    }
                </div>
            }
        </div>

        <div class="card-body">
            @if (Model.Total() == 0)
            {
                <div class="d-flex align-items-center justify-content-center">
                    <div class="card">
                        <div class="card-body d-flex align-items-center justify-content-start">
                            <img class="mr-4 rounded" src="@Url.Content("~/Content/images/portal/ReporteNuevo.png")" />
                            <div>
                                @if (Model.User.TienePermiso("REPORTES_CREAR"))
                                {
                                    <div class="d-flex align-items-center justify-content-start">
                                        <span>No hay reportes en el sistema. Puedes crear uno </span>
                                        <form class="instalaciones-form ml-1" action="@Url.Action("ReportesCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                            <input type="hidden" name="backToHome" value="true" />
                                            <button class="btn p-0 btn-link">
                                                aquí
                                            </button>
                                        </form>
                                        .
                                    </div>
                                }
                                @if (Model.User.TienePermiso("REPORTES_IMPORTAR"))
                                {
                                    <div class="d-flex align-items-center justify-content-start">
                                        <span>También, puedes importar un documento con reportes existentes</span>
                                        <form class="instalaciones-form ml-1" action="@Url.Action("InstalacionesConfiguracionImportarCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                            <button class="btn p-0 btn-link">
                                                aquí
                                            </button>
                                        </form>
                                        .
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div id="reportes-container">
                    @Html.Action("ReportesTable")
                </div>
            }
        </div>
    </div>
}