﻿@model IDigitales.Pagina.Web.Data.Modelos.HomeAdminViewModel
@using IDigitales.Pagina.Web.Data.Entidades.Poco

<script src="~/Scripts/Chart.min.js"></script>

<div class="d-flex justify-content-between align-items-center mt-4">
    <h2 class="mr-auto">Bienvenido, @Model.User.Nombre</h2>

    <div style="padding-top: 0.375rem;padding-right: 0.125rem;padding-bottom: 0.375rem;">
        <svg class="svg-icon" style="padding-bottom: 4px;" viewBox="0 0 20 20">
            <path fill="none" d="M4.68,13.716v-0.169H4.554C4.592,13.605,4.639,13.658,4.68,13.716z M11.931,6.465
	        c-0.307-0.087-0.623,0.106-0.706,0.432l-1.389,5.484c-0.901,0.084-1.609,0.833-1.609,1.757c0,0.979,0.793,1.773,1.773,1.773
	        c0.979,0,1.773-0.794,1.773-1.773c0-0.624-0.324-1.171-0.812-1.486l1.377-5.439C12.422,6.887,12.239,6.552,11.931,6.465z
	        M10.591,14.729H9.408v-1.182h1.183V14.729z M15.32,13.716c0.04-0.058,0.087-0.11,0.126-0.169H15.32V13.716z M10,3.497
	        c-3.592,0-6.503,2.911-6.503,6.503H4.68c0-2.938,2.382-5.32,5.32-5.32s5.32,2.382,5.32,5.32h1.182
	        C16.502,6.408,13.591,3.497,10,3.497z M10,0.542c-5.224,0-9.458,4.234-9.458,9.458c0,5.224,4.234,9.458,9.458,9.458
	        c5.224,0,9.458-4.234,9.458-9.458C19.458,4.776,15.224,0.542,10,0.542z M15.32,16.335v0.167h-0.212
	        c-1.407,1.107-3.179,1.773-5.108,1.773c-1.93,0-3.701-0.666-5.108-1.773H4.68v-0.167C2.874,14.816,1.724,12.543,1.724,10
	        c0-4.571,3.706-8.276,8.276-8.276c4.57,0,8.275,3.706,8.275,8.276C18.275,12.543,17.126,14.816,15.32,16.335z"></path>
        </svg>
    </div>

    <form class="instalaciones-form" style="padding-left:0; padding-right:0; padding-top:0; padding-bottom:0" action="@Url.Action("InstalacionesConfiguracion", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        <button class="btn" style="padding-left:0">
            <i class="material-icons">settings</i>
        </button>
    </form>
</div>

<div class="mt-4 divPartial-ProyectosActivos">
    @Html.Action("InstalacionesLista")
</div>

@if (ViewBag.InstalacionesCount > 0)
{
    <div class="card mb-4 mt-4">
        <div class="card-header">
            @if (Model.User.TienePermiso("REPORTES_VER_TERCEROS"))
            {
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-start">
                        <h5 class="m-0 mr-4">Reportes del sistema:</h5>
                        @if (Model.InstalacionesReportesVistoBueno.Count > 1)
                        {
                            <form id="initial-table" class="instalaciones-form" action="@Url.Action("ReportesTable", "Members")" method="get" autocomplete="off" data-target="#reportes-container">
                                <input type="submit" class="btn btn-link" value="Todo" />
                            </form>
                            foreach (var proyecto in Model.InstalacionesReportesVistoBueno.OrderByDescending(i => i.Reportes.Count()))
                            {
                                <form class="instalaciones-form" action="@Url.Action("ReportesTable", "Members")" method="get" autocomplete="off" data-target="#reportes-container">
                                    <input type="hidden" name="proyectoId" value="@proyecto.Id" />
                                    <input type="submit" class="btn btn-link" value="@proyecto.Tag" />
                                </form>
                            }
                        }
                    </div>
                    @if (Model.User.TienePermiso("REPORTES_CREAR") && ViewBag.Total > 0)
                    {
                        <div>
                            <form class="instalaciones-form" action="@Url.Action("ReportesCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                <input type="hidden" name="backToHome" value="true" />
                                <button class="btn btn-primary d-flex align-items-center">
                                    <i class="material-icons mr-2">edit</i>
                                    INICIAR UN NUEVO REPORTE
                                </button>
                            </form>
                            <div class="d-flex align-items-center justify-content-end">
                                <form class="instalaciones-form ml-1" action="@Url.Action("InstalacionesConfiguracionImportarCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                    <button class="btn p-0 btn-link d-flex justify-content-end">
                                        <span>Importar reportes</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="d-flex align-items-center justify-content-between">
                    <h5>Reportes iniciados por ti:</h5>
                    @if (Model.User.TienePermiso("REPORTES_CREAR") && ViewBag.Total >  0)
                    {
                        <form class="instalaciones-form" action="@Url.Action("ReportesCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                            <input type="hidden" name="backToHome" value="true" />
                            <button class="btn btn-primary d-flex align-items-center">
                                <i class="material-icons mr-2">edit</i>
                                INICIAR UN NUEVO REPORTE
                            </button>
                        </form>
                    }
                </div>
            }
        </div>

        <div class="card-body">
            @if (ViewBag.Total == 0)
            {
                <div class="d-flex align-items-center justify-content-center">
                    <div class="card">
                        <div class="card-body d-flex align-items-center justify-content-start">
                            <img class="mr-4 rounded" src="@Url.Content("~/Content/images/portal/ReporteNuevo.png")" />
                            <div>
                                @if (Model.User.TienePermiso("REPORTES_CREAR"))
                                {
                                    <div class="d-flex align-items-center justify-content-start">
                                        <span>No hay reportes en el sistema. Puedes crear uno </span>
                                        <form class="instalaciones-form ml-1" action="@Url.Action("ReportesCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                            <input type="hidden" name="backToHome" value="true" />
                                            <button class="btn p-0 btn-link">
                                                aquí
                                            </button>
                                        </form>
                                        .
                                    </div>
                                }
                                @if (Model.User.TienePermiso("REPORTES_IMPORTAR"))
                                {
                                    <div class="d-flex align-items-center justify-content-start">
                                        <span>También, puedes importar un documento con reportes existentes</span>
                                        <form class="instalaciones-form ml-1" action="@Url.Action("InstalacionesConfiguracionImportarCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                            <button class="btn p-0 btn-link">
                                                aquí
                                            </button>
                                        </form>
                                        .
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div id="reportes-container">
                    @Html.Action("ReportesTable")
                </div>
            }
        </div>
    </div>

    if (ViewBag.Total > 0 && ViewBag.Admin == true)
    {
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div>
                    <div class="card">
                        <div class="card-header">
                            <h6 class="p-0">Reportes con visto bueno:</h6>
                        </div>
                        <div class="list-group list-group-flush">
                            <div class="row">
                                <div class="col">
                                    <nav>
                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                            @{bool first = true;}
                                            @foreach (var instalacion in Model.InstalacionesReportesVistoBueno.OrderByDescending(i => i.Reportes.Count()))
                                            {
                                                <a class="nav-item nav-link @(first ? "active" : "")" id="nav-@instalacion.Tag-tab" data-toggle="tab" href="#nav-@instalacion.Tag" role="tab" aria-controls="nav-@instalacion.Tag" aria-selected="@(first ? "true" : "false")">@instalacion.Tag</a>
                                                first = false;
                                            }
                                        </div>
                                    </nav>
                                    <div class="tab-content px-3 px-sm-0" id="nav-tabContent">
                                        @{first = true;}
                                        @foreach (var instalacion in Model.InstalacionesReportesVistoBueno.OrderByDescending(i => i.Reportes.Count()))
                                        {
                                            <div class="tab-pane fade @(first ? "show active" : "")" id="nav-@instalacion.Tag" role="tabpanel" aria-labelledby="nav-@instalacion.Tag-tab">
                                                @if (instalacion.Reportes.Count == 0)
                                                {
                                                    <div class="list-group-item d-flex align-items-center justify-content-between">
                                                        No hay reportes para mostrar.
                                                    </div>
                                                }
                                                @foreach (var reporte in instalacion.Reportes.Take(10).OrderBy(r => r.FechaReporte))
                                                {
                                                    <div class="list-group-item d-flex align-items-center justify-content-between">
                                                        <div>
                                                            <span class="bold">@reporte.Tag</span>
                                                            <span class="d-flex align-items-center badge badge-light p-2"><i class="material-icons text-success mr-2">done_all</i>@reporte.VistoBueno.Nombre</span>
                                                        </div>
                                                        <div class="d-flex align-self-end flex-column">
                                                            <form class="instalaciones-form" action="@Url.Action("ReportesDetalle", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                                                <input type="hidden" name="id" value="@reporte.Id" />
                                                                <input type="hidden" name="backToHome" value="true" />
                                                                <button class="btn d-flex align-items-center py-0 px-0">
                                                                    @reporte.Comentarios.Count
                                                                    <i class="material-icons">message</i>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                }
                                                @if (instalacion.Reportes.Count > 10)
                                                {
                                                    <form class="instalaciones-form d-flex align-items-end justify-content-end card-footer" action="@Url.Action("VistoBuenoList", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                                        <input type="hidden" name="id" value="@instalacion.Id" />
                                                        <input type="submit" class="btn btn-link" value="Mostrando 10 de @instalacion.Reportes.Count" />
                                                    </form>
                                                }
                                            </div>
                                            first = false;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-8">
                <h5>Desarrolladores:</h5>
                <div class="row">
                    @foreach (var dev in Model.Desarroladores)
                    {
                        <div class="col-md-6 col-lg-4">
                            <div class="card mb-2">
                                <div class="card-img-top"></div>
                                <div class="card-body">
                                    <h6>@dev.Nombre</h6>
                                    <div class="d-flex flex-column">
                                        <span class="d-flex align-items-center"><i class="material-icons mr-2 text-info">arrow_right</i>@dev.ReportesAsignados.Where(r => r.Estado == Reporte.EstadoEnum.EnProceso).Count() reportes asignados.</span>
                                        <div class="m-2"></div>
                                        <span class="d-flex align-items-center"><i class="material-icons mr-2 text-info">arrow_right</i>@dev.ReportesAsignados.Where(r => r.Estado == Reporte.EstadoEnum.EnProceso && r.EnProcesoActual).Count() reportes en proceso.</span>
                                        <div class="m-2"></div>
                                        <span class="d-flex align-items-center"><i class="material-icons mr-2 text-success">check</i>@dev.ReportesAsignados.Where(r => r.Estado == Reporte.EstadoEnum.Terminado).Count() reportes terminados.</span>
                                    </div>
                                </div>
                                <div class="card-footer p-2">
                                    <form class="instalaciones-form" action="@Url.Action("DevPerfil", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                        <input type="hidden" name="id" value="@dev.IdUsuario" />
                                        <button class="btn d-flex align-items-center py-0 px-0">
                                            <div class="btn btn-link p-0">Ver perfil</div>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}