﻿@model IDigitales.Pagina.Web.Data.Modelos.HomeDevViewModel
@using IDigitales.Pagina.Web.Data.Entidades.Poco

<style>
    blockquote {
        font-family: 'Special Elite', cursive;
        color: #3f3f5a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 100;
        font-size: 1rem;
        max-width: 600px;
        line-height: 1.4;
        position: relative;
        margin: 0;
        padding: .5rem;
    }

        blockquote:before,
        blockquote:after {
            position: absolute;
            color: #f1efe6;
            font-size: 8rem;
            width: 4rem;
            height: 4rem;
        }

        blockquote:before {
            content: '“';
            left: -5rem;
            top: -2rem;
        }

        blockquote:after {
            content: '”';
            right: -5rem;
            bottom: 1rem;
        }

    cite {
        line-height: 3;
        text-align: left;
    }
</style>

@if (ViewBag.Perfil == true)
{
    <form class="instalaciones-form" action="@Url.Action("InstalacionesHome", "Members")" data-refresh="true" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        <input class="btn btn-link" type="submit" value="Regresar" />
    </form>
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h2>Perfil de @Model.User.Nombre</h2>
    </div>
}
else
{
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h2>Hola, @Model.User.Nombre</h2>

        <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracion", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
            <button class="btn p-0">
                <i class="material-icons">settings</i>
            </button>
        </form>
    </div>
}

@*Quote of the day, solicitada de "https://theysaidso.com/api/#qod"*@
<div class="d-flex align-items-center flex-column m-4" style="display:none;" id="quote-container">
    <blockquote></blockquote>
    <cite></cite>
</div>

<div class="row">
    <div class="col-lg-4 col-md-5 p-1">
        <div class="p-4 bg-light rounded h-100">
            <div class="h5">
                Reportes asignados a tí:
            </div>
            @foreach (var reporte in Model.ReportesEnProceso.Where(r => !r.EnProcesoActual).OrderBy(r => r.Prioridad))
            {
                <div class="card mb-2">
                    <div class="card-body p-3">
                        <div class="h6 d-flex align-items-center justify-content-between">
                            @reporte.Tag
                            <div class="d-flex align-items-center justify-content-start">
                                @if (reporte.FechaAsignacion.HasValue)
                                {
                                    <span class="@(!reporte.EsReporteEnProcesoExedente ? "text-muted" :"text-warning")">@reporte.FechaAsignacion.Value.ToShortDateString()</span>
                                    <div class="m-1"></div>
                                }
                                <div class="bg-@Reporte.PrioridadColor(reporte.Prioridad) rounded" style="width:20px;height:10px;" data-toggle="tooltip" data-placement="top" title="Prioridad: @reporte.Prioridad.ToString().ToUpper()"></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between">
                            <span>@reporte.Titulo</span>
                            <form class="instalaciones-form" action="@Url.Action("ReportesDetalle", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                <input type="hidden" name="id" value="@reporte.Id" />
                                <input type="hidden" name="backToHome" value="true" />
                                <button class="btn d-flex align-items-center py-0 px-0">
                                    @reporte.Comentarios.Count
                                    <i class="material-icons">message</i>
                                </button>
                            </form>
                        </div>
                    </div>
                    @if(ViewBag.Perfil != true)
                    {
                        <div class="card-footer p-0">
                            <div class="d-flex align-items-center justify-content-end">
                                <form class="instalaciones-form" action="@Url.Action("ReporteIniciarTerminarEnProceso", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                    <input type="hidden" value="@reporte.Id" name="idReporte" />
                                    <button type="submit" class="btn d-flex align-items-center justify-content-end">
                                        <span class="mr-2">Trabajar en este punto</span>
                                        <i class="material-icons">play_circle_outline</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    }                    
                </div>
            }
        </div>
    </div>
    <div class="col-lg-5 col-md-7 p-1">
        <div class="p-4 bg-light rounded h-100">
            <div class="h5">
                Reportes en proceso actualmente:
            </div>
            @foreach (var reporte in Model.ReportesEnProceso.Where(r => r.EnProcesoActual).OrderBy(r => r.Prioridad))
            {
            <div class="card mb-2">
                <div class="card-body p-3">
                    <div class="h6 d-flex align-items-center justify-content-between">
                        @reporte.Tag
                        <div class="d-flex align-items-center justify-content-start">
                            @if (reporte.FechaAsignacion.HasValue)
                            {
                                <span class="@(!reporte.EsReporteEnProcesoExedente ? "text-muted" :"text-warning")">@reporte.FechaAsignacion.Value.ToShortDateString()</span>
                                <div class="m-1"></div>
                            }
                            <div class="bg-@Reporte.PrioridadColor(reporte.Prioridad) rounded" style="width:20px;height:10px;" data-toggle="tooltip" data-placement="top" title="Prioridad: @reporte.Prioridad.ToString().ToUpper()"></div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between">
                        <span>@reporte.Titulo</span>
                        <form class="instalaciones-form" action="@Url.Action("ReportesDetalle", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                            <input type="hidden" name="id" value="@reporte.Id" />
                            <input type="hidden" name="backToHome" value="true" />
                            <button class="btn d-flex align-items-center py-0 px-0">
                                @reporte.Comentarios.Count
                                <i class="material-icons">message</i>
                            </button>
                        </form>
                    </div>
                </div>
                @if (ViewBag.Perfil != true)
                {
                    <div class="card-footer p-0">
                        <div class="d-flex align-items-center justify-content-end">
                            <form class="instalaciones-form" action="@Url.Action("ReporteIniciarTerminarEnProceso", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                <input type="hidden" value="@reporte.Id" name="idReporte" />
                                <button type="submit" class="btn d-flex align-items-center justify-content-end">
                                    <span class="mr-2">Suspender trabajo</span>
                                    <i class="material-icons">pause</i>
                                </button>
                            </form>
                        </div>
                    </div>
                }
            </div>
            }
        </div>
    </div>
    <div class="col-lg-3 col-md-12 p-1">
        <div class="p-4 bg-light rounded h-100">
            <div class="h5">
                Reportes en espera de validación:
            </div>
            <div class="row">
                @foreach (var reporte in Model.ReportesPorValidar.OrderBy(r => r.FechaSolucion))
                {
                    <div class="col-lg-12 col-md-4 col-sm-6 col-12 mb-2">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center justify-content-between">
                                <div class="h6 d-flex align-items-center justify-content-start m-0">
                                    <i class="material-icons mr-2 text-success">done_all</i>
                                    @reporte.Tag
                                </div>
                                @if (ViewBag.Perfil == true)
                                {
                                    <form class="instalaciones-form" action="@Url.Action("ReportesDetalle", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                        <input type="hidden" name="id" value="@reporte.Id" />
                                        <input type="hidden" name="backToHome" value="true" />
                                        <button class="btn d-flex align-items-center py-0 px-0">
                                            @reporte.Comentarios.Count
                                            <i class="material-icons">message</i>
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="p-1">
        <div class="p-4 bg-light rounded h-100">
            <div class="h5">
                Reportes terminados:
            </div>
            <div class="row">
                @foreach (var reporte in Model.ReportesTerminados.OrderBy(r => r.FechaSolucion))
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center justify-content-between">
                                <div class="h6 d-flex align-items-center justify-content-start m-0">
                                    <i class="material-icons mr-2 text-success">done_all</i>
                                    @reporte.Tag
                                </div>
                                @if (ViewBag.Perfil == true)
                                {
                                    <form class="instalaciones-form" action="@Url.Action("ReportesDetalle", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                        <input type="hidden" name="id" value="@reporte.Id" />                                        
                                        <input type="hidden" name="backToHome" value="true" />
                                        <button class="btn d-flex align-items-center py-0 px-0">
                                            @reporte.Comentarios.Count
                                            <i class="material-icons">message</i>
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $.ajax({
            method: 'GET',
            url: 'http://quotes.rest/qod.json?category=inspire',
        }).success(function (response) {
            $('#quote-container').show();
            $('#quote-container blockquote').html(response.contents.quotes[0].quote);
            $('#quote-container cite').html(response.contents.quotes[0].author);
        }).error(function (response) {
        });
    });
</script>
