﻿<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionImportar", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<h5>Nuevo documento</h5>
<form class="instalaciones-form" action="@Url.Action("InstalacionesImportexcelStart", "Members")" method="post" enctype="multipart/form-data" data-file="true" autocomplete="off" data-target="#contenedorInstalaciones">
    <p>
        Seleccione un documento excel para iniciar la importación de reportes.
    </p>
    <div class="d-flex align-items-center justify-content-between">
        <label class="mr-4" style="white-space:nowrap;" for="instalacionId">Instalacion destino:</label>
        @Html.DropDownList("instalacionId", ViewBag.Instalaciones as SelectList, "Selecciona una...", new { @class = "form-control" })
    </div>
    <div class="d-flex align-items-center justify-content-between mt-4">
        <div>
            <label id="uploadFileLabel" for="uploadFile" class="btn btn-link">Seleccione un archivo</label>
            <input type="file" class="d-none" name="uploadFile" id="uploadFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
        </div>
        <input class="btn btn-primary" type="submit" value="INICIAR IMPORTACIÓN DE REPORTES" />
    </div>
</form>

<script>
    $('#uploadFile').unbind();
    $('#uploadFile').change(function (e) {
        if (this != null) {
            if (this.files[0] != null) {
                var name = e.target.files[0].name;
                $('#uploadFileLabel').html(name);

            }
        }
    });
</script>