﻿@model IEnumerable<IDigitales.Pagina.Web.Data.Entidades.Poco.Instalacion>

<style>
    .to-hover:hover .to-show {
        display: block;
    }

    .to-show {
        display: none;
    }
</style>

<div class="jumbotron py-2">
    @if (Model.Count() == 0)
    {
        if (ViewBag.Admin == true)
        {
            <div class="d-flex align-items-center justify-content-center">
                <span>No hay instalaciones registradas. Empieza por crear una </span>
                <form class="instalaciones-form ml-1" action="@Url.Action("InstalacionesCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                    <button class="btn p-0 btn-link">
                        aquí
                    </button>
                </form>
                .
            </div>
        }
        else
        {
            <div class="d-flex align-items-center justify-content-center">
                <span>No hay instalaciones registradas. </span>
            </div>
        }
    }
    else
    {
        if (ViewBag.Admin == true)
        {
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="p-0 m-0">Instalaciones activas</h5>
                <form class="instalaciones-form" action="@Url.Action("InstalacionesCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                    <input type="submit" value="Registrar nueva instalación" class="btn btn-link" />
                </form>
            </div>
            <div class="mt-4 scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4" style="overflow-x: auto;">
                @foreach (var item in Model)
                {
                    <div class="mr-4">
                        <div class="card to-hover">
                            <div class="card-body" style="width:300px;">
                                <div class="card-title mb-0 d-flex justify-content-between align-items-center">
                                    <h5 class="m-0">@Html.DisplayFor(modelItem => item.Descripcion)</h5>
                                    <div class="d-flex">
                                        <form class="instalaciones-form mr-2" action="@Url.Action("Gantt", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                            <input type="hidden" name="idProyecto" value="@item.Id" />
                                            <button class="material-icons btn btn-link rounded-circle to-show p-0" style="font-size: 16px;">storage</button>
                                        </form>
                                        <form class="instalaciones-form" action="@Url.Action("InstalacionesEditar", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button class="material-icons btn btn-link rounded-circle to-show p-0" style="font-size: 16px;">edit</button>
                                        </form>
                                    </div>

                                </div>
                                <p class="small">Activo desde @item.FechaCreacion.ToShortDateString()</p>

                                <form class="instalaciones-form" action="@Url.Action("ReportesListaContainer", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    @{string s = item.Reportes.Count == 1 ? "" : "s";}
                                    <input type="submit" value="@item.Reportes.Count reporte@(s) abierto@(s)." class="btn btn-link" />
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="p-0 mt-2">Instalaciones activas</h5>
            </div>
            <div class="row mt-4">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-md-4 mb-4">
                        <div class="card to-hover">
                            <div class="card-body">
                                <div class="card-title mb-0 d-flex justify-content-between .align-items-center">
                                    <h5 class="m-0">@Html.DisplayFor(modelItem => item.Descripcion)</h5>
                                </div>
                                <p class="small">Activo desde @item.FechaCreacion.ToShortDateString()</p>

                                <form class="instalaciones-form" action="@Url.Action("ReportesListaContainer", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    @{string s = item.Reportes.Count == 1 ? "" : "s";}
                                    <input type="submit" value="@item.Reportes.Count reporte@(s) creado@(s) por ti." class="btn btn-link" />
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>


<script>


    @*$(".btnProyectoEditar").click(function () {
         var rutaBase = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
        $.ajax({
            url: rutaBase + "/Members/ReportesListaContainer",
            type: 'post',
            cache: false,
            async: true,
            success: function (result) {
                $('#contenedorInstalaciones').html(result);
                // time is in milliseconds
                t = setTimeout(refreshPageFunction, 10000);
            }
        });
    });*@



</script>

