﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.Instalacion

<form class="instalaciones-form" action="@Url.Action("InstalacionesHome", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<h2>Nuevo proyecto</h2>
<form class="instalaciones-form" action="@Url.Action("InstalacionesCrear", "Members" )" method="post" autocomplete="off" data-target="#contenedorInstalaciones">
    @Html.AntiForgeryToken()
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">TAG</label>
            <p class="small text-dark m-0">El TAG corresponde a lo que aparecerán frente a cada ID de reporte. Por ejemplo: <span class="font-weight-bold">RAZA</span>-WD-001. <span class="font-weight-bold">Mínimo 3 caracteres. Máximo 4 caracteres.</span></p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="text" name="Tag" style="width:260px;" class="form-control" placeholder="TAG" />
        </div>
    </div>
    <hr />
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">Descripción</label>
            <p class="small text-dark m-0">El nombre de proyecto o instalación. Por ejemplo, "La Raza". <span class="font-weight-bold">Máximo 50 caracteres.</span></p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="text" name="Descripcion" style="width:260px;" class="form-control" placeholder="Descripción" />
        </div>
    </div>
    <hr />
    <div class="form-group d-flex align-items-center justify-content-between">
        <label for="exedente" class="m-0">¿Quiénes participan en este proyecto?</label>
        <select name="usuarios" title="Ninguno seleccionado" class="selectpicker" multiple>
            @foreach (var role in (IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios.EnumUsuarioTipo[])
            Enum.GetValues(typeof(IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios.EnumUsuarioTipo)))
            {
                <optgroup label="@role.ToString()">
                    @foreach (var user in (ViewBag.Usuarios as IEnumerable<IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios>).Where(u => u.Tipo == role))
                    {
                        <option value="@user.IdUsuario">@user.Nombre</option>
                    }
                </optgroup>
            }
        </select>
    </div>
    <div class="d-flex align-items-center justify-content-end my-4">
        <input type="submit" value="Crear" class="btn btn-primary" />
    </div>
</form>

<script>
    $('select').selectpicker();
</script>
