﻿
<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionModulos", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<h2>Nuevo módulo</h2>
<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionModuloCrear", "Members" )" method="post" autocomplete="off" data-target="#contenedorInstalaciones">
    @Html.AntiForgeryToken()
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">Categoría</label>
            <p class="small text-dark m-0">La categoría es donde se agrupa el módulo. Normalmente es "HIS" ó "PACS".</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="hidden" name="AplicacionesId" value="@ViewBag.CategoriaId" />
            <span style="width:260px;" class="form-control">@ViewBag.Categoria</span>
        </div>
    </div>
    <hr />
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">Módulo</label>
            <p class="small text-dark m-0">El módulo es el identificador principal. Por ejemplo: "Laboratorio".</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="text" name="Subcategoria" style="width:260px;" class="form-control" placeholder="Módulo" />
        </div>
    </div>
    <hr />
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">Alias</label>
            <p class="small text-dark m-0">Es una lista de términos separados por coma para facilitar la búsqueda de páginas EXCEL en la importación de reportes. Por ejemplo: "VisorHTML".</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="text" name="Aliases" style="width:260px;" class="form-control" placeholder="Aliases" />
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-end my-4">
        <input type="submit" value="CREAR" class="btn btn-primary" />
    </div>
</form>

