﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.ConfiguracionInstalaciones

<form class="instalaciones-form" action="@Url.Action("InstalacionesHome", "Members")" data-refresh="true" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<div class="mb-4 mt-4">

    @if (ViewBag.Admin == true)
    {
        <div class="form-group d-flex align-items-center justify-content-between">
            <div class="flex-fill">
                <label class="m-0 h6">Reportes Importados</label>
                <p class="small text-dark m-0">Importa reportes y ve los reportes de importaciones pasadas.</p>
            </div>
            <div class="d-flex align-items-center justify-content-start">
                <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionImportar", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                    <button type="submit" class="btn btn-link">
                        Editar
                    </button>
                </form>
            </div>
        </div>
        <hr />
        <div class="form-group d-flex align-items-center justify-content-between">
            <div class="flex-fill">
                <label class="m-0 h6">Módulos registrados</label>
                <p class="small text-dark m-0">Edita los módulos registrados en el sistema.</p>
            </div>
            <div class="d-flex align-items-center justify-content-start">
                <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionModulos", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                    <button type="submit" class="btn btn-link">
                        Editar
                    </button>
                </form>
            </div>
        </div>
        <hr />
        <div class="form-group d-flex align-items-center justify-content-between">
            <div class="flex-fill">
                <label class="m-0 h6">Usuarios / Proyectos</label>
                <p class="small text-dark m-0">Edita la relación usuarios/proyectos.</p>
            </div>
            <div class="d-flex align-items-center justify-content-start">
                <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionUsuarios", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                    <button type="submit" class="btn btn-link">
                        Editar
                    </button>
                </form>
            </div>
        </div>
        <hr />
        <div class="form-group d-flex align-items-center justify-content-between">
            <div class="flex-fill">
                <label class="m-0 h6">Otros</label>
                <p class="small text-dark m-0">Rutas de documentos, etc.</p>
            </div>
            <div class="d-flex align-items-center justify-content-start">
                <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionRutas", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                    <button type="submit" class="btn btn-link">
                        Editar
                    </button>
                </form>
            </div>
        </div>
        <hr />
    }
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label class="m-0 h6">Notificaciones</label>
            <p class="small text-dark m-0">Edita tu configuración de notificaciones.</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionNotifications", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                <button type="submit" class="btn btn-link">
                    Editar
                </button>
            </form>
        </div>
    </div>
</div>


