﻿
<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionModulos", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<h2>Nuevo módulo</h2>
<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionCategoriaCrear", "Members" )" method="post" autocomplete="off" data-target="#contenedorInstalaciones">
    @Html.AntiForgeryToken()
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">Nombre</label>
            <p class="small text-dark m-0">El nombre de la categoría. Por ejemplo: "HIS" ó "PACS".</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="text" name="Nombre" style="width:260px;" class="form-control" placeholder="Nombre" />
        </div>
    </div>
    <hr />
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">TAG</label>
            <p class="small text-dark m-0">El TAG corresponde a las 2 a 4 letras que aparecerán frente a cada ID de reporte. Por ejemplo: RAZA-<span class="font-weight-bold">WD</span>-001.</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="text" name="TAG" style="width:260px;" class="form-control" placeholder="TAG" />
        </div>
    </div>
    <hr />
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">Versión inicial</label>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="text" name="Version" style="width:260px;" class="form-control" placeholder="0.0.0.0" />
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-end my-4">
        <input type="submit" value="CREAR" class="btn btn-primary" />
    </div>
</form>


