﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.ReporteImportado

<div class="d-flex align-items-center justify-content-between">
    <div class="d-flex flex-column">
        <a href="~/Content/Uploads/@Model.RutaOriginal" class="btn-link">
            @Model.Nombre
        </a>
        <div class="d-flex align-items-center justify-content-start">
            <i class="material-icons mr-2" style="font-size:12px;">check</i>
            <span class="small">@Model.FechaImportacion.ToShortDateString()</span>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <i class="material-icons mr-2" style="font-size:12px;">check</i>
            <span class="small">reportes importados: @Model.ReportesImportadosCount</span>
        </div>
    </div>
    @if (Model.Estado == IDigitales.Pagina.Web.Data.Entidades.Poco.ReporteImportado.ImportadoEstadoEnum.Iniciado)
    {
        <div class="btn-link d-flex align-items-center">
            <div class="spinner-grow spinner-grow-sm mr-2" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            Generando documento...
        </div>
    }
    else if (Model.Estado == IDigitales.Pagina.Web.Data.Entidades.Poco.ReporteImportado.ImportadoEstadoEnum.Error)
    {
        <div id="importado-reintentado-@Model.Id" class="importado-reintentando collapse">
            <div class="btn-link d-flex align-items-center">
                <div class="spinner-grow spinner-grow-sm mr-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                Generando documento...
            </div>
        </div>  
        <div id="importado-reintentar-@Model.Id">
            <div class="d-flex justify-content-end align-items-end flex-column">
                <div class="d-flex align-items-center text-warning">
                    <i class="material-icons mr-2">cloud_off</i>
                    Ocurrió un error al generar el documento
                </div>
                <button id="importado-reintentar-btn-@Model.Id" class="btn btn-link importado-btn p-0">Reintentar</button>
                <form id="importado-form-@Model.Id" class="instalaciones-form" action="@Url.Action("ReintentaGenerarExcelResultado", "Members")" method="get" autocomplete="off" data-target="#importado-@Model.Id" data-wait="true">
                    <input type="hidden" name="id" value="@Model.Id" />
                </form>
            </div>
        </div>        
    }
    else
    {
        <a href="@Url.Action("ObtenerExcel", "Members", new { @ruta = Model.RutaResultadoSobrantes })" class="btn-link d-flex align-items-center text-success">
            <i class="material-icons mr-2">cloud_download</i>
            Documento generado
        </a>
    }
</div>

<script>
    $('.importado-btn').unbind();
    $('.importado-btn').click(function (event) {
        var id = parseInt(event.target.id.split('-')[3]);
        console.log(id);
        $('#importado-reintentar-' + id).hide();
        $('#importado-reintentado-' + id).show();
        $('#importado-form-' + id).submit();
    });
</script>