﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.Instalacion

<form class="instalaciones-form" action="@Url.Action("InstalacionesHome", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<div>
    <h4>@Model.Descripcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Model.FechaCreacion.ToLongDateString()
        </dd>

    </dl>
</div>
