﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.ConfiguracionInstalaciones

<div class="d-flex align-items-center justify-content-between">
    <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracion", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        <input class="btn btn-link" type="submit" value="Regresar" />
    </form>
</div>

<div class="mb-4">
    <h4>Otras configuraciones</h4>
    <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracion", "Members")" method="post" autocomplete="off" data-target="#contenedorInstalaciones">
        @Html.AntiForgeryToken()
        <div class="form-group d-flex align-items-center justify-content-between">
            <div class="flex-fill">
                <label for="exedente" class="m-0">Tiempo exedente</label>
                <p class="small text-dark m-0">El tiempo que debe pasar para que un reporte en proceso se considere exedente.</p>
            </div>
            <div class="d-flex align-items-center justify-content-start">
                <input type="number" name="exedente" style="width:60px;" class="form-control mr-2" value="@Model.ProcesoExedenceTimeSpan.Days" />
                <span class="align-self-center">días</span>
            </div>
        </div>
        <hr />
        <div class="form-group d-flex align-items-center justify-content-between mb-4">
            <div class="flex-fill">
                <label for="inactividad" class="m-0">Tiempo de inactividad</label>
                <p class="small text-dark m-0">El tiempo que debe pasar para que un reporte se considere inactivo.</p>
            </div>
            <div class="d-flex align-items-center justify-content-start">
                <input type="number" name="inactividad" style="width:60px;" class="form-control mr-2" value="@Model.InactividadTimeSpan.Days" />
                <span class="align-self-center">días</span>
            </div>
        </div>
        <hr />
        <div class="form-group d-flex align-items-center justify-content-between">
            <div class="flex-fill">
                <label class="m-0">Ruta: Evidencias</label>
                <p class="small text-dark m-0">La ruta donde se guardan las imágenes y los videos de comentarios.</p>
            </div>
            <div class="d-flex align-items-center justify-content-start">
                <input type="text" name="rutaEvidencias" class="form-control" value="@Model.RutaEvidencias" />
                <span class="align-self-center"></span>
            </div>
        </div>
        <hr />
        <div class="form-group d-flex align-items-center justify-content-between mb-4">
            <div class="flex-fill">
                <label class="m-0">Ruta: Reportes importados</label>
                <p class="small text-dark m-0">La ruta donde se guardan las archicos excel generados por el sistema.</p>
            </div>
            <div class="d-flex align-items-center justify-content-start">
                <input type="text" name="rutaReportes"  class="form-control" value="@Model.RutaReportesImportados" />
                <span class="align-self-center"></span>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <input class="btn btn-primary" type="submit" value="GUARDAR" />
        </div>
    </form>
</div>
