﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.Modulo

<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionModulos", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<h2>Editar módulo</h2>
<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionModuloEditar", "Members" )" method="post" autocomplete="off" data-target="#contenedorInstalaciones">
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Model.Id" name="Id" />
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">Categoría</label>
            <p class="small text-dark m-0">La categoría es donde se agrupa el módulo. Normalmente es "HIS" ó "PACS". Este campo no puede modificarse.</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <span>@Model.Aplicaciones.Nombre</span>
        </div>
    </div>
    <hr />
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">Subcategoría</label>
            <p class="small text-dark m-0">La subcategoría es el identificador principal del módulo. Por ejemplo: "Laboratorio".</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="text" name="Subcategoria" style="width:260px;" class="form-control" value="@Model.Subcategoria" placeholder="@Model.Subcategoria" />
        </div>
    </div>
    <hr />
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">Alias</label>
            <p class="small text-dark m-0">Es una lista de términos separados por coma para facilitar la búsqueda de páginas EXCEL en la importación de reportes. Por ejemplo: "VisorHTML".</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="text" name="Aliases" style="width:260px;" class="form-control" value="@Model.Aliases" placeholder="@Model.Aliases" />
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-end my-4">
        <input type="submit" value="GUARDAR" class="btn btn-primary" />
    </div>
</form>


