﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.Instalacion

<form class="instalaciones-form" action="@Url.Action("InstalacionesEditar", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input type="hidden" name="id" value="@Model.Id" />
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<h4>@Model.Descripcion</h4>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Módulos de la instalación
                </h5>
            </div>
            @foreach (var categoria in (ViewBag.Categorias as List<IDigitales.Pagina.Web.Data.Entidades.Poco.Aplicaciones>))
            {
                if (categoria.Modulos.Count > 0)
                {
                    <ul class="list-group list-group-flush">
                        @foreach (var modulo in categoria.Modulos)
                        {
                            if(modulo.Instalacion.FirstOrDefault(m => m.Id == Model.Id) != null)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>@modulo.Subcategoria (@categoria.Nombre)</div>
                                <form class="instalaciones-form" action="@Url.Action("InstalacionesEditarModulosAgregarQuitar", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                    <input type="hidden" name="id" value="@Model.Id" />
                                    <input type="hidden" name="idModulo" value="@modulo.Id" />
                                    <input class="btn btn-link text-danger" type="submit" value="Remover" />
                                </form>
                            </li>
                            }                            
                        }
                    </ul>
                }
            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Módulos del sistema
                </h5>
            </div>
            @foreach (var categoria in ViewBag.Categorias as List<IDigitales.Pagina.Web.Data.Entidades.Poco.Aplicaciones>)
            {
                if (categoria.Modulos.Count > 0)
                {
                <ul class="list-group list-group-flush">
                    @foreach (var modulo in categoria.Modulos)
                    {
                        if (modulo.Instalacion.FirstOrDefault(m => m.Id == Model.Id) == null)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <form class="instalaciones-form" action="@Url.Action("InstalacionesEditarModulosAgregarQuitar", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                    <input type="hidden" name="id" value="@Model.Id" />
                                    <input type="hidden" name="idModulo" value="@modulo.Id" />
                                    <input class="btn btn-link text-success" type="submit" value="Agregar" />
                                </form>
                                <div>@modulo.Subcategoria (@categoria.Nombre)</div>
                            </li>
                        }
                    }
                </ul>
                }
            }
        </div>
    </div>
</div>
