﻿@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.Aplicaciones>

<div class="d-flex justify-content-between align-items-center">
    <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracion", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        <input type="submit" value="Regresar" class="btn btn-link" />
    </form>
    @*<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionCategoriaCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        <input type="submit" value="Crear categoría" class="btn btn-link" />
    </form>*@
</div>

<h4>Categorías / Módulos</h4>

<div class="mb-4">
    @foreach (var categoria in Model)
    {
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="m-0">@categoria.Nombre</h6>
                <div class="d-flex flex-column align-items-end">
                    <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionModuloCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                        <input type="hidden" name="CategoriaId" value="@categoria.IdAplicacion" />
                        <input type="submit" value="Agregar módulo" class="btn btn-link" />
                    </form>
                    @*<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionCategoriaEditar", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                        <input type="hidden" name="id" value="@categoria.IdAplicacion" />
                        <input type="submit" value="editar" class="btn btn-link" />
                    </form>*@
                </div>                
            </div>
            <ul class="list-group list-group-flush">
                    @foreach (var modulo in categoria.Modulos)
                    {
                        <li class="list-group-item">
                            <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionModuloEditar", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                <input type="hidden" name="id" value="@modulo.Id" />
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>@modulo.Subcategoria</div>
                                    <button class="btn btn-link">editar</button>
                                </div>
                            </form>
                        </li>                        
                    }
                </ul>             
        </div>        
    }
</div>
