﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.Aplicaciones

<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionModulos", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<h2>Editar categoría</h2>
<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionCategoriaEditar", "Members" )" method="post" autocomplete="off" data-target="#contenedorInstalaciones">
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Model.IdAplicacion" name="IdAplicacion" />
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">Nombre</label>
            <p class="small text-dark m-0">El nombre de la categoría. Por ejemplo: "HIS" ó "PACS".</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="text" name="Nombre" style="width:260px;" class="form-control" value="@Model.Nombre" />
        </div>
    </div>
    <hr />
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">TAG</label>
            <p class="small text-dark m-0">El TAG corresponde a las 2 a 4 letras que aparecerán frente a cada ID de reporte. Por ejemplo: RAZA-<span class="font-weight-bold">HIS</span>-001.</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="text" name="TAG" style="width:260px;" class="form-control" value="@Model.TAG" />
        </div>
    </div>
    <hr />
    <div class="d-flex align-items-center justify-content-end my-4">
        <input type="submit" value="GUARDAR" class="btn btn-primary" />
    </div>
</form>



