﻿@model IDigitales.Pagina.Web.Data.Modelos.ConfiguracionNotificationsViewModel

<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracion", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<h5>Notificaciones</h5>
<form class="instalaciones-form mb-2" action="@Url.Action("InstalacionesConfiguracionUsuarioEditarEmail", "Members")" method="get" autocomplete="off">
    <input type="hidden" name="id" value="@((ViewBag.User as IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios).IdUsuario)" />
    <div class="d-flex align-items-center justify-content-end">
        <input type="text" class="form-control mr-4" name="email" value="@((ViewBag.User as IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios).Email)" />
        <button type="submit" class="btn btn-success">GUARDAR</button>
    </div>
</form>
<form class="instalaciones-form list-group" action="@Url.Action("InstalacionesConfiguracionNotifications", "Members")" method="post" autocomplete="off" data-target="#contenedorInstalaciones">

    @foreach (var property in Model.GetType().GetProperties())
    {
        if (property.Name != "None" && property.Name != "Total" && property.Name != "Flag"
            && IDigitales.Pagina.Web.Data.Entidades.Poco.UsuariosNotificationsConfiguration.RequiresNotification(property.Name, ViewBag.User as IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios))
        {
            <div class="my-2">
                <div class="d-flex align-content-start flex-column justify-content-center custom-control custom-switch list-group-item">
                    <div class="container">
                        <input id="@property.Name" type="checkbox" class="custom-control-input" value="true" @(((bool)property.GetValue(Model)) ? "checked" : "") name="@property.Name" />
                        <label class="custom-control-label" for="@property.Name">
                            @IDigitales.Pagina.Web.Data.Entidades.Poco.UsuariosNotificationsConfiguration.NotificationEnumDisplay(property.Name)
                        </label>
                    </div>
                    <span class="small">@IDigitales.Pagina.Web.Data.Modelos.ConfiguracionNotificationsViewModel.ConfigurationPropertyHelp(property.Name)</span>
                </div>
            </div>
        }
    }

    <div class="d-flex align-items-center justify-content-end my-4">
        <input type="submit" value="GUARDAR" class="btn btn-primary" />
    </div>
</form>