﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.Instalacion

<form class="instalaciones-form" action="@Url.Action("InstalacionesHome", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<h4>@Model.Descripcion</h4>
<form class="instalaciones-form" action="@Url.Action("InstalacionesEditar", "Members" )" method="post" autocomplete="off" data-target="#contenedorInstalaciones">
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="FechaCreacion" value="@Model.FechaCreacion" />
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label for="exedente" class="m-0">TAG</label>
            <p class="small text-dark m-0">El TAG corresponde a las 3 ó 4 letras que aparecerán frente a cada ID de reporte. Por ejemplo: <span class="font-weight-bold">RAZA</span>-WD-001.</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="text" name="Tag" style="width:260px;" class="form-control" value="@Model.Tag" />
        </div>
    </div>
    <hr />
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label class="m-0">Descripción</label>
            <p class="small text-dark m-0">El nombre de proyecto o instalación. Por ejemplo, "La Raza".</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <input type="text" name="Descripcion" style="width:260px;" class="form-control" value="@Model.Descripcion" />
        </div>
    </div>
    <hr />
    <div class="form-group d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            <label class="m-0">Módulos</label>
            <p class="small text-dark m-0">Agregar o cambiar módulos de este proyecto.</p>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <button type="button" id="modulos-btn" value="Editar" class="btn btn-link mr-2 action-btn">Editar</button>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-end my-4">
        <button type="button" id="eliminar-btn" value="ELIMINAR" class="btn btn-link text-danger mr-2 action-btn">Elimiar proyecto</button>
        <input type="submit" value="GUARDAR" class="btn btn-primary" />
    </div>
</form>

<form id="form-eliminar" class="instalaciones-form" action="@Url.Action("InstalacionesEliminar", "Members" )" method="post" autocomplete="off" data-target="#contenedorInstalaciones">
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="FechaCreacion" value="@Model.FechaCreacion" />
    <input type="hidden" name="Tag" value="@Model.Tag" />
    <input type="hidden" name="Descripcion" value="@Model.Descripcion" />
</form>

<form id="form-modulos" class="instalaciones-form" action="@Url.Action("InstalacionesEditarModulos", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input type="hidden" name="id" value="@Model.Id" />
</form>

<script>
    $('.action-btn').unbind();
    $('#eliminar-btn').click(function () {
        $('form#form-eliminar').submit();
    });
    $('#modulos-btn').click(function () {
        $('form#form-modulos').submit();
    });
</script>
