﻿@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios>

<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracion", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<h4>Lista de usuarios</h4>
@{
    var groups = Model.GroupBy(u => u.Tipo);
}

@foreach (var group in groups)
{
    <h6>@group.Key.ToString()</h6>
    foreach (var usuario in group.ToList().OrderBy(u => u.Nombre))
    {
        <div>
            <div class="card mb-4">
                <div class="card-header">
                    @usuario.Nombre
                    <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionUsuarioEditarEmail", "Members")" method="get" autocomplete="off">
                        <input type="hidden" name="id" value="@usuario.IdUsuario" />
                        <div class="d-flex align-items-center justify-content-end">
                            <input type="text" class="form-control mr-4" name="email" value="@usuario.Email" />
                            <button type="submit" class="btn btn-success">GUARDAR</button>
                        </div>
                    </form>
                </div>
                <div class="card-body py-2">
                    <div class="d-flex">
                        @foreach (var proyecto in usuario.Proyectos)
                        {
                            <form class="instalaciones-form py-1 px-2" action="@Url.Action("InstalacionesConfiguracionUsuarioAgregarQuitarProyecto", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                <input type="hidden" name="idUser" value="@usuario.IdUsuario" />
                                <input type="hidden" name="idProyecto" value="@proyecto.Id" />
                                <span class="badge badge-light ui-icon-arrowstop-1-e d-flex align-items-center">@proyecto.Tag <button type="submit" class="material-icons ml-2 btn btn-danger p-0">remove</button></span>
                            </form>
                        }
                        @foreach (var proyecto in (ViewBag.Proyectos as List<IDigitales.Pagina.Web.Data.Entidades.Poco.Instalacion>).Where(i => usuario.Proyectos.FirstOrDefault(u => u.Id == i.Id) == null).OrderBy(i => i.Tag))
                        {
                            <form class="instalaciones-form px-2 py-1" action="@Url.Action("InstalacionesConfiguracionUsuarioAgregarQuitarProyecto", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                <input type="hidden" name="idUser" value="@usuario.IdUsuario" />
                                <input type="hidden" name="idProyecto" value="@proyecto.Id" />
                                <span class="badge badge-light ui-icon-arrowstop-1-e d-flex align-items-center">@proyecto.Tag <button type="submit" class="material-icons ml-2 btn btn-success p-0">add</button></span>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}