﻿@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.ReporteImportado>

<div class="d-flex align-items-center justify-content-between">
    <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracion", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        <input class="btn btn-link" type="submit" value="Regresar" />
    </form>
    <form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionImportarCrear", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        <input class="btn btn-link" type="submit" value="Importar" />
    </form>
</div>


<h4>Reportes importados</h4>
<div class="list-group mb-4">
    @foreach (var importado in Model)
    {
        <div id="importado-@importado.Id" class="list-group-item">
            @Html.Partial("Instalaciones/_InstalacionesConfiguracionImportarItem", importado)
        </div>
    }
</div>
