﻿@model IDigitales.Pagina.Web.Data.Modelos.HomeAdminViewModel
@using IDigitales.Pagina.Web.Data.Entidades.Poco

<div class="mt-4">
    <div class="d-flex align-items-center justify-content-start">
        <h5 class="p-0 m-0">DPA / DPS</h5>
        <span class="btn btn-link" data-toggle="collapse" data-target="#dpadps" aria-expanded="false" aria-controls="dpadps">ver</span>
    </div>
    <div id="dpadps" class="card w-100 bg-light collapse">
        <div class="card-body">
            <div>
                @foreach (Modulo categoria in Model.Categorias)
                {
                    <div class="card p-2 col-xs-12 col-sm-4 col-md-3" style="float:left;white-space: nowrap; text-overflow: ellipsis; overflow:hidden;">
                        <h5>@categoria.Subcategoria</h5>
                        <div class="d-flex justify-content-start align-items-center">
                            <span>DPA: @Model.DPA(categoria)</span>
                            <span class="mx-1">|</span>
                            <span>DPS: @Model.DPS(categoria)</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>