﻿@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.Reporte>

<form class="instalaciones-form" action="@Url.Action("InstalacionesHome", "Members")" data-refresh="true" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<div class="d-flex justify-content-between align-items-center mt-4">
    <h2>Reportes con visto bueno de @ViewBag.Instalacion</h2>
</div>

<div class="row">
    @foreach (var reporte in Model.OrderBy(r => r.FechaReporte))
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
            <div class="card p-2">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <span class="bold">@reporte.Tag</span>
                        <span class="d-flex align-items-center badge badge-light p-2"><i class="material-icons text-success mr-2">done_all</i>@reporte.VistoBueno.Nombre</span>
                    </div>
                    <div class="d-flex align-self-end flex-column">
                        <form class="instalaciones-form" action="@Url.Action("ReportesDetalle", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                            <input type="hidden" name="id" value="@reporte.Id" />
                            <input type="hidden" name="backToHome" value="true" />
                            <button class="btn d-flex align-items-center py-0 px-0">
                                @reporte.Comentarios.Count
                                <i class="material-icons">message</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>