﻿<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/coloresEstados.css" rel="stylesheet" />
    <link href="~/Content/Instalaciones.css" rel="stylesheet" />

    <link href="~/Content/devexpress/css/dx.common.css" rel="stylesheet" />
    <link href="~/Content/devexpress/css/dx.light.css" rel="stylesheet" />
    <link href="~/Content/devexpress/css/dx-gantt.min.css" rel="stylesheet" />

    <script src="~/Content/js/jquery-2.1.4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>


    <script src="~/content/manager/ajaxmanager.js"></script>
    <script src="~/content/manager/layoutmodulo.js"></script>

    <script src="~/Content/devexpress/js/dx-gantt.min.js"></script>
    <script src="~/Content/devexpress/js/dx.all.js"></script>


</head>

        <body>
            <div class="position-fixed w-100" style="z-index:9;">
                <div id="error-container" class="alert alert-warning alert-dismissible collapse fade m-2">
                    <span class="msg"></span>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div class="loading-container position-fixed w-100 h-100 hide bg-light" style="z-index:9; opacity:0.96;">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="spinner-grow text-dark mr-2" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        Cargando...
                    </div>
                </div>
            </div>

            <div id="contenedorInstalaciones" class="container-fluid pt-2">
                <div id="contenedorInstalacionesLista">
                    <form id="formToRefresh" class="instalaciones-form" action="@Url.Action("InstalacionesHome", "Members")" data-refresh="true" method="get" autocomplete="off" data-target="#contenedorInstalaciones"></form>
                </div>
            </div>

            <div id="ContenedorPopUp1" style="min-height: 150rem; display:none"></div>

            <script src="~/Content/Members/AdminProyectos.js"></script>
            <script>
               $(function () {
                   var rutaBase = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
                   PaginaWeb.Members.Proyectos({rutaBase: rutaBase}).iniciar();
               });

            </script>
        </body>

</html>


<script>
    

    @*window.onload = loadPage;
    function loadPage() {
        var rutaBase = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
        PaginaWeb.Members.Proyectos({ rutaBase: rutaBase }).idleRefreshPage();
    }*@

    $(document).ready(function () {
        $('#formToRefresh').submit();
    });
</script>
