﻿

    <div style="width:100%; height:100%" id="contInstalaciones">
        <div id="spin" class="centrado">
            <div style="font-size: 50rem; color: #686868;" class="fa fa-refresh animado lento idigitales-form-icon"></div>
        </div>
    </div>