﻿@using IDigitales.Pagina.Web.Comun.Idioma.Partials

<div id="pageloader" style="height:auto !important">
    <div id="projects_rx230" class="entry-single pageloader_inner wrapper dark-text">
        <!-- BEGIN: PROJECT SLIDER -->
        <div id="MyShowCase" class="ms-showcase1">
            <div class="master-slider ms-skin-light-6 round-skin" id="slider-popup-Radiografia_Movil_RX230" data-estado='0'>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Movil/RX230_01.jpg")" alt="img01">
                    <p class="ms-layer MyFontJustified" style="left:490px; top:130px; margin-right:50px;">
                       @ProjMovilRX230.DimensionesCompactas<br />
                        @ProjMovilRX230.ColumnaContrapesada
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Movil/RX230_02.jpg")" alt="img02">
                    <p class="ms-layer MyFontJustified" style="left:470px; top:130px; margin-right:50px;">
                        @ProjMovilRX230.SistemaTMS <br />
                        @ProjMovilRX230.CajonPorta
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Movil/RX230_03.jpg")" alt="img03">
                    <p class="ms-layer MyFontJustified" style="left:470px; top:130px;  margin-right:50px;">
                        @ProjMovilRX230.ColumnaPorta
                    </p>
                </div>
            </div>
        </div>
        <!-- END: PROJECT SLIDER-->
      	
      @*<div class="MyFixedColumn2x1">
        <div>
            <a class="MyCenterImage150" href="@Url.Content("~/Content/catalogos/Catalogo-ARIX.pdf")" download>
                <img class="MyCenteredObject" style="width:85px !important; top:15px;" src="@Url.Content("~/Content/images/download01.svg")" />
            </a>
        </div>
      </div>*@
        <!-- PROJECT DESCRIPTION -->
      <div  class="MyFluidColumn2x1">
        <h4 class="text-left">@ProjMovilRX230.Descripcion</h4>
          <p class="MyFontJustified">
              @ProjMovilRX230.SistemaMovil<br />
              @ProjMovilRX230.SistemaAlcanza
          </p>
      </div>

		</div>
		<!-- END: PROJECT DESCRIPTION + SHARES -->
</div> <!-- END #pageloader -->
