﻿
@using IDigitales.Pagina.Web.Comun.Idioma.Partials
<div id="pageloader" style="height:auto !important">
    <div id="projects_lite20" class="entry-single pageloader_inner wrapper dark-text">
        <!-- BEGIN: PROJECT SLIDER -->
        <div id="MyShowCase" class="ms-showcase1">
            <div class="master-slider ms-skin-light-6 round-skin" id="slider-popup-Publicadores_Lite20" data-estado='0'>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Publicadores/01.jpg")" alt="img01">
                </div>
            </div>
        </div>
        <!-- END: PROJECT SLIDER-->
		
        @*<div class="MyFixedColumn2x1">
            <div>
                <a class="MyCenterImage150" href="@Url.Content("~/Content/catalogos/Catalogo-LITES.pdf")" download>
                    <img class="MyCenteredObject" style="width:85px !important" src="@Url.Content("~/Content/images/download01.svg")" />
                </a>
            </div>
        </div>*@

        <!-- PROJECT DESCRIPTION -->
      <div  class="MyFluidColumn2x1">
        <h4 class="text-left">@ProjLite20.DescripcionProducto</h4>
          <p class="MyFontJustified">
              @ProjLite20.PublicadorCD<br />
              @ProjLite20.VersionLite<br />
              @ProjLite20.GrabacionCD<br />
              @ProjLite20.GrabacionModalidad<br />
              @ProjLite20.PermiteExportacion<br />
              @ProjLite20.OfrecePosibilidad<br />
              @ProjLite20.PermiteGrabar
          </p>
      </div>

		</div>
		<!-- END: PROJECT DESCRIPTION + SHARES -->
</div> <!-- END #pageloader -->
