﻿@using IDigitales.Pagina.Web.Comun.Idioma.Partials

<div id="pageloader" style="height:auto !important">
    <div id="projects_lite100" class="entry-single pageloader_inner wrapper dark-text">
        <!-- BEGIN: PROJECT SLIDER -->
        <div id="MyShowCase" class="ms-showcase1">
            <div class="master-slider ms-skin-light-6 round-skin" id="slider-popup-Publicadores_Lite100" data-estado='0'>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Publicadores/02.jpg")" alt="img01">
                </div>
            </div>
        </div>
        <!-- END: PROJECT SLIDER-->

        @*<div class="MyFixedColumn2x1">
            <div>
                <a class="MyCenterImage150" href="@Url.Content("~/Content/catalogos/Catalogo-LITES.pdf")" download>
                    <img class="MyCenteredObject" style="width:85px !important; top:15px;" src="@Url.Content("~/Content/images/download01.svg")" />
                </a>
            </div>
        </div>*@
        
        <!-- PROJECT DESCRIPTION -->
      <div  class="MyFluidColumn2x1">
        <h4 class="text-left">@ProjLite100.DescripcionProducto</h4>
          <p class="MyFontJustified">
             @ProjLite100.PublicadorCD  <br />
             @ProjLite100.VersionLite <br />
             @ProjLite100.GrabacionCD<br />
             @ProjLite100.GrabacionModalidad<br />
             @ProjLite100.NombrePaciente<br />
             @ProjLite100.PermiteExportacion<br />
             @ProjLite100.OfrecePosibilidad<br />
             @ProjLite100.PermiteGrabar<br />
          </p>
      </div>

		</div>
		<!-- END: PROJECT DESCRIPTION + SHARES -->
</div> <!-- END #pageloader -->
