﻿<div id="pageloader" style="height:auto !important">
    <div id="projects_mrhII" class="entry-single pageloader_inner wrapper dark-text">
        <!-- BEGIN: PROJECT SLIDER -->
        <div id="MyShowCase" class="ms-showcase1">
            <div class="master-slider ms-skin-light-6 round-skin" id="slider-popup-Radiografia_MRHII" data-estado='0'>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRH01.jpg")" alt="img01">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:130px; margin-right:50px;">
                        Mesa elevable: versión MRH II-E. <br />
                        Mesa con altura fija: versión MRH II. <br />
                        Columna porta tubo con fijación al piso y giro de 180° para tomas laterales.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRH02.jpg")" alt="img02">
                    <p class="ms-layer MyFontJustified" style="left:450px; top:130px; margin-right:50px;">
                        Bucky de pared con fijación al piso y frenos electromagnéticos.<br />
                        Desplazamiento vertical del Bucky hasta el piso, lo que permite la toma de radiografías de miembros inferiores en pacientes de pie.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRH03.jpg")" alt="img03">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:90px;  margin-right:50px;">
                        Panel de control con lectura digital de la angulación del tubo. <br />
                        Colimador manual del haz de radiación.<br />
                        Rotación del tubo de rayos X de <br /> + 90° / - 90° para tomas anguladas.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRH04.jpg")" alt="img04">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:150px;  margin-right:50px;">
                        La consola de control cuenta con programador anatómico por región, proyección y complexión del paciente, lo que facilita una selección de la técnica radiográfica apropiada en forma rápida y precisa.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRH05.jpg")" alt="img05">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:130px; font-size: 14px;  margin-right:50px;">
                        Detector digital de estado sólido para Bucky de mesa o pared portátil o fijo.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRH06.jpg")" alt="img06">
                    <p class="ms-layer MyFontJustified" style="left:465px; top:130px; font-size: 14px;   margin-right:50px;">
                        Consola de adquisición sensible al tacto, para una operación fácil e intuitiva (opcional).
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRH07.jpg")" alt="img07">
                    <p class="ms-layer MyFontJustified" style="left:465px; top:130px; font-size: 14px;   margin-right:50px;">
                        En su versión digital los sistemas incorporan funciones avanzadas de post-proceso como son: ángulo de Cobb, ángulo por tres puntos, ángulo doble, líneas paralelas, índice cardiotorácico, medición de Ferguson,  identificación de imágenes clave, notación semi-automática de vértebras, herramienta de stitching para manipulación de imágenes de segmentos largos, trazo de eje mecánico etc.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRH08.jpg")" alt="img08">
                    <p class="ms-layer MyFontJustified" style="left:445px; top:150px; font-size: 14px;  margin-right:50px;">
                        Alimentación a una toma estándar de 120 V., haciendo innecesarios costosos trabajos de preinstalación (opcional).
                    </p>
                </div>
            </div>
        </div>
        <!-- END: PROJECT SLIDER-->

      @*<div class="MyFixedColumn2x1">
        <div>
            <a class="MyCenterImage150" href="@Url.Content("~/Content/catalogos/Catalogo-MRH.pdf")" download>
                <img class="MyCenteredObject" style="width:85px !important; top:15px;" src="@Url.Content("~/Content/images/download01.svg")" />
            </a>
        </div>
      </div>*@
        
        <!-- PROJECT DESCRIPTION -->
      <div  class="MyFluidColumn2x1">
        <h4 class="text-left">Descripción de producto</h4>
          <p class="MyFontJustified">
              CMR le ofrece productos que le facilitan su trabajo diario y le ayudan a cubrir sus necesidades en equipos de radiología. Es por ello que para nuestro segmento de radiología hemos creado los sistemas de la serie MRH. Nuestros equipos son de construcción fuerte, diseño ergonómico y operación simple.<br />
              Los equipos de la serie MRH II han sido desarrollados para aplicaciones de radiografía general de esqueleto, abdomen, tórax, etc. Por su diseño compacto, pueden ser instalados en espacios reducidos con requerimientos de preinstalación mínimos.<br />
              Una característica común de estos sistemas es su forma de operación simple. Su consola de control cuenta con programador anatómico por región, proyección y complexión del paciente, lo que facilita una selección de la técnica radiográfica apropiada en forma rápida y precisa.<br />
              Los equipos radiográficos de la serie MRH II permiten ser configurados en fábrica con uno o dos detectores digitales, o bien actualizados en sitio a la tecnología digital.<br />
              Disponible en versión: MRH II (mesa con altura fija) y MRH II-E (mesa elevable).<br />
              Disponible en versión: Autotracking.
          </p>
      </div>

    </div>
		
</div> <!-- END #pageloader -->