﻿@using IDigitales.Pagina.Web.Comun.Idioma.Partials


<div id="pageloader" style="height:auto !important">
    <div id="projects_integrix" class="entry-single pageloader_inner wrapper dark-text">
        <!-- BEGIN: PROJECT SLIDER -->
        <div id="MyShowCase" class="ms-showcase1">
            <div class="master-slider ms-skin-light-6 round-skin" id="slider-popup-Radiografia_INTEGRIX" data-estado='0'>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/INTEGRIX01.jpg")" alt="img01">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:100px;  margin-right:50px;">
                       @ProjRadiografiaINTEGRIX.DisenoCompacto
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/INTEGRIX02.jpg")" alt="img02">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:255px;  margin-right:50px;">
                        @ProjRadiografiaINTEGRIX.AvanzadoDiseno
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/INTEGRIX03.jpg")" alt="img03">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:120px; font-size: 14px; margin-right:50px;">
                        @ProjRadiografiaINTEGRIX.ConsolaControl
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/INTEGRIX04.jpg")" alt="img04">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:117px; font-size: 14px; margin-right:50px;">
                        @ProjRadiografiaINTEGRIX.SistemaConfigurado
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/INTEGRIX05.jpg")" alt="img05">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:117px; font-size: 14px; margin-right:50px;">
                        @ProjRadiografiaINTEGRIX.VersionDigital
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/INTEGRIX06.jpg")" alt="img06">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:117px; font-size: 14px; margin-right:50px;">
                        @ProjRadiografiaINTEGRIX.AlimentacionToma
                    </p>
                </div>

            </div>
        </div>
        <!-- END: PROJECT SLIDER-->

      @*<div class="MyFixedColumn2x1">
        <div>
            <a class="MyCenterImage150" href="@Url.Content("~/Content/catalogos/Catalogo-INTEGRIX.pdf")" download>
                <img class="MyCenteredObject" style="width:85px !important; top:15px;" src="@Url.Content("~/Content/images/download01.svg")" />
            </a>
        </div>
      </div>*@
        <!-- PROJECT DESCRIPTION -->
      <div  class="MyFluidColumn2x1">
        <h4 class="text-left">@ProjRadiografiaINTEGRIX.DescripcionProducto</h4>
          <p class="MyFontJustified">
              @ProjRadiografiaINTEGRIX.CmrComplacemos
              <br />
              @ProjRadiografiaINTEGRIX.SistemaIntegrixDisenado<br />
              @ProjRadiografiaINTEGRIX.SistemIntegrixInstalarse
          </p>
      </div>
		</div>
		<!-- END: PROJECT DESCRIPTION + SHARES -->
</div> <!-- END #pageloader -->
