﻿<div id="pageloader" style="height:auto !important">
    <div id="projects_am" class="entry-single pageloader_inner wrapper dark-text">
        <!-- PROJECT SLIDER GOES HERE -->
        <div class="ms-showcase1">
            <div class="master-slider ms-skin-light-6 round-skin" id="slider-popup-AlfaMasto" data-estado='0'>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Estaciones/AM01.jpg")" alt="img01">
                    <p class="ms-layer" style="left:600px; top:110px;">
                        Presentación automática <br />de las proyecciones <br />RMLO, LMLO, RCC, <br />LCC con solo oprimir un <br />icono.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Estaciones/AM02.jpg")" alt="img02">
                    <p class="ms-layer" style="left:600px; top:110px;">
                        Presentación del estudio <br />previo y actual para un <br />mejor seguimiento de la <br />evolución de la imagen <br />patológica.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Estaciones/AM03.jpg")" alt="img03">
                    <p class="ms-layer" style="left:600px; top:103px;">
                        Aplicación de lupas <br />de manera sincronizada en <br />ambos monitores para <br />realizar una exploración <br />comparativa.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Estaciones/AM04.jpg")" alt="img04">
                    <p class="ms-layer" style="left:80px; top:80px;">
                        Aplicación de colimadores horizontales, verticales y diagonales para la exploración por secciones.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Estaciones/AM05.jpg")" alt="img05">
                    <p class="ms-layer" style="left:500px; top:82px;">
                        La estación DIAG ALFA MASTO <br />permite redactar reportes y aplicar <br />plantillas personalizadas de acuerdo al <br />estudio que se realice, incluyendo un <br />diagrama de localización de lesiones y <br />clasificación Bi-RADS. Además brinda la <br />capacidad de exportar estudios y reporte <br />a CD/ DVD con visor auto-ejecutable. <br />Adicionalmente, ofrece servicios de <br />impresión en formato DICOM y/o <br />Windows.
                    </p>
                </div>
            </div>
        </div>
        <!-- PROJECT DESCRIPTION + SHARES -->
        <div class="MyFixedColumn2x1">
            <div>
                <a class="MyCenterImage" href="@Url.Content("~/Content/catalogos/Catalogo-DIAGS.pdf")" download>
                    <img class="MyCenteredObject" style="width:85px !important" src="@Url.Content("~/Content/images/download01.svg")" />
                </a>
            </div>
        </div>

        <!-- PROJECT DESCRIPTION -->
        <div class="MyFluidColumn2x1">
            <h4 class="text-left">Descripción de producto</h4>
            <p>La estación de diagnóstico DIAG ALFA MASTO es un producto desarrollado para satisfacer las necesidades de visualización, y procesamiento de imágenes de mastografía.</p>
            <p>La estación DIAG ALFA MASTO cuenta con protocolos que permiten comparar el estudio previo y actual para un mejor seguimiento de eventuales patologías.</p>
            <p>Además, para cubrir sus necesidades en la operación del departamento de radiología, en CMR hemos creado la aplicación RISX. El sistema RIS (Radiology Information System) le ofrece herramientas innovadoras que le ayudarán a tener el control de la administración de su departamento.</p>
            <p>La estación DIAG ALFA MASTO puede ser configurada con CAD (Computer Aided Detection). El CAD analiza la imagen y genera marcadores que indican la presencia de áreas sospechosas tales como micro-calcificaciones y densidades de masa, facilitando el diagnóstico rápido y exacto.</p>
            <p>La estación DIAG ALFA MASTO permite redactar reportes y aplicar plantillas personalizadas de acuerdo al estudio que se realice, incluyendo un diagrama de localización de lesiones y clasificación Bi-RADS. Además, brinda la capacidad de exportar estudios y reporte a CD/DVD con visor auto-ejecutable. Adicionalmente, ofrece servicios de impresión en formato DICOM y/o Windows.</p>
        </div>

        <!-- SHARES -->



    </div>
    <!-- END: PROJECT DESCRIPTION + SHARES -->
</div> <!-- END #pageloader -->
