﻿<div id="pageloader" style="height:auto !important">
    <div id="projects_arixrad" class="entry-single pageloader_inner wrapper dark-text">
        <!-- BEGIN: PROJECT SLIDER -->
        <div id="MyShowCase" class="ms-showcase1">
            <div class="master-slider ms-skin-light-6 round-skin" id="slider-popup-Radiografia_ARIXRAD" data-estado='0'>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/ARIXRAD01.jpg")" alt="img01">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:89px; font-size: 14px; margin-right:50px;">
                        Sistema totalmente automatizado con seguimiento electrónico del tubo  de rayos X y el Bucky de mesa y pared. Con sólo presionar un comando la mesa se posiciona a la altura adecuada para recibir pacientes en camilla o bien para recibir pacientes de pie.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/ARIXRAD02.jpg")" alt="img02">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:98px; font-size: 14px; margin-right:50px;">
                        Panel de control frontal con pantalla touch screen para el control de la mesa y la selección de las técnicas radiográficas.<br />
                        Manivelas localizadas en ambos lados del panel de control, las cuales permiten un posicionamiento ágil del tubo de rayos X.
                    </p>
                </div>
                @*<div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/ARIXRAD03.jpg")" alt="img03">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:88px; font-size: 14px; margin-right:50px;">
                        Desplazamiento vertical del Bucky hasta el piso lo que permite la toma de radiografías de miembros inferiores en pacientes de pie.<br />
                        La sincronización automática de los movimientos del Bucky y el tubo de rayos X se lleva a cabo tanto para el Bucky de mesa como para el Bucky de pared.
                    </p>
                </div>*@
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/ARIXRAD04.jpg")" alt="img04">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:148px; font-size: 14px; margin-right:50px;">
                        La consola de control cuenta con programador anatómico por región, proyección y complexión del paciente, lo que facilita una selección de la técnica radiográfica apropiada en forma rápida y precisa.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/ARIXRAD05.jpg")" alt="img05">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:150px; font-size: 14px; margin-right:50px;">
                        Detector digital de estado sólido para Bucky de mesa o pared portátil o fijo.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/ARIXRAD06.jpg")" alt="img06">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:132px; font-size: 14px; margin-right:50px;">
                        Consola de adquisición sensible al tacto, para una operación fácil e intuitiva (opcional).
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/ARIXRAD07.jpg")" alt="img06">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:132px; font-size: 14px; margin-right:50px;">
                        En su versión digital los sistemas incorporan funciones avanzadas de post-proceso como son: ángulo de Cobb, ángulo por tres puntos, ángulo doble, líneas paralelas, índice cardiotorácico, medición de Ferguson,  identificación de imágenes clave, notación semi-automática de vértebras, herramienta de stitching para manipulación de imágenes de segmentos largos, trazo de eje mecánico etc.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/ARIXRAD08.jpg")" alt="img07">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:131px; font-size: 14px; margin-right:45px;">
                        Alimentación a una toma estándar de 120 V., haciendo innecesarios costosos trabajos de preinstalación (opcional).
                    </p>
                </div>
            </div>
        </div>
        <!-- END: PROJECT SLIDER-->
        @*<div class="MyFixedColumn2x1">
            <div>
                <a class="MyCenterImage150" href="@Url.Content("~/content/catalogos/catalogo-arix.pdf")" download>
                    <img class="MyCenteredObject" style="width:85px !important; top:15px;" src="@Url.Content("~/content/images/download01.svg")" />
                </a>
            </div>
        </div>*@

        <!-- PROJECT DESCRIPTION -->
        <div class="MyFluidColumn2x1">
            <h4 class="text-left">Descripción de producto</h4>
            <p class="MyFontJustified">
                Si está pensando en adquirir un sistema de radiología, el sistema ARiX RAD de CMR es su mejor opción.<br />
                El sistema ARiX RAD provee movimientos automatizados lo que permite realizar estudios en forma rápida, aumentando su productividad más allá que cualquier otro sistema. Una característica común de estos sistemas es su forma de operación simple. Su consola de control cuenta con programador anatómico por región, proyección y complexión del paciente, lo que facilita una selección de la técnica radiográfica apropiada en forma rápida y precisa.<br />
                El sistema  ARiX RAD está desarrollado para aplicaciones de radiografía general de esqueleto, abdomen, tórax, entre otras. El sistema puede ser configurado con uno o más detectores digitales. Sus movimientos motorizados le ayudan a posicionar automáticamente la altura de la mesa para recibir pacientes en camilla o pacientes que llegan de pie a la sala de examen.
            </p>
        </div>

    </div>

</div> <!-- END #pageloader -->
