﻿<!----<div id="pageloader" style="height:auto !important">
   
</div>-->

<div id="pageloader" style="height:auto !important">
    <div id="projects_mrhII" class="entry-single pageloader_inner wrapper dark-text">

        <!-- PROJECT TITLE + TAGS -->
        <div class="slidecontent-bi">
            <!-- BEGIN: ABOUT TITLE -->
            <div class="section-title smallmargin">
                <h2>Aviso de Privacidad - <span class="bold"> Clientes</span></h2>
                <div class="divider-small">
                    <div class="divider colored"></div>
                </div>
            </div>
            <div class="ms-showcase1">
                <div id="pdfMirorLink" style="display: none;">Tu navegador no soporta la visualización de PDF. Da clic <a href="@Url.Content("~/Content/catalogos/privacidad-clientes.pdf")">AQUI</a> para descargarlo</div>
                <div id="pdfContainer" style="display: none;">
                    <object style="width:100%" data="@Url.Content("~/Content/catalogos/privacidad-clientes.pdf")" type="application/pdf">
                        <embed src="@Url.Content("~/Content/catalogos/privacidad-clientes.pdf")" type="application/pdf" />
                    </object>
                </div>
</div>
    </div>

</div> <!-- END #pageloader -->