﻿@using IDigitales.Pagina.Web.Comun.Idioma.Partials

<div id="pageloader" style="height:auto !important">
    <div id="projects_pacsEncore" class="entry-single pageloader_inner wrapper dark-text">
        <!-- BEGIN: PROJECT SLIDER -->
        <div id="MyShowCase" class="ms-showcase1">
            <div class="master-slider ms-skin-light-6 round-skin" id="slider-popup-Pacs_Encore" data-estado='0'>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs01.jpg")" alt="img01">
                    <h4 class="ms-layer" style="left:470px; top:170px; margin-right:50px;">@ProjPacsEncore.SistemaMultiSitio</h4>
                    <p class="ms-layer MyFontJustified" style="left:470px; top:200px; margin-right:30px;">
                       @ProjPacsEncore.SolucionAlmacena
                        
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs02.jpg")" alt="img02">
                    <h4 class="ms-layer" style="left:450px; top:170px; margin-right:50px;">@ProjPacsEncore.SistemaMultiPlata</h4>
                    <p class="ms-layer MyFontJustified" style="left:450px; top:200px; margin-right:50px;">
                        @ProjPacsEncore.AccesoImagenes
                        
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs03.jpg")" alt="img03">
                    <h4 class="ms-layer" style="left:470px; top:110px; margin-right:30px;">@ProjPacsEncore.EstacionMultiModal</h4>
                    @*<p class="ms-layer MyFontJustified" style="left:470px; top:140px; margin-right:30px;">*@
                    <ul class="ms-layer" style="left:485px; top:140px; margin-right:30px; font-family: raleway,open sans,arial,sans-serif !important;" >
                        <li>@ProjPacsEncore.EstacionDedicada</li>
                        <li>@ProjPacsEncore.ProtocolosCarga</li>
                        <li>@ProjPacsEncore.SincronizacionSeries</li>
                        <li>@ProjPacsEncore.ModosMpr</li>
                        <li>@ProjPacsEncore.ReferenciaCruzada</li>
                        <li>@ProjPacsEncore.ModuloReporte</li>
                        <li>@ProjPacsEncore.ModuloDictado</li>
                        <li>@ProjPacsEncore.ModuloReconocimiento</li>
                    </ul>
                    @*</p>*@
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs04.jpg")" alt="img04">
                    <h4 class="ms-layer" style="left:425px; top:100px; margin-right:75px;">@ProjPacsEncore.ModuloRadiologia</h4>
                    <ul class="ms-layer" style="left:440px; top:130px; margin-right:75px; font-family: raleway,open sans,arial,sans-serif !important;">
                        <li>@ProjPacsEncore.FiltrosBusqueda</li>
                        <li>@ProjPacsEncore.AnotacionesLibres</li>
                        <li>@ProjPacsEncore.SincronizacionSeries</li>
                        <li>@ProjPacsEncore.AsistentesInteligentes</li>
                        <li>@ProjPacsEncore.LineasParalelas</li>
                        <li>@ProjPacsEncore.AnguloCob</li>
                        <li>@ProjPacsEncore.IndiceCardiotoracico</li>
                        <li>@ProjPacsEncore.MedicionFerguson</li>
                        <li>@ProjPacsEncore.NotacionSemi</li>
                        <li>@ProjPacsEncore.Stitching</li>
                    </ul>
                    
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs05.jpg")" alt="img05">
                    <h4 class="ms-layer" style="left:450px; top:100px; margin-right:50px;">@ProjPacsEncore.ModuloMastografia</h4>                    
                    <ul class="ms-layer" style="left:465px; top:130px; margin-right:50px; font-family: raleway,open sans,arial,sans-serif !important;">
                        <li>@ProjPacsEncore.ProtocoloPersonalizado</li>
                        <li>@ProjPacsEncore.FlujoTrabajo</li>
                        <li>@ProjPacsEncore.Colimadores</li>
                        <li>@ProjPacsEncore.HerramientasSincronizadas</li>
                        <li>@ProjPacsEncore.ComparativaEstudios</li>
                        <li>@ProjPacsEncore.AnalisisSegmentos</li>
                        <li>@ProjPacsEncore.VisorPanoramica</li>
                        <li>@ProjPacsEncore.FiltrosBordes</li>
                        <li>@ProjPacsEncore.IdentificadorBirads</li>
                    </ul> 
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs06.jpg")" alt="img06">
                    <h4 class="ms-layer" style="left:470px; top:130px; margin-right:30px;">@ProjPacsEncore.ModuloVascular</h4>
                    <ul class="ms-layer" style="left:485px; top:160px; margin-right:50px; font-family: raleway,open sans,arial,sans-serif !important;">
                        <li>@ProjPacsEncore.MprCompletas</li>
                        <li>@ProjPacsEncore.SegmentacionAcanzada</li>
                        <li>@ProjPacsEncore.HerramientasVascular</li>
                        <li>@ProjPacsEncore.VisualizacionAnalisis</li>
                    </ul> 
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs07.jpg")" alt="img07">
                    <h4 class="ms-layer" style="left:400px; top:130px; margin-right:50px;">@ProjPacsEncore.ModuloCardio</h4>
                    <ul class="ms-layer" style="left:415px; top:160px; margin-right:50px;  font-family: raleway,open sans,arial,sans-serif !important;">
                        <li>@ProjPacsEncore.AnalisisCoronario</li>
                        <li>@ProjPacsEncore.CalculoPosiciones</li>
                        <li>@ProjPacsEncore.GradoPromedio</li>
                        <li>@ProjPacsEncore.AnalisisVentricular</li>
                    </ul> 
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs08.jpg")" alt="img09">
                    <h4 class="ms-layer" style="left:450px; top:120px; margin-right:50px;">@ProjPacsEncore.ModuloNuclear</h4>
                    <ul class="ms-layer" style="left:465px; top:150px; margin-right:50px; font-family: raleway,open sans,arial,sans-serif !important;">
                        <li>@ProjPacsEncore.FusionTomografia</li>
                        <li>@ProjPacsEncore.DiferentesPaletas</li>
                        <li>@ProjPacsEncore.FusionPet</li>
                        <li>@ProjPacsEncore.LibreriaPaletas</li>
                        <li>@ProjPacsEncore.ProtocolosCarga</li>
                    </ul> 
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs09.jpg")" alt="img10">
                    <h4 class="ms-layer" style="left:450px; top:140px; margin-right:50px;">@ProjPacsEncore.ModuloDental</h4>
                    <ul class="ms-layer" style="left:465px; top:170px; margin-right:30px; font-family: raleway,open sans,arial,sans-serif !important;">
                        <li>@ProjPacsEncore.GeneracionAutomatica</li>
                        <li>@ProjPacsEncore.Reconstruccion3D</li>
                        <li>@ProjPacsEncore.PosicionamientoCanal</li>
                        <li>@ProjPacsEncore.HerramientasSegmentacion</li>
                        <li>@ProjPacsEncore.ProyeccionMip</li>
                    </ul> 
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs10.jpg")" alt="img11">
                    <h4 class="ms-layer" style="left:450px; top:80px; margin-right:50px;">@ProjPacsEncore.ModuloOrtopedia</h4>
                    <ul class="ms-layer" style="left:465px; top:110px; margin-right:50px; font-family: raleway,open sans,arial,sans-serif !important;">
                        <li class="MyFontNormal">@ProjPacsEncore.EstacionDedicadEstacionOrtopedicos</li>
                        <li class="MyFontNormal">@ProjPacsEncore.MedicionesRelevantes</li>
                        <li class="MyFontNormal">@ProjPacsEncore.SimulacionResultados</li>
                        <li class="MyFontNormal">@ProjPacsEncore.ModulosPlanificacion</li>
                        <li class="MyFontNormal">@ProjPacsEncore.AsistentesInteligentesRodilla</li>
                    </ul> 
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs11.jpg")" alt="img11">
                    <h4 class="ms-layer" style="left:470px; top:90px; margin-right:50px;">@ProjPacsEncore.SistemaRis</h4>
                    <ul class="ms-layer" style="left:485px; top:120px; margin-right:25px; font-family: raleway,open sans,arial,sans-serif !important;">
                        <li>@ProjPacsEncore.BaseDatos</li>
                        <li>@ProjPacsEncore.AgendaCitas</li>
                        <li>@ProjPacsEncore.ImpresionPreparacion</li>
                        <li>@ProjPacsEncore.EnvioLista</li>
                        <li>@ProjPacsEncore.SeguimientoStatus</li>
                        <li>@ProjPacsEncore.EnvioResultados</li>
                        <li>@ProjPacsEncore.ControlProductividad</li>
                        <li>@ProjPacsEncore.ControlInventario</li>
                        <li>@ProjPacsEncore.HistorialReportes</li>
                        <li>@ProjPacsEncore.Estadisticas</li>
                        <li>@ProjPacsEncore.GestionDepartamento</li>
                    </ul> 
                </div>
            </div>
        </div>
        <!-- END: PROJECT SLIDER-->
		
      @*<div class="MyFixedColumn2x1">
        <div>
            <a class="MyCenterImage150" href="@Url.Content("~/Content/catalogos/Catalogo-ENCORE.pdf")" download>
                <img class="MyCenteredObject" style="width:85px !important; top:15px;" src="@Url.Content("~/Content/images/download01.svg")" />
            </a>
        </div>
      </div>*@
      <!-- PROJECT DESCRIPTION -->
      <div  class="MyFluidColumn2x1">
        <h4 class="text-left">@ProjPacsEncore.DescripcionProducto</h4>
          <p class="MyFontJustified">
              @ProjPacsEncore.SistemaPacs
              <br />
              @ProjPacsEncore.InterfazVisualizacion<br />
              @ProjPacsEncore.CubrirNecesidades
          </p>
      </div>

		</div>
		<!-- END: PROJECT DESCRIPTION + SHARES -->
</div> <!-- END #pageloader -->
