﻿<div id="pageloader" style="height:auto !important">
    <div id="projects_pacsCore" class="entry-single pageloader_inner wrapper dark-text">
        <!-- BEGIN: PROJECT SLIDER -->
        <div id="MyShowCase" class="ms-showcase1">
            <div class="master-slider ms-skin-light-6 round-skin" id="slider-popup-CORE" data-estado='0'>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs01.jpg")" alt="img01">
                    <p class="ms-layer" style="left:450px; top:104px;">
                        Presentación de estudios de diferentes <br />modalidades, asi como de estudios previos <br />y actuales en el mismo monitor.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs02.jpg")" alt="img02">
                    <p class="ms-layer" style="left:450px; top:104px;">
                        Función que permite la visualización de las <br />imágenes en tamaño real. La función <br />provee una vista miniatura  que muestra el <br />área magnificada lo que facilita el mapeo de <br />la imagen completa.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs03.jpg")" alt="img03">
                    <p class="ms-layer" style="left:450px; top:104px;">
                        Cálculo automático del índice cardiotorácico <br />y del ángulo de Cobb, así como otras <br />mediciones avanzadas.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs04.jpg")" alt="img04">
                    <p class="ms-layer" style="left:450px; top:104px;">
                        Avance sincronizado de cortes de <br />diferentes series (simple, contrastada y <br />tardía). La anterior función opera también <br />para estudios previos y actuales.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs05.jpg")" alt="img05">
                    <p class="ms-layer" style="left:450px; top:104px;">
                        Función que permite la aplicación de <br />filtros de color para facilitar la localización <br />de diferentes estructuras.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs06.jpg")" alt="img06">
                    <p class="ms-layer" style="left:450px; top:104px;">
                        Reconstrucción multiplanar en estudio <br />de tomografía en los planos axial, coronal <br />y sagital.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs07.jpg")" alt="img07">
                    <p class="ms-layer" style="left:600px; top:110px;">
                        Presentación automática <br />de las proyecciones <br />RMLO, LMLO, RCC, <br />LCC con solo oprimir un <br />icono.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs08.jpg")" alt="img08">
                    <p class="ms-layer" style="left:600px; top:110px;">
                        Presentación del estudio <br />previo y actual para un <br />mejor seguimiento de la <br />evolución de la imagen <br />patológica.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs09.jpg")" alt="img09">
                    <p class="ms-layer" style="left:600px; top:103px;">
                        Aplicación de lupas <br />de manera sincronizada en <br />ambos monitores para <br />realizar una exploración <br />comparativa.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs10.jpg")" alt="img10">
                    <p class="ms-layer" style="left:80px; top:80px;">
                        Aplicación de colimadores horizontales, verticales y diagonales para la exploración por secciones.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Pacs/Pacs11.jpg")" alt="img11">
                    <p class="ms-layer" style="left:500px; top:104px;">
                        Acceso a radiólogos y médicos referentes a imágenes y reportes, así como a herramientas de diagnóstico en ambiente web, desde cualquier ubicación en cualquier momento.
                    </p>
                </div>
            </div>
        </div>
        <!-- END: PROJECT SLIDER-->
		
      <div class="MyFixedColumn2x1">
        <div>
            <a class="MyCenterImage" href="@Url.Content("~/Content/catalogos/Catalogo-ENCORE.pdf")" download>
                <img class="MyCenteredObject" style="width:85px !important" src="@Url.Content("~/Content/images/download01.svg")" />
            </a>
        </div>
      </div>

      <!-- PROJECT DESCRIPTION -->
      <div  class="MyFluidColumn2x1">
        <h4 class="text-left">Descripción de producto</h4>
        <p>La serie PACS Encore y Enterprise provee funciones de administración de pacientes, post-proceso de imágenes y reporte. Son soluciones que le permiten el procesamiento de altas cantidades de información, almacenamiento, distribución WEB y administración del flujo de trabajo por medio de un Sistema de Información Radiológica RIS.</p>
        <p>La interfaz de visualización cuenta con una amplia gama de herramientas de pos proceso en un ambiente totalmente WEB o VIRTUAL. Los sistemas PACS Encore y Enterprise son una solución ideal para unidades hospitalarias con alta demanda de almacenamiento y disrtribución.</p>
        <p>Además, para cubrir sus necesidades en la operación del departamento de radiología, en CMR hemos creado la aplicación RISX. El sistema RIS (Radiology Information System) le ofrece herramientas innovadoras que le ayudarán a tener el control de la administración de su departamento.</p>
        <p>El sistema RISX está diseñado de tal forma que puede adaptarse a la forma de operación de su departamento, mediante la personalización de su agenda de citas, reportes y control de inventario.</p>
      </div>

		</div>
		<!-- END: PROJECT DESCRIPTION + SHARES -->
</div> <!-- END #pageloader -->
