﻿@using IDigitales.Pagina.Web.Comun.Idioma.Partials

<div id="pageloader" style="height:auto !important">
    <div id="projects_rx230b" class="entry-single pageloader_inner wrapper dark-text">
        <!-- BEGIN: PROJECT SLIDER -->
        <div id="MyShowCase" class="ms-showcase1">
            <div class="master-slider ms-skin-light-6 round-skin" id="slider-popup-Radiografia_Movil_RX230B" data-estado='0'>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Movil/RX320B_01.jpg")" alt="img01">
                    <p class="ms-layer MyFontJustified" style="left:470px; top:120px;  margin-right:50px;">
                        @ProjMovilRX230B.SistemaBaterias<br />
                        @ProjMovilRX230B.ColumnaTelescopica
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Movil/RX320B_02.jpg")" alt="img02">
                    <p class="ms-layer MyFontJustified" style="left:470px; top:130px;  margin-right:50px;">
                        @ProjMovilRX230B.SistemaConfigurado<br />
                        @ProjMovilRX230B.SistemaControl
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Movil/RX320B_03.jpg")" alt="img03">
                    <p class="ms-layer MyFontJustified" style="left:470px; top:142px;  margin-right:50px;">
                        @ProjMovilRX230B.ColumnaPorta
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Movil/RX320B_04.jpg")" alt="img04">
                    <p class="ms-layer MyFontJustified" style="left:445px; top:150px;  margin-right:50px;">
                        @ProjMovilRX230B.SistemaMotorizado
                    </p>
                </div>
            </div>
        </div>
        <!-- END: PROJECT SLIDER-->
      	
      @*<div class="MyFixedColumn2x1">
        <div>
            <a class="MyCenterImage150" href="@Url.Content("~/Content/catalogos/Catalogo-ARIX.pdf")" download>
                <img class="MyCenteredObject" style="width:85px !important; top:15px;" src="@Url.Content("~/Content/images/download01.svg")" />
            </a>
        </div>
      </div>*@
      <!-- PROJECT DESCRIPTION -->
      <div  class="MyFluidColumn2x1">
          <h4 class="text-left">@ProjMovilRX230B.Descripcion</h4>
          <p class="MyFontJustified">
              @ProjMovilRX230B.SistemaMovil<br />
              @ProjMovilRX230B.SistemaTMS
          </p>
      </div>

		</div>
		<!-- END: PROJECT DESCRIPTION + SHARES -->
</div> <!-- END #pageloader -->
