﻿<div id="pageloader" style="height:auto !important">
    <div id="projects_ds" class="entry-single pageloader_inner wrapper dark-text">
        <!-- BEGIN: PROJECT SLIDER -->
        <div class="ms-showcase1">
            <div class="ms-slide" style="background-color: #fff;" id="slider-popup-DiagSmart" data-estado='0'>
                <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Estaciones/DS01.jpg")" alt="img01">
                <p class="ms-layer" style="left:450px; top:104px;">
                    Presentación de estudios de diferentes <br />modalidades, asi como de estudios previos <br />y actuales en el mismo monitor.
                </p>
            </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Estaciones/DS02.jpg")" alt="img02">
                    <p class="ms-layer" style="left:450px; top:104px;">
                        Función que permite la visualización de las <br />imágenes en tamaño real. La función <br />provee una vista miniatura  que muestra el <br />área magnificada lo que facilita el mapeo de <br />la imagen completa.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Estaciones/DS03.jpg")" alt="img03">
                    <p class="ms-layer" style="left:450px; top:104px;">
                        Cálculo automático del índice cardiotorácico <br />y del ángulo de Cobb, así como otras <br />mediciones avanzadas.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Estaciones/DS04.jpg")" alt="img04">
                    <p class="ms-layer" style="left:450px; top:104px;">
                        Avance sincronizado de cortes de <br />diferentes series (simple, contrastada y <br />tardía). La anterior función opera también <br />para estudios previos y actuales.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Estaciones/DS05.jpg")" alt="img05">
                    <p class="ms-layer" style="left:450px; top:104px;">
                        Función que permite la aplicación de <br />filtros de color para facilitar la localización <br />de diferentes estructuras.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Estaciones/DS06.jpg")" alt="img06">
                    <p class="ms-layer" style="left:450px; top:104px;">
                        Reconstrucción multiplanar en estudio <br />de tomografía en los planos axial, coronal <br />y sagital.
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Estaciones/DS07.jpg")" alt="img07">
                    <p class="ms-layer" style="left:500px; top:104px;">
                        La estación DIAG ALFA permite redactar <br />reportes y aplicar plantillas personalizadas <br />de acuerdo al estudio que se realice. <br />Además brinda la capacidad de exportar <br />estudios y reportes a CD/DVD con visor <br />auto-ejecutable. <br />Adicionalmente, ofrece servicios de <br />impresión en formato DICOM y/o Windows.
                    </p>
                </div>
            </div>
        </div>
        <!-- END: PROJECT SLIDER-->

        <div class="MyFixedColumn2x1">
            <div>
                <a class="MyCenterImage" href="@Url.Content("~/Content/catalogos/Catalogo-DIAGS.pdf")" download>
                    <img class="MyCenteredObject" style="width:85px !important" src="@Url.Content("~/Content/images/download01.svg")" />
                </a>
            </div>
        </div>

        <!-- PROJECT DESCRIPTION -->
        <div class="MyFluidColumn2x1">
            <h4 class="text-left">Descripción de producto</h4>
            <p>La estación de trabajo DIAG SMART ha sido desarrollada para el procesamiento de imágenes diagnósticas de tomografía, resonancia, ultrasonido, rayos X, etc. en formato DICOM. Solución pensada para satisfacer los presupuestos más exigentes.</p>
            <p>La estación de trabajo DIAG SMART ofrece una amplia gama de herramientas de diagnóstico: brillo, contraste, lupa, magnificación, mediciones de distancias, áreas, ángulos, índice cardiotorácico, ángulo de Cobb, unidades Hounsfield, reconstrucción MPR para tomografía, etc.</p>
            <p>La estación DIAG SMART permite redactar reportes y aplicar plantillas personalizadas de acuerdo al estudio que se realice. Además, brinda la capacidad de exportar estudios y reportes a CD/DVD con visor auto-ejecutable. Adicionalmente, ofrece servicios de impresión en formato DICOM y/o Windows.</p>
        </div>

    </div>
    <!-- END: PROJECT DESCRIPTION + SHARES -->
</div> <!-- END #pageloader -->
