﻿@using IDigitales.Pagina.Web.Comun.Idioma.Partials

<div id="pageloader" style="height:auto !important">
    <div id="projects_mrf90t" class="entry-single pageloader_inner wrapper dark-text">
        <!-- BEGIN: PROJECT SLIDER -->
        <div id="MyShowCase" class="ms-showcase1">
            <div class="master-slider ms-skin-light-6 round-skin" id="slider-popup-Radiografia_MRF90T" data-estado='0'>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRF90T01.jpg")" alt="img01">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:107px; margin-right:50px;">
                        @RadiografiaMRF90T.SistemaConfigurado
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRF90T02.jpg")" alt="img02">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:100px; margin-right:50px;">
                        @RadiografiaMRF90T.DistanciaFocal
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRF90T03.jpg")" alt="img03">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:230px; margin-right:50px;">
                        @RadiografiaMRF90T.PanelControl
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRF90T04.jpg")" alt="img04">
                    <p class="ms-layer MyFontJustified" style="left:515px; top:200px; margin-right:50px;">
                        @RadiografiaMRF90T.CamaraTelevision
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRF90T05.jpg")" alt="img05">
                    <p class="ms-layer MyFontJustified" style="left:540px; top:80px; margin-right:50px;">
                        @RadiografiaMRF90T.Basculacion
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRF90T06.jpg")" alt="img06">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:150px; margin-right:50px;">
                       @RadiografiaMRF90T.FuncionesTomografia
                    </p>
                </div>
                <div class="ms-slide" style="background-color: #fff;">
                    <img class="ms-imagen-borde" src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/productos/Mesas/MRF90T07.jpg")" alt="img06">
                    <p class="ms-layer MyFontJustified" style="left:500px; top:260px; margin-right:50px;">
                        @RadiografiaMRF90T.ConsolaOperacion
                    </p>
                </div>
            </div>
        </div>
        <!-- END: PROJECT SLIDER-->

        @*<div class="MyFixedColumn2x1">
            <div>
                <a class="MyCenterImage150" href="@Url.Content("~/Content/catalogos/Catalogo-MRF90T.pdf")" download>
                    <img class="MyCenteredObject" style="width:85px !important; top:15px;" src="@Url.Content("~/Content/images/download01.svg")" />
                </a>
            </div>
        </div>*@

        <!-- PROJECT DESCRIPTION -->
      <div  class="MyFluidColumn2x1">
        <h4 class="text-left">Descripción de producto</h4>
          <p class="MyFontJustified">
              @RadiografiaMRF90T.CualquieraNecesidad<br />
              @RadiografiaMRF90T.SerieSistemas<br />
              @RadiografiaMRF90T.ConsolaOperacionMando<br />
              @RadiografiaMRF90T.BasculacionNoventa<br />
              @RadiografiaMRF90T.ConstruccionFuerte<br />
              @RadiografiaMRF90T.DisponibleVersion
          </p>
      </div>

		</div>
		<!-- END: PROJECT DESCRIPTION + SHARES -->
</div> <!-- END #pageloader -->
