﻿/*******************************/
/*    Modals alertify Js       */
/*******************************/
.alertify.ajs-closable .ajs-commands button.ajs-maximize
.alertify.ajs-closable .ajs-commands button.ajs-close {
    background: #0073B5; color:#ffffff;
}
.alertify.ajs-closable .ajs-commands button.ajs-maximize:hover,
.alertify.ajs-closable .ajs-commands button.ajs-close:hover{
    background: #004B76; 
    color:#ffffff;
}

.alertify .ajs-header{
    border-bottom: 2px solid #0073B5;
    background-color: #BCBEC0 !important;
    color: #414042 !important;
}

.alertify .ajs-footer .ajs-buttons .ajs-button {
     background: #0073B5;
     color: #FFFFFF;
}
.alertify .ajs-dialog {
    background-color: #BCBEC0 !important;
      color: #414042 !important;
}

.alertify .ajs-footer { 
    background-color: #BCBEC0 !important;
}