﻿/*******************************/
/*      Modals alertify Js     */
/*******************************/

.alertify .alertify .ajs-dialog {border-top-left-radius: 5px; border-top-right-radius: 5px;}
.alertify.ajs-closable .ajs-commands button.ajs-close{
    border-radius:15px;
    line-height: 0px;
    margin-right: -15px;
    width: 28px;
    height: 28px;
    padding: 0 !important;
    text-align: center !important;
}

.alertify.ajs-closable .ajs-commands button.ajs-close:before {
    font-family:  FontAwesome;
    content: "\f00d";
}

.alertify .alertify .ajs-dialog {border-top-left-radius: 5px; border-top-right-radius: 5px;}
.alertify.ajs-closable .ajs-commands button.ajs-maximize{
    border-radius:15px;
    line-height: 0px;
    margin-right: -15px;
    width: 28px;
    height: 28px;
    padding: 0 !important;
    text-align: center !important;
}
.alertify.ajs-maximizable .ajs-commands button.ajs-maximize:before {
    font-family:  FontAwesome;
    content: "\f065";
}


.alertify .ajs-body {
padding: 15px 30px 0px 30px ;
}

.alertify .ajs-dialog {
    border-radius: 10px;
}
.alertify .ajs-header {
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    font-size:18px;
}
.alertify .ajs-body {
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.alertify .ajs-footer {
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button {
    width: auto;
}

.alertify .ajs-footer .ajs-buttons .ajs-button {
       min-height:29px !important;
}

.alertify .ajs-footer .ajs-buttons.ajs-auxiliary {
    float: right !important;
    margin-right:15px;
}

.alertify .ajs-modal {
    z-index: 100001 !important;
}