﻿ 
@using System.Dynamic
@using Newtonsoft.Json;
@using IDigitales.Pagina.Web.Comun.Idioma.Members
 

@{
    dynamic Data = new ExpandoObject();

    Data.titulo = "Menú";
    Data.opcion = "Archivos";


    Data.secciones = new ExpandoObject();


    Data.secciones.Archivos = new ExpandoObject();
    Data.secciones.Archivos.activa = User.IsInRole("ARCHIVOS");
    Data.secciones.Archivos.nombre = Menu.Archivos;
    Data.secciones.Archivos.url = @Url.Action("Archivos", "Members");
    Data.secciones.Archivos.icono = "fa fa-file-image-o icon-menu";


    Data.secciones.Cotizaciones = new ExpandoObject();
    Data.secciones.Cotizaciones.activa = User.IsInRole("COTIZACIONES");
    Data.secciones.Cotizaciones.nombre = Menu.Cotizaciones;
    Data.secciones.Cotizaciones.url = @Url.Action("Cotizaciones", "Members");
    Data.secciones.Cotizaciones.icono = "fa fa-credit-card icon-menu";

    Data.secciones.Productos = new ExpandoObject();
    Data.secciones.Productos.activa = User.IsInRole("PRODUCTOS");
    Data.secciones.Productos.nombre = Menu.Productos;
    Data.secciones.Productos.url = @Url.Action("Productos", "Members");
    Data.secciones.Productos.icono = "icon icon-producto";

    Data.secciones.Versiones = new ExpandoObject();
    Data.secciones.Versiones.activa = User.IsInRole("VERSIONES");
    Data.secciones.Versiones.nombre = Menu.Versiones;
    Data.secciones.Versiones.url = @Url.Action("Versiones", "Members");
    Data.secciones.Versiones.icono = "fa fa-code-fork icon-menu";

    Data.secciones.Configuracion = new ExpandoObject();
    Data.secciones.Configuracion.activa = User.IsInRole("CONFIGURACION");
    Data.secciones.Configuracion.nombre = Menu.Configuracion;
    Data.secciones.Configuracion.url = @Url.Action("Configuracion", "Members");
    Data.secciones.Configuracion.icono = "fa fa-cog";

    Data.secciones.Instalaciones = new ExpandoObject();
    Data.secciones.Instalaciones.activa = User.IsInRole("INSTALACIONES");
    Data.secciones.Instalaciones.nombre = Menu.Proyectos;
    Data.secciones.Instalaciones.url = @Url.Action("InstalacionesSeccion", "Members");
    Data.secciones.Instalaciones.icono = "fa fa-building";

    var dataMenuModulo = JsonConvert.SerializeObject(Data);
}
<div class="contenedorPrincipal" style="overflow:auto">
    <div id="MenuModulosPrincipal" data-idigitales-menumodulo-options="@dataMenuModulo"></div>
    <div id="wraperCotenidoWeb">
        <div id="CotenidoWeb">
            <div id="innerCotenidoWeb">

            </div>
        </div>
        @*@Html.ActionLink("Instalaciones", "Instalaciones", "Members", null, null)*@
    </div>
</div>
 


