﻿.idpanel-tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0;
  font-family: FontAwesome; 
}

.img-panel-minimize,
.img-panel-maximize
{
    cursor: pointer;
}

.img-panel-minimize:before 
{    
    font-family:  FontAwesome; 
    content: "\f077";
}

.img-panel-maximize:before 
{
   font-family:  FontAwesome; 
   content: "\f078";
}

/*Esto cambia los valores de escala en rems*/
/*@media (max-width: 1600px) {
  html 
  { 
      font-size: 10px;
  }
}

@media (max-width: 1024px) {
  html 
  { 
      font-size: 9px;
  }
}

@media (max-width: 400px) {
  html 
  { 
      font-size: 8px;
  }
}*/
