﻿@using IDigitales.Pagina.Web.Comun.Idioma.Partials
@using IDigitales.Pagina.Web.Controllers.Helpers

<section id="about" class="nav-boxes">
    <!-- BEGIN: GREY SECTION WITH "light-text" TEXT AND "section-arrow-down" -->
    <div class="light-section dark-text section-arrow-down">
        <!-- BEGIN: CONTAINER -->
        <div class="container">
            <!-- BEGIN: ABOUT TITLE -->
            <div class="section-title row">
                <h2>@About.Nuestra	<span class="bold"><strong>@About.Razon</strong></span></h2>
                <div class="divider colored"></div>
                <h6 class="text-center" style="margin-right:15%;margin-left:15%">
                    <strong>@About.CompaniaMexicana</strong>@About.FabricandeDe <strong>@About.RayosX</strong> @About.DiagnostcoMedicio <strong> @About.SistemasArchivos</strong>
                    <br/><strong>@About.CMR</strong><span style="color:#00C1D4"> @About.Fundada</span> @About.CuentaCon<span style="color:#00C1D4"> @About.EquiposFabricados</span>
                    @About.PlantaManufactura
                </h6><br />

                <h6 class="text-center" style="margin-right:15%;margin-left:15%;color:#A4AAB1;">
                    <i class="fa fa-quote-left"></i>
                    @About.LosProductos <strong>@About.CMR</strong> @About.ProductosFabricados <strong>@About.DiagnosticoImagen</strong>@About.CuidadoSalud
                    <i class="fa fa-quote-right"></i>
                </h6>
                
                
                
                
                
                

            </div>
            <!-- END ROW -->
        </div>
        <!-- END CONTAINER -->
    </div>
    
    <div class="grey-section dark-text ">
        <!-- BEGIN: CONTAINER -->
        <div class="container">

            <style>
                #nosotros-set-2 > div > div {
                    /*width: 32%;*/
                    margin: 0;
                    display: inline-block;
                    vertical-align: top;
                    padding: 0px 20px;
                    float: none;
                }

                #nosotros-set-2 .hi-icon h6 {
                    text-align: center;
                }

                #nosotros-set-2 h6,
                #nosotros-set-2 li {
                    list-style: none;
                    text-align: justify;
                    text-justify: inter-word;
                    font-size: 15px;
                }

                #nosotros-set-2 {
                    font-size: 0;
                }
            </style>





            <section id="nosotros-set-2" class="dark-bg">
                <!-- Set 1a or 1b for effects on hover "hi-icon-effect-1a" -->
                <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                    <!-- PROCESS ICON #01 -->
                    <div class=" col-md-4 col-sm-9">
                        <div class="hi-icon animated fadeInUp" style="background:#FF8674 !important;">
                            <!-- Icon here -->
                            <i class="icon-iconomision text-center" style="display:inline-block;font-size: 60px;line-height: 88px;height: 50px;text-align: center;vertical-align: bottom;"></i>
                            <h6 style="color:Black">@About.Mision</h6>
                        </div>
                        <!-- Description Tooltip here -->
                        <h6>
                            @About.FabricarEquipo <strong>@About.Radiodiagnóstico </strong>@About.MejoramientoSalud
                        </h6>
                    </div>

                    <!-- PROCESS ICON #02 -->
                    <div class=" col-md-4 col-sm-9">
                        <div class="hi-icon animated fadeInUp" style="background:#FF8674 !important;">
                            <i class="icon-iconovision text-center" style="display:inline-block;font-size: 60px;line-height: 88px;height: 50px;text-align: center;vertical-align: bottom;"></i>
                            <h6 style="color:Black">@About.Vision</h6>
                        </div>


                        <ul>
                            <li>

                                <h6>
                                    <span class="text_color" style="display: block;text-align: center">@About.NuestrosClientes</span>
                                    @*<span><i class="fa fa-check text_color"></i></span>*@
                                    @About.ProveedorReconocido
                                    
                                </h6>
                            </li>
                            <li>

                                <h6>
                                    <span class="text_color" style="display: block;text-align: center">@About.NuestrosTrabajadores</span>
                                    @*<span><i class="fa fa-check text_color"></i></span>*@
                                    @About.MejorOpcion
                                </h6>
                            </li>
                            <li>

                                <h6>
                                    @*<span><i class="fa fa-check text_color"></i></span>*@
                                    <span class="text_color" style="display: block;text-align: center">@About.NuestrosProveedores</span>
                                    @About.MejorOportunidad
                                    
                                </h6>
                            </li>
                        </ul>


                    </div>

                    <!-- PROCESS ICON #03 -->
                    <div class=" col-md-4 col-sm-9">
                        <div class="hi-icon animated fadeInUp delay-400" style="background:#FF8674 !important;">
                            <i class="icon-iconovalores text-center" style="display:inline-block;font-size: 60px;line-height: 88px;height: 50px;text-align: center;vertical-align: bottom;"></i>

                            <h6 style="color:Black">@About.Valores</h6>
                        </div>

                        <div></div>
                        <h6>
                            @About.En <strong>@About.CMR </strong>@About.CmrEsforzamos

                            <br /><span class="text_color" style="text-align: left;">@About.EstosValores</span>
                        </h6>
                        <ul style="display: inline-block;">
                            <li><span class="text_color"><i class="fa fa-check"></i></span> @About.Honestidad</li>
                            <li><span class="text_color"><i class="fa fa-check"></i></span> @About.Solidaridad</li>
                            <li><span class="text_color"><i class="fa fa-check"></i></span> @About.Compromiso</li>
                        </ul>


                    </div>
                </div>
                <!-- End hi-icon-wrap -->
            </section>




        </div>
        <!-- END CONTAINER -->
    </div>



    <!-- END: GREY SECTION -->
    <!-- BEGIN: FEATURED WORKS "light-section" WITH "nopaddingbottom" AND "dark-text" TEXT -->
    <div id="featured" class="light-section nopaddingbottom dark-text" style="line-height:1">
        <!-- BEGIN: TITLE STYLE 1 -->
        <div class="container section-title">
            <h2>@About.Investigacion <span class="bold">@About.Desarrollo</span></h2>
            <div class="divider colored"></div>
            <h6 class="text-center" style="margin-right:15%;margin-left:15%">
            @About.PartePlanes
                
                <span style="color:#00C1D4">@About.InvestigacionDesarrollo <strong>@About.CMR </strong>@About.ParticipaSon</span>
            </h6> <br />

            <table style="margin-right:19.5%;margin-left:19.5%;line-height:normal">
                <tr>
                    <td style="width:20px;vertical-align:text-top">
                        <span><i class="fa fa-check text_color"></i></span>
                    </td>
                    <td>
                        <p>
                            @About.DesarrolloEquipos <strong>@About.EquiposRayos </strong>@About.MedicoDiagnostico
                            
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:20px;vertical-align:text-top"><span><i class="fa fa-check text_color"></i></span></td>
                    <td>
                        <p>
                            @About.DesarrolloSistemas
                            
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:20px;vertical-align:text-top">
                        <span><i class="fa fa-check text_color"></i></span>
                    </td>
                    <td>
                        <p>
                            @About.DesarrolloSoftware <strong>@About.DepartamentosImagen</strong>
                            
                        </p>
                    </td>
                </tr>
            </table>
            <h6 class="text-center">
                <span style="color:#00C1D4">
                    @About.OptimoDesempeno
                    
                </span>
            </h6>
        </div>

        <!-- BEGIN BLOG POSTS ISOTOPE -->
        <div class="journal isotope" style="margin-right:10%;margin-left:10%" data-columns="3" data-gutter-space="1">
            <!-- POST #01 -->
            <div class="journal-post isotope-item">
                <div class="post-content animated fadeInUpBig" style="background:#f7f7f7;min-height:410px">
                    <!-- Featured image -->
                    <div class="featured-image"><img alt="" src="@Url.CultureContent("~/Content/images/nosotros/RecursosHumanos.jpg")"></div>

                    <div class="post-summary">
                        <p>
                            @About.NuestroEquipo
                            
                        </p>
                    </div>
                </div>
            </div><!-- #post -->
            <!-- POST #02 -->
            <div class="journal-post isotope-item">
                <div class="post-content animated fadeInUpBig" style="background:#f7f7f7;min-height:410px">
                    <!-- Featured image -->
                    <div class="featured-image"><img alt="" src="@Url.CultureContent("~/Content/images/nosotros/ModeloGestion.jpg")"></div>

                    <div class="post-summary">
                        <p>
                            @About.ContamosModelo
                            
                        </p>
                    </div>
                </div>
            </div><!-- #post -->
            <!-- POST #03 -->
            <div class="journal-post isotope-item">
                <div class="post-content animated fadeInUpBig" style="background:#f7f7f7;min-height:410px">
                    <!-- Featured image -->
                    <div class="featured-image">
                        <img alt="" src="@Url.CultureContent("~/Content/images/nosotros/LAboratorios.jpg")">
                    </div>


                    <div class="post-summary">
                        <p>
                            @About.ContamosInstalaciones
                        </p>
                    </div>
                </div>
            </div><!-- #post -->
        </div>
        <!-- END journal isotope -->
    </div>
    <!-- END: FEATURED WORKS -->
    <!-- START: PARALLAX - PROCESS ICONS -->
    <div id="parallax-1" class="parallax" style="background-image: url(@Url.Content("~/Content/images/nosotros/fabrica.jpg"));text-align:center;">
        <div class="box-overlay-pattern">
            <div class="overlay-pattern soft"></div>
        </div>
    </div>
    <!-- END: PARALLAX -->
    <!-- BEGIN: COLORED SECTION -->
    <div class="colored-section2">
        <h2 class="no-margin">@About.SomosEmpresa <strong>@About.EuipoRadiologico.</strong></h2>
    </div>

    <!-- BEGIN: NUMERICAL INCREMENT -->
    <div class="grey-section dark-text  ">
        <div class="container numerical-c ">
            <div class="row" style="margin-bottom: 5%;">
                <!-- BEGIN 3 COLUMNS / 6 COLUMNS (<768px)
                    Numerical #01 -->
                <div class="col-xs-6 col-sm-3 animated fadeInUp">
                    <!-- Center Icon here -->
                    <div class="center-icon" style="">
                        <img src="@Url.Content("~/Content/images/nosotros/ilaboratorio.svg")" alt="">
                    </div>

                    <!-- Numerical here -->
                    <div>
                        <div class="numericals">
                            <!-- Numerical script -->
                            <script type="text/javascript">
                                jQuery(window).load(function () {
                                    if (window.isScrolledIntoView && isScrolledIntoView("numerical-10")) {
                                        jQuery('#numerical-10').removeClass('notinview');
                                        incrementNumerical('#numerical-10', 800, 10);
                                    }
                                });
                                jQuery(window).scroll(function () {
                                    if (jQuery('#numerical-10.notinview').length) {
                                        if (window.isScrolledIntoView && isScrolledIntoView("numerical-10")) {
                                            jQuery('#numerical-10').removeClass('notinview');
                                            incrementNumerical('#numerical-10', 800, 10);
                                        }
                                    }
                                });
                            </script>

                            <!-- Numerical html -->
                            <div class="numerical-container">
                                <div class="numerical-content">@About.Laboratorios</div>
                                <div id="numerical-10" class="notinview">
                                    <div class="value" style="display:inline;">10</div>
                                    <div style="font-size:16px; display:inline;">m2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Numerical -->
                </div>

                <!-- Numerical #02 -->
                <div class="col-xs-6 col-sm-3 animated fadeInUp delay-200">
                    <div class="center-icon" style="">
                        <img src="@Url.Content("~/Content/images/nosotros/iproduccion.svg")" alt="">
                    </div>
                    <div>
                        <div class="numericals">
                            <script type="text/javascript">
                                jQuery(window).load(function () {
                                    if (window.isScrolledIntoView &&  isScrolledIntoView("numerical-12")) {
                                        jQuery('#numerical-12').removeClass('notinview');
                                        incrementNumerical('#numerical-12', 3870, 45);
                                    }
                                });
                                jQuery(window).scroll(function () {
                                    if (jQuery('#numerical-12.notinview').length) {
                                        if (window.isScrolledIntoView &&  isScrolledIntoView("numerical-12")) {
                                            jQuery('#numerical-12').removeClass('notinview');
                                            incrementNumerical('#numerical-12', 3870, 45);
                                        }
                                    }
                                });
                            </script>
                            <div class="numerical-container">
                                <div class="numerical-content">@About.AreaProduccion</div>
                                <div id="numerical-12" class="notinview">
                                    <div class="value" style="display:inline;">300</div>
                                    <div style="font-size:16;display:inline;">m2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Numerical #03 -->
                <div class="col-xs-6 col-sm-3 animated fadeInUp delay-400">
                    <div class="center-icon" style="">
                        <img src="@Url.Content("~/Content/images/nosotros/iadministrativa.svg")" alt="">
                    </div>
                    <div>
                        <div class="numericals">
                            <script type="text/javascript">
                                jQuery(window).load(function () {
                                    if (window.isScrolledIntoView && isScrolledIntoView("numerical-13")) {
                                        jQuery('#numerical-13').removeClass('notinview');
                                        incrementNumerical('#numerical-13', 961, 10);
                                    }
                                });
                                jQuery(window).scroll(function () {
                                    if (jQuery('#numerical-13.notinview').length) {
                                        if (window.isScrolledIntoView && isScrolledIntoView("numerical-13")) {
                                            jQuery('#numerical-13').removeClass('notinview');
                                            incrementNumerical('#numerical-13', 961, 10);
                                        }
                                    }
                                });
                            </script>
                            <div class="numerical-container">
                                <div class="numerical-content">@About.AreaAdministrativa</div>
                                <div id="numerical-13" class="notinview">
                                    <div class="value" style="display:inline;">100</div>
                                    <div style="font-size:16;display:inline;">m2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Numerical #04 -->
                <div class="col-xs-6 col-sm-3 animated fadeInUp delay-600">
                    <div class="center-icon" style="">
                        <img src="@Url.Content("~/Content/images/nosotros/ialmacenes.svg")" alt="">
                    </div>
                    <div>
                        <div class="numericals">
                            <script type="text/javascript">
                                jQuery(window).load(function () {
                                    if (window.isScrolledIntoView && isScrolledIntoView("numerical-14")) {
                                        jQuery('#numerical-14').removeClass('notinview');
                                        incrementNumerical('#numerical-14', 4200, 25);
                                    }
                                });
                                jQuery(window).scroll(function () {
                                    if (jQuery('#numerical-14.notinview').length) {
                                        if (window.isScrolledIntoView && isScrolledIntoView("numerical-14")) {
                                            jQuery('#numerical-14').removeClass('notinview');
                                            incrementNumerical('#numerical-14', 4200, 25);
                                        }
                                    }
                                });
                            </script>
                            <div class="numerical-container">
                                <div class="numerical-content">@About.Almacenes</div>
                                <div id="numerical-14" class="notinview">
                                    <div class="value" style="border-right: none; display:inline;">500</div>
                                    <div style="font-size:16;display:inline;">m2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Row -->
        </div>
    </div>


        <div class="light-section section-arrow-down dark-text">
            <!-- Title here -->
            <div class="section-title">
                <h2><span class="bold">@About.Distinciones</span></h2>
                <div class="divider colored"></div>
                <h6 class="text-center" style="margin-right:20%;margin-left:20%">@About.EstamosSumamente<span class="bold"> @About.SiendoReconocido</span></h6>
            </div>

            <!-- BEGIN: SERVICES STYLE 1 CONTAINER -->
            <div id="distinciones" class="container">
                <!-- DISTINCIONES #01 PNT -->
                <div class="service col-xs-12 col-sm-6">
                    <div class="col-xs-12 col-md-3" style="min-width:90px">
                        <div class="rounded fill animated bounceIn delay-50" style="height:90px;width:90px;background:#FF8674">
                            <img style="margin-top:12.5px;" src="@Url.Content("~/Content/images/nosotros/premios_pnt.svg")" alt="">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <div class="text-left">
                            <h5>@About.PremioNacional</h5>
                            
                            <p>@About.HemosSido</p>
                        </div>
                    </div>
                </div>

                <!-- DISTINCIONES #02 ADIAT -->
                <div class="service col-xs-12 col-sm-6">
                    <div class="col-xs-12 col-md-3" style="min-width:90px">
                        <div class="rounded fill animated bounceIn delay-100" style="height:90px;width:90px;background:#FF8674 !important">
                            <img style="margin-top:12.5px;" src="@Url.Content("~/Content/images/nosotros/premios_adiat.svg")" alt="">
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-9">
                        <div class="text-left">
                            <h5>@About.PremioInnovacion</h5>
                            <p>@About.RecibimosPremio</p>
                        </div>
                    </div>
                </div>
            </div><!-- END CONTAINER -->
        </div><!-- END GREY SECTION -->
        <!-- BEGIN: FOTO DISTINCIONES -->
        <div id="parallax-2" class="parallax" style="background-image: url(@Url.Content("~/Content/images/nosotros/pnt.jpg"));text-align:center;">
            @*<div class="box-overlay-pattern">
                    <div class="overlay-pattern soft"></div>
                </div>*@
        </div>
</section>