﻿@using IDigitales.Pagina.Web.Comun.Idioma.Partials
<!-- BEGIN: CERTIFICACIONES -->
<section id="certificaciones">
    <!-- BEGIN: "grey-section" WITH "section-arrow-down", "nopaddingbottom" AND "dark-text" TEXT -->
    <div class="grey-section nopaddingbottom dark-text">
        <!-- Title here -->
        <div class="section-title">
            <h2><span class="bold">@Certifications.Certificaciones</span></h2>
            <div class="divider colored"></div>
            <h6 class="text-center">@Certifications.NosotrosCertificacion <span class="bold">@Certifications.CalidadNuestros</span></h6>
        </div>

        <!-- BEGIN: SERVICES STYLE 1 CONTAINER -->
        <div class="container">
            <div>
                <!-- CERTIFICACION #01 ISO 9001:2008 -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <!-- Icon Column -->
                        <div class="col-xs-12 col-md-3" style="min-width:80px">
                            <div class="rounded fill animated bounceIn MyCenteredObject" style="height:80px;width:80px">
                                <img src="@Url.Content("~/Content/images/nosotros/cer_ISO9001.svg")" alt="">
                            </div>
                        </div>

                        <!-- Description Column -->
                        <div class="col-xs-12 col-md-9">
                            <div class="text-left">
                                <h5>@Certifications.Iso9001</h5>
                                <p>@Certifications.ComprometidosNuestro</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CERTIFICACION #02 ISO 13485:2003 -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <div class="col-xs-12 col-md-3" style="min-width:80px">
                            <div class="rounded fill animated bounceIn delay-200 MyCenteredObject" style="height:80px;width:80px">
                                <img src="@Url.Content("~/Content/images/nosotros/cer_ISO13485.svg")" alt="">
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-9">
                            <div class="text-left">
                                <h5>@Certifications.Iso13485</h5>
                                <p>@Certifications.DemostrandoNuestro</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CERTIFICACION #03 COFEPRIS -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <div class="col-xs-12 col-md-3" style="min-width:80px">
                            <div class="rounded fill animated bounceIn delay-400 MyCenteredObject" style="height:80px;width:80px">
                                <img src="@Url.Content("~/Content/images/nosotros/cer_COFEPRIS.svg")" alt="">
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-9">
                            <div class="text-left">
                                <h5>@Certifications.Cofepris</h5>
                                <p>@Certifications.CertificandoNuestras</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <!-- CERTIFICACION #04 FDA -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <div class="col-xs-12 col-md-3" style="min-width:80px">
                            <div class="rounded fill animated bounceIn delay-200 MyCenteredObject" style="height:80px;width:80px">
                                <img src="@Url.Content("~/Content/images/nosotros/cer_FDA.svg")" alt="">
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-9">
                            <div class="text-left">
                                <h5>@Certifications.FoodDrug</h5>
                                <p>@Certifications.CumpliendoNormas</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CERTIFICACION #05 SSA -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <div class="col-xs-12 col-md-3" style="min-width:80px">
                            <div class="rounded fill animated bounceIn delay-400 MyCenteredObject" style="height:80px;width:80px">
                                <img src="@Url.Content("~/Content/images/nosotros/cer_SSA.svg")" alt="">
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-9">
                            <div class="text-left">
                                <h5>@Certifications.Nom229</h5>
                                <p>@Certifications.AtendiendoSalud</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
    </div><!-- END GREY SECTION -->
    <!-- BEGIN: SERVICES STYLE 2 "light-section" WITH "nopaddingbottom" AND "dark-text" TEXT -->
    @*<div id="service-two" class="light-section nopaddingbottom dark-text">
        <div class="container">
            <!-- BEGIN: TITLE -->
            <div class="section-title">
                <!-- BEGIN WORD ROTATER
                YOU CAN CHANGE THE EFFECTS AND THE WORDS ON paris.js line 27 -->
                <h2>POWER ASSIST <span id="myWords" class="bold"></span></h2>
                <div class="divider colored"></div>
                <p class="text-center">Cambiaremos tu manera de pensar acerca del costo de instalación de la línea electrica</p>
            </div>

            <!-- BEGIN: SERVICES ROW -->
            <div class="row">
                <!-- POWER ASIST IMAGE -->
                <div class="col-xs-12 col-sm-8" style="margin-top:25px">
                    <img src="@Url.Content("~/Content/images/productos/PowerAssist/PA01.png")" alt="" class="animated bounceInUp">
                </div>

                <!-- SERVICES | ALIGN LEFT -->
                <div class="col-xs-12 col-sm-4">
                    <!-- SERVICE #01 -->
                    <div class="service animated fadeInRightBig">
                        <div class="col-xs-2 col-md-2 a-mobile rg">
                            <div class="icon-nofill">
                                <i class="glyphicons vector_path_all"></i>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-10 np">
                            <div class="text-left">
                                <h5>CONSISTENCIA Y CALIDAD</h5>
                                <p>Asegure la consistencia en sus tecnicas y la más alta calidad en sus imagenes radiolográficas.</p>
                            </div>
                        </div>
                    </div>

                    <!-- SERVICE #02 -->
                    <div class="service animated fadeInRightBig">
                        <div class="col-xs-2 col-md-2 a-mobile rg">
                            <div class="icon-nofill">
                                <i class="glyphicons vector_path_all"></i>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-10 np">
                            <div class="text-left">
                                <h5>CAPACIDAD COMPLETA</h5>
                                <p>Permite utilizar toda la capacidad disponoble de los generadores 30kW a 80kW usando conectores de 115/220 VAC.</p>
                            </div>
                        </div>
                    </div>

                    <!-- SERVICE #03 -->
                    <div class="service animated fadeInRightBig">
                        <div class="col-xs-2 col-md-2 a-mobile rg">
                            <div class="icon-nofill">
                                <i class="glyphicons vector_path_all"></i>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-10 np">
                            <div class="text-left">
                                <h5>PORTABILIDAD</h5>
                                <p>El equipo es ligero al no utilizar baterias y permite facilmente reubicarse a otras salas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: SERVICES ROW -->
            </div>
            <!-- END: SERVICES CONTAINER -->
        </div>
        <!-- end of pricing -->
    </div>*@
</section>
<!-- END: CERTIFICACIONES SECTION -->