﻿<!-- BEGIN: #CONTACT SECTION -->
@using IDigitales.Pagina.Web.Comun.Idioma.Partials

<script type="text/javascript">
    var myUrl = '@Url.Action("SendMail", "Home", null, Request.Url.Scheme, null)';
</script>

<section id="contacts" class="nav-boxes">
    <!-- START: PARALLAX CONTACTS -->
    <div id="parallax-contacts" class="parallax dontStopParallax" style="background-image: url(@Url.Content("~/Content/images/nosotros/contacto.jpg"));text-align:center;">
        <div class="box-overlay-pattern">
            <div class="overlay-pattern soft dark"></div>

            <!-- BEGIN: PARALLAX CONTENT -->
            <div class="parallax-content smallpadding">
                <!-- TITLE -->
                <div class="section-title light">
                    <h2>@Contact.Contacto</h2>
                    <div class="divider colored"></div>
                </div>

                <!-- BEGIN: CONTACTS FORM -->
                <div class="container bg-mobiles">
                    <div class="col-xs-12 col-md-8">
                        <div class="bgpattern">
                            <!-- CONTACT FORM -->
                            <div id="contact_form">
                                <div class="location">
                                    <h3><span class="text_color">@Contact.EnvienosMensaje</span></h3>
                                </div>

                                <!-- Sucess Message -->
                                <div class="form-success">
                                    <p><i class="fa fa-check"></i>@Contact.GraciasMensaje</p>
                                </div>

                                <!-- Begin form -->
                                <div class="contact-form">
                                    <form @*action="@Url.Action("SendMail", "Home")" method="post"*@ class="form">
                                        <div class="name">
                                            <input class="text" type="text" name="name" placeholder="@Contact.Nombre">
                                        </div>
                                        <div class="email">
                                            <input class="text" type="text" name="email" placeholder="@Contact.Email">
                                        </div>
                                        <div class="subject">
                                            <input class="text" type="text" name="subject" placeholder="@Contact.Titulo">
                                        </div>

                                        <div class="service">
                                            <select id="typeofservice" name="Tipo" class="selectpicker">
                                                <option value="type">@Contact.Ventas</option>
                                                <option value="type">@Contact.Soporte</option>
                                                <option value="type">@Contact.Desarrollo</option>
                                            </select>
                                        </div>



                                        <div class="message eight columns">
                                            <textarea name="message" rows="8" cols="60" placeholder="@Contact.Mensaje"></textarea>
                                            <a class="p-button border lightSpeedIn" id="submit"><i class="fa fa-check-circle-o"></i><span class="with-icon">@Contact.EnviarCorreo</span></a>
                                            <div class="loading"></div>
                                        </div>
                                    </form>
                                </div>
                                <!-- End form -->
                            </div>
                            <!-- END CONTACT FORM -->
                        </div>
                    </div>

                    <!-- Begin Bg Mobiles -->
                    <div>
                        <!-- Other Contacts -->
                        <div class="col-xs-12 col-md-4">
                            <div class="bgpattern">
                                <div class="othercontacts">
                                    <ul class="contacts">
                                        <li style="text-align: center; font-weight: bold; height: 10rem;">@Contact.CompaniaMexicana</li>
                                        <li><i class="fa fa-map-marker"></i>@Contact.FraccIndustrial <br>@Contact.ElMarques</li>
                                        <li><i class="fa fa-envelope" style="left: -3px;"></i><a href="mailto:contacto@cmr3.com.mx">contacto@cmr3.com.mx</a></li>
                                        <li><i class="fa fa-phone"></i>+52 55 56112020 ext.1203 1205</li>
                                    </ul>
                                </div>
                            </div>
                        </div><br />

                        <!-- Social -->
                        <div class="col-xs-12 col-md-4">
                            <div class="bgpattern">
                                <div class="othercontacts social">
                                    <h3><span class="text_color">@Contact.RedesSociales</span></h3>
                                    <div class="dark">
                                        <a href="https://www.facebook.com/CMR.RX/" class="social facebook animated fadeInUp" aria-label="Facebook CMR"></a>
                                        @*<a href="javascript:void(0)" class="social twitter animated fadeInUp delay-200"></a>*@
                                        <a href="https://www.instagram.com/cmr.rx/" class="social instagram animated fadeInUp delay-400" aria-label="Instagram CMR"></a>
                                        @*<a href="javascript:void(0)" class="social vimeo animated fadeInUp delay-600"></a>*@
                                        @*<a href="javascript:void(0)" class="social skype animated fadeInUp delay-800"></a>*@
                                        <a href="mailto:mailto:contacto@cmr3.com.mx" class="social e-mail animated fadeInUp delay-1000" aria-label="Correo CMR"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Social -->
                    </div>
                    <!-- End bg Mobiles -->
                </div> <!-- end of .container -->
            </div><!-- end: .parallax-contant -->
        </div><!-- end .box-overlay-pattern -->
    </div>
    <!-- END: PARALLAX #03 -->
</section>
<!-- END: #CONTACTS SECTION -->