﻿<!-- BEGIN BOTTOM FOOTER -->
@using IDigitales.Pagina.Web.Comun.Idioma.Partials
<section id="bottom-footer">
    <div>
        <h6 class="text-center">
            @Footer.CompaniaMexicana
            
        </h6>

        <p class="text-center">@Footer.Version</p>
        <p class="text-center">
            <a class="text-center" href="@Url.Content("~/Content/catalogos/privacidad-clientes.pdf")" download>@Footer.AvisoClientes </a>
            <a class="text-center" href="@Url.Content("~/Content/catalogos/privacidad-proveedores.pdf")" download>@Footer.AvisoProveedores</a>
            <a class="text-center" href="@Url.Content("~/Content/catalogos/privacidad-empleados.pdf")" download>@Footer.AvisoEmpleados</a>
        </p>
    </div>
</section>
<!-- END BOTTOM FOOTER -->