﻿<!-- BEGIN: HEADER BAR OPTIONS: "dark", "style2", "style1", "border" and "hide-on-start" -->
@using IDigitales.Pagina.Web.Comun.Idioma.Partials

<div class="navbar navbar-default dark style2 border navbar-fixed-top" role="navigation">
    <!-- BEGIN: NAV-CONTAINER -->
    <div class="nav-container">
        <div class="navbar-header">
          
          @{Html.RenderAction("Languages", "Home");}

            <!-- BEGIN: TOGGLE BUTTON (RESPONSIVE)-->
            <button type="button" id="buttonCollapser" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">@Header.ToggleNavigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- BEGIN: LOGO -->
            <a class="navbar-brand nav-to" href="#">
                <img src="@Url.Content("~/Content/images/logos/cmr.svg")" alt="Logo CMR">
            </a>
        </div>

        @{Html.RenderAction("Languages", "Home");}

        <!-- BEGIN: MENU -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-to" href="#inicio">@Header.Inicio</a></li>
                <li><a class="nav-to" href="#productos">@Header.Productos</a></li>
                <li><a class="nav-to" href="#portfolio">@Header.Modelos</a></li>
                <li><a class="nav-to" href="#about">@Header.Nosotros</a></li>
                <li><a class="nav-to" href="#noticias">@Header.Noticias</a></li>
                <li><a class="nav-to" href="#contacts">@Header.Contacto</a></li>
                @*<li><a class="nav-to" href="http://www.cmr-rx.com/sitebk/Account/Login">Iniciar Sesión</a></li>*@
                <li><a class="nav-to" href='@Url.Action("Login", "Home")'>@Header.Iniciar</a></li>
            </ul>
        </div>

       
        <!-- END: MENU -->
    </div>
    <!--END: NAV-CONTAINER -->
</div>
<!-- END: HEADER BAR -->