﻿@using IDigitales.Pagina.Web.Comun.Idioma.Partials
<section id="inicio" class="nav-boxes">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE	-->
                <li data-transition="zoomin" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="@Url.Content("~/Content/images/portada/1.jpg")" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <!-- Parallax pattern overlay -->
                    <div class="parallax-overlay parallax-overlay-pattern soft"></div>

                    <!-- LAYERS -->
                    <div class="tp-caption large_bold_white_25 text-center customin customout start tp-resizeme titulo"
                         data-x="center"
                         data-hoffset="0"
                         data-y="190"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="Back.easeInOut"
                         data-endspeed="300">
                        @Home.Bienvenidos <span class="text_color">@Home.Sitio</span> @Home.Web
                    </div>


                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption lfb text-center tp-caption.large_bold_white_20 customin customout tp-resizeme"
                         data-x="center"
                         data-hoffset="0"
                         data-y="260"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="1500"
                         data-easing="Back.easeInOut"
                         style="z-index: 6; font-family: 'NexaFreeBoldwebfont' !important;">
                        <h4>@Home.CompaniaMexicana</h4>
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption lfb"
                         data-x="center"
                         data-hoffset="0"
                         data-y="400"
                         data-speed="1000"
                         data-start="2200"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                          style="z-index: 6; font-family: 'NexaFreeBoldwebfont' !important;">
                        <a class="nav-to go-about" href="#about" style="font-family: 'NexaFreeBoldwebfont' !important;">@Home.Nosotros</a>
                    </div>
                </li>

                <!-- SLIDE	-->
                <li data-transition="zoomin" data-slotamount="5" data-masterspeed="700">
                    <img src="@Url.Content("~/Content/images/portada/2.jpg")" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <!-- Parallax pattern overlay -->
                    <div class="parallax-overlay parallax-overlay-pattern soft"></div>

                    <!-- LAYERS -->
                    <div class="tp-caption large_bold_white_25 text-center customin customout start tp-resizeme titulo"
                         data-x="center"
                         data-hoffset="0"
                         data-y="190"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="Back.easeInOut"
                         data-endspeed="300"
                         style="font-family: 'NexaFreeBoldwebfont' !important;">
                        @Home.Trabajamos <span class="text_color">@Home.Cuidarte</span>
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption lfb text-center customin customout tp-resizeme"
                         data-x="center"
                         data-y="260"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="1500"
                         data-easing="Back.easeInOut"
                          style="z-index: 6; font-family: 'NexaFreeBoldwebfont' !important;">
                        <h4>
                            @Home.Construimos
                    </h4>
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption lfb"
                         data-x="center"
                         data-hoffset="0"
                         data-y="400"
                         data-speed="1000"
                         data-start="2200"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6; font-family: 'NexaFreeBoldwebfont' !important;">
                        <a class="nav-to go-about" href="#portfolio">@Home.Modelos</a>
                    </div>
                </li>

                <!-- SLIDE	-->
                <li data-transition="slidedown" data-slotamount="5" data-masterspeed="700">
                    <img src="@Url.Content("~/Content/images/portada/3.jpg")" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- Parallax pattern overlay -->
                    <div class="parallax-overlay parallax-overlay-pattern soft"></div>

                    <!-- LAYERS -->
                    <div class="tp-caption large_bold_white_25 text-center customin customout start tp-resizeme titulo"
                         data-x="center"
                         data-hoffset="0"
                         data-y="190"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="Back.easeInOut"
                         data-endspeed="300"
                         style="font-family: 'NexaFreeBoldwebfont' !important;">
                        @Home.Mantenemos <span class="text_color">@Home.Vanguardia</span>
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption lfb text-center customin customout tp-resizeme"
                         data-x="center"
                         data-y="260"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="1500"
                         data-easing="Back.easeInOut"
                         style="z-index: 6; font-family: 'NexaFreeBoldwebfont' !important;">
                        <h4>@Home.Desarrollamos</h4>
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption lfb"
                         data-x="center"
                         data-hoffset="0"
                         data-y="400"
                         data-speed="1000"
                         data-start="2200"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6; font-family: 'NexaFreeBoldwebfont' !important;">
                        <a class="nav-to go-about" href="#productos">@Home.Productos</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>