﻿@{
    Layout = null;
}

@model string

<div class="navbar-languages">
    <div class="">
        @if (Model == null || Model == "es")
        {
            <div class="item" onclick="CambiarIdioma('us')" title="Change to english language"><a id="btnEnglish"><img src="@Url.Content("~/Content/images/icons/languageen.png")"  alt="en"/></a></div>
        }
        else
        {
            <div class="item" onclick="CambiarIdioma('es')" title="Presione para cambiar el idioma a español"><a id="btnSpanish"><img src="@Url.Content("~/Content/images/icons/languagemax.png")" alt="es" /></a></div>
        }        
    </div>
</div>
