﻿<!-- BEGIN: PROJECT LOADER -->
<!-- ALL THE PROJECT DETAILS WILL BE LOADED IN THIS AREA -->
<div id="ventanaProductos" class="projects-overlay">
    <div id="projects-loader"></div>
    <div id="pagecontent" class="MyCenteredObject">
        <div id="pageloader" style="margin-bottom:0px; margin-top:0px;">
            <!-- THE LOADED CONTENT WILL SHOW HERE -->
           <div class="viewport"></div>
        </div>
    </div>
</div>
<!-- END -->