﻿@using IDigitales.Pagina.Web.Comun.Idioma.Partials

<section id="portfolio" class="grey-section dark-text nopaddingbottom nav-boxes">
    <!-- BEGIN: PROJECTS TITLE -->
    <div class="container">
        <div class="section-title">
            <h2><span class="bold">@Models.Modelos</span></h2>
            <div class="divider colored"></div>
        </div>
    </div>

    <!-- BEGIN: AJAX LOADING -->
    <div class="container">
        <div>
            <div id="loader"></div>
        </div>
    </div>

    <!-- BEGIN: PROJECTS -->
    <div>
        <div id="main">
            <div class="main_inner wrapper clearfix">
                <div class="container">
                    <!-- BEGIN: CATEGORY FILTER -->
                    <ul id="projects-filter" class="filter botones_productos" data-option-selected="*">
                        <li><a id="projects-filter-todos" class="active" data-option-value="*" href="javascript:;">@Models.Todos</a></li>
                        <li><a id="projects-filter-moviles" data-option-value=".moviles" href="javascript:;">@Models.Moviles</a></li>
                        <li><a id="projects-filter-radiografia" data-option-value=".radiografia" href="javascript:;">@Models.Radiografia</a></li>
                        <li><a id="projects-filter-fluoroscopia" data-option-value=".fluoroscopia" href="javascript:;">@Models.Fluoroscopia</a></li>
                        <li><a id="projects-filter-pacs" data-option-value=".pacs" href="javascript:;">@Models.PacsHis</a></li>
                        @*<li><a id="projects-filter-estaciones" data-option-value=".estaciones" href="javascript:;">ESTACIONES</a></li>*@
                        <li><a id="projects-filter-publicadores" data-option-value=".publicadores" href="javascript:;">@Models.Publicadores</a></li>
                    </ul>
                    <!-- END: CATEGORY FILTER -->
                </div>

                <!-- BEGIN: PROJECTS THUMBNAILS -->
                <div class="entries clearfix" id="works_masonry">
                    <ul class="grid cs-style-3">
                        <!-- PROJECT #01 | RADIOGRAFIA MRH -->
                        <li class="masonry_item one-third column work radiografia">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("Radiografia_MRHII")" data-title="Radiografia_MRHII" data-title1="@Models.Sistema" data-title2="@Models.MrII">
                                    <img src="@Url.Content("~/Content/images/productos/RadiologiaMRH.jpg")" alt="img01" />
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;font-weight: 500;">@Models.SerieMRH</h3>
                                        <strong>@Models.Radiologia</strong>
                                    </div>
                                </a>
                            </figure>
                        </li>

                        <!-- PROJECT #02 | ESTACIONES DMASTO -->
                        @*<li class="masonry_item one-third column work estaciones">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("EstacionesAM")" data-title="AlfaMasto" data-title1="DIAG" data-title2="ALFA MASTO">
                                    <img src="@Url.Content("~/Content/images/productos/EstacionesAM.jpg")" alt="img01" />
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;">Diag Alfa Masto</h3>
                                        <span>Estaciones de Diagnóstico</span>
                                    </div>
                                </a>
                            </figure>
                        </li>*@

                        <!-- PROJECT #03 | MOVILES RX320 -->
                        <li class="masonry_item one-third column work moviles">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("Radiografia_Movil_RX230")" data-title="Radiografia_Movil_RX230" data-title1="MÓVIL" data-title2="@Models.Tms320">
                                    <img src="@Url.Content("~/Content/images/productos/Movil2.jpg")" alt="img03">
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;font-weight: 500;">@Models.Tms320</h3>
                                        <strong>@Models.SistemaMoviles</strong>
                                    </div>
                                </a>
                            </figure>
                        </li>

                        <!-- PROJECT #04 | ESTACIONES SMART -->
                        @*<li class="masonry_item one-third column work estaciones">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("EstacionesDS")" data-title="DiagSmart" data-title1="DIAG" data-title2="SMART">
                                    <img src="@Url.Content("~/Content/images/productos/EstacionesDS.jpg")" alt="img01">
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;">Diag Smart</h3>
                                        <span>Estaciones de Diagnóstico</span>
                                    </div>
                                </a>
                            </figure>
                        </li>*@

                        <!-- PROJECT #05 | SI PACS ENCORE -->
                        <li class="masonry_item one-third column work pacs">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("Pacs_Encore")" data-title="Pacs_Encore" data-title1="@Models.Pacs" data-title2="@Models.Encore">
                                    <img src="@Url.Content("~/Content/images/productos/PACSEncore.jpg")" alt="img05">
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;font-weight: 500;">@Models.SerieEncore</h3>
                                        <strong>@Models.Pacs</strong>
                                    </div>
                                </a>
                            </figure>
                        </li>

                        <!-- PROJECT #06 | RADIOGRAFIA ARIXRAD -->
                        <li class="masonry_item one-third column work radiografia">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("Radiografia_ARIXRAD")" data-title="Radiografia_ARIXRAD" data-title1="@Models.Sistema" data-title2="@Models.Arixrad2">
                                    <img src="@Url.Content("~/Content/images/productos/RadiologiaAX.jpg")" alt="img01" />
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;font-weight: 500;">@Models.SistemArix</h3>
                                        <strong>@Models.Radiografia</strong>
                                    </div>
                                </a>
                            </figure>
                        </li>
                        @*<li class="masonry_item one-third column work radiografia">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("RadiografiaARIXRAD")" data-title="ARIXRAD" data-title1="SISTEMA" data-title2="ARIXRAD">
                                    <img src="@Url.Content("~/Content/images/productos/RadiologiaAX.jpg")" alt="img01">
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;">Sistema ARIX RAD</h3>
                                        <span style="color:white;">Radiología</span>
                                    </div>
                                </a>
                            </figure>
                        </li>*@

                        <!-- PROJECT #07 | ESTACIONES DALFA -->
                        @*<li class="masonry_item one-third column work estaciones">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("EstacionesDA")" data-title="DiagAlfa" data-title1="DIAG" data-title2="ALFA">
                                    <img src="@Url.Content("~/Content/images/productos/EstacionesDA.jpg")" alt="img01">
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;">Diag Alfa</h3>
                                        <span>Estaciones de Diagnóstico</span>
                                    </div>
                                </a>
                            </figure>
                        </li>*@

                        <!-- PROJECT #08 | PUBLICADORES LITE20 -->
                        <li class="masonry_item one-third column work publicadores">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("Publicadores_Lite20")" data-title="Publicadores_Lite20" data-title1="@Models.Publicador" data-title2="@Models.Lite20">
                                    <img src="@Url.Content("~/Content/images/productos/Lite20.jpg")" alt="img07">
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;font-weight: 500;">@Models.ModeloLite</h3>
                                        <strong>@Models.PublicadoresCd</strong>
                                    </div>
                                </a>
                            </figure>
                        </li>

                        <!-- PROJECT #09 | MOVILES RX320B -->
                        <li class="masonry_item one-third column work moviles">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("Radiografia_Movil_RX230B")" data-title="Radiografia_Movil_RX230B" data-title1="@Models.Movil" data-title2="@Models.TMS32B">
                                    <img src="@Url.Content("~/Content/images/productos/Movil1.jpg")" alt="img08">
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;font-weight: 500;">@Models.TMS32B</h3>
                                        <strong>@Models.SistemaMoviles</strong>
                                    </div>
                                </a>
                            </figure>
                        </li>

                        <!-- PROJECT #10 | PUBLICADORES LITE100 -->
                        <li class="masonry_item one-third column work publicadores">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("Publicadores_Lite100", "Home")" data-title="Publicadores_Lite100" data-title1="@Models.Publicador" data-title2="@Models.Lite100">
                                    <img src="@Url.Content("~/Content/images/productos/Lite100.jpg")" alt="img09">
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;font-weight: 500;">@Models.ModeloLite100</h3>
                                        <strong>@Models.PublicadoresCd</strong>
                                    </div>
                                </a>
                            </figure>
                        </li>

                        <!-- PROJECT #11 | FLUOROSCOPIA MRF 90T -->
                        <li class="masonry_item one-third column work fluoroscopia">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("Radiografia_MRF90T")" data-title="Radiografia_MRF90T" data-title1="@Models.Sistema" data-title2="@Models.MRF90T2">
                                    <img src="@Url.Content("~/Content/images/productos/FluoroscoipaMRF90T.jpg")" alt="img10">
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;font-weight: 500;">@Models.SerieMRF</h3>
                                        <strong>@Models.Fluoroscopia</strong>
                                    </div>
                                </a>
                            </figure>
                        </li>

                        <!-- PROJECT #12 | ESTACIONES DRX -->
                        @*<li class="masonry_item one-third column work estaciones">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("EstacionesDX")" data-title="DiagRX" data-title1="DIAG" data-title2="RX">
                                    <img src="@Url.Content("~/Content/images/productos/EstacionesDX.jpg")" alt="img01">
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;">Diag RX</h3>
                                        <span>Estaciones de Diagnóstico</span>
                                    </div>
                                </a>
                            </figure>
                        </li>*@

                        <!-- PROJECT #13 | SI PACSCORE -->
                        @*<li class="masonry_item one-third column work pacs">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("PacsCore")" data-title="CORE" data-title1="PACS" data-title2="CORE">
                                    <img src="@Url.Content("~/Content/images/productos/PACSCore.jpg")" alt="img01">
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;">Serie Core</h3>
                                        <span>PACS</span>
                                    </div>
                                </a>
                            </figure>
                        </li>*@

                        <!-- PROJECT #14 | RADIOGRAFIA INTEGRIX -->
                        <li class="masonry_item one-third column work radiografia">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("Radiografia_INTEGRIX")" data-title="Radiografia_INTEGRIX" data-title1="@Models.Sistema" data-title2="@Models.Integrix2">
                                    <img src="@Url.Content("~/Content/images/productos/RadiologiaIX.jpg")" alt="img13">
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;font-weight: 500;">@Models.SistemIntegrix</h3>
                                        <strong>@Models.Radiologia</strong>
                                    </div>
                                </a>
                            </figure>
                        </li>

                        <!-- PROJECT #15 | SI HIS figcaptionWhite-->
                        <li class="masonry_item one-third column work pacs">
                            <figure>
                                <a class="loadcontent trigger-overlay text-center" href="@Url.Action("HIS_INFOSALUD","Home")" data-title="HIS_INFOSALUD" data-title1="" data-title2="@Models.His">
                                    <img src="@Url.Content("~/Content/images/productos/His.jpg")" alt="img14">
                                    <div class="figcaption figcaptionGreen">
                                        <h3 style="color:white;font-weight: 500;">@Models.Aplicacioneshtml5</h3>
                                        <strong>@Models.His</strong>
                                    </div>
                                </a>
                            </figure>
                        </li>

                    </ul>
                </div>
                <!-- END: PROJECTS THUMBNAILS -->
            </div>
        </div>
    </div>
    <!-- END: PROJECTS -->
</section>