﻿<!-- BEGIN:NOTICIAS -->
@using IDigitales.Pagina.Web.Comun.Idioma.Partials

<section id="noticias" class="nav-boxes">
    <div class="light-section no-after-arrow nopaddingbottom dark-text">
        <!-- TITLE STYLE 1 -->
        <div class="container">
            <div class="section-title smallmargin">
                <h2><span>@News.NoticiasEventos</span></h2>
                <div class="divider colored"></div>
            </div>
        </div>

        <!-- BEGIN: NOTICIAS Y EVENTOS -->
        <!-- <div class="ms-staff-carousel ms-round"> -->
        <!-- Master slider Team Showcase -->
        <div class="ms-showcase1">
            <div class="master-slider ms-skin-light-6 round-skin" style="max-width:none !important;" id="master-team">
                <!-- NOTICIA #01 | 2016CDMX-->
                <div class="ms-slide" style="max-width:none !important;">
                    <!-- Image for Team Member here -->
                    <img src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/noticias/2016ULTRA.jpg")" alt="2016ULTRA" />

                    <!-- Description of team member here -->
                    <div class="ms-info container center-desc" style="max-width:none !important;">
                        <h3><span class="bold">@News.Congreso </span>@News.Internacional</h3>
                        <h4>@News.MarzoAbril</h4>
                        <p>@News.PrecenciaCongresoUltrasonido</p>

                        <!-- Colored Social Icons -->
                        <div class="socialdiv colored">
                            <ul>
                                @*<li><a class="facebook" href="javascript:sharePost('@News.CongresoInternacionaUltrasonido');" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"></a></li>
                                <li><a class="twitter" href="javascript:shareTweet('@News.CongresoInternacionaUltrasonido')" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"></a></li>*@
                                <!-- <li><a class="forrst" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Forrst"></a></li> -->
                                <!-- <li><a class="pinterest" href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.google.com&description=This+is+google+a+search+engine" target="_blank" data-toggle="tooltip" data-placement="top" title="Pinterest"></a></li> -->
                                <!-- <li><a class="dribbble" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Dribbble"></a></li>
                                <li><a class="vimeo" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Vimeo"></a></li>-->
                            </ul>
                        </div>
                        <!-- end icons -->
                    </div>
                    <!-- end description -->
                </div>

                <!-- NOTICIA #02 | CENTER DESCRIPTION-->F
                <div class="ms-slide" style="max-width:none !important;">
                    <!-- Image for Team Member here -->
                    <img src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/noticias/2016CDMX.jpg")" alt="WTCCDMX" />

                    <!-- Description of team member here -->
                    <div class="ms-info container center-desc">
                        <h3><span class="bold">@News.CursoAnual </span>@News.RadiologiaImagen</h3>
                        <h4>@News.Febrero2016</h4>
                        <p>@News.PresenciaCursoAnual</p>

                        <!-- Colored Social Icons -->
                        <div class="socialdiv colored">
                            <ul>
                                @*<li><a class="facebook" href="javascript:sharePost('@News.CursoAnualRadiologia');" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"></a></li>
                                <li><a class="twitter" href="javascript:shareTweet('@News.CursoAnualRadiologia')" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"></a></li>*@
                                <!-- <li><a class="forrst" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Forrst"></a></li> -->
                                <!-- <li><a class="pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Pinterest"></a></li> -->
                                <!-- <li><a class="dribbble" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Dribbble"></a></li>
                                <li><a class="vimeo" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Vimeo"></a></li> -->
                            </ul>
                        </div>
                        <!-- end icons -->
                    </div>
                    <!-- end description -->
                </div>

                <!-- NOTICIA #03 | 2015RSNA-->
                <div class="ms-slide" style="max-width:none !important;">
                    <!-- Image for Team Member here -->
                    <img src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/noticias/2015RSNA.jpg")" alt="RSNA 2015" />

                    <!-- Description of team member here -->
                    <div class="ms-info container center-desc">
                        <h3><span class="bold">@News.RSNA</span></h3>
                        <h4>@News.Noviembre2015</h4>
                        <p>@News.PresenciaCongresoRSNA</p>

                        <!-- Colored Social Icons -->
                        <div class="socialdiv colored">
                            <ul>
                                @*<li><a class="facebook" href="javascript:sharePost('@News.RSNA2015');" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"></a></li>
                                <li><a class="twitter popup" href="javascript:shareTweet('@News.RSNA2015')" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"></a></li>*@
                                <!-- <li><a class="forrst" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Forrst"></a></li> -->
                                <!-- <li><a class="pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Pinterest"></a></li> -->
                                <!-- <li><a class="dribbble" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Dribbble"></a></li>
                                <li><a class="vimeo" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Vimeo"></a></li> -->
                            </ul>
                        </div>
                        <!-- end icons -->
                    </div>
                    <!-- end description -->
                </div>
            </div>
        </div>

        <!-- End Master slider Team Showcase -->
        <div class="ms-staff-info" id="staff-info" style="min-height: 268px;"> </div>
        <!--</div>-->
    </div>
    <!-- END: TEAM DIV -->
</section>