﻿@using IDigitales.Pagina.Web.Comun.Idioma.Partials

<section class="light-section nopaddingbottom dark-text">
    <!-- BEGIN: OPINION EXPERTOS -->
    <div class="container" style="background-color: #FFFFFF">
        <!-- TILE HERE -->
        <div class="section-title">
            <h2><span class="bold">@Opinions.Opinion</span> @Opinions.Expertos</h2>
            <div class="divider colored"></div>
        </div>

        <!-- BEGIN: TESTIMONIALS SLIDER -->
        <div id="testimonials-slider" class="flexslider" style="margin-bottom: 5%;">
            <ul class="slides styled-list">
                <!-- SLIDE #01 -->
                <li class="testimonials-slide">
                    <div class="testimonials-slide-content container">
                        <!-- CLIENT IMAGE HERE -->
                        <div class="img-container">
                            <img title="" src="@Url.Content("~/Content/images/nosotros/herman.jpg")" alt="">
                        </div>

                        <!-- CLIENT TESTIMONIAL HERE -->
                        <div class="text-container">
                            <!-- AUTHOR -->
                            <span class="t-author">@Opinions.Herman</span>
                            <p>@Opinions.HermanTrayectoria</p>
                            <h6><i class="fa fa-quote-left"></i> @Opinions.EmpresaPreocupadaCumplimiento<i class="fa fa-quote-right"></i></h6>
                        </div>
                    </div>
                </li>

                <!-- SLIDE #02 -->
                <li class="testimonials-slide">
                    <div class="testimonials-slide-content container">
                        <div class="img-container">
                            <img title="" src="@Url.Content("~/Content/images/nosotros/juni.jpg")" alt="">
                        </div>

                        <div class="text-container">
                            <span class="t-author">@Opinions.Gustavo</span>
                            <p>@Opinions.GustavoTrayectoria</p>
                            <h6><i class="fa fa-quote-left"></i> @Opinions.EmpresaGranEquipo<i class="fa fa-quote-right"></i></h6>
                        </div>
                    </div>
                </li>

                <!-- SLIDE #03 -->
                <li class="testimonials-slide">
                    <div class="testimonials-slide-content container">
                        <div class="img-container">
                            <img title="" src="@Url.Content("~/Content/images/nosotros/richard.jpg")" alt="">
                        </div>

                        <div class="text-container">
                            <span class="t-author">@Opinions.Richard</span>
                            <p>@Opinions.RichardTrayectoria</p>
                            <h6><i class="fa fa-quote-left"></i>@Opinions.EmpresaComprometidaInvestigacion<i class="fa fa-quote-right"></i></h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- END FLEXSLIDER -->
        <div class="space"></div>
        <div class="space"></div>
    </div> <!-- end of light section -->
</section>