﻿@using IDigitales.Pagina.Web.Comun.Idioma.Partials

<section id="productos" class="light-section nopaddingbottom dark-text nav-boxes">
    <!-- BEGIN: TITLE STYLE 1 -->
    <div class="container section-title">
        <h2>@Products.Lineas <span class="bold">@Products.Productos</span></h2>
        <div class="divider colored"></div>
        <h6 class="text-center">@Products.DesarrolloEquipo</h6>
    </div>

    <!-- BEGIN: FEATURED WORKS SHOWCASE -->
    <div class="ms-showcase1">
        <!-- Master slider Showcase -->
        <div class="master-slider ms-skin-light-6 round-skin MyStopPropagation" id="masterslider-showcase">
            <!-- SLIDE #01 MOVILES -->
            <div class="ms-slide" style="background-color: #fff;">
                <img src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/lineas/SM.png")" alt="Sistemas Móviles" />
                <h3 class="ms-layer" style="left:250px; top:65px;" data-effect="left(100)" data-delay="0" data-ease="easeOutQuad"><strong>@Products.RadiologiaMovil</strong></h3>

                <p class="ms-layer MyFontObscura" style="left:250px; top:115px;" data-effect="left(100)" data-delay="100" data-ease="easeOutQuad">
                    @Products.NuestrosSistemas<br />@Products.AmpliaGama<br />@Products.DiseñoCompacto<br />@Products.MotorizacionPosible<br />@Products.ManeraSuave
                </p>

                <div class="ms-layer" style="left:250px; top:250px;" data-effect="left(100)" data-delay="200" data-ease="easeOutQuad">
                    <a href="#portfolio" class="p-button colored" onclick="return SimulaProjectFilter('projects-filter-moviles');">@Products.VerModelos</a>
                </div>

                <div class="ms-layer" style="left:802px; top:170px;" data-delay="300" data-type="hotspot" data-align="left">
                    <div class="product-tt">@Products.AdquisicionDigital</div>
                </div>

                <div class="ms-layer" style="left:890px; top:111px;" data-delay="400" data-type="hotspot" data-align="right">
                    <div class="product-tt">@Products.BrazoTelescopico</div>
                </div>

                <div class="ms-layer" style="left:859px; top:230px;" data-delay="400" data-type="hotspot" data-align="right">
                    <div class="product-tt">@Products.Generador32w</div>
                </div>

                <div class="ms-layer" style="left:807px; top:266px;" data-delay="400" data-type="hotspot" data-align="right">
                    <div class="product-tt">@Products.AlimentacionBacterias</div>
                </div>

                <div class="ms-layer" style="left:837px; top:320px;" data-delay="400" data-type="hotspot" data-align="right">
                    <div class="product-tt">@Products.MovimientoMoto</div>
                </div>
            </div>

            <!-- SLIDE #02 RADIOGRAFICOS -->
            <div class="ms-slide" style="background-color: #fff;">
                <img src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/lineas/SR.png")" alt="@Products.SistemasRadiograficos" />
                <h3 class="ms-layer" style="left:250px; top:80px;" data-effect="left(100)" data-delay="0" data-ease="easeOutQuad">@Products.SistemasRadiograficos</h3>

                <p class="ms-layer MyFontObscura" style="left:250px; top:130px;" data-effect="left(100)" data-delay="100" data-ease="easeOutQuad">
                    @Products.EquiposDesarrollados<br />@Products.De <strong>@Products.Radiografia</strong> @Products.RadiografiaGral<br />@Products.ToraxEtc
                </p>

                <div class="ms-layer" style="left:250px; top:225px;" data-effect="left(100)" data-delay="200" data-ease="easeOutQuad">
                    <a href="#portfolio" class="p-button colored" onclick="return SimulaProjectFilter('projects-filter-radiografia');">@Products.VerModelos</a>
                </div>

                <div class="ms-layer" style="left:910px; top:42px;" data-delay="300" data-type="hotspot" data-align="left">
                    <div class="product-tt">@Products.PanelFrontal<br /> @Products.IndicadorAngulo</div>
                </div>
                
                <div class="ms-layer" style="left:790px; top:160px;" data-delay="300" data-type="hotspot" data-align="left">
                    <div class="product-tt">@Products.ColumnaGiro</div>
                </div>

                <div class="ms-layer" style="left:769px; top:240px;" data-delay="400" data-type="hotspot" data-align="right">
                    <div class="product-tt">@Products.TableroFlotante</div>
                </div>

                <div class="ms-layer" style="left:890px; top:308px;" data-delay="400" data-type="hotspot" data-align="right">
                    <div class="product-tt">@Products.MesaElevable</div>
                </div>
            </div>

            <!-- SLIDE #03 FLUOROSCOPIA-->
            <div class="ms-slide" style="background-color: #fff;">
                <img src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/lineas/SF.png")" alt="lorem ipsum dolor sit" />
                <h3 class="ms-layer" style="left:250px; top:80px;" data-effect="left(100)" data-delay="0" data-ease="easeOutQuad">@Products.SistemasDe <strong>@Products.Fluoroscopia</strong></h3>

                <p class="ms-layer MyFontObscura" style="left:250px; top:130px;" data-effect="left(100)" data-delay="100" data-ease="easeOutQuad">
                    @Products.InovadorConcepto<br />@Products.SistemasFluoFlexibilidad<br />@Products.MovimientosAseguran<br /> @Products.ResultadosDe <strong>@Products.ImagenDiagnostica</strong> @Products.En<br />@Products.RadiografiaFlouroscopia
                </p>

                <div class="ms-layer" style="left:250px; top:260px;" data-effect="left(100)" data-delay="200" data-ease="easeOutQuad">
                    <a href="#portfolio" class="p-button colored" onclick="return SimulaProjectFilter('projects-filter-fluoroscopia');">@Products.VerModelos</a>
                </div>

                <div class="ms-layer" style="left:818px; top:95px;" data-delay="300" data-type="hotspot" data-align="left">
                    <div class="product-tt">@Products.CamaraTelevision<br />@Products.CentradoPaciente</div>
                </div>

                <div class="ms-layer" style="left:838px; top:115px;" data-delay="300" data-type="hotspot" data-align="left">
                    <div class="product-tt">@Products.IndicadorAnguloInclinacion<br />@Products.TuboRayosX</div>
                </div>

                <div class="ms-layer" style="left:850px; top:170px;" data-delay="300" data-type="hotspot" data-align="left">
                    <div class="product-tt">@Products.FuncionesTomografia<br />@Products.TresAngulosCorte</div>
                </div>

                <div class="ms-layer" style="left:863px; top:282px;" data-delay="300" data-type="hotspot" data-align="left">
                    <div class="product-tt">@Products.OperacionMando</div>
                </div>

                <div class="ms-layer" style="left:954px; top:218px;" data-delay="300" data-type="hotspot" data-align="left">
                    <div class="product-tt">@Products.TableroFlotanteBasculacion</div>
                </div>
            </div>

            <!-- SLIDE #04 APLICACIONES Y SISTEMAS -->
            <div class="ms-slide" style="background-color: #fff;">
                <img src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/lineas/SI.jpg")" alt="lorem ipsum dolor sit" />
                <h3 class="ms-layer" style="left:270px; top:80px;" data-effect="left(100)" data-delay="0" data-ease="easeOutQuad">@Products.AplicacionesSistemas</h3>

                <p class="ms-layer MyFontObscura" style="left:270px; top:130px;" data-effect="left(100)" data-delay="100" data-ease="easeOutQuad">
                    @Products.DesarrolloAplicacionesHtml5<br />@Products.InformacionHospitalaria (<strong>@Products.HIS</strong>) @Products.Radiologica (<strong>@Products.RIS</strong>).<br /> @Products.SistemaMulti <br />@Products.DistribuirImagenes (<strong>@Products.PACS</strong>).<br />
                </p>

                <div class="ms-layer" style="left:270px; top:250px;" data-effect="left(100)" data-delay="200" data-ease="easeOutQuad">
                    <a href="#portfolio" class="p-button colored" onclick="return SimulaProjectFilter('projects-filter-pacs');">@Products.VerModelos</a>
                </div>

                <div class="ms-layer" style="left:790px; top:190px;" data-delay="300" data-type="hotspot" data-align="left">
                    <div class="product-tt"><h3>@Products.Estandares</h3>@Products.DesarrolladosCumplimiento</div>
                </div>

                <div class="ms-layer" style="left:825px; top:110px;" data-delay="400" data-type="hotspot" data-align="right">
                    <div class="product-tt"><h3>@Products.EstadoArte</h3>@Products.UtilizandoUltimo</div>
                </div>

                <div class="ms-layer" style="left:825px; top:270px;" data-delay="400" data-type="hotspot" data-align="right">
                    <div class="product-tt"><h3>@Products.Multiplataforma</h3>@Products.CompatibleSistemas  </div>
                </div>
            </div>
                
            <!-- SLIDE #05 ESTACIONES TRABAJO-->
            <div class="ms-slide" style="background-color: #fff;">
                <img src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/lineas/ET.jpg")" alt="lorem ipsum dolor sit" />
                <h3 class="ms-layer" style="left:230px; top:100px;" data-effect="left(100)" data-delay="0" data-ease="easeOutQuad">@Products.EstacionesTrabajo</h3>

                <p class="ms-layer MyFontObscura" style="left:230px; top:150px;" data-effect="left(100)" data-delay="100" data-ease="easeOutQuad">
                    @Products.ProductoDesarrollado<br />@Products.VisualizacionProcesamiento <strong>@Products.Imagenes</strong> <br /><strong>@Products.DiagnosticasDicom2 </strong>@Products.DiagnosticasDicom <br /> @Products.DistribuirResultadosEstudios
                </p>

                @*<div class="ms-layer" style="left:150px; top:280px;" data-effect="left(100)" data-delay="200" data-ease="easeOutQuad">
                    <a href="#portfolio" class="p-button colored" onclick="return SimulaProjectFilter('projects-filter-estaciones');">Ver Modelos</a>
                </div>*@

                <div class="ms-layer" style="left:1000px; top:85px;" data-delay="300" data-type="hotspot" data-align="left">
                    <div class="product-tt"><h3>@Products.MonitoresDiagnosticos</h3>@Products.MonitoresDiagnosticosAlta<br />@Products.Opciones3mp</div>
                </div>

                <div class="ms-layer" style="left:810px; top:65px;" data-delay="400" data-type="hotspot" data-align="right">
                    <div class="product-tt"><h3>@Products.MultiModalidad</h3>@Products.HerramientasMasto <br /> @Products.MedicinaNuclear <br /> @Products.RadiografiaUltrasonido</div>
                </div>

                <div class="ms-layer" style="left:630px; top:90px;" data-delay="400" data-type="hotspot" data-align="right">
                    <div class="product-tt"><h3>@Products.Reportes</h3>@Products.ModuloReportes<br />@Products.DistribuirResultadosEstudios</div>
                </div>
            </div>

            <!-- SLIDE #06 PUBLICADORES-->
            <div class="ms-slide" style="background-color: #fff;">
                <img src="@Url.Content("~/Content/masterslider/blank.gif")" data-src="@Url.Content("~/Content/images/lineas/PL.jpg")" alt="lorem ipsum dolor sit" />
                <h3 class="ms-layer" style="left:250px; top:80px;" data-effect="left(100)" data-delay="0" data-ease="easeOutQuad">@Products.PublicadoresCD</h3>

                <p class="ms-layer MyFontObscura" style="left:250px; top:130px;" data-effect="left(100)" data-delay="25" data-ease="easeOutQuad">
                    @Products.ProductoCreado <br /><strong>@Products.ImagenesDiagnosticas</strong> @Products.BajoCosto <br />@Products.PermiteGrabarDicom <br />@Products.ResultadosEstudioCD <br />@Products.VisualizadorMulti <br /> @Products.WindowsMac
                </p>

                <div class="ms-layer" style="left:250px; top:270px;" data-effect="left(100)" data-delay="35" data-ease="easeOutQuad">
                    <a href="#portfolio" class="p-button colored" onclick="return SimulaProjectFilter('projects-filter-publicadores');">@Products.VerModelos</a>
                </div>

                <div class="ms-layer" style="left:740px; top:220px;" data-delay="300" data-type="hotspot" data-align="left">
                    <div class="product-tt"><h3>@Products.Caratula</h3>@Products.ImpresionEtiquetas</div>
                </div>

                <div class="ms-layer" style="left:850px; top:180px;" data-delay="400" data-type="hotspot" data-align="right">
                    <div class="product-tt"><h3>@Products.Velocidad</h3>@Products.GrabadoDiscos</div>
                </div>

                <div class="ms-layer" style="left:850px; top:100px;" data-delay="400" data-type="hotspot" data-align="right">
                    <div class="product-tt"><h3>@Products.Necesidades</h3>@Products.Publicadores20y100<br />@Products.UnidadesGrabado</div>
                </div>
            </div>
        </div>
    </div>
</section>