﻿@using System.Web.Optimization

<!-- LOAD CSS -->
@Styles.Render("~/Content/css/sitio.css")
@Styles.Render("~/Content/css/skin.css")


<link href='https://fonts.googleapis.com/css?family=Raleway:100,300,600,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:600,800' rel='stylesheet' type='text/css'>

@Scripts.Render("~/Content/js/jqueryScrips.js")


<script>
    var cmr = {
        url: {
            base: '@Url.Content("~")'
        }
    };
</script>