﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members


<div class="wrapper-configuracion">
    <div style=" height: 100%; " class="panel-botones-menu">
        <div style="  display: table; vertical-align: middle; height:100%; width:100%">
            <div style="display: table-cell; vertical-align: middle;  ">
                <ul class="ca-menu cc_menu">

                    <li>
                        <a id="itemGeneral" class="link-menu-config">
                            <div class="ca-icon icon icon-configuracion"></div>
                            <div class="ca-content">
                                <h2 class="ca-main">@Configuracion.General</h2>
                                <h3 class="ca-sub">@Configuracion.GeneralDesc</h3>

                            </div>
                        </a>
                    </li>

                    <li>
                        <a id="itemUsuarios" class="link-menu-config">
                            <div class="ca-icon fa fa-user"></div>
                            <div class="ca-content">
                                <h2 class="ca-main">@Configuracion.Usuarios</h2>
                                <h3 class="ca-sub">@Configuracion.UsuariosDesc</h3>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a id="itemContactos" class="link-menu-config">
                            <div class="ca-icon  icon icon-contactos"></div>
                            <div class="ca-content">
                                <h2 class="ca-main">@Configuracion.Contactos</h2>
                                <h3 class="ca-sub">@Configuracion.ContactosDesc</h3>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a id="itemInstalaciones" class="link-menu-config">
                            <div class="ca-icon fa fa-building"></div>
                            <div class="ca-content">
                                <h2 class="ca-main">@Configuracion.Instalaciones</h2>
                                <h3 class="ca-sub">@Configuracion.InstalacionesDesc</h3>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>


    <div id="contenido" class="ca-contenido-config" style=" overflow: hidden; z-index: 1;">

        <div class="ca_content_itemGeneral">
            <div>
                <h2 class="titulo">@Configuracion.General</h2>
                <div id="General" class="innerData"></div>
            </div>
        </div>

        <div class="ca_content_itemUsuarios">
            <div>
                @*<h2 class="titulo">@Configuracion.Usuarios</h2>*@
                <div id="confUsu" class="innerData" style="padding: 0"></div>
            </div>
        </div>

        <div class="ca_content_itemContactos">
            <div>
                <h2 class="titulo">@Configuracion.Contactos</h2>
                <div id="confContactos" class="innerData"></div>
            </div>
        </div>

        <div class="ca_content_itemInstalaciones">
            <div>
                <h2 class="titulo">@Configuracion.Instalaciones</h2>
                <div id="confInstalaciones" class="innerData"></div>
            </div>
        </div>

    </div>
</div>