﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@using IDigitales.Pagina.Web.Controllers.Helpers
@using IDigitales.Pagina.Web.Data.Entidades.Poco
@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.Rutas>


<div class="contenedor-config">
    <fieldset class="idigitales-fielset" style="height: 93%; margin-top:10rem">
        <div class="idigitales-fielset-title">
            <label class="idigitales-form-label">@Configuracion.Rutas</label>

        </div>
        <div id="datosConf" class="confPanelGeneral"  style="margin-top: 10rem; min-height: 150rem;">

           
                @foreach ( var r in Model)
                {
                    <div class="idigitales-renglon">
                        <div class="idigitales-col-12">
                            <div style="width: 100%">
                                <span class="idigitales-form-label colorAzul">@r.Descripcion:</span>
                                <input type="text" class="ruta" id="RutaAplicaciones" data-tipo="@r.Tipo" data-des="@r.Descripcion" value="@r.Directorio"/>
                            </div>
                        </div>
                    </div>
                }

           
        </div>

    </fieldset>

    <div class="idigitales-contenedor-btn-der" style="margin-top: 10px;">
        <button type="button" id="btnGuardar" class="idigitales-boton idigitales-boton-chico">@Configuracion.Guardar</button>
    </div>

</div>