﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@using IDigitales.Pagina.Web.Controllers.Helpers
@model  IDigitales.Pagina.Web.Data.Modelos.UsuariosModel


@if (Model != null)
{
    if (Model.Usuarios != null && Model.Usuarios.Any())
    {
        foreach (IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios.EnumUsuarioTipo tipo in
            (IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios.EnumUsuarioTipo[])Enum.GetValues(typeof(IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios.EnumUsuarioTipo)))
        {
            var usuarios = Model.Usuarios.Where(u => u.Tipo == tipo).OrderBy(u => u.Nombre);
            if (usuarios != null && usuarios.Count() > 0)
            {
                <h4>@tipo.ToString()</h4>
                foreach (var usu in usuarios)
                {
                <div id="@usu.IdUsuario" class="userblock_hl">
                    <div class="usuarioOpciones">
                        <div class="dropdown">
                            <div class="dropbtn"> <i class="fa fa-ellipsis-h"></i></div>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="#">
                                    <i data-id="@usu.IdUsuario" data-opcion="editar" class="fa fa-pencil"></i>Editar
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i data-id="@usu.IdUsuario" data-opcion="vistas" class="fa fa-list-alt"></i>Vistas permisos
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i data-id="@usu.IdUsuario" data-opcion="eliminar" class="fa fa-list-alt"></i>Eliminar
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="usuarioImg icon icon-usuario" style=""></div>

                    <div class="usuarioInfo">
                        <span class="blocknameuser_hl">
                            <strong>@usu.Nombre</strong>
                        </span>
                    </div>
                </div>



                    }
                }
            }
    }
    else
    {

        @Html.Hidden("HayMasRegistros", Model.HayMasRegistros);
    }


}
else
{
    <label class="NoElementos">@Configuracion.NoUsuarios</label>
}