﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@using IDigitales.Pagina.Web.Controllers.Helpers
@model IDigitales.Pagina.Web.Data.Modelos.UsuariosVistasPermisosModel




<style>
    #listawidget .wd-icono > [class^="icon-i"]:before,
    #listawidget .wd-icono > [class*=" icon-i"]:before {
        font-family: 'webfont-medical-icons' !important;
    }
</style>

<div id="modalConfigUsuarios">

    <label id="titulo" class="hide">@Configuracion.Usuarios</label>

    <!--Datos Producto-->
    <div id="contDatos" style="border: none; padding: 0" class="idigitales-contenedor-form" data-elemento="@Model.ToJson()">

        @*<div class="idigitales-fielset-title">
            <label class="idigitales-form-label" style="margin-left: 10rem">SeleccioneWidget</label>
        </div>*@
        <section class="sectionTabuladoresConfiguracionExp">
            @{
                var tmod = 0;
                var smod = "#modulo_Vistas:checked ~ nav:after {top:0rem;}";
                var smod2 = "#modulo_Vistas:checked ~ nav:after {top:80rem;}";
                var smod3 = "#modulo_Vistas:checked ~ nav:after {top:160rem;}";
                var smod4 = "#modulo_Vistas:checked ~ nav:after {top:240rem;}";
                var smod5 = "#modulo_Vistas:checked ~ nav:after {top:320rem;}";
                var smod6 = "#modulo_Vistas:checked ~ nav:after {top:400rem;}";
                tmod = tmod + 80;
            }
            <style>
                    @smod
            </style>
            <input class="tabuladoresConfiguracionModulo" type="radio" id="modulo_Vistas" value="Vistas" name="TConfiguracionModulo" />
            <style>
                @smod2
            </style>
            <input class="tabuladoresConfiguracionModulo" type="radio" id="modulo_Permisos" value="Permisos" name="TConfiguracionModulo" />
            <style>
                @smod3
            </style>
            <input class="tabuladoresConfiguracionModulo" type="radio" id="modulo_Aplicaciones" value="Aplicaciones" name="TConfiguracionModulo" />
            <style>
                @smod4
            </style>
            <input class="tabuladoresConfiguracionModulo" type="radio" id="modulo_Instalaciones" value="Instalaciones" name="TConfiguracionModulo" />
            <style>
                @smod5
                </style>
            <input class="tabuladoresConfiguracionModulo" type="radio" id="modulo_Categorias" value="Categorias" name="TConfiguracionModulo" />
                 <style>
                @smod6
                </style>
            <input class="tabuladoresConfiguracionModulo" type="radio" id="modulo_GetType().GetProperties()" value="Notificaciones" name="TConfiguracionModulo" />
                  
            <nav class="navTabuladoresConfiguracionModulo">

                <label id="labelTab_Vistas" for="modulo_Vistas" class='fa fa-list-alt iconSizeConfiguracionModulo'>
                    <span>Vistas</span>
                </label>
                <label id="labelTab_Permisos" for="modulo_Permisos" class='fa fa-check-square-o iconSizeConfiguracionModulo'>
                    <span>Permisos</span>
                </label>
                <label id="labelTab_Aplicaciones" for="modulo_Aplicaciones" class='fa fa-check-square-o iconSizeConfiguracionModulo'>
                    <span>Aplicaciones</span>
                </label>
                <label id="labelTab_Instalaciones" for="modulo_Instalaciones" class='fa fa-check-square-o iconSizeConfiguracionModulo'>
                    <span>Instalaciones</span>
                </label>
                <label id="labelTab_Categorias" for="modulo_Categorias" class='fa fa-check-square-o iconSizeConfiguracionModulo'>
                    <span>Categorías</span>
                </label>
                <label id="labelTab_Notificaciones" for="modulo_GetType().GetProperties()" class='fa fa-check-square-o iconSizeConfiguracionModulo'>
                    <span>Notificaciones</span>
                </label>

            </nav>

            <article class='articleTabuladoresConfiguracionWidget' id="articulo_Vistas">
                <div id="listaVista">

                    @foreach (var v in Model.Vistas)
                    {
                        <div class="idigitales-renglon permiso" id="@v.IdVista" data-id="@v.IdVista">
                            <div class="idigitales-col-2">
                                <div class="activoWrap">
                                    <label class="label_hl">
                                        <input class="eActivo" data-campo="activo_@v.IdVista" type="checkbox" id="activo_@v.IdVista" name="activo_@v.IdVista" onchange="">
                                    </label>
                                </div>
                            </div>
                            <div class="idigitales-col-8 wd-texto">
                                <span class="idigitales-input-group subtexto" title=" "></span>
                                <span class="idigitales-input-group texto" title=" ">@v.Nombre</span>
                            </div>

                        </div>
                    }
                </div>
            </article>

            <article class='articleTabuladoresConfiguracionWidget' id="articulo_Permisos">
                <div id="listaPermisos">

                    @foreach (var p in Model.Permisos)
                    {
                        <div class="idigitales-renglon permiso" id="@p.IdPermiso" data-id="@p.IdPermiso">
                            <div class="idigitales-col-2">
                                <div class="activoWrap">
                                    <label class="label_hl">
                                        <input class="eActivo" data-campo="activo_@p.IdPermiso" type="checkbox" id="activo_@p.IdPermiso" name="activo_@p.IdPermiso" onchange="">
                                    </label>
                                </div>
                            </div>
                            <div class="idigitales-col-8 wd-texto">
                                <span class="idigitales-input-group subtexto" title=" ">@p.Descripcion</span>
                                <span class="idigitales-input-group texto" title=" ">@p.Nombre</span>
                            </div>
                        </div>
                    }
                </div>
            </article>

            <article class='articleTabuladoresConfiguracionWidget' id="articulo_Aplicaciones">
                <div id="listaAplicaciones">

                    @foreach (var p in Model.Aplicaciones)
                    {
                        <div class="idigitales-renglon permiso" id="@p.IdAplicacion" data-id="@p.IdAplicacion">
                            <div class="idigitales-col-2">
                                <div class="activoWrap">
                                    <label class="label_hl">
                                        <input class="eActivo" data-campo="activo_@p.IdAplicacion" type="checkbox" id="activo_@p.IdAplicacion" name="activo_@p.IdAplicacion" onchange="">
                                    </label>
                                </div>
                            </div>
                            <div class="idigitales-col-8 wd-texto">
                                <span class="idigitales-input-group texto" title=" ">@p.Nombre</span>
                            </div>
                        </div>
                    }
                </div>
            </article>
            <article class='articleTabuladoresConfiguracionWidget' id="articulo_Instalaciones">
                <div id="listaInstalaciones">

                    @foreach (var p in Model.Instalaciones)
                    {
                        <div class="idigitales-renglon permiso" id="@p.Id" data-id="@p.Id">
                            <div class="idigitales-col-2">
                                <div class="activoWrap">
                                    <label class="label_hl">
                                        <input class="eActivo" data-campo="activo_@p.Id" type="checkbox" id="activo_@p.Id" name="activo_@p.Id" onchange="">
                                    </label>
                                </div>
                            </div>
                            <div class="idigitales-col-8 wd-texto">
                                <span class="idigitales-input-group texto" title=" ">@p.Tag</span>
                            </div>
                        </div>
                    }
                </div>
            </article>
            
            
            <article class='articleTabuladoresConfiguracionWidget' id="articulo_Categorias">
                <div id="listaCategorias">

                    @foreach (var p in Model.Categorias)
                    {
                        <div class="idigitales-renglon permiso" id="@p.Id" data-id="@p.Id">
                            <div class="idigitales-col-2">
                                <div class="activoWrap">
                                    <label class="label_hl">
                                        <input class="eActivo" data-campo="activo_@p.Id" type="checkbox" id="activo_@p.Id" name="activo_@p.Id" onchange="">
                                    </label>
                                </div>
                            </div>
                            <div class="idigitales-col-8 wd-texto">
                                <span class="idigitales-input-group texto" title=" ">@p.Nombre</span>
                            </div>
                            <div class="idigitales-col-2">
                                <span  class="fa fa-star icono-responsable" title="Responsable"></span>
                            </div>
                        </div>
                    }
                </div>
            </article>

            <article class='articleTabuladoresConfiguracionWidget' id="articulo_Notificaciones">
                <div id="listaNotificaciones">

                    @foreach (var property in Model.GetType().GetProperties())
                {
          <!--          if (property.Name != "None" && property.Name != "Total" && .property != "Flag"
            && IDigitales.Pagina.Web.Data.Entidades.Poco.UsuariosNotificationsConfiguration.RequiresNotification(property.Name, ViewBag.User as IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios))
        {-->
                        <div class="idigitales-renglon permiso" id="" data-id="">
                            <div class="idigitales-col-2">
                                <div class="activoWrap">
                                    <label class="label_hl">
                                        @IDigitales.Pagina.Web.Data.Entidades.Poco.UsuariosNotificationsConfiguration.NotificationEnumDisplay(property.Name)
                                        <input class="eActivo" data-campo="activo_" type="checkbox" id="activo_" name="activo_" onchange="">
                                    </label>
                                </div>
                            </div>
                            <div class="idigitales-col-8 wd-texto">
                                <span class="idigitales-input-group texto" title=" "> @property.Name</span>
                            </div>
                            <div class="idigitales-col-2">
                                <span  class="fa fa-star icono-responsable" title="Responsable"></span>
                            </div>
                        </div>
                       <!-- }-->
                    }
                </div>

            </article>

             
        </section>

        <!--Botones Pie de pagina-->
        <div class="idigitales-contenedor-btn-der" style="margin: 10rem">
            <button type="button" id="btnGuardarMod" class="idigitales-boton idigitales-boton-chico">@Configuracion.Guardar</button>
            <button type="button" id="btnCancelarMod" class="idigitales-boton idigitales-boton-chico">@Configuracion.Cancelar</button>
        </div>

    </div>

    <div style="display: none" id="plantillaRenglon">

        <div class="idigitales-renglon exp-wd" id="">
            <input class="eIdConfiguracion" type="hidden">
            <input class="eIdModulo" type="hidden">
            <input class="eIdWidget" type="hidden">
            <input class="ePosicion" type="hidden">
            <div class="idigitales-col-1">
                <span class="wd-icono" data-original-title="" title="">
                    <i class=""> </i>
                </span>
            </div>
            <div class="idigitales-col-8 wd-texto">
                <span class="idigitales-input-group texto" title=" "></span>
            </div>
            <div class="idigitales-col-2 fin-orden-celda fin-celda-centrado idigitales-group-height24">
                <div class="activoWrap">
                    <label class="label_hl">
                        Activo
                        <input class="eActivo" data-campo="activo" type="checkbox" id="activo" name="activo" onchange="" checked="">
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>