﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members




<div class="contenedor-usuarios pagina-panel">
    <div class="titulo-barra">
        <div class="titulo-label">
            <span class="titulo-icon">
                <i class="fa fa-dropbox"></i>
            </span>
            <h3 class="titulo-texto">
                @Configuracion.Usuarios
            </h3>
        </div>
        <div class="boton" id="btnNuevoUsuario">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
        </div>

    </div>
  
    <div class="idigitales-renglon">
        <div class="idigitales-col-4" style="margin-right: 25rem">
            <input type="text" id="busquedaNombre" placeholder="@Configuracion.Usuario" class="idigitales-form-label" style="height: 20rem" />
        </div>
  
        <div class="idigitales-col-3" style="margin-right: 15rem">
            <select id="busquedaTipo" class="multiple-select ctrlSelect2" data-placeholder="@Configuracion.Tipo" required></select>
        </div>
        
        <div class="idigitales-col-3">
            <select id="busquedaInstalacion" class="multiple-select ctrlSelect2" data-placeholder="@Configuracion.Instalacion" required></select>
        </div>
    </div>
        <div id="datosConf" class="listaUsuarios" >


        </div>
    @*<fieldset class="idigitales-fielset" style="height: 100%; margin-top: 10rem"></fieldset>*@
</div>