﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@using IDigitales.Pagina.Web.Controllers.Helpers
@using Newtonsoft.Json
@model IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios


<div id="modalUsuarios">
    <label class="hide" id="titulo">@Configuracion.Usuario</label>
    
    <fieldset class="idigitales-fielset" id="contDatos"  data-elemento="@Model.ToJson()">
        @Html.Hidden("idUsuario", "0")
        <div class="idigitales-fielset-title">
            <label class="idigitales-form-label">@Configuracion.InfoUsuario</label>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-12">
                <label class="idigitales-form-label">@Configuracion.Nombre</label>
                <input type="text" id="nombre" class="idigitales-form-input" placeholder="@Configuracion.Nombre" value="" required="" />
            </div>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-6">
                <label class="idigitales-form-label">@Configuracion.Password</label>
                <input type="password" id="pass" class="idigitales-form-input" placeholder="@Configuracion.Password" value="" required="" />
            </div>
            <div class="idigitales-col-6">
                <label class="idigitales-form-label">@Configuracion.Confirmar</label>
                <input type="password" id="confirmacion" class="idigitales-form-input" placeholder="@Configuracion.Confirmar" value="" required />

            </div>
        </div>
        <div class="idigitales-renglon" id="datosTipo">
            
            <div class="idigitales-col-6">
                <label class="idigitales-form-label">@Configuracion.Tipo</label>
                <select id="tipo" class="select-adjust-container ctrlSelect2" data-placeholder="@Configuracion.Tipo" required></select>
            </div>
            <div class="idigitales-col-3">
                <label class="idigitales-form-label" style="width: 30%;"></label>
                <div id="activoWrap">
                    <label class="label_hl">
                        @Configuracion.Activo
                        <input data-campo="activo" type="checkbox" id="activo" name="activo" onchange="">
                    </label>
                </div>
            </div>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-6">
                <label class="idigitales-form-label">@Configuracion.Email</label>
                <input type="email" id="email" class="idigitales-form-input" placeholder="@Configuracion.Email" value="" required="" />
            </div>
           
        
            <div class="idigitales-col-6">
                 <label class="idigitales-form-label">Telefono</label>
                <input type="text" id="telefono" class="idigitales-form-input" placeholder="Telefono" value="" required="" />
            </div>
           
        </div>
    </fieldset>

    <div class="idigitales-contenedor-btn-der">
        <button id="btnGuardarMod" class="idigitales-boton-chico idigitales-boton" type="button">@Configuracion.Guardar</button>
        <button id="btnCancelarMod" class="idigitales-boton-chico idigitales-boton" type="button">@Configuracion.Cancelar</button>
    </div>

</div>