﻿@import '../_coloresBase.scss';
body {
    background: $gray0;
}

/***************************************************
                    Botones
***************************************************/
.idigitales-boton {
    background: $green;
    color: $grayBlue;
}

.idigitales-boton:hover {
    background: $greenDark;
    color: $blanco;
}

.idigitales-boton-deshabilitado, 
.idigitales-boton-deshabilitado:hover {
    background: #5d5d5d;
    color:#FFFFFF; 
}


/***************************************************
                    Paneles
***************************************************/
.idigitales-panel {
    background: #484848;
    border: none;
}

.idigitales-panel-encabezado {
    background: #686868;
    color: #FFFFFF;
}

.idigitales-panel-contenido {
    background: #f3f3f3;
}


.idigitales-panel-herramientas > a {
     /*background: white;*/
     color: #2A2A2A;
}

.idigitales-panel-herramientas > a:hover {
     background: darkgray;
     color: white;
}

/***************************************************
                    Paneles
***************************************************/
.idigitales-subpanel-encabezado, .idigitales-subpanel-encabezado.subpanel-head-min {
    background: #d0cfce;
    color: #52596b;
}

.idigitales-subpanel-contenido, .idigitales-subpanel-encabezado.subpanel-body-min {
    background: #f3f3f3;
}

.idigitales-subpanel-encabezado.subpanel-head-max {
    background: #c9d0e0;
}

.idigitales-subpanel-encabezado.subpanel-body-max {
    background: #c9d0e0;
    opacity:0.7;
} 



.idigitales-seccion {
    border: 1rem solid white;
}

/***************************************************
                    Formularios
***************************************************/

.idigitales-subtitulo {
    background-color: #5d5d5d;
}


.idigitales-subtitulo-botones > .idigitales-subtitulo-boton {
    background: #ACACAD;
    color: white;
}

.idigitales-subtitulo-botones > .idigitales-subtitulo-boton:hover {
    background: #666666;
    color: white;
}


.idigitales-form-input.readonly {
    background: #5d5d5d;
    color: #000000;
}

.idigitales-form-input:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1rem 1rem rgba(0,0,0,.075),0 0 8rem rgba(102,175,233,.6);
    box-shadow: inset 0 1rem 1rem rgba(0,0,0,.075),0 0 8rem rgba(102,175,233,.6);
}
.idigitales-contenedor-form {
    border: 1rem solid #5d5d5d;
}
.idigitales-form-input {
    border: 1rem solid #a7a9ac;
    color: #ffffff;
    background: transparent;
}
.idigitales-form-inputIcon {
    border: 1rem solid #a7a9ac !important;
    background: transparent !important;
    color: #FFFFFF !important;    
}

.idigitales-form-input-icon {
    color: #555;
    background-color: #a7a9ac;
    border: 1rem solid #a7a9ac;
}

.idigitales-form-label,
.idigitales-form-icon  {
    color: #ffffff;
}
.idigitales-form-textarea {
    border: 1rem solid #a7a9ac;
    color: #ffffff;
    background: transparent;
}
.idigitales-form-textarea.readonly {
    background: #5d5d5d;
    color: #000000;
}

/***************************************************
               Grupos de inputs
***************************************************/


.idigitales-input-group-lbl {
    color: aliceblue;
    background-color: #2A2A2A;
    border: 1rem solid #ccc;
}


/***************************************************
              Tabuladores
***************************************************/

.idigitales-tab-seccion  {
  background: #484848;  
  border: 2rem solid #7ad8f9;
}

.idigitales-tab-nav {
  background: #7ad8f9;  
}

.idigitales-tab-nav:after {
  background: #FFFFFF;
}
.idigitales-tabnav-icon{
    color: #f1f2f2;    
}

.idigitales-tabnav-icon:hover {
    color: rgba(0,0,0,.5);
}

.idigitales-tab-articulo:before {
  color: rgba(255,255,255,.45) ; 
}

.idigitales-tabnav-icon.activo
/*.idigitales-tab:checked ~ nav label*/
{
  color:#79ABB5;
}

.idigitales-tab-deshabilitado,
.idigitales-tab-deshabilitado:hover{
    color: rgb(72, 72, 72);
    background: rgba(93, 93, 93, 0.66);
    opacity: .8;
}


/***************************************************
              Panel Checbox/radio
***************************************************/

.idigitales-panelseleccion-label { 
    color: rgb(198, 198, 198);
}

.idigitales-panelseleccion-inner:before {
    background-color: #4ABAD1;
}

.idigitales-panelseleccion-inner:after {
    background-color: rgb(42, 42, 42); 
}

.idigitales-panelseleccion-checkbox:checked + .idigitales-panelseleccion-label .idigitales-panelseleccion-icon,
.idigitales-panelseleccion-checkbox:checked + .idigitales-panelseleccion-label .idigitales-panelseleccion-label-text {
    color: #222222 !important;
} 

.digitales-icono-eliminar{border:1rem solid #7AD8F9; background:#7AD8F9; color:#000;}




/***************************************************
           Fieldset
***************************************************/


.idigitales-fielset {
    border: 1rem solid #bcbec0;
}

.idigitales-fielset-title {
    border-bottom: 1px solid #d3d3d3;
    background-color: #484646;
}

.idigitales-fielset-title > label {
    color: White;
}


.idigitales-fielset-titleBtns > div {
    background: #ACACAD;
    color: #fff;
}

.idigitales-fielset-title-tools-minimize:before,
.idigitales-fielset-title-tools-maximize:before {
    color: #bcbec0;
}



/***************************************************
             Notificacion
***************************************************/

.idigitales-notificacion {
    -webkit-box-shadow: 0 0 24rem -1rem rgba(56, 56, 56, 1);
    -moz-box-shadow: 0 0 24rem -1rem rgba(56, 56, 56, 1);
    -ms-box-shadow: 0 0 24rem -1rem rgba(56, 56, 56, 1);
    box-shadow: 0 0 24rem -1rem rgba(56, 56, 56, 1);
}
.idigitales-notificacion.mensaje {
    background-color: #969595;
    color: #F0F0F0;
}
.idigitales-notificacion.error {
    background-color: orangered;
    color: #F0F0F0;
}
/************* panel loader  *************/
.idigitales-loader {
    background-color:#696969;
}
 .idigitales-loader-progress {
    background-color: #424040;
}

/************************************/
/*           ANIMACIONES            */
/************************************/

@keyframes idigitales-latidoslight {
    0% {
        box-shadow: none;
    }

    10% {
        box-shadow: 0 0 5rem 5rem rgba(122,216,249,.2);
    }

    20% {
        box-shadow: 0 0 5rem 5rem rgba(122,216,249,.4);
    }

    30% {
        box-shadow: 0 0 5rem 5rem rgba(122,216,249,.6);
    }

    40% {
        box-shadow: 0 0 5rem 5rem rgba(122,216,249,.8);
    }

    50% {
        box-shadow: 0 0 5rem 5rem rgba(122,216,249,1);
    }

    60% {
        box-shadow: 0 0 5rem 5rem rgba(122,216,249,.8);
    }

    70% {
        box-shadow: 0 0 5rem 5rem rgba(122,216,249,.6);
    }

    80% {
        box-shadow: 0 0 5rem 5rem rgba(122,216,249,.4);
    }

    90% {
        box-shadow: 0 0 5rem 5rem rgba(122,216,249,.2);
    }

    100% {
        box-shadow: none;
    }
}