﻿/***************************************************
        Definicion de Fuentes
***************************************************/

@font-face {
 font-family: "Thonburi-Regular";
 src: url('../fonts/font-titilliumweb/titilliumweb-regular-webfont.eot');
 src: url('../fonts/font-titilliumweb/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/font-titilliumweb/titilliumweb-regular-webfont.woff') format('woff'),
     url('../fonts/font-titilliumweb/TitilliumWeb-Regular.ttf') format('truetype'),
     url('../fonts/font-titilliumweb/titilliumweb-regular-webfont.svg#SortsMillGoudyRegular') format('svg');
 
}
@font-face {
 font-family: "Thonburi-Bold";
 src: url('../fonts/font-titilliumweb/titilliumweb-bold-webfont.eot');
 src: url('../fonts/font-titilliumweb/titilliumweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/font-titilliumweb/titilliumweb-bold-webfont.woff') format('woff'),
     url('../fonts/font-titilliumweb/TitilliumWeb-Bold.ttf') format('truetype'),
     url('../fonts/font-titilliumweb/titilliumweb-bold-webfont.svg#SortsMillGoudyRegular') format('svg');
}
@font-face {
 font-family: "Thonburi-Black";
 src: url('../fonts/font-titilliumweb/titilliumweb-black-webfont.eot');
 src: url('../fonts/font-titilliumweb/titilliumweb-black-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/font-titilliumweb/titilliumweb-black-webfont.woff') format('woff'),
     url('../fonts/font-titilliumweb/TitilliumWeb-Black.ttf') format('truetype'),
     url('../fonts/font-titilliumweb/titilliumweb-black-webfont.svg#SortsMillGoudyRegular') format('svg');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/font-awesome/fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('../fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/font-awesome/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/font-awesome/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/font-awesome/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/***************************************************
                Definicion General
***************************************************/


html {
    /*font-size: 1px !important; quite el important por que no dejaba que se redimensionara en resoluciones pequeñas*/
     font-size: 1px;
   overflow:hidden;
}
body {
    font-size: 16rem;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    box-sizing: border-box;
    font-family:Thonburi-Regular;
}


html,body {margin:0;padding:0}


/***************************************************
                    Botones
***************************************************/

.idigitales-boton {
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    text-align: center;
    border: none;
    letter-spacing: 2rem;
    font-size: 13rem;
    height: 30rem;
}

.idigitales-boton:focus {
    outline: none;
    box-shadow: none;
}

.idigitales-boton:hover {
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    text-align: center;
    border: none;
    letter-spacing: 2rem;
    font-size: 13rem;
}


.idigitales-boton-deshabilitado {
    pointer-events: none;
}

.idigitales-boton-icono {
     display: inline-block; 
     margin-bottom: 0; 
     font-weight: normal; 
     text-align: center; 
     vertical-align: middle; 
    -ms-touch-action: manipulation;
     touch-action: manipulation; 
     cursor: pointer; 
     background-image: none; 
     white-space: nowrap; 
     padding: 6rem 12rem; 
     font-size: 14rem; 
     line-height: 1.42857143; 
     border-radius: 4rem; 
     -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.idigitales-boton-chico {
    width: 90rem;
}

.idigitales-boton-mediano {
    width: 130rem;
}
.idigitales-boton-grande {
    width: 160rem;
}

.idigitales-boton-rectangular {
   display: inline-table;
    text-align: center;
    border-radius: 5rem;
    margin-left: 0rem;
    width: 28rem;
    height: 28rem;
}

/***************************************************
          Contenedores de Botones
***************************************************/

.idigitales-contenedor-btn-der,
.idigitales-contenedor-btn-izq {
    line-height: 25rem!important;
}

.idigitales-contenedor-btn-der{
   text-align: right;
   margin-left: 10rem;
    margin-top: 10rem;
}
.idigitales-contenedor-btn-izq{
    text-align: left;
    margin-right: 5rem;
}

.idigitales-contenedor-btn-der .idigitales-boton {
   margin:5rem;
}

.idigitales-contenedor-btn-izq .idigitales-boton {
    margin:5rem;
}


.idigitales-contenedo-boton-modal{
    display: inline-block;
    margin-bottom: 10rem;
    width: 35%;
    text-align: right;
    padding-right: 20rem;
}
.idigitales-contenedo-titulo-modal {
    display: inline-block;
    margin-top: 12rem;
    margin-left: 15rem;
    margin-bottom: 10rem;
    width: 60%;
}
    

/***************************************************
                    Paneles
***************************************************/

.idigitales-panel {
    border-radius: 4rem;
}

.idigitales-panel-encabezado {
    /*border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;*/
    padding: 15rem 15rem;
    font-size: 13rem;
    letter-spacing: 2rem;
}
.idigitales-panel-contenido {
    padding: 10rem 0rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    -webkit-user-select:none;
}
.idigitales-panel-contenido:before,
.idigitales-panel-contenido:after {
  content: " ";
  display: table;
}
.idigitales-panel-contenido:after {
    clear: both;
}

.idigitales-panel-herramientas {
    display: inline-block;
    float: right;
    margin-top: -1rem;
    position: relative;
    padding: 0;
    font-family: FontAwesome;
}

.idigitales-panel-herramientas > a {
    height: 20rem;
    width: 20rem;
    line-height: 20rem;
    float: right;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5rem;
    font-size: 18rem;
    font-weight: lighter !important;
    text-align: center;
    padding-top: 0 !important;
}


.idigitales-panel-herramientas > a.idigitales-panel-icon-cuadrado {
    border-radius: 3rem;
    padding-top: 2rem;
    text-decoration: none;
    font-size: 14rem;
    padding: 3rem;
}

/***************************************************
                    Sub - Paneles
***************************************************/

.idigitales-subpanel-encabezado {
    padding: 10rem 15rem;
    font-size: 13rem;
    letter-spacing: 2rem;
}

.idigitales-subpanel-contenido {
    padding: 2rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    -webkit-user-select: none;
}

.idigitales-subpanel-contenido:before,
.idigitales-subpanel-contenido:after {
    content: " ";
    display: table;
}

.idigitales-subpanel-contenido:after {
    clear: both;
}

/*Dibuja el borde de los formatos*/
.idigitales-seccion {
    padding: 0 !important;
}


/***************************************************
                    Cuadriculas
***************************************************/

.idigitales-renglon {
    display: inline-flex;
    width: 100%;
}

.idigitales-renglon.espacio {
        height: 15rem;
}

.idigitales-col-1, 
.idigitales-col-2,
.idigitales-col-3,
.idigitales-col-4, 
.idigitales-col-5,
.idigitales-col-6,
.idigitales-col-7,
.idigitales-col-8,
.idigitales-col-9,
.idigitales-col-10,
.idigitales-col-11,
.idigitales-col-12
 {
    display: inline-block;
    padding: 5rem;
}

.idigitales-col-1 {
    width: 8.33%; 
}
.idigitales-col-2 {
    width: 16.66%;
}
.idigitales-col-3 {
    width: 25%;
}
.idigitales-col-4 {
    width: 33.33%;
}
.idigitales-col-5 {
    width: 41.66%;
}
.idigitales-col-6 {
    width: 50%;
}
.idigitales-col-7 {
    width: 58.33%;
}
.idigitales-col-8 {
    width: 66.66%;
}
.idigitales-col-9 {
    width: 75%;
}
.idigitales-col-10 {
    width: 83.33%;
}
.idigitales-col-11 {
    width: 91.66%;
}
.idigitales-col-12 {
    width: 100%;
}



/***************************************************
         Cuadriculas - Busqueda
***************************************************/

.idigitales-renglon-tablas {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
}
.idigitales-col-busqueda, 
.idigitales-col-tabla {
    display: inline-block;
    padding: 5rem;
}

.idigitales-col-busqueda {
	flex-basis:25%;
	max-width:25%
}

.idigitales-col-tabla {
    width: 75%;
   flex-basis:75%;
	max-width:75%
}
@media (max-width: 991px) {
    .idigitales-col-busqueda {
         width: 100%;
        flex-basis:100%;
	    max-width:100%
    }
    .idigitales-col-tabla  {
        width: 100%;
        flex-basis:100%;
        max-width: 100%;
        min-height: 400rem;
    }
}

.idigitales-botones-busqueda {
    width: 40%;
}

/***************************************************
                    Formularios
***************************************************/

.idigitales-contenedor-form {
    -ms-border-radius: 2rem;
    border-radius: 2rem;
    padding-bottom: 15rem;
}

/*.idigitales-contenedor-form .idigitales-renglon {
    margin-left: 10rem;
    margin-right: 10rem;
    width: auto;
}*/

.idigitales-contenedor-tab {
    margin-left: 10rem;
}

.idigitales-subtitulo {
    width: 100%;
    margin-bottom: .5%;
    padding-top: 3rem;
    display: flex;
    padding-bottom: 3rem;
}
.idigitales-subtitulo > .idigitales-form-label {
    padding-left: 10rem;
}
.idigitales-fielset-title > label {
 padding-bottom: 5rem;
}
.idigitales-subtitulo > .idigitales-subtitulo-botones {
    text-align: right;
    display: inline-block;
    margin-left: auto;
}

.idigitales-subtitulo-botones > .idigitales-subtitulo-boton {
    height: 20rem;
    width: 20rem;
    font-size: 13rem;
    border-radius: 3rem;
    text-align: center;
    font-size: 14rem;
    line-height: 20rem;
    display: inline-block;
}
.idigitales-subtitulo-botones > .idigitales-subtitulo-boton:hover {
    cursor: pointer;
}

.idigitales-form-label {
    font-size: 12rem;
    text-align: left;
    width: 100%;
    font-weight: normal;
    letter-spacing: 1rem;
    display: inline-block;
}

.idigitales-form-input {
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    border-radius: 5rem;
    padding: 0 10rem;
    width: 100%;
    line-height: 26rem;
    height: 26rem;
    font-size: 12rem;
    box-sizing: border-box;
}

.idigitales-form-textarea {
    border-radius: 5rem;
    resize: none;
    font-size: 12rem;
    width: 100%;
}

.idigitales-form-inputIcon {
    -ms-border-top-left-radius: 5rem;
    border-top-left-radius: 5rem;
    -ms-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -ms-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -ms-border-bottom-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    padding: 0rem !important;
    line-height: 26rem;
    height: 26rem;
    font-size: 12rem;
    width: 100%;
}


.idigitales-form-input-icon,.input-group-addon {
    -ms-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -ms-border-top-right-radius: 5rem;
    border-top-right-radius: 5rem;
    -ms-border-bottom-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    -ms-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    display: table-cell;
    padding: 0 12rem;
    font-size: 14rem;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}

.idigitales-form-input.readonly {
    border: none;
}

.idigitales-form-icon, .idigitales-form-icon:hover {
    text-decoration: none;
    cursor: pointer;
}


.idigitales-form-textarea.readonly {
     border: none;
}

/***************************************************
               Grupos de inputs
***************************************************/
.idigitales-input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-top: 5rem;
}

.idigitales-input-group-lbl {
    font-size: 12rem;
    min-width: 100rem;
    text-align: left;
    padding: 1rem 3rem;
    font-weight: normal;
    line-height: 1;
    border-radius: 4rem;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    width: 1%;
}
.idigitales-form-input:focus {
    outline: 0;
}

.idigitales-input-group-lbl:first-child {
    border-right: 0;
}

.idigitales-input-group  .idigitales-form-input {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    height: 34rem;
    min-width: 128rem;
}
.idigitales-input-group  .idigitales-form-input:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.idigitales-input-group .idigitales-form-input:first-child, 
.idigitales-input-group-lbl:first-child{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.idigitales-input-group .idigitales-form-select {
    width:100%;
    display:table-cell;
}

@media (min-width: 990px) and (max-width: 1260px) {

    .idigitales-input-group-lbl  {
        min-width: 15rem !important;
        padding: 0rem !important;
        font-size: 0rem !important;
    }
}

.idigitales-input-group .idigitales-input-group.fecha > .idigitales-form-input{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 88rem;
    width: 100%;

}

.idigitales-input-group .idigitales-input-group.fecha {
    margin-top: 0;
    width: 100%;
}


/***************************************************
              Tabuladores
***************************************************/

.idigitales-tab-seccion {
  min-width: 320rem;
  min-height: 300rem;
  margin: 10rem auto;
  padding:0;
  position: relative;
  /*padding-right: 50rem;*/
}

.idigitales-tab{
    display:none;
}


.idigitales-tab-nav * {margin:0;padding:0;border: 0 none;position: relative;}

.idigitales-tab-nav {
  width: 80rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;   
}



.idigitales-tab-nav:after {
  content:'';
  width: 80rem;
  height: 80rem;
  position: absolute;
  left: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  transition: .5s;

}

.idigitales-tab-articulo {
  height: 316rem;
  position: absolute;
  left: 80rem;
  top: 0;
  right: 0;
  transition: .7s;
  transform: scale(0);
  transform-origin: 0% 0%;
  transition-delay: .1s;
}
.idigitales-tab-articulo:before {
  font-size: 40rem;
  font-weight: 100;
  position: absolute;
  top: 10rem;
  left: 10rem;
}

.idigitales-tabnav-cuadrado {
    font-family: Thonburi-Regular !important;
    padding-top: 5rem;
}

.idigitales-tabnav-icon{
    font-size:20rem;
    display: block;
    height: 80rem;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    z-index: 2;
    font-weight:normal !important;
}
.idigitales-tabnav-icon span{
    font-size:11rem;
}


.idigitales-tabnav-icon:before {
  display: block;
  font-size: 30rem;
  z-index: 2;
}

.idigitales-tab-seccion .idigitales-tabnav-icon{
    padding-top: 10rem;
    display: block;
}

.idigitales-tab-deshabilitado,
.idigitales-tab-deshabilitado:hover {
    opacity: .5;
}

/***************************************************
              Panel Checbox/radio
***************************************************/

.idigitales-panelseleccion {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align:center;
    height: 70rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.idigitales-panelseleccion-checkbox {
    display: none;
}

.idigitales-panelseleccion-label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5rem;
    height: 100%;
    max-width: 100%;
    min-height: inherit;
    /* color: #BCBEC0; */
    overflow: hidden;
    table-layout: fixed;
    text-overflow: ellipsis;
}

.idigitales-panelseleccion-inner {
    display: block;
    position: absolute;
    width: 200%;
    height: 100%;
    margin-left: -100%;
}

.idigitales-panelseleccion-inner:before, 
.idigitales-panelseleccion-inner:after {
    display: inline-block; 
    width: 50%;
    height: 100%; 
    content: ""; 
}

 
  
.idigitales-panelseleccion-checkbox:checked + .idigitales-panelseleccion-label .idigitales-panelseleccion-inner {
    margin-left: 0;
} 

.idigitales-panelseleccion-inner:before,
.idigitales-panelseleccion-inner:after {
    background-color: transparent; 
}
/*.idigitales-panelseleccion-inner:before {
    background-color: #79ABB5; 
}

.idigitales-panelseleccion-inner:after {
    background-color: #EEE; 
}*/

/*.idigitales-panelseleccion-checkbox:checked + .idigitales-panelseleccion-label .idigitales-panelseleccion-icon,
.idigitales-panelseleccion-checkbox:checked + .idigitales-panelseleccion-label .idigitales-panelseleccion-label-text {
    color: #fff !important;
}*/ 

.idigitales-panelseleccion-icon,
.idigitales-panelseleccion-label-text {
    display:block;
    position:relative;
    z-index:2;
    font-weight: normal;
}

.idigitales-panelseleccion-label-text {
    font-size: 12rem;
    text-transform: uppercase;
    padding: 5rem;
    width: 100%;
    text-overflow: ellipsis;
    /*word-spacing: 50rem;*/
    overflow: hidden;
    /* outline: 1px solid red; */
}

.idigitales-panelseleccion-icon {
    font-size: 30rem;
    margin: 5rem;
    margin-bottom: -10rem;
}

/***************************************************
              wrapper vertical align middle
***************************************************/

.idigitales-wrap-vertical-center {
    height:100%;
    width:100%;
        vertical-align: middle;
    display:table;

}

.idigitales-inner-vertical-center {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        /* overflow: hidden; */
}
.idigitales-inner-vertical-center > div {
    display:inline-block;
    vertical-align: middle;
}
/***************************************************
             Checkbox
***************************************************/
.idigitales-checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20rem;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}

.idigitales-checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20rem;
    margin-top: 4rem \9;
}

/***************************************************
             SelectList
***************************************************/
.idigitales-selectList{}
.idigitales-selectList-panel.mostrar {
     opacity: 1;
     -webkit-transition: visibility 0s, opacity 0.5s linear;
     -moz-transition: visibility 0s, opacity 0.5s linear;
     -ms-transition: visibility 0s, opacity 0.5s linear;
     -o-transition: visibility 0s, opacity 0.5s linear;
     transition: visibility 0s, opacity 0.5s linear;
     max-height: 200rem;
     z-index: 1;
     visibility: visible;
 }

 
 .idigitales-selectList-panel {
    -ms-border-radius: 10rem;
    border-radius: 10rem;
    border: 2rem solid #AFAFAF;
    -webkit-box-shadow: 0rem 0rem 29rem 0rem rgba(50, 50, 50, 0.39);
    -ms-box-shadow: 0rem 0rem 29rem 0rem rgba(50, 50, 50, 0.39);
    box-shadow: 0rem 0rem 29rem 0rem rgba(50, 50, 50, 0.39);
    background: #ffffff;
    width: 450rem;
    overflow: auto;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    -moz-transition: visibility 0s, opacity 0.5s linear;
    -ms-transition: visibility 0s, opacity 0.5s linear;
    -o-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
    max-height: 200rem;
    z-index: 1;
 }

 .idigitales-selectList-panel .idigitales-form-icon {
     font-size: 13rem;
     padding-left:5rem;
     cursor:pointer
 }

 .idigitales-selectList-panel .idigitales-form-icon:hover {
     font-size: 15rem;
 }

ol.idigitales-selectList-lista {
    font-size:12rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 25rem;
    padding-right: 20rem;
}
ol.idigitales-selectList-lista li { max-height: 27rem }
ol.idigitales-selectList-lista li input { 
    display: inline-block;
    width:47%; 
    height:20rem;
    margin-top: 2rem
}
ol.idigitales-selectList-lista li label {
    width:47%;
    overflow: hidden;
    padding-right: 5rem;
    text-overflow: ellipsis;
    height: 15rem;
    white-space: nowrap;
}

.digitales-icono-eliminar{
    height: 25rem;
    width: 25rem;
    border-radius: 26rem;
    cursor: pointer;
    margin-left: 20%;
    text-align: center;
    font-size: 23rem;
    font-weight: bolder;
    line-height: 25rem;
}

/***************************************************
             Animaciones
***************************************************/

.fa-refresh.animado {
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -ms-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
    .fa-refresh.animado.lento {
    -webkit-animation: spin 2.2s linear infinite;
    -moz-animation: spin 2.2s linear infinite;
    -ms-animation: spin 2.2s linear infinite;
    -o-animation: spin 2.2s linear infinite;
    animation: spin 2.2s linear infinite;
}

    .fa-refresh.animado.rapido {
    -webkit-animation: spin 0.7s linear infinite;
    -moz-animation: spin 0.7s linear infinite;
    -ms-animation: spin 0.7s linear infinite;
    -o-animation: spin 0.7s linear infinite;
    animation: spin 0.7s linear infinite;
}

  
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/***************************************************
             Notificacion
***************************************************/

.idigitales-notificacion {
    width:200rem;
    min-height:40rem;
    opacity: .8;
    -ms-opacity: .8;
    position:absolute;
    position:absolute;
    top: 50%;
    left:45%;
    font-family: Calibri;
    font-size: 15rem;
    padding:10rem;
    text-align:center;
    -ms-border-radius: 5rem;
    border-radius: 5rem;
}

/************* panel loader  *************/

.idigitales-loader {
    height: 2rem;
    width: 100%;
    position: absolute;
    left:0;
    overflow: hidden;
    /* background-color: #ddd; */
    /*background-color: #ddd;*/
    /*background-color: rgba(255, 255, 255, 0.22);*/
    z-index: 2;
}


.idigitales-loader-progress {
  display: block;
  position: absolute;
  content: "";
  left: -200rem;
  width: 200rem;
  height: 4rem; 
  animation: idigitales-loading 2s linear infinite;
}

@keyframes idigitales-loading {
    from {left: -200rem; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

/***************************************************
             Tablero Camas
***************************************************/
    
    .idigitales-tablero-elemento-cama .cama-icono {
        width: 40%;
        display: inline-block;
        margin-bottom: 0;
         font-size: 40rem;
        line-height: 1.3333333;
        border-radius: 10rem;
        text-align: center;
        color: #fff;
    }

   

    .idigitales-tablero-elemento-cama .cama-texto {
        font-size: 15rem;
        display: inline-block;
        color: #9D9C9C;
        margin: 3rem;
    }

    .idigitales-tablero-totales {
        padding-top: 15rem;
        padding-bottom: 12rem;
        text-align: center;
        -ms-border-top-right-radius: 10rem;
         border-top-right-radius: 10rem;
         -ms-border-bottom-right-radius: 10rem;
         border-bottom-right-radius: 10rem;
    }
     .idigitales-tablero-totales .total {
         height: 55rem;
     }
     .idigitales-tablero-totales .total strong {
        font-size: 18rem;
     }

    #datosCamasTablero {
             margin-top: -20rem;
    margin-right: -35rem;
    margin-bottom: -15rem;

     }

/***************************************************
             Lista Camas
***************************************************/
 .lista-row-panel-camas > div {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}
    .lista-row-panel-camas {
    display: table-row;
}
    .lista-miniatura-panel-camas {
    text-align: center !important;
    width: 150rem;
}
.idigitales-contenedor {
    padding: 0;
    margin-bottom: 0;
    border-radius: 5rem;
}
 

.lista-miniatura-panel-camas > div.icono{
    border-radius: 50%;
    width: 57rem;
    height: 57rem;
    overflow: hidden;
    margin: 18rem 5rem;
    font-size: 39rem;
    display: inline-block;
    text-align: center;
}

.lista-miniatura-panel-camas > div.iconoNoInfo{
    width: 57rem;
    height: 57rem;
    overflow: hidden;
    margin: 18rem 5rem;
    font-size: 39rem;
    display: inline-block;
    text-align: center;
}

   .lista-innerBody-panel-camas {
    display: table;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
}

.lista-informacion-panel-camas >div {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13rem;
}


.lista-estado-panel-camas {
    position: absolute;
    right: 0;
    z-index: 2;
    top: 0;
    width: 90rem;
    text-align: center;
    padding: 0 3rem 3rem 3rem;
    border-radius: 0 0 10rem 10rem;
}
.lista-body-panel-camas {
    max-height: 290rem;
    overflow-y: scroll;
}

/***************************************************
           Fieldset
***************************************************/


.idigitales-fielset {
    border: 1rem solid #bcbec0;
    border-radius: 5rem; 
    padding: 0 0 10rem 0;
    overflow: hidden; 
}

.idigitales-fielset >div { 
    padding-left: 15rem;
    padding-right: 15rem;
}