@import '../_coloresBase.scss';

/* -------------------------------- 

Primary style

-------------------------------- */
 
.cd-tabs nav a {
  color: $negro;
  text-decoration: none;
}

/* -------------------------------- 

Main components 

-------------------------------- */
 
 
.cd-tabs {
  /*position: relative;
  width: 90%;
  max-width: 960rem;
  margin: 2em auto;*/
      position: relative;
    padding-top: 45rem;
}
 
 
.cd-tabs nav {
    position: absolute;
    top: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    box-shadow: inset 0 -2rem 3rem rgba(203, 196, 130, 0.06);
}
 
.cd-tabs-navigation {
  width: 360rem; 
}
 
.cd-tabs-navigation li {
  float: left;
  list-style: none;
}

ul.cd-tabs-navigation,
 ul.cd-tabs-content  {

     border: 0;
     margin: 0;
     padding: 0;
     
 }

 ul.cd-tabs-content  {
    height:100%; 
        border: solid 1rem $gray1;
        overflow:auto;
 }


.cd-tabs-navigation a {
    position: relative;
    display: block;
    height: 45rem;
    width: 60rem;
    text-align: center;
    font-size: 12rem;
    /* font-size: 0.75rem; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    color: #c3c2b9;
    padding-top: 18rem;
    /*border: solid 1rem #d4d4d4;*/
    border: solid 1rem $gray1;
    background: #fff;
}
.no-touch .cd-tabs-navigation a:hover {
  color: #29324e;
  background-color: #cdcdcd;
}
.cd-tabs-navigation a.selected {
  background-color: $grayBlueLight !important;
  box-shadow: inset 0 6rem 0 $grayBlue;
  color: $grayBlue;
}
.cd-tabs-navigation a::before {
  /* icons */
  position: absolute;
  top: 12rem;
  left: 50%;
  margin-left: -10rem;
  display: inline-block;
  height: 20rem;
  width: 20rem;
  /*background-image: url("../img/vicons.svg");*/ 
  background-repeat: no-repeat;
}
 
 
.cd-tabs-content {
  background: #ffffff;
}


.cd-tabs-content li {
  display: none;
  padding: 1.4em; 
 
    list-style: none; 
}
  

.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
 height:100%;
}
 
.contenedor-tab{
    height:100%;
    position:relative;
}
 

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
