﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@model List<IDigitales.Pagina.Web.Data.Modelos.ContenidoTabsViewModel>

@if (Model != null)
{
    foreach (var item in Model)
    {
        var nombre = "panel" + item.Categoria;
        var icono = item.Categoria.ToLower() == "imagenes" ? "fa fa-file-image-o" : (item.Categoria.ToLower() == "presentaciones" ? "fa fa-university" : "fa fa-map");
        <div id="@nombre" class="panelDatos idigitales-panel panel-default" data-id="@item.IdCategoria" data-options="footer:'#piePanelBusqueda'">
            <div class="idigitales-panel-encabezado panel-head-max">
                <i class="@icono"></i>
                @item.Categoria
            </div>
            <div class="idigitales-panel-contenido panel-body panel-body-max">
                @foreach (var sub in item.SubCategorias)
                {
                    if (sub.Mostrar)
                    {
                        var subnombre = "subpanel" + sub.IdSubcategoria;
                        <div id="@subnombre" class="panelDatos idigitales-panel panel-default subpanel" data-id="@sub.IdSubcategoria" data-options="footer:'#piePanelBusqueda'">
                            <div class="idigitales-subpanel-encabezado subpanel-head-max">
                                @sub.Subcategoria
                            </div>
                            <div class="idigitales-subpanel-contenido panel-body subpanel-body-max">
                                @foreach (var doc in sub.Documentos)
                                {
                                    var fec = doc.Fecha != null ? ((DateTime)doc.Fecha).ToString("yyyy/MM/dd") : "";

                                    <div class="itemDocumento" id="@doc.IdDocumento" data-id="@doc.IdDocumento">
                                        <div class='item-tab'>
                                            <div class="item-img icon icon-archivo"></div>
                                            <div class="item-ext @doc.clase">@doc.Extension</div>
                                            <div class='item-titulo' title='@doc.Nombre'><strong class="item-nombre">@doc.Nombre</strong><br>@Archivos.Tamano: @doc.Tamanio <br>@Archivos.Fecha: @fec</div>
                                        </div>
                                        <div class="item-descarga" data-iddoc="@doc.IdDocumento">@Archivos.Descargar <i class="fa fa-download"></i></div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
}
