﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@using IDigitales.Pagina.Web.Data.Modelos
@model TabsViewModel

@{
    var fin = Model.Fin;
    var inicio = Model.Inicio;
    var selected = Model.Seleccionado;
    var i = 0;
}

<div class="cd-tabs" data-inicio="@inicio" data-fin="@fin">
    <nav>
        <ul class="cd-tabs-navigation">
            @{
                for (i = inicio; i <= fin; i++)
                {
                    var clase = "";
                    if (selected == i)
                    {
                        clase = "class=selected";
                    }
                    <li><a data-content="tabImagen_@i" data-id="@i" href="#0" @clase>@i</a></li>
                }
            }
        </ul> <!-- cd-tabs-navigation -->
    </nav>
    <ul class="cd-tabs-content">

        @{
            for (i = inicio; i <= fin; i++)
            {
                var clase = "";
                if (selected == i)
                {
                    clase = "class=selected";
                }
                <li data-content="tabImagen_@i" data-id="@i" @clase id="tabImagen_@i">

                    @{
                        Html.RenderAction("loaderArchivos", "Members", new { idTab = i });
                    }

                </li>
            }
        }


    </ul> <!-- cd-tabs-content -->
</div> <!-- cd-tabs -->

<div id="modalAgregarDocumentos" class="hide" ondragstart="return false;" ondrop="return false;"></div>
<script>
  /*****************************************************
          Textos utilizados
  *****************************************************/
    var txtBuscar = '@Archivos.Buscar';
</script>