﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@model int

@{
    var idT = Model;
    var NomTab = "Tab" + Model;
    var itemB = "itemBusqueda";
    var inputB = "txtBusqueda" + Model;
    var catB = "cmbBusquedaCat" + Model;
    var subCatB = "cmbBusquedaSub" + Model;
}
<div class="contenedor-tab nuevaTab" id="@NomTab" data-id="@idT">

    <div class="menu-tab">
        @if (User.IsInRole("ARCHIVO_DOCUMENTOS_MODIFICAR"))
        {
            <div id="btn-eliminar" class="btn-menu-tab"><i class="fa fa-minus" aria-hidden="true"></i></div>
            <div id="btn-agregar" class="btn-menu-tab"><i class="fa fa-plus" aria-hidden="true"></i></div>
        }
        @*<div class="ayudaCuadricula">
                <object data="~/content/images/Members/imagenes.svg" style="height:100%" type="image/svg+xml"></object>
            </div>*@
    </div>
    <div class="@itemB">
        <div class="fa fa-search busqueda-icon"></div>
        <input type="text" id="@inputB" class="busqueda-input" data-id="@idT" value="" />
        <div class="busqueda-select"><select id="@catB" class="busqueda-select-cat "></select></div>
        <div class="busqueda-select"><select id="@subCatB" class="busqueda-select-sub "></select></div>
        <div class="busqueda-btn" data-id="@idT"><div>@Archivos.Buscar</div></div>
    </div>
    <div id="cuerpo-tab-imagenes" class="cuerpo-tab">
        @{
            Html.RenderAction("ContenidoArchivos", "Members", new { idTab = idT });
        }
    </div>
    <input id="tmp_filechooser" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*" type="file" style="visibility: hidden" />

</div>