﻿.imgErrorValidacion {
    cursor: help;
    height: 20rem;
    position: absolute;
    top: 4rem;
    /*right: 10rem;*/
    z-index: 2;
    color: #d6d188;
    /*background: -webkit-linear-gradient(red, #902D2D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}



.imgErrorValidacion:hover {
    /*background: rgba(0,0,0,0);
	color: darkred;*/
	/*animation: bounce 1s;*/
     -webkit-filter: grayscale(100%);
      
 }

.tooltip {
    white-space: normal;
}

.sinMargenesPaddings{
     float: none;
    padding-left: 0;
    padding-right: 0;
}


@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}

	80% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
}
/* Tooltip container */
.tooltipValidador {
    /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
}

    /* Tooltip text */
.tooltipValidador .tooltiptext {
    visibility: hidden;
    /*width: 120px;*/
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

        /* Tooltip arrow */
.tooltipValidador .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltipValidador:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }