﻿#panelDocumentos #SeccionArchivos {
    min-width: 608rem;
    height: 320rem;
    background: #464646;
    box-shadow: 0.5px 0.5px 1px 2px rgba(0, 0, 12, 0.29);
}

.font-cuadrado {
    font-family: Thonburi-Regular !important;
    padding-top: 5rem;
}  
#divDoble .panel-default {
    float: left;
    margin-left: 0;
}

#panelDocumentos .emptyDataCarusel {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:#000;
}

/*#panelDocumentos .dropzone-previews .dz-preview{
    margin: 5rem 5rem 10rem 5rem!important;
}*/

#panelDocumentos #panelCarousel {
    margin: 0;
    position: relative;
    min-height: 200rem;
    box-shadow: 0.5px 0.5px 1px 2px rgba(0, 0, 12, 0.29);
}

label.postfix:after {
    content: ":";
}

#modalAgregarDocumentos .button_container{
    margin-top: -1%;
}

#modalAgregarDocumentos #myCarousel > div.owl-wrapper-outer button {
    border-radius: 5rem;
    border: none;
    background: #7ad8f9;
    color: rgb(51, 51, 51);
}

#modalAgregarDocumentos #myCarousel > div.owl-wrapper-outer button:hover {
    background: #42c2ef;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -20px !important;
    top: 80px !important;
    background: #464646;
    padding: 5rem 10rem;
    border-radius: 25rem;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -20px !important;
    top: 80px !important;
    background: #464646;
    padding: 5rem 10rem;
    border-radius: 25rem;
}
