﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.Contactos>



@if (Model != null  && Model.Any())
{
        foreach (var con in Model)
        {

            <div id="@con.IdContacto" class="tarjeta">
                <div class="usuarioOpciones">
                    <div class="dropdown">
                        <div class="dropbtn"> <i class="fa fa-ellipsis-h"></i></div>
                        <div class="dropdown-content">
                            <a class="dropdown-item" href="#">
                                <i data-id="@con.IdContacto"  data-opcion="editar" class="fa fa-pencil"></i>Editar
                            </a>
                            <a class="dropdown-item" href="#">
                                <i data-id="@con.IdContacto" data-opcion="eliminar" class="fa fa-list-alt"></i>Eliminar
                            </a>
                        </div>
                    </div>
                </div>

                <div class="usuarioImg fa fa-user-o" style=""></div>

                <div class="tarjetaInfo">
                    <span class="blocknameuser_hl">
                        <strong>@con.Nombre</strong>
                    </span>
                </div>
            </div>



        }
}
else
{
    <label class="noElementos">@Configuracion.NoContactos</label>
}