﻿@using IDigitales.Pagina.Web.Controllers.Helpers
@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.Aplicaciones>
 @{

 
    
     if (Model != null)
     {

         foreach (var app in Model)
         {
           
                
             <div class="itemAplicacion"
                  id="ItemAplicacion_@app.IdAplicacion"
                  data-id="@app.IdAplicacion">
                 <input type="radio" name="radioConfSeleccionAplicaciones" class="confSeleccionAplicaciones">
                    
                 <div class="innerItemAplicaciones">
                     <div class="nombreAplicacionLista">@app.Nombre</div>
                     <div class="precioAplicacionLista">@app.Descripcion</div>
                 </div>

             </div>
         }

     }

 }
