﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members

<div class="contenedor-config">
    <div class="wrapper-confPanelConApp">

        <div class="wrapper-confPanelAplicaciones">
            <fieldset class="idigitales-fielset" style="height: 93%; margin-top: 10rem">
                <div class="idigitales-fielset-title">
                    <label class="idigitales-form-label">@Configuracion.Aplicaciones</label>

                </div>
              
                <div id="panelAplicaciones" class="confPanelAplicaciones">

                    @Html.Action("ListaAplicaciones", "Members")

                </div>

            </fieldset>
        </div>

        <div class="wrapper-confPanelContactos">
            <fieldset class="idigitales-fielset">
                <div class="idigitales-fielset-title">
                    <label class="idigitales-form-label" style="width: 80%;">@Configuracion.Contactos</label>
                </div>
                <div class="idigitales-fielset-titleBtns">
                    <div id="btnAgregarContacto" class="fa fa-plus boton-cuadrado"></div>
                </div>
                <div id="panelContactos" class="confPanelContactos" style=" min-height: 150rem;">


                </div>

            </fieldset>
        </div>

    </div>

</div>