﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@using IDigitales.Pagina.Web.Controllers.Helpers
@using Newtonsoft.Json
@model IDigitales.Pagina.Web.Data.Entidades.Poco.Contactos


<div id="modalContactos">
    <label class="hide" id="titulo">@Configuracion.Contactos</label>
    <select id="contacto" data-placeholder="@Configuracion.Buscar"></select>

    <fieldset class="idigitales-fielset" id="contDatos"  data-elemento="@Model.ToJson()" data-idapp="@ViewBag.IdAplicacion" style="margin-top: 10rem">
        @Html.Hidden("IdContacto", "0")
        <div class="idigitales-fielset-title">
            <label class="idigitales-form-label">@Configuracion.InfoContactos</label>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-12">
                <label class="idigitales-form-label">@Configuracion.Nombre</label>
                <input type="text" id="Nombre" class="idigitales-form-input" placeholder="@Configuracion.Nombre" value="" required="" />
            </div>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-12">
                <label class="idigitales-form-label">@Configuracion.Empresa</label>
                <input type="text" id="Empresa" class="idigitales-form-input" placeholder="@Configuracion.Empresa" value="" required="" />
            </div>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-6">
                <label class="idigitales-form-label">@Configuracion.Email</label>
                <input type="text" id="Email" class="idigitales-form-input" placeholder="@Configuracion.Email" value="" required />

            </div>
            <div class="idigitales-col-6">
                <label class="idigitales-form-label">@Configuracion.Aplicacion</label>
                <select id="Aplicacion"  multiple="multiple" class="multiple-select" data-placeholder="@Configuracion.Aplicacion" required></select>
                
            </div>
        </div>
    
    </fieldset>

    <div class="idigitales-contenedor-btn-der">
        <button id="btnGuardar" class="idigitales-boton-chico idigitales-boton" type="button">@Configuracion.Guardar</button>
        <button id="btnCancelar" class="idigitales-boton-chico idigitales-boton" type="button">@Configuracion.Cancelar</button>
    </div>

</div>