﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members.Comunes

<style>
    .dz-max-files-reached {
        background-color: red;
    }
</style>

<div id="panelDocumentos" class="panelDatos panel panel-default" data-options="footer:'#piePanelBusqueda'">
    <input id="panelesVisibles" type="hidden" value="" />
    <input id="datos" type="hidden" value="" />
    <div class="panel-body" style="padding: 15px !important;">
        <div class="idigitales-renglon">
            <div id="panelCarousel" class="panelDatos panel panel-default">
                <div class="idigitales-renglon" id="divCarousel">
                    <div class="emptyDataCarusel"> @Documentos.NoDocumentos</div>
                    <div class="idigitales-col-5">
                        <div class="wrapper dropzone-previews" style="padding-left: 50px;">
                            <div id="myCarouselArchivos" class="owl-carousel" style="width: 150px;">
                            </div>
                        </div>
                    </div>
                    <div class="idigitales-col-7" id="divCaptura" style="visibility: collapse; float: right; margin-top:20rem;">
                        <div class="idigitales-renglon">
                            <div class="idigitales-col-4">
                                <label class="idigitales-form-label">@Documentos.Nombre</label>
                            </div>
                            <div class="idigitales-col-8">
                                <input type="text" id="txtNombre" class="idigitales-form-input" placeholder="@Documentos.Nombre" value="" />
                            </div>
                        </div>
                        <div class="idigitales-renglon">
                            <div class="idigitales-col-4">
                                <label class="idigitales-form-label">@Documentos.Descripcion</label>
                            </div>
                            <div class="idigitales-col-8">
                                <input type="text" id="txtDescripcion" class="idigitales-form-input" placeholder="@Documentos.Descripcion" value="" />
                            </div>
                        </div>
                        <div class="idigitales-renglon">
                            <div class="idigitales-col-4">
                                <label class="idigitales-form-label">@Documentos.Categoria</label>
                            </div>
                            <div class="idigitales-col-8">
                                <select id="cmbCategoria" class="ctrlSelect2" data-placeholder="@Documentos.Categoria"></select>
                            </div>
                        </div>
                        <div class="idigitales-renglon">
                            <div class="idigitales-col-4">
                                <label class="idigitales-form-label">@Documentos.SubCategoria</label>
                            </div>
                            <div class="idigitales-col-8">
                                <select id="cmbSubCategoria" class="ctrlSelect2" data-placeholder="@Documentos.SubCategoria"></select>
                            </div>
                        </div>
                        <div class="idigitales-renglon">
                            <div class="idigitales-col-4">
                                <label class="idigitales-form-label">@Documentos.Fecha</label>
                            </div>
                            <div class="idigitales-col-8">
                                <div class="input-group fecha" id="dtpFecha">
                                    <input type="text" placeholder="" class="idigitales-form-inputIcon">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="idigitales-renglon">
            <div id="SeccionArchivos">
                <div id="drop_zone" class="dropzone">
                    <div class="dz-message">
                        <div style="cursor: pointer; text-align: center; font-size:25rem; opacity:0.5;" class="font-cuadrado title_hl text-align: center;">

                            <p>
                                @Documentos.DropFilesHere
                            </p>
                            <p>
                                o
                            </p>
                            <p>
                                @Documentos.Clickhere
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="idigitales-contenedor-btn-der" style="margin-top: -10rem">
    <button id="btnGuardar" class="idigitales-boton idigitales-boton-mediano" type="button">@Documentos.Guardar</button>
    <button id="btnCancelar" class="idigitales-boton idigitales-boton-mediano" type="button">@Documentos.Cancelar</button>
</div>

<script>
  /*****************************************************
          Textos utilizadas en RegistrarDocumentos.js
  *****************************************************/
    var txtTitulo = '@Documentos.TituloDocumentos';
    var txtConfirmarCerrar = '@Documentos.ConfirmarCerrar';
    var txtAceptar = '@Documentos.Aceptar';
    var txtCancelar = '@Documentos.Cancelar';
    var txtRemover = '@Documentos.Remover';
    var txtErrorEliminar = '@Documentos.ErrorEliminar';
    var txtError = '@Documentos.Error';
    var txtNoDocumentos = '@Documentos.NoHayDocumentos';
    var txtErrorGuardar = '@Documentos.ErrorGuardar';
    var txtOcurrioError = '@Documentos.OcurrioError';
    var txtValidacion = '@Documentos.Validacion';
</script>













