﻿@using IDigitales.Pagina.Web.Controllers.Helpers
@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.Instalacion>
@{



    if (Model != null)
    {

        foreach (var app in Model)
        {


            <div class="itemAplicacion"
                 id="ItemAplicacion_@app.Id"
                 data-id="@app.Id">
                <input type="radio" name="radioConfSeleccionAplicaciones" class="confSeleccionAplicaciones">

                <div class="innerItemAplicaciones">
                    <div class="nombreAplicacionLista">@app.Descripcion</div>
                    <div class="precioAplicacionLista">@app.FechaCreacion</div>
                </div>

            </div>
        }

    }

}
