﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.ReportesCategorias>



@if (Model != null && Model.Any())
{
    foreach (var categoria in Model)
    {

        <div id="@categoria.Id" class="tarjeta @(@categoria.Seleccionada ? "checked" : "") categoriaCheckInput" 
             data-id="@categoria.Id">
            

           

            <div class="tarjetaInfo" style="text-align: center;">
                <span class="blocknameuser_hl" style=" display: inline-block; height:90%; width: 75%;white-space: normal; text-align: center; vertical-align: middle;line-height: normal;">
                    <strong>@categoria.Grupo</strong><br/>
                    @categoria.Nombre
                </span>
            </div>
        </div>

    }
}
else
{
    <label class="noElementos">@Configuracion.NoContactos</label>
}