﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members

<div class="contenedor-config">
    <div class="wrapper-confPanelConApp">

        <div class="wrapper-confPanelAplicaciones">
            <fieldset class="idigitales-fielset" style="height: 93%; margin-top: 10rem">
                <div class="idigitales-fielset-title">
                    <label class="idigitales-form-label">@Configuracion.Instalaciones</label>

                </div>
              
                <div id="panelAplicaciones" class="confPanelAplicaciones">

                    @Html.Action("ListaInstalaciones", "Members")

                </div>

            </fieldset>
        </div>

        <div class="wrapper-confPanelCategorias">
            <fieldset class="idigitales-fielset">
                <div class="idigitales-fielset-title">
                    <label class="idigitales-form-label" style="width: 80%;">@Configuracion.Categorias</label>
                </div>
               
                <div id="panelContactos" class="confPanelCategorias" style=" min-height: 150rem;">


                </div>

            </fieldset>
        </div>

    </div>

</div>