﻿/*body > .idigitales-notificaciones{
 top: 77rem;
}*/


.idigitales-notificaciones {
    z-index: 100001; 
    
    top: 10rem;
    right: 10rem; 
    position: fixed;
    width: 0 !important;
    overflow: visible !important; 
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.ajs-dialog.height100p .ajs-content> div.idigitales-notificacion-wrapped,
.idigitales-notificacion-wrapped {
    position:absolute !important;
    z-index:10000;
}

.idigitales-notificacion-item.idigitales-notificacion-visible {
   right: 290rem;
}

.idigitales-notificacion-item.idigitales-notificacion-visible {
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 1;
    max-height: 100%;
    /*padding: 15rem;*/ 
}

.idigitales-notificacion-item {
    position: relative;
    width: 280rem;
    max-height: 0;
    padding: 0;
    opacity: 0;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-duration: 250ms;
    transition-timing-function: linear;
    background:#fff;
    color: #000;
    right: -320rem;
    min-height: 80rem;
    overflow: hidden;  
    display:table;
    border-radius: 3rem;
     margin-top: 10rem;
}

/*.idigitales-notificacion {
    width:200rem;
    min-height:40rem;
    opacity: .8;
    -ms-opacity: .8;
    position:absolute;
    position:absolute;
    top: 50%;
    left:45%;
    font-family: Calibri;
    font-size: 15rem;
    padding:10rem;
    text-align:center;
    -ms-border-radius: 5rem;
    border-radius: 5rem;
}*/



    .idigitales-notificacion-item > div {
        display:table-row;
    }
    .idigitales-notificacion-item > div >* {
        display:table-cell;
        vertical-align:middle;
            padding: 7rem;
            height:100%;
    }
    .idigitales-notificacion-item .textoNotificaciones {
        display:table-cell;
        width: 100%;
    }

    .idigitales-notificacion-item .iconoCloseNotificaciones{
        position: absolute;
        right: 0;
        top: 0;
        height:auto;
    }

    .idigitales-notificacion-item .iconoCloseNotificaciones>div {
            position: relative;
            height: 20rem;
            width: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* border: 1px solid pink; */
            background: none;
    }

    .idigitales-notificacion-item .iconoCloseNotificaciones>div::before,
    .idigitales-notificacion-item .iconoCloseNotificaciones>div::after {
           position: absolute;
            content: '';
            width: 100%;
            height: 1rem;
            background-color: #848383;
    }

    .idigitales-notificacion-item .iconoCloseNotificaciones>div::before {
        transform: rotate(45deg);
    }

    .idigitales-notificacion-item .iconoCloseNotificaciones>div::after {
        transform: rotate(-45deg);
    }


    .idigitales-notificacion-error:not(.idigitales-notificacion-shadowless) { 
        -webkit-box-shadow: 0rem 0rem 7rem 1rem rgba(163,0,0,0.64);
        -moz-box-shadow: 0rem 0rem 7rem 1rem rgba(163,0,0,0.64);
        box-shadow: 0rem 0rem 7rem 1rem rgba(163,0,0,0.64);  
    }
    .idigitales-notificacion-error.idigitales-notificacion-shadowless {
        border:1rem solid #D04437 !important;
    } 
    .idigitales-notificacion-error .iconoNotificaciones {
        background:#D04437;
        color:#fff;
    }


    .idigitales-notificacion-success:not(.idigitales-notificacion-shadowless)  { 
        -webkit-box-shadow: -1rem 0rem 7rem 1rem rgba(49,122,0,1);
        -moz-box-shadow: -1rem 0rem 7rem 1rem rgba(49,122,0,1);
        box-shadow: -1rem 0rem 7rem 1rem rgba(49,122,0,1);
    }
    .idigitales-notificacion-success.idigitales-notificacion-shadowless {
        border:1rem solid #317a00 !important;
    } 
    .idigitales-notificacion-success .iconoNotificaciones {
        background:#317a00;
        color:#fff;
    }


    .idigitales-notificacion-alert:not(.idigitales-notificacion-shadowless)  { 
        -webkit-box-shadow: 0rem 0rem 7rem 1rem rgba(240,172,0,1);
        -moz-box-shadow: 0rem 0rem 7rem 1rem rgba(240,172,0,1);
        box-shadow: 0rem 0rem 7rem 1rem rgba(240,172,0,1);
    }
    .idigitales-notificacion-alert.idigitales-notificacion-shadowless {
        border:1rem solid #f0ac00 !important;
    } 
    .idigitales-notificacion-alert .iconoNotificaciones {
        background:#f0ac00;
        color:#fff;
    }


    .idigitales-notificacion-notification:not(.idigitales-notificacion-shadowless) { 
        -webkit-box-shadow: 0rem 0rem 7rem 1rem rgba(33,138,194,1);
        -moz-box-shadow: 0rem 0rem 7rem 1rem rgba(33,138,194,1);
        box-shadow: 0rem 0rem 7rem 1rem rgba(33,138,194,1);
    }
    .idigitales-notificacion-notification.idigitales-notificacion-shadowless {
        border:1rem solid #218ac2 !important;
    } 
    .idigitales-notificacion-notification .iconoNotificaciones {
        background:#218ac2;
        color:#fff;
    }

    .idigitales-notificacion-item .iconoNotificaciones{
        position:relative;/*se veia un pixel en ipad*/
        left:-1rem;
    }

