﻿ 

.idigitalesCheckboxes-item label {
    color: #78aab5; /*rgba(0,0,0,0.2);*/ 
}

 

.idigitalesCheckboxes-item label::before { 
	border-color: #bfdae0; 
}
 
 
.idigitalesCheckboxes-item input[type="checkbox"]:checked + label,
.idigitalesCheckboxes-item  input[type="radio"]:checked + label {
	 color: #577e84;
} 

 
/* General SVG and path styles */ 
.idigitalesCheckboxes-item svg path {
	stroke: #79ABB5; 
}

/* Specific input, SVG and path styles */

/* Circle */ 
.idigitalesCheckboxes-circle label::before {
	background-color: #bfdae0; 
}

.idigitalesCheckboxes-item input[type="checkbox"].readonly + label::before{
    background: #f1f2f2 !important;
}
 