﻿

.idigitalesCheckboxes-item label {
    color: #aca7af; /*rgba(0,0,0,0.2);*/
}

 

.idigitalesCheckboxes-item label::before { 
	border-color: #807d82; 
}


.idigitalesCheckboxes-item input[type="checkbox"]:checked + label,
.idigitalesCheckboxes-item input[type="radio"]:checked + label {
    color: #f2f2f2;
} 

 
/* General SVG and path styles */ 
.idigitalesCheckboxes-item svg path {
	stroke: #f2f2f2; 
}

/* Specific input, SVG and path styles */

/* Circle */ 
.idigitalesCheckboxes-circle label::before {
	background-color: #807d82; 
}

.idigitalesCheckboxes-item input[type="checkbox"].readonly + label::before{
    background: #939598 !important;
}
 