﻿ 

.idigitalesCheckboxes-item label {
    color: #c5c5c5; /*rgba(0,0,0,0.2);*/ 
}

 

.idigitalesCheckboxes-item label::before { 
	border-color: #c5c5c5; 
}
 
 
.idigitalesCheckboxes-item input[type="checkbox"]:checked + label,
.idigitalesCheckboxes-item  input[type="radio"]:checked + label {
	 color: #fff;
} 

 
/* General SVG and path styles */ 
.idigitalesCheckboxes-item svg path {
	stroke: #fff; 
}

/* Specific input, SVG and path styles */

/* Circle */ 
.idigitalesCheckboxes-circle label::before {
	background-color: #c5c5c5; 
}

.idigitalesCheckboxes-item input[type="checkbox"].readonly + label::before{
    background: #5d5d5d !important;
}
 