﻿.idigitalesCheckboxes-wrap {
    /*margin-left: 15rem;*/
}

.idigitalesCheckboxes-item {
	margin: 0 auto;
	padding: 5rem 0;
	position: relative;
}

.idigitalesCheckboxes-item label {
	display: inline-block;
	position: relative;
	font-size: 12rem;
	padding: 0 0 0 35rem;
	vertical-align: top;
	/*color: rgba(0,0,0,0.2);*/
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.idigitalesCheckboxes-item input[type="checkbox"],
.idigitalesCheckboxes-item input[type="radio"],
.idigitalesCheckboxes-item label::before {
	width: 22rem;
	height: 22rem;
	top: 50%;
	left: 0;
	margin-top: -11rem;
	position: absolute;
	cursor: pointer;
}

.idigitalesCheckboxes-item input[type="checkbox"],
.idigitalesCheckboxes-item input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.idigitalesCheckboxes-item label::before {
	content: '';
	/*border: 3rem solid #000;*/
    border-width: 3rem;
    border-style: solid;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
 
.idigitalesCheckboxes-cirf label::before,
.idigitalesCheckboxes-cir label::before {
	border-radius: 50%;
}


.idigitalesCheckboxes-item input[type="checkbox"]:checked + label,
.idigitalesCheckboxes-item  input[type="radio"]:checked + label {
	 color: #FFF;
} 

.idigitalesCheckboxes-item  input[type="checkbox"]:checked + label::before,
.idigitalesCheckboxes-item  input[type="radio"]:checked + label::before {
	opacity: 0.8;
}

/* General SVG and path styles */

.idigitalesCheckboxes-item svg {
	position: absolute;
	width: 18rem;
	height: 18rem;
	top: 50%;
    margin-top: -9rem;
    left: 5rem;
	pointer-events: none;
}

.idigitalesCheckboxes-item svg path {
	/*stroke: #fdfcd3;*/
	stroke-width: 13rem;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* Specific input, SVG and path styles */


/* checkmark */
.idigitalesCheckboxes-checkmark svg {
    width: 23rem;
    height: 23rem;
    /* stroke-width: 2rem; */
    margin-top: -19rem;
}

.idigitalesCheckboxes-checkmark svg path {
    stroke-width: 10rem;
}

/* Circle */
.idigitalesCheckboxes-circle input[type="checkbox"],
.idigitalesCheckboxes-circle input[type="radio"],
.idigitalesCheckboxes-circle label::before {
	width: 15rem;
	height: 15rem;
	margin-top: -6rem;
	left: 3rem;
	position: absolute;
}

.idigitalesCheckboxes-circle label::before {
	/*background-color: #fff;*/
	border: none;
}

.idigitalesCheckboxes-circle svg {
	width: 22rem;
	height: 22rem;
	margin-top: -13rem;
	left: 0rem;
}

.idigitalesCheckboxes-circle svg path {
	stroke-width: 8rem; 
} 

/* Box Fill */
.idigitalesCheckboxes-boxfill svg path {
	stroke-width: 8rem;
} 

/* Swirl */
.idigitalesCheckboxes-swirl svg path {
	stroke-width: 8rem;
}

/* List */
.idigitalesCheckboxes-list ol {
	list-style: decimal;
	list-style-position: inside;
}

.idigitalesCheckboxes-list ol li {
	font-size: 2em;
	padding: 1em 1em 0 2em;
	text-indent: -40rem;
}

.idigitalesCheckboxes-list ol li label {
	font-size: 1em;
	text-indent: 0;
	padding-left: 30rem;
}

.idigitalesCheckboxes-list label::before {
	display: none;
}

.idigitalesCheckboxes-list svg {
	width: 100%;
	height: 80rem;
	left: 0;
	top: 1.2em;
	margin-top: 0rem;
}

.idigitalesCheckboxes-list svg path {
	stroke-width: 4rem;
}

 