﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@using IDigitales.Pagina.Web.Controllers.Helpers
@model IDigitales.Pagina.Web.Data.Entidades.Poco.ListasPrecioProductos

<div id="modalProducto">
    <label id="titulo" class="hide">@Productos.EdicionProducto</label>

    <!--Datos Producto-->
    <div id="datosProducto" style="border: none;" class="idigitales-contenedor-form" data-elemento="@Model.ToJson()">
        @Html.Hidden("idLista", "0")
        @Html.Hidden("porcentaje", "0")

        <div class="idigitales-renglon">

            <div class="idigitales-col-8">
                <label for="producto" class="idigitales-form-label">@Productos.ProductosLista:</label>
                <select id="selProductos" class="ctrlSelect2" data-placeholder="@Productos.ProductosLista" required></select>

            </div>
            <div class="idigitales-col-4">
                <label for="precio" class="idigitales-form-label">@Productos.Precio:</label>
                <div class="idigitales-numerico numerico-precios">
                    <input id="precio" type="text" class="idigitales-form-input" required />
                </div>

            </div>
        </div>

        @*<div class="idigitales-renglon">
                <div class="idigitales-col-4">
                    <label for="precioFinal" class="idigitales-form-label">@Productos.Precio:</label>

                    <div class="idigitales-numerico numerico-precios">
                        <input id="precioFinal" type="text" class="idigitales-form-input" required />
                    </div>
                </div>
                <div class="idigitales-col-4">
                    <label for="desCliente" class="idigitales-form-label">DescripcionCliente:</label>
                    <input type="text" id="desCliente" placeholder="DescripcionCliente" class="idigitales-form-input">
                </div>
                <div class="idigitales-col-4">
                    <label for="codCliente" class="idigitales-form-label">CodigoCliente:</label>
                    <input type="text" id="codCliente" placeholder="CodigoCliente" class="idigitales-form-input">
                </div>
            </div>*@
    </div>

    <!--Botones Pie de pagina-->
    <div class="idigitales-contenedor-btn-der" style="margin-top:10rem">
        <button type="button" id="btnGuardarMod" class="idigitales-boton idigitales-boton-chico">@Productos.Guardar</button>
        <button type="button" id="btnCancelarMod" class="idigitales-boton idigitales-boton-chico">@Productos.Cancelar</button>
    </div>

</div>