﻿@using IDigitales.Pagina.Web.Controllers.Helpers
@using IDigitales.Pagina.Web.Data.Entidades.Poco
@using Newtonsoft.Json
@using Productos = IDigitales.Pagina.Web.Comun.Idioma.Members.Productos 

<div id="modalImpresionLista">
    <label class="hide" id="titulo">@Productos.ImpresionListas</label>

    <fieldset class="idigitales-fielset" style="margin-top:15rem;" id="contDatosImpresionLista">
        <div class="idigitales-fielset-title">
            <label class="idigitales-form-label">@Productos.ListaPrecios</label>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-12" style="margin-top:10rem;">
                <label class="idigitales-form-label">@Productos.Seleccion</label>
                <select id="selListaPrecios" class="select-adjust-container ctrlSelect2" data-placeholder="@Productos.Listas" required></select>
            </div>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-12" style="margin-top:10rem;">
                <label class="idigitales-form-label">@Productos.Formato</label>
                <select id="selFormato" class="select-adjust-container ctrlSelect2" data-placeholder="@Productos.Formato" required>
                    <option value="pdf">PDF</option>
                    <option value="xls">EXCEL</option>
                </select>
            </div>
        </div>
    </fieldset>
    <div class="idigitales-contenedor-btn-der" style="margin-top:10rem">
        <button id="btnImprimir" class="idigitales-boton-chico idigitales-boton" type="button">@Productos.Imprimir</button>
        <button id="btnCancelar" class="idigitales-boton-chico idigitales-boton" type="button">@Productos.Cancelar</button>
    </div>
</div>