﻿@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.ListasPrecioProductos>

@if (Model != null && Model.Count > 0)
{
   
    foreach (var pro in Model)
    {
        <div class="itemProducto" id="itemProducto_@pro.IdProducto" data-id="@pro.IdProducto">
            <input type="radio" name="radiolpSeleccionProducto" for="" class="lpSeleccionProducto">

            <div class="innerItemProducto">
                <div>
                    <div id="divDescripcion" style="display: inline; font-weight:bolder ">
                        @pro.Productos.Modelo @pro.Productos.Nombre
                    </div>
                    <i class="eliminarPro fa fa-trash-o idigitales-form-icon" title="Eliminar"/>
                </div>
               
            </div>
        </div>
    }

}
else
{

    <div id="color-container" class="idigitales-wrap-vertical-center">
        <div class="idigitales-inner-vertical-center semaforo-text-message">SIN PRODUCTOS</div>
    </div>
    
}