﻿@using IDigitales.Pagina.Web.Controllers.Helpers
@using IDigitales.Pagina.Web.Data.Entidades.Poco
@using Newtonsoft.Json
@using Productos = IDigitales.Pagina.Web.Comun.Idioma.Members.Productos
@model IDigitales.Pagina.Web.Data.Entidades.Poco.ListasPrecios


<div id="modalLista">
    <label class="hide" id="titulo">@Productos.ListaPrecios</label>

    <fieldset class="idigitales-fielset" style="margin-bottom: 10rem;">
        <div class="idigitales-fielset-title">
            <label class="idigitales-form-label">@Productos.BuscarLista</label>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-10">
                <label class="idigitales-form-label">@Productos.ListaPrecios</label>
                <select id="selLista" class="select-adjust-container ctrlSelect2" data-placeholder="@Productos.ListaPrecios" required></select>
            </div>
            <div class="idigitales-col-2">
                <label class="idigitales-form-label" style="text-align: right"></label>
                <i id="btnListaEditar" class="fa fa-pencil lp-icono" style="display: none" title="Editar Lista"></i> 
            </div>
        </div>
    </fieldset>

    <fieldset class="idigitales-fielset" id="contDatos" data-elemento="@Model.ToJson()" style="margin-bottom: 10rem;">
        @Html.Hidden("idLista", "0")
        @Html.Hidden("idListaReferencia", "")
        @Html.Hidden("esBase", "")
        @Html.Hidden("porcentaje", "")
        <div class="idigitales-fielset-title">
            <label class="idigitales-form-label" style="width:80%">@Productos.InfoLista</label>
            <i id="btnListaNueva" class="fa fa-plus-square-o lp-icono" style="float: right;" title="Nueva Lista"></i>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-4">
                <label class="idigitales-form-label">@Productos.Codigo</label>
                <input type="text" id="codigo" class="idigitales-form-input" placeholder="@Productos.Codigo" value="" required />

            </div>
            <div class="idigitales-col-8">
                <label class="idigitales-form-label">@Productos.Nombre</label>
                <input type="text" id="nombre" class="idigitales-form-input" placeholder="@Productos.Nombre" value="" required="" />
            </div>

        </div>
        <div claass="idigitales-renglon">
            <div class="idigitales-col-12">
                <label class="idigitales-form-label">@Productos.Descripcion</label>
                <input type="text" id="descripcion" class="idigitales-form-input" placeholder="@Productos.Descripcion" value="" required />
            </div>
        </div>

        <div id="botones" class="idigitales-contenedor-btn-der">
            <button id="btnGuardarMod" class="idigitales-boton-chico idigitales-boton" type="button">@Productos.Guardar</button>
            <button id="btnCancelarMod" class="idigitales-boton-chico idigitales-boton" type="button">@Productos.Cancelar</button>
        </div>
       

    </fieldset>
    
    @*<fieldset class="idigitales-fielset" id="contProductos" style="display:none">
        <div class="idigitales-fielset-title">
            <label class="idigitales-form-label" style="width:80%">@Productos.ProductosEnLista</label>
        </div>*@

        @*<div class="idigitales-renglon" id="rowAgregarProd">
            <div class="idigitales-col-12">
                <label for="filtro" class="idigitales-form-label">@Productos.Buscar:</label>
                <input id="filtro" class="idigitales-form-input" type="text" placeholder="Buscar Elemento"/>
            </div>
        </div>*@

        <div class="idigitales-renglon" id="contProductos">

            <fieldset class="idigitales-fielset" style="width: 100%; margin-bottom: 10rem;" >
                <div class="idigitales-fielset-title">
                    <label class="idigitales-form-label" style="width: 80%">@Productos.ProductosEnLista</label>
                    <i id="btnBorrar" class="fa fa-minus lp-icono" style="float: right;" title="Nueva Lista"></i>
                    <i id="btnNuevo" class="fa fa-plus lp-icono" style="float: right;" title="Nueva Lista"></i>
                    <i id="btnEditar" class="fa fa-pencil lp-icono" style="float: right;" title="Nueva Lista"></i>
                    <div class="idigitales-loader" style="display: none;">
                        <div class="idigitales-loader-progress" style="height: 4px !important"></div>
                    </div>
                </div>
              
                <div id="listaProductos" class="lp-listaProductos">
                    @{ Html.RenderPartial("Productos/ListasProductos", new List<ListasPrecioProductos>()); }
                </div>
                   
            </fieldset>

        </div>
    @*</fieldset>*@
</div>