﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members


<div class="wrapper-productos">

<div id="cntSubSeccion" class="idigitales-seccion">
    <input type="hidden" id="permiteEdicionProductos" value="@ViewBag.EditarProductos" />
    <div id="pnlSubSeccion" class="idigitales-col-12 pagina-panel">
          
        <div class="titulo-barra">
            <div class="titulo-label">
                <span class="titulo-icon">
                    <i class="fa fa-dropbox"></i>
                </span>
                <h3 class="titulo-texto">
                    @Productos.ProductosLista
                </h3>
            </div>
        </div>
        <div id="contTablas" class="pagina-panel-contenido">

        </div>
        <div id="contPlantilla" style="display: none">
            <table class="table-bordered display" id="tabla" style="width:100% ">
                <thead>
                <tr>
                    <th>
                        <div style="display: none">Icono</div>
                    </th>
                    <th>@Productos.Modelo</th>
                    <th>@Productos.Nombre </th>
                    <th>@Productos.Descripcion </th>
                    <th>@Productos.Clasificacion</th>
                    <th>@Productos.Tipo</th>
                    <th>@Productos.Precio</th>
                    <th>@Productos.Moneda</th>
                    @*<th>Acciones</th>*@
                </tr>
                </thead>
            </table>
        </div>
    </div>
       
    <div style="display: none" id="plantillaFiltros">
        <div class="idigitales-renglon">
            <div class="idigitales-col-5">
                @*<label>Buscar:<input type="search" class="form-control" placeholder=""></label>*@
            </div>
        </div>
    </div>
    <div style="display: none" id="plantillaCard">
        <div class="card">
            <div class="card-img">
                <div class="card-badge xl success"><span id="inicial">A</span></div>
            </div>
            <div class="card-detalles">
                <span class="card-nombre" id="Nombre">Ashley Blick</span>
                <a href="#" class="card-email card-link" id="description">Cummings-Goodwin</a>
            </div>
        </div>
    </div>
</div>
</div>
