﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@using IDigitales.Pagina.Web.Controllers.Helpers
@using Newtonsoft.Json
@model IDigitales.Pagina.Web.Data.Entidades.Poco.Productos


<div id="modalProductos">
    <label class="hide" id="titulo">@Productos.EdicionProducto</label>
    
    <fieldset class="idigitales-fielset" id="contDatos"  data-elemento="@Model.ToJson()">
        @Html.Hidden("idProducto", "0")
        @Html.Hidden("ruta", "")
        <div class="idigitales-fielset-title">
            <label class="idigitales-form-label">@Productos.InfoProducto</label>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-8">
                <label class="idigitales-form-label">@Productos.Nombre</label>
                <input type="text" id="nombre" class="idigitales-form-input" placeholder="@Productos.Nombre" value="" required="" />
            </div>
            <div class="idigitales-col-4">
                <label class="idigitales-form-label">@Productos.Modelo</label>
                <input type="text" id="modelo" class="idigitales-form-input" placeholder="@Productos.Modelo" value="" required />
               
            </div>
        </div>
        <div claass="idigitales-renglon">
            <div class="idigitales-col-12">
                style=""
                <label class="idigitales-form-label">@Productos.Descripcion</label>
                <textarea type="text" id="descripcion" style="height: 100px;resize: none;" class="idigitales-form-input" placeholder="@Productos.Descripcion" value="" required />
            </div>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-4">
                <label class="idigitales-form-label">@Productos.Clasificacion</label>
                <select id="clasificacion" class="select-adjust-container ctrlSelect2" data-placeholder="@Productos.Clasificacion" required></select>
            </div>
            <div class="idigitales-col-4">
                <label class="idigitales-form-label">@Productos.Tipo</label>
                <select id="tipo" class="select-adjust-container ctrlSelect2" data-placeholder="@Productos.Tipo" required></select>
            </div>
            <div class="idigitales-col-3">
                <label class="idigitales-form-label" style="width: 30%;"></label>
                <div id="reposicionWrap">
                    <label class="label_hl">
                        @Productos.Internacional
                        <input data-campo="internacional" type="checkbox" id="internacional" name="internacional" onchange="">
                    </label>
                </div>
            </div>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-4">
                <label class="idigitales-form-label">@Productos.NumeroParte</label>
                <input type="text" id="noParte" class="idigitales-form-input" placeholder="@Productos.NumeroParte" value="" />
            </div>
            <div class="idigitales-col-4">
                <label class="idigitales-form-label">@Productos.DatosCrudos</label>
                <input type="text" id="datosCrudos" class="idigitales-form-input" placeholder="@Productos.DatosCrudos" value="" />
            </div>
            <div class="idigitales-col-4">
                <label class="idigitales-form-label">@Productos.DatosUsables</label>
                <input type="text" id="datosUsables" class="idigitales-form-input" placeholder="@Productos.DatosUsables" value="" />
            </div>
        </div>

        <div class="idigitales-renglon">
            <div class="idigitales-col-4">
                <label class="idigitales-form-label">@Productos.Precio</label>
                <input type="text" id="precio" class="idigitales-form-input" placeholder="@Productos.Precio" value="" required />
            </div>
            <div class="idigitales-col-2">
                <label class="idigitales-form-label">@Productos.Moneda</label>
                <select id="moneda" class="select-adjust-container ctrlSelect2" data-placeholder="@Productos.Moneda" required></select>
            </div>
            <div class="idigitales-col-5" id="">
                
            </div>
            <div class="idigitales-col-1 btnPDF">
                <label class="idigitales-form-label" style="text-align: right"><i id="btnEliminarPdf" class="fa fa-times" aria-hidden="true" title="Eliminar PDF"></i></label>
                <i id="btnDescargaPdf" class="fa fa-file-pdf-o" aria-hidden="true" title="Ver PDF"></i>
            </div>
        </div>
        <div class="idigitales-renglon" id="rowAddFile">
            <div class="idigitales-col-12">
                <div id="drop_zone" class="dropzone">
                    <div class="dz-message">
                        <div class="font-agregar-archivo">

                            <p>
                                @Html.Label(Versiones.SueltaArchivo)
                            </p>
                            <p>
                                o
                            </p>
                            <p>
                                @Html.Label(Versiones.ClicAgregarArchivo)
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="idigitales-contenedor-btn-der">
        <button id="btnGuardarMod" class="idigitales-boton-chico idigitales-boton" type="button">@Productos.Guardar</button>
        <button id="btnCancelarMod" class="idigitales-boton-chico idigitales-boton" type="button">@Productos.Cancelar</button>
    </div>

</div>