﻿@using IDigitales.Pagina.Web.Controllers.Helpers
@model int

<form class="instalaciones-form" action="@Url.Action("InstalacionesHome", "Members" )" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Regresar" />
</form>

<div id="datosGantt" class="row" data-idProyecto="@Model">
    <div class="col-md-12 col-lg-12">

        <div class="card">
            <div class="card-header">
                <h6 class="p-0">Diagrama de Gantt</h6>
            </div>
            <div class="list-group list-group-flush">

                <div class="demo-container" style="max-height:800px">
                    <div id="gantt">
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script>
       $(function () {
           var rutaBase = '@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))';
           PaginaWeb.Members.Proyectos.ModalGantt({ rutaBase: rutaBase }).iniGantt();
       });

</script>
