@font-face {
  font-family: 'fontCMRPage';
  src:  url('fonts/fontCMRPage.eot?vucpxw');
  src:  url('fonts/fontCMRPage.eot?vucpxw#iefix') format('embedded-opentype'),
    url('fonts/fontCMRPage.ttf?vucpxw') format('truetype'),
    url('fonts/fontCMRPage.woff?vucpxw') format('woff'),
    url('fonts/fontCMRPage.svg?vucpxw#fontCMRPage') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontCMRPage' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-imprimirinventario:before {
  content: "\e919";
}
.icon-descarga:before {
  content: "\e90d";
}
.icon-archivo:before {
  content: "\e918";
}
.icon-pacsWD:before {
  content: "\e917";
}
.icon-cerrarsesion:before {
  content: "\e916";
}
.icon-configuracion:before {
  content: "\e913";
}
.icon-nuevacotizacion:before {
  content: "\e914";
}
.icon-usuario:before {
  content: "\e915";
}
.icon-contactos:before {
  content: "\e90e";
}
.icon-listadeprecios:before {
  content: "\e90f";
}
.icon-agregarapp:before {
  content: "\e90b";
}
.icon-agregarproducto:before {
  content: "\e90c";
}
.icon-editarapp:before {
  content: "\e910";
}
.icon-imprimirlista:before {
  content: "\e911";
}
.icon-producto:before {
  content: "\e912";
}
.icon-arixdrf:before {
  content: "\e900";
}
.icon-arixrad:before {
  content: "\e901";
}
.icon-IconoEMEsalud_HIS:before {
  content: "\e902";
}
.icon-IconoINFOsalud_HIS:before {
  content: "\e903";
}
.icon-pacsND:before {
  content: "\e904";
}
.icon-pacsQR:before {
  content: "\e905";
}
.icon-pacsRT:before {
  content: "\e906";
}
.icon-pacsST:before {
  content: "\e907";
}
.icon-pacsSW:before {
  content: "\e908";
}
.icon-pacsWP:before {
  content: "\e909";
}
.icon-WDultimate:before {
  content: "\e90a";
}
