﻿/*******************************/
/*      Modals alertify Js     */
/*******************************/
.alertify.ajs-closable .ajs-commands button.ajs-maximize,
.alertify.ajs-closable .ajs-commands button.ajs-close,
.alertify.ajs-pinnable .ajs-commands button.ajs-pin {
    background: #7ad8f9; color:#000;
    /*border-radius:3px;*/
    margin: 5px;
}
.alertify.ajs-closable .ajs-commands button.ajs-maximize:hover,
.alertify.ajs-closable .ajs-commands button.ajs-close:hover,
.alertify.ajs-pinnable .ajs-commands button.ajs-pin:hover{
    background: #4ABAD1; 
    color:#000;
}

.alertify .ajs-header{
    border-bottom: 2px solid #7ad8f9;
    background-color: #484848 !important;
    color:#fff !important;
}

.alertify .ajs-footer .ajs-buttons .ajs-button {
     background: #7ad8f9; 
     color:#000000 !important;
}

.alertify .ajs-dialog {
    background-color: #484848 !important;
    color:#fff;
    border: 1px solid rgb(42, 42, 42);
}
.alertify .ajs-footer { 
    background-color: #484848 !important;
}
