﻿/*******************************/
/*      Modals alertify Js     */
/*******************************/

.alertify .alertify .ajs-dialog {border-top-left-radius: 5rem; border-top-right-radius: 5rem;}
.alertify.ajs-closable .ajs-commands button.ajs-close
{
    border-radius:15rem;
    line-height: 0rem;
    margin-right: -15rem;
    width: 28rem;
    height: 28rem;
    padding: 0 !important;
    text-align: center !important;
}

.alertify.ajs-closable .ajs-commands button.ajs-close:before {
    font-family:  FontAwesome;
    content: "\f00d";
}
.alertify.ajs-pinnable .ajs-commands button.ajs-pin {
    border-radius:15rem;
    line-height: 0rem;
    margin-right: -5rem;
    width: 28rem;
    height: 28rem;
    padding: 0 !important;
    text-align: center !important;
    background-image: none !important;
}
.alertify.ajs-pinnable .ajs-commands button.ajs-pin:before {
    font-family: "fontHISWEB";
    content: "\e0a4";
}
.alertify .alertify .ajs-dialog {border-top-left-radius: 5rem; border-top-right-radius: 5rem;}
.alertify.ajs-closable .ajs-commands button.ajs-maximize{
    border-radius:15rem;
    line-height: 0rem;
    margin-right: -5rem;
    width: 28rem;
    height: 28rem;
    padding: 0 !important;
    text-align: center !important;
}
.alertify.ajs-maximizable .ajs-commands button.ajs-maximize:before {
    font-family:  FontAwesome;
    content: "\f065";
}


.alertify .ajs-body {
padding: 15rem 30rem 0rem 30rem ;
}

.alertify .ajs-dialog {
    border-radius: 10rem;
}
.alertify .ajs-header {
    border-top-left-radius:10rem;
    border-top-right-radius:10rem;
    font-size:18rem;
}
.alertify .ajs-body {
    border-bottom-left-radius:10rem;
    border-bottom-right-radius:10rem;
}
.alertify .ajs-footer {
    border-bottom-left-radius:10rem;
    border-bottom-right-radius:10rem;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button {
    width: auto;
}

.alertify .ajs-footer .ajs-buttons .ajs-button {
    min-height:29rem !important;
    border-radius: 5rem;
    border: none;
}

.alertify .ajs-footer .ajs-buttons.ajs-auxiliary {
    float: right !important;
    margin-right:15rem;
}

.ajs-message.ajs-custom {
     color: #31708f;  
     background-color:#d9edf7;  
     border-color: #31708f;
    border-radius: 10rem;
}