﻿@import '../../_coloresBase.scss';
/*******************************/
/*      Modals alertify Js     */
/*******************************/
.alertify.ajs-closable .ajs-commands button.ajs-maximize,
.alertify.ajs-closable .ajs-commands button.ajs-close,
.alertify.ajs-pinnable .ajs-commands button.ajs-pin {
    background: $green;
    color:$grayBlue;
    margin: 5px;
}
.alertify.ajs-closable .ajs-commands button.ajs-maximize:hover,
.alertify.ajs-closable .ajs-commands button.ajs-close:hover,
.alertify.ajs-pinnable .ajs-commands button.ajs-pin:hover {
    background: $greenDark;
    color: $blanco;
}

.alertify .ajs-header {
    border-bottom: 2px solid $grayDark;
    background-color: $gray3 !important;
    color: $blanco !important;
}

.alertify .ajs-footer .ajs-buttons .ajs-button {
    background: $green;
    color: $grayBlue;
}
.alertify .ajs-footer .ajs-buttons .ajs-button:hover {
    background: $greenDark;
    color: $blanco;
}
.alertify .ajs-dialog {
    background-color: $gray3 !important;
    color:$blanco;
    border: 1px solid $grayBlue;
}
.alertify .ajs-footer { 
    background-color: $gray3 !important;
}
