﻿/*******************************/
/*    Modals alertify Js       */
/*******************************/
.alertify.ajs-closable .ajs-commands button.ajs-maximize,
.alertify.ajs-closable .ajs-commands button.ajs-close,
.alertify.ajs-pinnable .ajs-commands button.ajs-pin{
    background: #79ABB5; 
    color:#ffffff;
}
.alertify.ajs-closable .ajs-commands button.ajs-maximize:hover,
.alertify.ajs-closable .ajs-commands button.ajs-close:hover,
.alertify.ajs-pinnable .ajs-commands button.ajs-pin:hover{
    background: #31585E; 
    color:#ffffff;
}

.alertify .ajs-header{
    border-bottom: 2px solid #79ABB5;
    background-color:#ffffff !important;
    color:#000000;
}

.alertify .ajs-footer .ajs-buttons .ajs-button {
     background: #79ABB5;
     color: #FFFFFF;
}

.alertify .ajs-dialog {
    background-color: #ffffff !important;
        border: 1px solid lightgray;
}
.alertify .ajs-footer { 
    background-color: #ffffff !important;
}
