﻿ /*
    esquema
    http://colorschemedesigner.com/csd-3.5/#0042g00nRV3F3
    */
$gray0: #f3f3f3;
$gray1: #DCDCDC;
$gray2: #BEBEBE;
$gray3:  #686868;

$grayBlue: #52596b;
$grayBlueLight: #c9d0e0;
$negro: #000;
$blanco: #FFF;

$fontSizeBase: 16rem;


$green: #00C1D4;
$greenDark: #2ba9a0;
$grayDark: #484646;


 