﻿
.estado-reportado {
    background-color: #93c47d;
    color: #ffffff;
}

.estado-requerimiento {
    background-color: #d5a6bd;
    color: #ffffff;
}

.estado-pendiente {
    background-color: #9fc5e8;
    color: #ffffff;
}

.estado-cancelado {
    background-color: #674ea7;
    color: #ffffff;
}

.estado-enproceso {
    background-color: #990000;
    color: #ffffff;
}

.estado-porvalidar {
    background-color: #ffd966;
    color: #ffffff;
}

.estado-noresuelto {
    background-color: #ff9900;
    color: #ffffff;
}

.estado-terminado {
    background-color: #274e13;
    color: #ffffff;
}


.estado-text-reportado {
    color: #93c47d;
}

.estado-text-requerimiento {
    color: #d5a6bd;
}

.estado-text-pendiente {
    color: #9fc5e8;
}

.estado-text-cancelado {
    color: #674ea7;
}

.estado-text-enproceso {
    color: #990000;
}

.estado-text-porvalidar {
    color: #ffd966;
}

.estado-text-noresuelto {
    color: #ff9900;
}

.estado-text-terminado {
    color: #274e13;
}
