﻿.svg-icon {
  width: 26px;
  height: 26px;
}

  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #B0B0B0;
  }

  .svg-icon circle {
    stroke: #B0B0B0;
    stroke-width: 1;
  }

.svg-icon-selected {
  width: 26px;
  height: 26px;
}

.svg-icon-selected path,
.svg-icon-selected polygon,
.svg-icon-selected rect {
  fill: #4691f6;
}

.svg-icon-selected circle {
  stroke: #4691f6;
  stroke-width: 1;
}
