﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@model IDigitales.Pagina.Web.Data.Entidades.Poco.Aplicaciones


@{
    var version = "(Sin versión)";
    var icono = !string.IsNullOrEmpty(Model.Icono) ? Model.Icono : "fa-database";
    var idVersion = 0;
    var hayVersion = false;
    var sistema = "";
    var cambios = string.Empty;
    var display = "block";

    var versionAplicacion = Model.AplicacionesVersiones != null && Model.AplicacionesVersiones.OrderByDescending(x => x.Version).FirstOrDefault() != null ?
        Model.AplicacionesVersiones.OrderByDescending(x => x.Version).FirstOrDefault() : null;
    if (versionAplicacion != null)
    {
        version ="(" + versionAplicacion.Version +")";
        cambios = versionAplicacion.Cambios;
        idVersion = versionAplicacion.IdVersion;
        hayVersion = true;
        sistema = versionAplicacion.Sistema;


    }

    if (!hayVersion)
    {
        display = "none";
    }
}

<div class="item-aplicacion" data-idaplicacion="@Model.IdAplicacion" data-ultimaversion ="@idVersion">
    <div class="idigitales-renglon">
        <div class="idigitales-col-2">
            <div class="versiones-icono"><span class="icon @icono"></span></div>
        </div>
        <div class="idigitales-col-9">
            <div class="versiones-aplicacion" data-idaplicacion="@Model.IdAplicacion">@Model.Nombre</div>
            <div class="versiones-version">@sistema @version</div>
            <div class="versiones-descripcion">@Model.Descripcion</div>
            <a class="versiones-descarga"  style="display: @display" ><span class="icon icon-descarga"></span><span class="descarga">@Versiones.Descargar</span></a>
        </div>
    
        <div class="idigitales-col-1 opciones-versiones">
            @if (User.IsInRole("GENERAL_APLICACIONES_EDITAR"))
            {
                <div id="btnEditar" class="btn-menu-versiones editar-aplicacion" data-idaplicacion="@Model.IdAplicacion"><i class="fa fa-plus" aria-hidden="true"></i></div>
            }
            @*<div id="btnEliminar" class="btn-menu-versiones eliminar-aplicacion" data-idaplicacion="@Model.IdAplicacion"><i class="fa fa-trash" aria-hidden="true"></i></div>*@

        </div>
    </div>
   
</div>