﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@using IDigitales.Pagina.Web.Controllers.Helpers
@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.AplicacionesVersiones>


@foreach (var version in Model)
{
    <div class="item-version">
        <div class="idigitales-renglon">
            <div class="idigitales-col-7">
                <label class="idigitales-form-label titulo-sistema">@version.Sistema (@version.Version)</label>
            </div>

            <div class="idigitales-col-3">
                @{
                    var fec = version.Fecha != null ? string.Format("{0:dd-MM-yyyy}", version.Fecha) : string.Empty;
                }
                <label class="idigitales-form-label">@fec</label>
            </div>
            <div class="idigitales-col-1">
                <div class="fa fa-envelope-o boton-cuadrado-grande correo-version" style="@(version.CorreoEnviado == true ? "text-shadow: 0 0 4px green;" : "text-shadow: 0 0 4px red;")" data-idversion="@version.IdVersion"></div>
            </div>
            <div class="idigitales-col-1">
                <div class="fa fa-edit boton-cuadrado-grande editar-version" data-idversion="@version.IdVersion"></div>
            </div>
            <div class="idigitales-col-1">
                <div class="fa fa-trash boton-cuadrado-grande eliminar-version" data-idversion="@version.IdVersion"></div>
            </div>
        </div>
        
    </div>
}

    
