﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@using IDigitales.Pagina.Web.Controllers.Helpers
@model IDigitales.Pagina.Web.Data.Entidades.Poco.Aplicaciones

<div id="modalOpcionesDescarga" data-elemento="@Model.ToJson()">
    <label class="hide" id="titulo">@Versiones.OpcionesDescarga</label>
    <input type="hidden" id="idAplicacion" value="@Model.IdAplicacion"/>
    <div class="idigitales-renglon">
        <div class="idigitales-col-5">
            <label class="idigitales-form-label label-version">@Versiones.VersionProducto:</label>
            <select id="Version" class="select-adjust-container version" data-placeholder="Seleccionar"></select>
        </div>
        <div class="idigitales-col-7">
            <label class="idigitales-form-label label-version">@Versiones.Sistema:</label>
            <select id="Sistema" class="select-adjust-container " data-placeholder="Seleccionar"></select>
        </div>
        <div></div>
    </div>
    <div id="cntInformacionManual" class="idigitales-renglon">
       
    </div>
    
    <div id="plantillaDescarga" style="display: none">
        <div id="InformacionManual">

            <div>
                <div class="idigitales-renglon titulo">
                    <div class="idigitales-col-5">
                        <a class="fa fa-info-circle version-informacion"></a>
                        <div class="card-info-version">
                            <div class="cambios"></div>
                        </div>
                        <label id="Sistema" class="idigitales-form-label sistema"></label>
                    </div>
                    <div class="idigitales-col-2">
                        <label class="idigitales-form-label labels-verdes">@Versiones.Fecha</label>
                    </div>
                    <div class="idigitales-col-2">
                        <label class="idigitales-form-label labels-verdes">@Versiones.Tamanio</label>
                    </div>
                    <div class="idigitales-col-3">
                    </div>
                </div>
                <div class="idigitales-renglon">
                    <div class="idigitales-col-5">
                        <label class="idigitales-form-label aplicacion"></label>
                    </div>

                    <div class="idigitales-col-2">
                        <label class="idigitales-form-label fecha"></label>
                    </div>
                    <div class="idigitales-col-2">
                        <label class="idigitales-form-label tamano"></label>
                    </div>
                    <div class="idigitales-col-1">
                    </div>
                    <div class="idigitales-col-2" style="text-align: right;">
                        <a class="versiones-descarga-manual" data-nombre=""><span class="icon icon-descarga"></span><span class="descarga">@Versiones.Descargar</span></a>
                    </div>
                </div>
            </div>
            <div id="cntArchivos"></div>
        </div>
    </div>
    <div id="plantillaSinVersiones" style="display: none">
        <div class="sinVersiones">
            <sapan>@Versiones.NoDatosAplicacion</sapan>
        </div>

    </div>
    <div class="idigitales-renglon" id="plantillaArchivo" style="display: none">
        <div class="idigitales-col-5">
            <label class="idigitales-form-label nombre"></label>
        </div>
                    
        <div class="idigitales-col-2">
            <label class="idigitales-form-label fecha"></label>
        </div>
        <div class="idigitales-col-2">
            <label class="idigitales-form-label tamano"></label>
        </div>
        <div class="idigitales-col-1">
        </div>
        <div class="idigitales-col-2" style="text-align: right;">
            <a class="versiones-descarga-manual-archivo" data-nombre=""><span class="icon icon-descarga"></span><span class="descarga">@Versiones.Descargar</span></a>
        </div>
    </div>
</div>

