﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@using IDigitales.Pagina.Web.Controllers.Helpers
@model IDigitales.Pagina.Web.Data.Entidades.Poco.AplicacionesVersiones


<div id="modalEditarVersion" data-elemento="@Model.ToJson()" data-idaplicacion="@Model.IdAplicacion" data-idversion="@Model.IdVersion">
    <label class="hide" id="titulo">@Versiones.EditarVersion</label>
    <input type="hidden" id="IdAplicacion" value="" />
    <input type="hidden" id="IdVersion" value="" />

    <div class="idigitales-renglon">
        <div class="idigitales-col-6">
            <label class="idigitales-form-label">@Versiones.Version</label>
            <input type="text" id="Version1" class="idigitales-form-input version-val" value="0" />
            <input type="text" id="Version2" class="idigitales-form-input version-val" value="0" />
            <input type="text" id="Version3" class="idigitales-form-input version-val" value="0" />
            <input type="text" id="Version4" class="idigitales-form-input version-val" value="0" />
        </div>
        <div class="idigitales-col-6">
            <label class="idigitales-form-label">@Versiones.Sistema</label>
            <select id="Sistema" class="select-adjust-container" data-placeholder="@Versiones.Seleccionar">
                <option value="Windows SO">Windows SO</option>
                <option value="Mac SO">Mac SO</option>
                <option value="Android SO">Android SO</option>
            </select>
            
        </div>
    </div>
    <div class="idigitales-renglon">
        <div class="idigitales-col-12">
            <label class="idigitales-form-label">@Versiones.Cambios</label>
            <p style="padding-right: 24rem; margin-bottom: 5rem; margin-top: 0rem;">
                <textarea id="Cambios" class="idigitales-form-textarea" placeholder="@Versiones.Cambios" rows="13" required="required" style="padding: 10rem 10rem;"></textarea>
            </p>            
        </div>
    </div>


    <div class="idigitales-renglon">
        <div id="panelCarousel" class="panelDatos panel panel-default">
            <div class="idigitales-renglon" id="divCarousel">
                <div class="emptyDataCarusel"> @Versiones.NoArchivos</div>
                <div class="idigitales-col-5">
                    <div class="wrapper dropzone-previews" style="padding-left: 50px;">
                        <div id="myCarousel" class="owl-carousel" style="width: 150px;">
                        </div>
                    </div>
                </div>
                <div class="idigitales-col-7" id="divCaptura" style="visibility: collapse; float: right; margin-top:20rem;">
                    <div class="idigitales-renglon">
                        <div class="idigitales-col-4">
                            <label class="idigitales-form-label">@Versiones.Nombre</label>
                        </div>
                        <div class="idigitales-col-8">
                            <input type="text" id="txtNombre" class="idigitales-form-input" placeholder="@Versiones.Nombre" value="" />
                        </div>
                    </div>
                    <div class="idigitales-renglon">
                        <div class="idigitales-col-4">
                            <label class="idigitales-form-label">@Versiones.Tamano</label>
                        </div>
                        <div class="idigitales-col-8">
                            <input type="text" id="txtTamano" class="idigitales-form-input" placeholder="@Versiones.Tamano" value="" readonly="readonly" />
                        </div>
                    </div>
                    <div class="idigitales-renglon">
                        <div class="idigitales-col-4">
                            <label class="idigitales-form-label">@Versiones.Tipo</label>
                        </div>
                        <div class="idigitales-col-8">
                            <input type="text" id="txtTipo" class="idigitales-form-input" placeholder="@Versiones.Tipo" value="" readonly="readonly" />
                        </div>
                    </div>
                   
            
                </div>
            </div>
        </div>
    </div>
    <div class="idigitales-renglon">
        <div class="idigitales-col-12">
            <div id="drop_zone" class="dropzone">
                <div class="dz-message">
                    <div class="font-agregar-archivo">
                        <p style="height:10rem;">
                            @Html.Label(Versiones.SueltaArchivo)
                        </p>
                        <p style="height:5rem;">
                            o
                        </p>
                        <p style="height:10rem;">
                            @Html.Label(Versiones.ClicAgregarArchivo)
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="idigitales-contenedor-btn-der" style="margin-top:0rem; margin-bottom:10rem;">
        <button id="btnGuardar" class="idigitales-boton-chico idigitales-boton" type="button">@Versiones.Guardar</button>
        <button id="btnCancelar" class="idigitales-boton-chico idigitales-boton" type="button">@Versiones.Cancelar</button>
    </div>
</div>
