﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@model List<IDigitales.Pagina.Web.Data.Entidades.Poco.Aplicaciones>

@if (Model != null && Model.Any())
{
    foreach (var aplicacion in Model)
    {
        Html.RenderPartial("Versiones/VersionesAplicacionesElemento", aplicacion);
    }
}
else
{
    <div class="sin-aplicaciones">@Versiones.SinAplicaciones</div>
}