﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members
@using IDigitales.Pagina.Web.Controllers.Helpers
@model IDigitales.Pagina.Web.Data.Entidades.Poco.Aplicaciones


<div id="modalEditarAplicacion" data-elemento="@Model.ToJson()" data-idaplicacion="@Model.IdAplicacion">
    <label class="hide" id="titulo">@Versiones.EditarAplicacion</label>
    <input type="hidden" id="IdAplicacion" value="" />
    <div class="idigitales-renglon">
        <div class="idigitales-col-8">
            <label class="idigitales-form-label">@Versiones.Nombre</label>
            <input type="text" id="Nombre" class="idigitales-form-input" placeholder="@Versiones.Nombre" required="required" />
        </div>
        <div class="idigitales-col-8">
            <label class="idigitales-form-label">TAG</label>
            <input type="text" id="TAG" class="idigitales-form-input" placeholder="TAG" value="" required="required" />
        </div>
        <div class="idigitales-col-4">
            <label class="idigitales-form-label">@Versiones.Icono</label>
            <select id="Icono" class="select-adjust-container" data-placeholder="@Versiones.Icono" required="required"></select>

        </div>

    </div>
    <div claass="idigitales-renglon">
        <div class="idigitales-col-12">
            <label class="idigitales-form-label">@Versiones.Descripcion</label>
            <input type="text" id="Descripcion" class="idigitales-form-input" placeholder="@Versiones.Descripcion" required="required"/>
        </div>
    </div>

    <fieldset class="idigitales-fielset" id="fieldVersiones">
        <div class="idigitales-fielset-title">
            <label class="idigitales-form-label">@Versiones.Titulo</label>
        </div>
        <div class="idigitales-fielset-titleBtns">
        @if (User.IsInRole("GENERAL_VERSIONES_EDITAR"))
        {
            <div id="btnAgregarVersion" class="fa fa-plus boton-cuadrado"></div>
        }
        </div>
        <div id="contenedorVersiones">
            @*@{
                    Html.RenderAction("ObtenerAplicacionAplicaciones", "Members", new {idAplicacion= Model.IdAplicacion});
                }*@
        </div>

    </fieldset>



    <div class="idigitales-contenedor-btn-der">
        <button id="btnGuardar" class="idigitales-boton-chico idigitales-boton" type="button">@Versiones.Guardar</button>
        <button id="btnEliminar" class="idigitales-boton-chico idigitales-boton" type="button">@Versiones.Eliminar</button>
    </div>
</div>
