﻿@using IDigitales.Pagina.Web.Comun.Idioma.Members

<div class="wrapper-versiones">

    <div id="cntSubSeccion" class="idigitales-seccion">
        
        <div id="cntVersionesAplicaciones" class="idigitales-col-12 pagina-panel">
            <div class="titulo-barra">
                <div class="titulo-label">
                    <div class="titulo-texto"> @Versiones.AplicacionesCMR</div>
                </div>
               
            </div>
            <div id="cntAplicaciones">
                 @{ Html.RenderAction("VersionesAplicaciones", "Members"); }
               
            </div>
        </div>
    </div>
    
    
    
</div>