@using IDigitales.Pagina.Web.Comun.Idioma.Members
@using IDigitales.Pagina.Web.Controllers.Helpers
@model IDigitales.Pagina.Web.Data.Entidades.Poco.Aplicaciones


<div id="modalAgregarAplicacion" data-elemento="@Model.ToJson()">
    <label class="hide" id="titulo">@Versiones.AgregarAplicacion</label>
    <div class="idigitales-renglon">
        <div class="idigitales-col-8">
            <label class="idigitales-form-label">@Versiones.Nombre</label>
            <input type="text" id="Nombre" class="idigitales-form-input" placeholder="@Versiones.Nombre" value="" required="required" />
        </div>
        <div class="idigitales-col-8">
            <label class="idigitales-form-label">TAG</label>
            <input type="text" id="TAG" name="TAG" class="idigitales-form-input" placeholder="TAG" value="" required="required" />
        </div>
        <div class="idigitales-col-4">
            <label class="idigitales-form-label">@Versiones.Icono</label>
            <select id="Icono" class="select-adjust-container" data-placeholder="@Versiones.Icono" required="required"></select>

        </div>

    </div>
    <div claass="idigitales-renglon">
        <div class="idigitales-col-12">
            <label class="idigitales-form-label">@Versiones.Descripcion</label>
            <input type="text" id="Descripcion" class="idigitales-form-input" placeholder="@Versiones.Descripcion" value="" required="required"/>
        </div>
    </div>
    
    <fieldset class="idigitales-fielset">
        <div class="idigitales-fielset-title">
            <label class="idigitales-form-label">@Versiones.DatosVersion</label>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-6">
                <label class="idigitales-form-label">@Versiones.Version</label>
                <input type="text" id="Version1" class="idigitales-form-input version-val"  value="0" />
                <input type="text" id="Version2" class="idigitales-form-input version-val"  value="0" />
                <input type="text" id="Version3" class="idigitales-form-input version-val"  value="0" />
                <input type="text" id="Version4" class="idigitales-form-input version-val"  value="0" />
            </div>
            <div class="idigitales-col-6">
                <label class="idigitales-form-label">@Versiones.Sistema</label>
                <input type="text" id="Sistema" class="idigitales-form-input" placeholder="@Versiones.Sistema" value="" required="required"/>
            </div>
        </div>
        <div class="idigitales-renglon">
            <div class="idigitales-col-12">
                <label class="idigitales-form-label">@Versiones.Cambios</label>
                <input type="text" id="Cambios" class="idigitales-form-input" placeholder="@Versiones.Cambios" value="" required="required"/>
            </div>
        </div>
    </fieldset>

   
    <div class="idigitales-renglon">
        <div class="idigitales-col-12">
            <div id="drop_zone" class="dropzone">
                <div class="dz-message">
                    <div class="font-agregar-archivo">

                        <p>
                            @Html.Label(Versiones.SueltaArchivo)
                        </p>
                        <p>
                            o
                        </p>
                        <p>
                            @Html.Label(Versiones.ClicAgregarArchivo)
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="idigitales-contenedor-btn-der">
        <button id="btnGuardar" class="idigitales-boton-chico idigitales-boton" type="button">@Versiones.Guardar</button>
        <button id="btnCancelar" class="idigitales-boton-chico idigitales-boton" type="button">@Versiones.Cancelar</button>
    </div>
</div>