/**
 *  Master Slider
 *  Light-6 Skin
 */

#masterslider-showcase .ms-container{max-width: 100% !important;}
##masterslider-showcase .ms-view{width: 1025px;}

.ms-skin-light-6 .ms-slide .ms-slide-vpbtn,
.ms-skin-light-6 .ms-video-btn {
    width: 45px;
    height: 45px;
    background: url(../masterslider/skins/designare/light-skin-6.png) white no-repeat -16px -103px;
    border: solid 3px rgb(112, 112, 112);
    border-color: rgba(0, 0, 0, 0.27);
    -webkit-background-clip: padding-box;
    top: 50%;
    left: 50%;
    margin: -23px 0 0 -23px;
}

.ms-skin-light-6 .ms-slide .ms-slide-vpbtn:hover,
.ms-skin-light-6 .ms-video-btn:hover{
	background-color:#E0E0E0;
}

.ms-skin-light-6 .ms-slide .ms-slide-vcbtn {
    width: 25px;
    height: 25px;
    background: url(../masterslider/skins/designare/light-skin-6.png) white no-repeat -27px -36px;
    top: 15px;
    right: 15px;
}

.ms-skin-light-6.round-skin .ms-slide .ms-slide-vcbtn{
	border-radius: 30px;
}


/* controls */
.ms-skin-light-6 .ms-nav-prev{
	background-position: -92px -29px;
}
.ms-skin-light-6 .ms-nav-next,
.ms-skin-light-6 .ms-nav-prev {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    top: 50%;
    left: 30px;
    margin-top: -22px;
    opacity: 1 !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
    position: absolute;
    cursor: pointer;
    z-index: 110;
    width: 45px;
    height: 45px;
    background: url(../masterslider/skins/designare/light-skin-6.png) white;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    background-position: -89px -106px;
    border: solid 3px rgb(112, 112, 112);
    border-color: rgba(0, 0, 0, 0.27);
    top: 50%;
    left: 30px;
    margin-top: -22px;
}

.ms-skin-light-6 .ms-nav-next{
	
	-webkit-transition: none  !important;
	-moz-transition: none  !important;
	transition: none  !important;
}

.ms-skin-light-6 .ms-nav-prev {
    background: url(../masterslider/skins/designare/light-skin-6.png) white;
    background-position: -92px -29px;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}
.ms-skin-light-6 .ms-nav-next:hover {
    background: url(../masterslider/skins/designare/light-skin-6.png) white;
    background-position: -89px -106px;
    background-color: #E0E0E0;
}
.ms-skin-light-6 .ms-nav-prev:hover {
    background: url(../masterslider/skins/designare/light-skin-6.png) white;
    background-position: -91px -30px;
    background-color: #E0E0E0;
}



.dark-section .ms-skin-light-6 .ms-nav-next, .black-section .ms-skin-light-6 .ms-nav-next{
	background: url(large_right-light.png) no-repeat 0 0;
	-webkit-transition: none  !important;
	-moz-transition: none  !important;
	transition: none  !important;
}

.dark-section .ms-skin-light-6 .ms-nav-prev, .black-section .ms-skin-light-6 .ms-nav-prev{
	/*background: url(large_left-light.png) no-repeat 0 0;*/
	-webkit-transition: none  !important;
	-moz-transition: none  !important;
	transition: none  !important;
}
.dark-section .ms-skin-light-6 .ms-nav-next:hover, .black-section .ms-skin-light-6 .ms-nav-next:hover{
	background: url(large_right-light.png) no-repeat 0 -46px;
}

.dark-section .ms-skin-light-6 .ms-nav-prev:hover, .black-section .ms-skin-light-6 .ms-nav-prev:hover{
	/*background: url(large_left-light.png) no-repeat 0 -46px;*/
}


.ms-skin-light-6 .ms-nav-next {
	right: 30px;
	left: auto;
}

#noticias .ms-skin-light-6 .ms-nav-next, #ventanaProductos .ms-skin-light-6 .ms-nav-next {
	right: -50px;
	left: auto;
}

#noticias .ms-skin-light-6 .ms-nav-prev, #ventanaProductos .ms-skin-light-6 .ms-nav-prev {
	 left: -50px;
}

.ms-skin-light-6.round-skin .ms-nav-next,
.ms-skin-light-6.round-skin .ms-nav-prev,
.ms-skin-light-6.round-skin .ms-slide .ms-slide-vpbtn,
.ms-skin-light-6.round-skin .ms-video-btn{
	border-radius: 90px;
}



.ms-skin-light-6 .ms-thumb-frame-selected {
	opacity: 0.6;
}

.ms-skin-light-6 .ms-thumb-list.ms-dir-h {
	bottom: -60px;
	width: 100%;
	height: 60px;
}

.ms-skin-light-6 .ms-thumb-list.ms-dir-v {
	height: 100%;
	width: 60px;
	right: -60px;
	top: 0;
}

.ms-skin-light-6 .ms-thumb-frame {
	cursor: pointer;
	float: left;
	width: 60px;
	height: 60px;
	margin: 1px 0 0 1px;
	overflow: hidden;
}

.ms-skin-light-6 .ms-bullets.ms-dir-h {
	position: absolute;
	bottom: 20px;
	right: 50%;
	width: 100px;
}

.ms-skin-light-6 .ms-bullets.ms-dir-h .ms-bullets-count {
	position: relative;
	right: -50%;
}

.ms-skin-light-6 .ms-bullet {
	width: 8px;
	height: 8px;
	background: black;
	-webkit-background-clip: padding-box;
	border: solid 3px white;
	border-color: rgba(255, 255, 255, 0.44);
	margin: 4px;
	background-position: -34px -117px;
}

.ms-skin-light-6.round-skin .ms-bullet{
	border-radius: 15px;
}


.ms-skin-light-6 .ms-bullet-selected {
	background-color: white;
	border-color: black;
	border-color: rgba(0, 0, 0, 0.44);
}

.ms-skin-light-6 .ms-sbar {
	position: absolute;
}

.ms-skin-light-6 .ms-sbar.ms-dir-h {
	left: 10px;
	right: 10px;
	top: 5px
}

.ms-skin-light-6 .ms-sbar.ms-dir-v {
	top: 10px;
	bottom: 10px;
	right: 5px
}

.ms-skin-light-6 .ms-sbar .ms-bar {
	height: 4px;
	background: #DD00FF;
	border-radius: 4px;
}

.ms-skin-light-6 .ms-sbar.ms-dir-v .ms-bar {
	width: 4px;
}

.ms-skin-light-6 .ms-timerbar {
	width: 100%;
	bottom: 0px;
	position: absolute;
}

.ms-skin-light-6 .ms-time-bar {
	height: 3px;
	background: #FFFFFF;
}

.ms-skin-light-6 .ms-ctimer {
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
}

.ms-skin-light-6 .ms-ctimer-bullet {}

.ms-skin-light-6 .ms-tooltip{
	position: absolute;
	z-index: 110;
	cursor: auto;
}

.ms-skin-light-6 .ms-tooltip-top .ms-tooltip-arrow,
.ms-skin-light-6 .ms-tooltip-bottom .ms-tooltip-arrow{
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
	position: absolute;
	left: 50%;
	margin-left: -10px;
}

.ms-skin-light-6 .ms-tooltip-top .ms-tooltip-arrow{
	border-top: solid 10px;
	border-top-color: silver;
	border-top-color: rgba(0, 0, 0, .95);
	bottom: -10px;
}

.ms-skin-light-6 .ms-tooltip-bottom .ms-tooltip-arrow {
	border-bottom: solid 10px;
	border-bottom-color: silver;
	border-bottom-color: rgba(0, 0, 0, .95);
	top: -10px;
}

.ms-skin-light-6 .ms-tooltip-right .ms-tooltip-arrow,
.ms-skin-light-6 .ms-tooltip-left .ms-tooltip-arrow{
	border-top: solid 10px transparent;
	border-bottom: solid 10px transparent;
	position: absolute;
	top: 50%;
	margin-top: -10px;
}

.ms-skin-light-6 .ms-tooltip-right .ms-tooltip-arrow{
	border-right: solid 10px;
	border-right-color: silver;
	border-right-color: rgba(0, 0, 0, .95);
	left: -10px;
}

.ms-skin-light-6 .ms-tooltip-left .ms-tooltip-arrow {
	border-left: solid 8px;
	border-left-color: silver;
	border-left-color: rgba(0, 0, 0, .95);
	right: -8px; 
}

@keyframes point-anim{
	0% 		{transform: scale(0.5); -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -o-transform: scale(0.5); -ms-transform: scale(0.5);  opacity: 1; }
	100% 	{transform: scale(0.5); -webkit-transform: scale(0.5); -moz-transform: scale(1.5); -o-transform: scale(1.5); -ms-transform: scale(1.5);  opacity: 0; }
}

@-webkit-keyframes point-anim{
	0% 		{-webkit-transform: scale(0.5); opacity: 1; }
	100% 	{-webkit-transform: scale(1.5);	opacity: 0; }
}

.ms-skin-light-6 .ms-tooltip-point {cursor: pointer;}
.ms-skin-light-6 .ms-tooltip-point .ms-point-center {
	width: 12px;
	height: 12px; 
	border-radius: 15px;
	background: white;
	margin: -6px 0 0 -6px;
	position: absolute;
	z-index: 5;
}

.ms-skin-light-6 .ms-tooltip-point .ms-point-border {
	width: 22px;
	height: 22px; 
	margin: -11px 0 0 -11px;
	position: absolute;
	border-radius: 15px;
	
	animation: point-anim 1.5s infinite ;
	-moz-animation: point-anim 1.5s infinite;
	-webkit-animation: point-anim 1.5s infinite;
	-o-animation: point-anim 1.5s infinite;
}

/* In Android browser, using css animations over slider causes some crashes */
.ms-android.ms-skin-light-6 .ms-tooltip-point .ms-point-border{
	animation:none;
	-moz-animation:none;
	-webkit-animation:none;
	-o-animation:none;
}

.ms-ie7.ms-skin-light-6 .ms-tooltip-point .ms-point-border,
.ms-ie8.ms-skin-light-6 .ms-tooltip-point .ms-point-border{
	display: none;
}


.ms-inner-controls-cont{
	max-width: none !important;

}

.ms-imagen-borde 
{
    outline: 1px solid #cccccc;
    outline-offset: -2px;
 }

#slider-popup .ms-slide-bgcont {
    /*border: solid 1px #cccccc;
    border-radius:1.5px;*/
    overflow: visible !important;
    }

.ms-skin-light-6 .ms-tooltip-cont{
	padding: 10px;
	background: rgba(0, 0, 0, .95);
	color: #fff;
}

/* retina */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dppx),
only screen and (                min-resolution: 2dppx) {

    .ms-skin-light-6 .ms-slide .ms-slide-vpbtn,
    .ms-skin-light-6 .ms-video-btn,
    .ms-skin-light-6 .ms-slide .ms-slide-vcbtn,
    .ms-skin-light-6 .ms-nav-next,
    .ms-skin-light-6 .ms-nav-prev {
        background-image: url(../masterslider/skins/designare/light-skin-6-retina.png);
        background-size: 152px 225px;
    }
	
}
