﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.Comentario

<div>
    <div class="d-flex align-items-start my-3">
        @if (Model.Tipo == IDigitales.Pagina.Web.Data.Entidades.Poco.Comentario.LogEnum.Ninguno)
        {
            string user = Model.UsuarioId.HasValue ? Model.Usuario.Nombre : "Anónimo";
            <div class="mr-1" style="min-width: 40px; min-height: 40px;" data-toggle="tooltip" data-placement="top" title="@user">
                <div class="d-flex align-items-center justify-content-center rounded-circle bg-light" style="height:40px;width:40px;">
                    @if (Model.UsuarioId.HasValue)
                    {
                        <h6 class="m-0 text-dark">@Model.Usuario.Nombre.FirstOrDefault().ToString().ToUpper()</h6>
                    }
                    else
                    {
                        <i class="material-icons" style="font-size:16px;">cloud_download</i>
                    }
                </div>
                @*<img class="rounded-circle" width="40" height="40" src="https://via.placeholder.com/40" />*@
            </div>
            <div id="comentario-@Model.Id" class="p-2 rounded bg-light comentario">
                @if (Model.Contenido.Contains("http"))
                {
                    <p class="m-0">
                        @foreach (var part in Model.Contenido.Split(' '))
                        {
                            if (part.Contains("http"))
                            {
                                <a href="@part" target="_blank">@part</a>
                            }
                            else
                            {
                                <span>@part </span>
                            }
                        }
                    </p>
                }
                else
                {
                    <p class="m-0">
                        @Model.Contenido
                    </p>
                }
                @if (!string.IsNullOrEmpty(Model.ArchivoRutaRelativa))
                {
                    if (IDigitales.Pagina.Web.Data.Modelos.Evidencias.TypeByExtension(Path.GetExtension(Model.ArchivoRutaRelativa)) == IDigitales.Pagina.Web.Data.Modelos.Evidencias.EvidenciaType.Image)
                    {
                        <img class="img-circle img-thumbnail thumbnail img" style="width:200px; cursor: pointer;" src="@Url.Action("EvidenciaGetFile", new { @ruta = Model.ArchivoRutaRelativa })" />
                    }
                    else if (IDigitales.Pagina.Web.Data.Modelos.Evidencias.TypeByExtension(Path.GetExtension(Model.ArchivoRutaRelativa)) == IDigitales.Pagina.Web.Data.Modelos.Evidencias.EvidenciaType.Video)
                    {
                        <video class="img-circle img-thumbnail thumbnail" style="width:200px; cursor: pointer;">
                            <source src="@Url.Action("EvidenciaGetFile", new { @ruta = Model.ArchivoRutaRelativa })" type="video/@Path.GetExtension(Model.ArchivoRutaRelativa).Replace(".", "")">
                            El explorador no soporta video en línea.
                        </video>
                    }
                }
                @if (Model.Contenido.Contains("http") && Model.Contenido.Contains("?dl=0"))
                {
                    string part = Model.Contenido.Split(' ').FirstOrDefault(p => p.Contains("http"));
                    if (IDigitales.Pagina.Web.Data.Modelos.Evidencias.TypeByExtension(Path.GetExtension(part.Replace("?dl=0", ""))) == IDigitales.Pagina.Web.Data.Modelos.Evidencias.EvidenciaType.Image)
                    {
                        <img class="img-circle img-thumbnail thumbnail img" style="width:200px; cursor: pointer;" src="@Url.Action("EvidenciaGetFile", new { @ruta = Model.ArchivoRutaRelativa })" />
                    }
                    else if (IDigitales.Pagina.Web.Data.Modelos.Evidencias.TypeByExtension(Path.GetExtension(part.Replace("?dl=0", ""))) == IDigitales.Pagina.Web.Data.Modelos.Evidencias.EvidenciaType.Video)
                    {
                        <video class="img-circle img-thumbnail thumbnail" style="width:200px; cursor: pointer;">
                            <source src="@part.Replace("dl=0", "raw=1")" type="video/@Path.GetExtension(part.Replace("?dl=0", "")).Replace(".", "")">
                            El explorador no soporta video en línea.
                        </video>
                    }
                }
                <div class="small d-flex flex-row-reverse">@Model.FechaCreacion.ToShortTimeString()<span class="mx-1"></span>@Model.FechaCreacion.ToLongDateString()</div>
            </div>
        }
        else
        {
            <div class="mr-1" style="min-width: 40px; min-height: 40px;" data-toggle="tooltip" data-placement="top" title="Cambio de estado">
                <div class="d-flex align-items-center justify-content-center rounded">
                    <i class="material-icons estado-text-@Model.NuevoEstado.ToString().ToLower() bg-white">update</i>
                </div>
            </div>
            <div class="p-1 rounded text-muted bg-light">
                <p class="m-0">@Model.Log</p>
                @if (Model.Evidencia != null && Model.Evidencia.Contenido != null)
                {
                    <div class="d-flex">
                        <div class="d-flex align-items-center text-primary">
                            <i id="evidencia-@Model.Evidencia.Id" class="material-icons evidencia-btn btn">find_in_page</i>
                        </div>
                        <div class="flex-fill card bg-light">
                            @if (Model.Evidencia.Contenido.Contains("http"))
                            {
                                <p class="p-1 m-0 rounded">
                                    <a href="@Model.Evidencia.Contenido" target="_blank">@Model.Evidencia.Contenido</a>
                                </p>
                            }
                            else
                            {
                                <p class="p-1 m-0 rounded">
                                    @Model.Evidencia.Contenido
                                </p>
                            }
                        </div>
                    </div>
                }
                else if (Model.VersionDeCorreccion != null)
                {
                    <div class="d-flex">
                        <div class="d-flex align-items-center mx-3">
                            Versión de corrección:
                        </div>
                        <div class="flex-fill card bg-light">
                            <p class="p-1 m-0 rounded">
                                @Model.VersionDeCorreccion
                            </p>
                        </div>
                    </div>
                }
                <div class="small d-flex flex-row-reverse">@Model.FechaCreacion.ToShortTimeString()<span class="mx-1"></span>@Model.FechaCreacion.ToLongDateString()</div>
            </div>
        }
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    addThumbnailClick();
</script>
