﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.Reporte

<style>
    .form-check-input:checked + label {
        background-color: aliceblue;
        font-weight: 600;
    }
</style>

@*@if (ViewBag.Show == true)
    {*@
@if (ViewBag.PorValidar == true)
{
    if (Model.Modulo != null)
    {
        <h6 class="mt-4">¿Cuál es la versión de corrección?</h6>
        <div class="d-flex align-items-center">
            <span class="small badge badge-light d-flex align-items-center justify-content-center">
                Versión reportada: @(Model.Modulo.Aplicaciones.VersionEstable != null ? Model.Modulo.Aplicaciones.VersionEstable.Version : "0.0.0.0")
            </span>
            <i class="material-icons">arrow_right</i>
            @Html.DropDownList("idVersion", ViewBag.Versiones as SelectList, new { @class = "selectpicker" })
        </div>
        <hr />
    }
    <textarea id="textArea" name="evidencia" class="form-control mt-2" placeholder="Comentario, link de dropbox, etc"></textarea>
    <div>
        <div class="d-flex align-items-center btn btn-link">
            <i class="material-icons">attachment</i>
            <label id="uploadFileInnerLabel" for="uploadFileInner" class="m-0">adjunta una evidencia</label>
            <input type="file" class="d-none" name="uploadFileInner" id="uploadFileInner" accept="image/*, video/mp4, video/ogg, video/webm" />
        </div>
    </div>
    if ((ViewBag.User as IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios).Tipo == IDigitales.Pagina.Web.Data.Entidades.Poco.Usuarios.EnumUsuarioTipo.Desarrollo)
    {
        <div class="mt-2 card bg-light">
            <div class="text-warning m-2 small">
                No podrás accesar al reporte después de haber cambiado su estado.
            </div>
        </div>
    }
}
else if (ViewBag.EnProceso == true)
{
    <h6 class="mt-4">¿A quién se le asigna este reporte?</h6>
    @Html.DropDownList("idDesarrollador", ViewBag.Devs as SelectList, "Seleccione uno...", new { @class = "selectpicker" })
    @*<input type="text" class="form-control font-weight-bold" name="contenido" placeholder="Nombre del desarrollador" />*@
}
else if (ViewBag.Show == true)
{
    <h6 class="mt-4">¿Cuál es la evidencia de este cambio?</h6>
    <textarea id="textArea" name="evidencia" class="form-control mt-2" placeholder="Comentario, link de dropbox, etc"></textarea>
    <div>
        <div class="d-flex align-items-center btn btn-link">
            <i class="material-icons">attachment</i>
            <label id="uploadFileInnerLabel" for="uploadFileInner" class="m-0">adjunta una evidencia</label>
            <input type="file" class="d-none" name="uploadFileInner" id="uploadFileInner" accept="image/*, video/mp4, video/ogg, video/webm" />
        </div>
    </div>
    @*foreach (var comentario in Model.OrderByDescending(c => c.FechaCreacion))
        {
        if (comentario.Tipo == IDigitales.Pagina.Web.Data.Entidades.Poco.Comentario.LogEnum.Ninguno)
        {
        <div class="form-check d-flex p-0 mb-2">
            <input class="form-check-input d-none" type="radio" name="idComentario" id="comentario-evidencia-@comentario.Id" value="@comentario.Id" />
            <label class="form-check-label p-1 rounded border w-100" for="comentario-evidencia-@comentario.Id">
                @comentario.Contenido
            </label>
        </div>
        }
        }*@
}
@*}*@

<script>
    $('.selectpicker').selectpicker({
        liveSearch: true,
        showSubtext: true
    });

    $('#uploadFileInner').unbind();
    $('#uploadFileInner').change(function (e) {
        if (this != null) {
            if (this.files[0] != null) {
                var name = e.target.files[0].name;
                $('#uploadFileInnerLabel').html(name);

            }
        }
    });
</script>

