﻿@model IEnumerable<IDigitales.Pagina.Web.Data.Entidades.Poco.Comentario>

<div id="nuevosComentarios">
</div>
@foreach (var item in Model.OrderByDescending(c => c.FechaCreacion))
{
    Html.RenderPartial("Reportes/_Comentario", item);
}
