﻿@model Dictionary<string, List<IDigitales.Pagina.Web.Data.Entidades.ResultadoOperacion>>

<h2>Resumen de importación</h2>
@{
    var usrOK = Model["users"].Where(m => m.Resultado == IDigitales.Pagina.Web.Comun.Enums.OperacionResultado.Ok).ToList();
    var usrNOTOK = Model["users"].Where(m => m.Resultado != IDigitales.Pagina.Web.Comun.Enums.OperacionResultado.Ok).ToList();
    var repOK = Model["reports"].Where(m => m.Resultado == IDigitales.Pagina.Web.Comun.Enums.OperacionResultado.Ok).ToList();
    var repNOTOK = Model["reports"].Where(m => m.Resultado != IDigitales.Pagina.Web.Comun.Enums.OperacionResultado.Ok).ToList();
}
@if (usrOK.Count > 0)
{
    <div class="d-flex">
        <div class="text-success">
            @(usrOK.Count == 1 ? usrOK.Count + " usuario fue creado" : usrOK.Count + " usuarios fueron creados") correctamente.
        </div>
    </div>
}
else
{

}

@if (usrNOTOK.Count > 0)
{
    <div class="d-flex">
        <div class="text-warning">
            Ocurrió un error al crearse @(usrNOTOK.Count == 1 ? usrNOTOK.Count + " usuario" : usrNOTOK.Count + " usuarios").
        </div>
    </div>    
}
else
{

}

@if (repOK.Count > 0)
{
    <div class="d-flex">
        <div class="text-success">
            @(repOK.Count == 1 ? repOK.Count + " reporte fue creado" : repOK.Count + " reportes fueron creados") correctamente.
        </div>
    </div>    
}
else
{

}

@if (repNOTOK.Count > 0)
{
    <div class="d-flex">
        <div class="text-success">
            Ocurrió un error al crear @(repNOTOK.Count == 1 ? repNOTOK.Count + " reporte" : repNOTOK.Count + " reportes").
        </div>
    </div>    
}
else
{

}

<div class="card bg-light my-4">
    <div class="card-body">
        Se generará un archivo con las líneas de los reportes no generados.
    </div>
</div>

<form class="instalaciones-form d-flex align-items-center justify-content-end mb-4" action="@Url.Action("InstalacionesHome", "Members")" data-refresh="true" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-primary" type="submit" value="SALIR" />
</form>