﻿@model IDigitales.Pagina.Web.Data.Modelos.ExcelViewViewModel
@using IDigitales.Pagina.Web.Data.Entidades.Poco
@using IDigitales.Pagina.Web.Data.Modelos

<style>
    i.material-icons {
        overflow: hidden;
    }

    .cross{
        display:none !important;
    }
    .crossed .cross{
        display:flex !important;
    }

    .crossed .btn.dropdown-toggle{
        background-color: #b3f5ae;
    }

    .usuarioPorCrear.crossed{
        border: 1px solid #b3f5ae;
    }
        .usuarioPorCrear.crossed i {
            display: none !important;
        }

</style>

<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionImportarCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Cancelar" />
</form>

<form class="instalaciones-form" action="@Url.Action("InstalacionesImportexcelTerminar", "Members")" method="post" autocomplete="off" data-target="#contenedorInstalaciones">
    <h2>Resumen de importación</h2>
    @if (Model.UsuariosPorCrear.Count > 0)
    {
        var usuariosServicio = Model.UsuariosPorCrear.Where(u => u.Tipo == Usuarios.EnumUsuarioTipo.Servicio).ToList();
        var usuariosJefe = Model.UsuariosPorCrear.Where(u => u.Tipo != Usuarios.EnumUsuarioTipo.Servicio && u.Tipo != Usuarios.EnumUsuarioTipo.Desarrollo).ToList();
        var usuariosDesarrollo = Model.UsuariosPorCrear.Where(u => u.Tipo == Usuarios.EnumUsuarioTipo.Desarrollo).ToList();

        <h5 class="mt-4">Se crearán los siguientes <span id="usuariosPorCrearCount">@Model.UsuariosPorCrear.Count</span> usuarios:</h5>
        <div class="d-inline-block">
            @for (int i = 0; i < usuariosServicio.Count; i++)
            {
                var usuario = usuariosServicio[i];
                int index = i + 1;
                string style = i % 2 == 0 ? "list-group-item-light" : "";
                <div class="card m-2 float-left usuario-@i">
                    <div class="m-2">
                        <span class="badge badge-info">@usuario.Tipo.ToString()</span>
                    </div>
                    <div class="cbody d-flex justify-content-between align-items-center m-2" style="min-width:445px; position:relative;">
                        <div class="d-flex justify-content-center align-items-center cross" style="position:absolute; width:100%; height:100%;">
                            <div class="rounded" style="width:98%; height:6px; background-color:red; opacity:0.9;"></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center" style="width: 200px;">
                            <i class="material-icons mr-2" style="overflow:initial;">account_circle</i>
                            <input class="form-control" name="UsuariosPorCrear[@i].RawInput" id="UsuariosPorCrear[@i].RawInput" type="hidden" value="@usuario.RawInput" />
                            <input class="form-control" name="UsuariosPorCrear[@i].Nombre" id="UsuariosPorCrear[@i].Nombre" type="hidden" value="@usuario.Nombre" />
                            <label class="form-control m-0">@usuario.Nombre</label>
                        </div>
                        <div class="d-flex justify-content-between align-items-center" style="width: 200px;">
                            <i class="material-icons mr-2" style="overflow:initial;">lock</i>
                            <input class="form-control" id="UsuariosPorCrear[@i].Password" name="UsuariosPorCrear[@i].Password" type="hidden" value="@usuario.Password" />
                            <label class="form-control m-0">@usuario.Password</label>
                        </div>
                    </div>
                    <div class="mt-2">
                        @Html.DropDownList("UsuariosPorCrear[" + i + "].UsuariosId", ViewBag.Usuarios as SelectList, "¿El usuario ya existe?", new { @class = "selectpicker", @id = "UsuariosPorCrear-" + i + "-" + usuario.RawInput, })
                    </div>
                </div>
            }
        </div>
        <hr />
        <div class="d-inline-block">
            @for (int i = usuariosServicio.Count; i < usuariosServicio.Count + usuariosJefe.Count; i++)
            {
                var usuario = usuariosJefe[i - usuariosServicio.Count];
                int index = i + 1;
                string style = i % 2 == 0 ? "list-group-item-light" : "";
                <div class="card m-2 float-left usuario-@i">
                    <div class="m-2">
                        <span class="badge badge-info">@usuario.Tipo.ToString() (Visto bueno)</span>
                    </div>
                    <div class="cbody d-flex justify-content-between align-items-center m-2" style="min-width:445px; position:relative;">
                        <div class="d-flex justify-content-center align-items-center cross" style="position:absolute; width:100%; height:100%;">
                            <div class="rounded" style="width:98%; height:6px; background-color:red; opacity:0.9;"></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center" style="width: 200px;">
                            <i class="material-icons mr-2" style="overflow:initial;">account_circle</i>
                            <input class="form-control" name="UsuariosPorCrear[@i].RawInput" id="UsuariosPorCrear[@i].RawInput" type="hidden" value="@usuario.RawInput" />
                            <input class="form-control" name="UsuariosPorCrear[@i].Nombre" id="UsuariosPorCrear[@i].Nombre" type="hidden" value="@usuario.Nombre" />
                            <label class="form-control m-0">@usuario.Nombre</label>
                        </div>
                        <div class="d-flex justify-content-between align-items-center" style="width: 200px;">
                            <i class="material-icons mr-2" style="overflow:initial;">lock</i>
                            <input class="form-control" id="UsuariosPorCrear[@i].Password" name="UsuariosPorCrear[@i].Password" type="hidden" value="@usuario.Password" />
                            <label class="form-control m-0">@usuario.Password</label>
                        </div>
                    </div>
                    <div class="mt-2">
                        @Html.DropDownList("UsuariosPorCrear[" + i + "].UsuariosId", ViewBag.Usuarios as SelectList, "¿El usuario ya existe?", new { @class = "selectpicker", @id = "UsuariosPorCrear-" + i + "-" + usuario.RawInput, })
                    </div>
                </div>
            }
        </div>
        <hr />
        <div class="d-inline-block">
            @for (int i = usuariosServicio.Count + usuariosJefe.Count; i < Model.UsuariosPorCrear.Count; i++)
            {
                var usuario = usuariosDesarrollo[i - usuariosServicio.Count - usuariosJefe.Count];
                int index = i + 1;
                string style = i % 2 == 0 ? "list-group-item-light" : "";
                <div class="card m-2 float-left usuario-@i" style="position:relative;">
                    <div class="m-2">
                        <span class="badge badge-info">@usuario.Tipo.ToString()</span>
                    </div>
                    <div class="cbody d-flex justify-content-between align-items-center m-2" style="min-width:445px; position:relative;">
                        <div class="d-flex justify-content-center align-items-center cross" style="position:absolute; width:100%; height:100%;">
                            <div class="rounded" style="width:98%; height:6px; background-color:red; opacity:0.9;"></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center" style="width: 200px;">
                            <i class="material-icons mr-2" style="overflow:initial;">account_circle</i>
                            <input class="form-control" name="UsuariosPorCrear[@i].RawInput" id="UsuariosPorCrear[@i].RawInput" type="hidden" value="@usuario.RawInput" />
                            <input class="form-control" name="UsuariosPorCrear[@i].Nombre" id="UsuariosPorCrear[@i].Nombre" type="hidden" value="@usuario.Nombre" />
                            <label class="form-control m-0">@usuario.Nombre</label>
                        </div>
                        <div class="d-flex justify-content-between align-items-center" style="width: 200px;">
                            <i class="material-icons mr-2" style="overflow:initial;">lock</i>
                            <input class="form-control" id="UsuariosPorCrear[@i].Password" name="UsuariosPorCrear[@i].Password" type="hidden" value="@usuario.Password" />
                            <label class="form-control m-0">@usuario.Password</label>
                        </div>
                    </div>
                    <div class="mt-2">
                        @Html.DropDownList("UsuariosPorCrear[" + i + "].UsuariosId", ViewBag.Usuarios as SelectList, "¿El usuario ya existe?", new { @class = "selectpicker", @id = "UsuariosPorCrear-" + i + "-" + usuario.RawInput })
                    </div>
                </div>
            }
        </div>
    }


    @{
        var reportesValidos = Model.Reportes.Where(r => r.IsValid && !r.RequiereAtencion).ToList();
        var reportesRequierenAtencion = Model.Reportes.Where(r => r.IsValid && r.RequiereAtencion).ToList();
        var reportesNoValidos = Model.Reportes.Where(r => !r.IsValid).ToList();

        int lineBreakCount = 0;
        bool lineBreak = false;
    }

    @if (reportesValidos.Count > 0)
    {
        <h5 class="mt-4">Se generarán los siguientes @reportesValidos.Count reportes:</h5>

        <input type="hidden" name="ReporteImportado.RutaOriginal" value="@Model.ReporteImportado.RutaOriginal" />
        <input type="hidden" name="ReporteImportado.Nombre" value="@Model.ReporteImportado.Nombre" />
        <input type="hidden" name="ReporteImportado.InstalacionId" value="@Model.ReporteImportado.InstalacionId" />
        <table class="table" @*style="table-layout:fixed;"*@>
            <thead>
                <tr>
                    <th scope="col" style="width:50px;">#</th>
                    <th scope="col">¿Quién reporta?</th>
                    <th scope="col">Fecha de reporte</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Prioridad</th>
                    <th scope="col">Fecha de asignación</th>
                    <th scope="col">Fecha de solución</th>
                    <th scope="col">Visto bueno</th>
                    <th scope="col">Asignado</th>
                    <th scope="col" style="width:33%;">Descripción</th>
                </tr>
            </thead>
            <tbody>
                @{
                    ViewBag.Total = reportesValidos.Count + 1;

                }
                @for (int i = 0; i < reportesValidos.Count; i++)
                {
                    if (reportesValidos[i].Links == null)
                    {

                    }
                    ViewBag.Index = i;
                    if ((ViewBag.index == 4 || (ViewBag.Index - 3) % 10 == 0) && ViewBag.Index != 3 && !lineBreak)
                    {
                        lineBreak = true;
                        lineBreakCount++;
                        ViewBag.LineBreakCount = lineBreakCount;
                        ViewBag.LineBreak = lineBreak;
                        Html.RenderPartial("Reportes/_ExcelViewRow", reportesValidos[i]);
                        i--;
                    }
                    else
                    {
                        lineBreak = false;
                        ViewBag.LineBreak = lineBreak;
                        ViewBag.LineBreakCount = lineBreakCount;
                        Html.RenderPartial("Reportes/_ExcelViewRow", reportesValidos[i]);
                    }
                }
            </tbody>
        </table>
        <div class="d-flex align-items-center justify-content-end">

            <input type="submit" id="submit-all" value="IMPORTAR @reportesValidos.Count @(reportesValidos.Count == 1 ? "REPORTE" : "REPORTES")" class="btn btn-primary" />
        </div>
    }
    else
    {
        <div class="label label-warning my-4">El documento no contiene reportes válidos.</div>
    }
</form>

@if (reportesRequierenAtencion.Count + reportesNoValidos.Count > 0)
{
    <div class="card bg-light my-4 alert-warning">
        <div class="card-body" style="overflow:hidden;">
            @if (reportesRequierenAtencion.Count > 0)
            {
                int count = reportesRequierenAtencion.Count;
                string cstring = count > 1 ? "reportes" : "reporte";
                <div class="alert alert-warning my-4 d-flex align-items-center">El documento tiene @count @cstring con elementos no válidos. <span class="btn btn-link ml-2" data-toggle="collapse" data-target="#second-table" aria-expanded="false" aria-controls="#second-table">Ver</span></div>
                <table id="second-table" class="table collapse my-4">
                    <tbody>
                        @{
                            ViewBag.PrimerTotal = reportesValidos.Count;
                            ViewBag.Total = reportesRequierenAtencion.Count + reportesValidos.Count + 1;
                            lineBreak = false;
                            lineBreakCount++;
                            ViewBag.LineBreakPrimerTotal = lineBreakCount;
                        }
                        @for (int i = 0; i < reportesRequierenAtencion.Count; i++)
                        {
                            ViewBag.Index = reportesValidos.Count + i;
                            if ((ViewBag.index - reportesValidos.Count == 4 || (ViewBag.Index - reportesValidos.Count - 3) % 10 == 0) && ViewBag.Index - reportesValidos.Count != 3 && !lineBreak)
                            {
                                lineBreak = true;
                                lineBreakCount++;
                                ViewBag.LineBreakCount = lineBreakCount;
                                ViewBag.LineBreak = lineBreak;
                                Html.RenderPartial("Reportes/_ExcelViewRow", reportesRequierenAtencion[i]);
                                i--;
                            }
                            else
                            {
                                lineBreak = false;
                                ViewBag.LineBreak = lineBreak;
                                ViewBag.LineBreakCount = lineBreakCount;
                                Html.RenderPartial("Reportes/_ExcelViewRow", reportesRequierenAtencion[i]);
                            }
                        }
                    </tbody>
                </table>
            }

            @if (reportesNoValidos.Count > 0)
            {
                int count = reportesRequierenAtencion.Count + reportesNoValidos.Count;
                string cstring = count > 1 ? "líneas" : "línea";
                <div class="alert alert-warning my-4">El documento tiene @count @cstring con un formato incorrecto.</div>
            }
        </div>
    </div>
}

<div class="alert alert-info">Se generará un documento nuevo con los elemenos que no sean importados.</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $('.confirmed-input').unbind();
    $('.confirmed-input').change(function () {
        var count = $('.confirmed-input:checked').length;
        var s = "IMPORTAR " + count.toString() + (count == 1 ? " REPORTE" : " REPORTES");
        $('#submit-all').val(s);
    });

    $('.selectpicker').unbind();
    $('.selectpicker').change(function (event) {

        if (this.value == null || this.value == "") {
            $('.usuario-' + parseInt(event.target.id.split('-')[1])).removeClass('crossed');
            $('.usuarioPorCrear.usuario-' + event.target.id.split('-')[2]).removeClass('crossed');
            $('.usuarioPorCrear.usuario-' + event.target.id.split('-')[2] + ' .usuario-name').html(event.target.id.split('-')[2]);
        }
        else {
            $('.usuario-' + parseInt(event.target.id.split('-')[1])).addClass('crossed');
            $('.usuarioPorCrear.usuario-' + event.target.id.split('-')[2]).addClass('crossed');
            $('.usuarioPorCrear.usuario-' + event.target.id.split('-')[2] + ' .usuario-name').html($('#' + event.target.id + ' option:selected').html());
        }

        var total = @Model.UsuariosPorCrear.Count;
        console.log(total - $('.card.crossed').length);
        $('#usuariosPorCrearCount').html(total - $('.card.crossed').length + "");
    });

    $('.selectpicker').selectpicker({
        liveSearch: true,
        showSubtext: true
    });

</script>
