﻿@model IDigitales.Pagina.Web.Data.Modelos.ExcelViewViewModel.ReporteExcel
@using IDigitales.Pagina.Web.Data.Entidades.Poco
@using IDigitales.Pagina.Web.Data.Modelos

@{ var index = ViewBag.Index + 1;
    string show = ViewBag.Index < 4 || (ViewBag.Index >= ViewBag.PrimerTotal && ViewBag.Index < ViewBag.PrimerTotal + 4) ? "show" : "";
}

@if (ViewBag.LineBreak)
{
    string showBreak = ViewBag.LineBreakCount == 1 || ViewBag.LineBreakCount == ViewBag.LineBreakPrimerTotal ? "show" : "lineBreakRow_" + (ViewBag.LineBreakCount - 1);
    <tr id="linebreak_@ViewBag.LineBreakCount" class="collapse multi-collapse @showBreak lineBreakRow_@ViewBag.LineBreakCount">
        <td colspan="4" style="border:0;">
            <div class="btn btn-link" data-toggle="collapse" data-target=".lineBreakRow_@ViewBag.LineBreakCount" aria-expanded="false" aria-controls=".lineBreakRow_@ViewBag.LineBreakCount">
                @ViewBag.Index de @(ViewBag.Total - 1) | Ver más
            </div>
        </td>
    </tr>
}
else
{
    <tr class="collapse multi-collapse @show lineBreakRow_@ViewBag.LineBreakCount">
        @if (Model.IsValid && !Model.RequiereAtencion)
        {
            <th class="pl-4 custom-control custom-switch" style="border-top:0;" scope="row">
                <input type="hidden" name="Reportes[@ViewBag.Index].InstalacionId" value="@Model.InstalacionId" />
                <input type="hidden" name="Reportes[@ViewBag.Index].ModuloId" value="@Model.ModuloId" />
                <input type="hidden" name="Reportes[@ViewBag.Index].ModuloNombre" value="@Model.ModuloNombre" />
                <input type="hidden" name="Reportes[@ViewBag.Index].Row" value="@Model.Row" />
                <input type="hidden" name="Reportes[@ViewBag.Index].SheetId" value="@Model.SheetId" />
                <input type="hidden" name="Reportes[@ViewBag.Index].Comentarios.RawValue" value="@Model.Comentarios.RawValue.Replace('<', '-').Replace('>', '-')" />
                <input type="hidden" name="Reportes[@ViewBag.Index].Links.RawValue" value="@Model.Links.RawValue.Replace('<', '-').Replace('>', '-')" />

                <input id="Reportes[@ViewBag.Index].Confirmed" name="Reportes[@ViewBag.Index].Confirmed" type="checkbox" checked value="true" class="custom-control-input confirmed-input" />
                <label class="custom-control-label ml-4" for="Reportes[@ViewBag.Index].Confirmed"><span class="d-block" style="white-space:nowrap; max-width: 75px; text-overflow: ellipsis; overflow:hidden;">@Model.Row (@Model.ModuloNombre)</span></label>
            </th>
        }
        else
        {
            <th class="pl-4 custom-control custom-switch" scope="row">
                <input type="hidden" name="Reportes[@ViewBag.Index].InstalacionId" value="@Model.InstalacionId" />
                <input type="hidden" name="Reportes[@ViewBag.Index].ModuloId" value="@Model.ModuloId" />
                <span class="ml-4 class="d-block"" style="white-space:nowrap; max-width: 75px; text-overflow: ellipsis; overflow:hidden;">@Model.Row (@Model.ModuloNombre)</span>
            </th>
        }
        <td>
            @if (Model.QuienReporta.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.Valid)
            {
                if (Model.QuienReporta.CreaNuevoObjeto)
                {
                    <div class="d-flex usuarioPorCrear usuario-@Model.QuienReporta.RawValue">
                        <input type="hidden" name="Reportes[@ViewBag.Index].QuienReporta.RawValue" value="@Model.QuienReporta.RawValue" />
                        <div class="usuario-name">
                            @Model.QuienReporta.Value.Nombre
                        </div>                        
                        <i style="font-size:12px; width:12px; color: lightblue;" data-toggle="tooltip" data-placement="top" title="Nuevo usuario" class="material-icons">information</i>
                    </div>
                }
                else
                {
                    <input type="hidden" name="Reportes[@ViewBag.Index].QuienReporta.RawValue" value="@Model.QuienReporta.RawValue" />
                    @Model.QuienReporta.Value.Nombre
                }
            }
            else
            {
                string errorType = Model.QuienReporta.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "warning" : "danger";
                string color = Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "yellow" : "red";
                <div class="d-flex border rounded border-@errorType">
                    <input type="hidden" name="Reportes[@ViewBag.Index].QuienReporta.RawValue" value="@Model.QuienReporta.RawValue" />

                    @Model.QuienReporta.RawValue
                    <i style="font-size:12px; width:12px; color: @color;" data-toggle="tooltip" data-placement="top" title="@Model.QuienReporta.Error" class="material-icons">information</i>
                </div>
            }
        </td>
        <td>
            <input type="hidden" name="Reportes[@ViewBag.Index].FechaReporte.RawValue" value="@Model.FechaReporte.RawValue" />
            @if (Model.FechaReporte.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.Valid)
            {
                @Model.FechaReporte.Value.ToShortDateString()
            }
            else if (Model.FechaReporte.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.ValidAutomatic)
            {
                @Model.FechaReporte.Value.ToShortDateString()
                <i style="font-size:12px; width:12px; color: lightblue;" data-toggle="tooltip" data-placement="top" title="Asignado autmáticamente" class="material-icons">information</i>
            }
            else
            {
                string errorType = Model.FechaReporte.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "warning" : "danger";
                string color = Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "yellow" : "red";
                <div class="d-flex border rounded border-@errorType">
                    @Model.FechaReporte.RawValue
                    <i style="font-size:12px; width:12px; color: @color;" data-toggle="tooltip" data-placement="top" title="@Model.FechaReporte.Error" class="material-icons">information</i>
                </div>
            }
        </td>
        <td>
            <input type="hidden" name="Reportes[@ViewBag.Index].Estado.RawValue" value="@Model.Estado.RawValue" />
            @if (Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.Valid)
            {
                <div style="white-space:nowrap;" class="d-flex justify-content-start align-items-start">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="mr-2 rounded-circle estado-@Model.Estado.Value.ToString().ToLower()" style="width: 12px; height:12px;"></div>
                        @Reporte.EstadoDisplay(Model.Estado.Value)
                    </div>
                </div>
            }
            else if (Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.ValidAutomatic)
            {
                <div class="d-flex justify-content-start align-items-start">
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="mr-2 rounded-circle estado-@Model.Estado.Value.ToString().ToLower()" style="width: 12px; height:12px;"></div>
                        @Reporte.EstadoDisplay(Model.Estado.Value)
                    </div>
                    <i style="font-size:12px; width:12px; color: lightblue;" data-toggle="tooltip" data-placement="top" title="Asignado autmáticamente" class="material-icons">information</i>
                </div>
            }
            else
            {
                string errorType = Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "warning" : "danger";
                string color = Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "yellow" : "red";
                <div class="d-flex border rounded border-@errorType">
                    @Model.Estado.RawValue
                    <i style="font-size:12px; width:12px; color: @color;" data-toggle="tooltip" data-placement="top" title="@Model.Estado.Error" class="material-icons">information</i>
                </div>
            }
        </td>
        <td>
            <input type="hidden" name="Reportes[@ViewBag.Index].Prioridad.RawValue" value="@Model.Prioridad.RawValue" />
            @if (Model.Prioridad.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.Valid)
            {
                <span class="text-@Reporte.PrioridadColor(Model.Prioridad.Value)">@Model.Prioridad.Value</span>
            }
            else if (Model.Prioridad.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.ValidAutomatic)
            {
                <div class="d-flex justify-content-start align-items-start">
                    <span class="text-@Reporte.PrioridadColor(Model.Prioridad.Value)">@Model.Prioridad.Value</span>
                    <i style="font-size:12px; width:12px; color: lightblue;" data-toggle="tooltip" data-placement="top" title="Asignado autmáticamente" class="material-icons">information</i>
                </div>
            }
            else
            {
                string errorType = Model.Prioridad.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "warning" : "danger";
                string color = Model.Prioridad.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "yellow" : "red";
                <div class="d-flex border rounded border-@errorType">
                    @Model.Prioridad.RawValue
                    <i style="font-size:12px; width:12px; color: @color;" data-toggle="tooltip" data-placement="top" title="@Model.Prioridad.Error" class="material-icons">information</i>
                </div>
            }
        </td>
        <td>
            <input type="hidden" name="Reportes[@ViewBag.Index].FechaAsignacion.RawValue" value="@Model.FechaAsignacion.RawValue" />
            @if (Model.FechaAsignacion.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.Valid)
            {
                if (Model.FechaAsignacion.Value.HasValue)
                {
                    <span>@Model.FechaAsignacion.Value.Value.ToShortDateString()</span>
                }
                else
                {
                    <span class="font-italic text-info">null</span>
                }
            }
            else if (Model.FechaAsignacion.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.ValidAutomatic)
            {
                <div class="d-flex justify-content-start align-items-start">
                    @Model.FechaAsignacion.Value.Value.ToShortDateString()
                    <i style="font-size:12px; width:12px; color: lightblue;" data-toggle="tooltip" data-placement="top" title="Asignado autmáticamente" class="material-icons">information</i>
                </div>
            }
            else
            {
                string errorType = Model.FechaAsignacion.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "warning" : "danger";
                string color = Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "yellow" : "red";
                <div class="d-flex border rounded border-@errorType">
                    @Model.FechaAsignacion.RawValue
                    <i style="font-size:12px; width:12px; color: @color;" data-toggle="tooltip" data-placement="top" title="@Model.FechaAsignacion.Error" class="material-icons">information</i>
                </div>
            }
        </td>
        <td>
            <input type="hidden" name="Reportes[@ViewBag.Index].FechaSolucion.RawValue" value="@Model.FechaSolucion.RawValue" />
            @if (Model.FechaSolucion.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.Valid)
            {
                if (Model.FechaSolucion.Value.HasValue)
                {
                    <span>@Model.FechaSolucion.Value.Value.ToShortDateString()</span>
                }
                else
                {
                    <span class="font-italic text-info">null</span>
                }
            }
            else if (Model.FechaSolucion.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.ValidAutomatic)
            {
                <div class="d-flex justify-content-start align-items-start">
                    @Model.FechaSolucion.Value.Value.ToShortDateString()
                    <i style="font-size:12px; width:12px; color: lightblue;" data-toggle="tooltip" data-placement="top" title="Asignado autmáticamente" class="material-icons">information</i>
                </div>
            }
            else
            {
                string errorType = Model.FechaSolucion.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "warning" : "danger";
                string color = Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "yellow" : "red";
                <div class="d-flex border rounded border-@errorType">
                    @Model.FechaSolucion.RawValue
                    <i style="font-size:12px; width:12px; color: @color;" data-toggle="tooltip" data-placement="top" title="@Model.FechaSolucion.Error" class="material-icons">information</i>
                </div>
            }
        </td>
        <td>
            <input type="hidden" name="Reportes[@ViewBag.Index].VistoBueno.RawValue" value="@Model.VistoBueno.RawValue" />
            @if (Model.VistoBueno.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.Valid)
            {
                if (Model.VistoBueno.CreaNuevoObjeto)
                {
                    <div class="d-flex usuarioPorCrear usuario-@Model.VistoBueno.RawValue">
                        <input type="hidden" class="usuario-@Model.VistoBueno.RawValue" name="Reportes[@ViewBag.Index].VistoBueno.RawValue" value="@Model.VistoBueno.RawValue" />
                        <div class="usuario-name">
                            @Model.VistoBueno.Value.Nombre
                        </div>
                        <i style="font-size:12px; width:12px; color: lightblue;" data-toggle="tooltip" data-placement="top" title="Nuevo usuario" class="material-icons">information</i>
                    </div>
                }
                else
                {
                    if (Model.VistoBueno.Value == null)
                    {
                        <span class="font-italic text-info">null</span>
                    }
                    else
                    {
                        <span>@Model.VistoBueno.Value.Nombre</span>
                    }
                }
            }
            else
            {
                string errorType = Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "warning" : "danger";
                string color = Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "yellow" : "red";
                <div class="d-flex border rounded border-@errorType">
                    @Model.VistoBueno.Value
                    <i style="font-size:12px; width:12px; color: @color;" data-toggle="tooltip" data-placement="top" title="@Model.VistoBueno.Error" class="material-icons">information</i>
                </div>
            }
        </td>
        <td>
            <input type="hidden" name="Reportes[@ViewBag.Index].Asignado.RawValue" value="@Model.Asignado.RawValue" />
            @if (Model.Asignado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.Valid)
            {
                if (Model.Asignado.CreaNuevoObjeto)
                {
                    <div class="d-flex usuarioPorCrear usuario-@Model.Asignado.RawValue">
                        <input type="hidden" class="usuario-@Model.Asignado.RawValue" name="Reportes[@ViewBag.Index].Asignado.RawValue" value="@Model.Asignado.RawValue" />
                        <div class="usuario-name">
                            @Model.Asignado.Value.Nombre
                        </div>    
                        <i style="font-size:12px; width:12px; color: lightblue;" data-toggle="tooltip" data-placement="top" title="Nuevo usuario" class="material-icons">information</i>
                    </div>
                }
                else
                {
                    if (Model.Asignado.Value == null)
                    {
                        <span class="font-italic text-info">null</span>
                    }
                    else
                    {
                        <span>@Model.Asignado.Value.Nombre</span>
                    }
                }
            }
            else
            {
                string errorType = Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "warning" : "danger";
                string color = Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "yellow" : "red";
                <div class="d-flex border rounded border-@errorType">
                    @Model.Asignado.Value
                    <i style="font-size:12px; width:12px; color: @color;" data-toggle="tooltip" data-placement="top" title="@Model.Asignado.Error" class="material-icons">information</i>
                </div>
            }
        </td>
        <td>
            <input type="hidden" name="Reportes[@ViewBag.Index].Descripcion.RawValue" value="@Model.Descripcion.RawValue.Replace('<', '-').Replace('>', '-')" />
            @if (Model.Descripcion.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.Valid)
            {
                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width:400px;" data-toggle="tooltip" data-placement="top" title="@Model.Descripcion.Value">
                    @Model.Descripcion.Value
                </div>
            }
            else
            {
                string errorType = Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "warning" : "danger";
                string color = Model.Estado.ReporteExcelType == ExcelViewViewModel.ReporteExcel.ReporteExcelTypeEnum.MissingSomething ? "yellow" : "red";
                <div class="d-flex border rounded border-@errorType">
                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width:400px;" data-toggle="tooltip" data-placement="top" title="@Model.Descripcion.Value">
                        @Model.Descripcion.Value
                    </div>
                    <i style="font-size:12px; width:12px; color: @color;" data-toggle="tooltip" data-placement="top" title="@Model.Descripcion.Error" class="material-icons">information</i>
                </div>
            }
        </td>
    </tr>

}

