﻿@model IDigitales.Pagina.Web.Data.Modelos.ExcelViewStartViewModel

<form class="instalaciones-form" action="@Url.Action("InstalacionesConfiguracionImportarCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
    <input class="btn btn-link" type="submit" value="Cancelar" />
</form>
<h2 class="mt-4">Inicio de importación de reportes</h2>
<div class="row mt-4 mb-4">
    <div class="col-sm-6 mb-4" style="overflow: hidden;">        
        <div class="d-inline-block">
            Los módulos existentes en el sistema son:
            @foreach (var categoria in ViewBag.Categorias as List<IDigitales.Pagina.Web.Data.Entidades.Poco.Aplicaciones>)
            {
                if (categoria.Modulos.Count > 0)
                {
                    <h6 class="mt-2">@categoria.Nombre</h6>
                    foreach (var modulo in (categoria.Modulos))
                    {
                        <div class="badge badge-info text-dark bg-light"><span class="p-2 my-1">@modulo.Subcategoria</span></div>
                    }
                }
            }
        </div>
    </div>
    <div class="col-sm-6" style="overflow: hidden;">        
        <div class="d-flex justify-content-start align-items-center">
            <i class="material-icons mr-2 text-primary">attachment</i>
            <h5 class="-0">@Model.ReporteImportado.Nombre</h5>
        </div>

        @if (Model.Paginas.Where(p => p.Correcto).Count() > 0)
        {
            <h6 class="text-success">@Model.Paginas.Where(p => p.Correcto).Count() módulos identificados en las páginas del documento.</h6>
        }
        else
        {
            <h6 class="text-warning">No se identificaron módulos en las páginas del documento.</h6>
        }
        <hr />
        @if (Model.Paginas.Where(p => p.Correcto).Count() > 0)
        {
        <form class="instalaciones-form" action="@Url.Action("InstalacionesImportexcel", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
            <h5>Módulos identificados:</h5>
            <input type="hidden" name="ReporteImportado.RutaOriginal" value="@Model.ReporteImportado.RutaOriginal" />
            <input type="hidden" name="ReporteImportado.Nombre" value="@Model.ReporteImportado.Nombre" />
            <input type="hidden" name="ReporteImportado.InstalacionId" value="@Model.ReporteImportado.InstalacionId" />
            @for (int i = 0; i < Model.Paginas.Count; i++)
            {
                if (Model.Paginas[i].Correcto)
                {
                    <input type="hidden" name="Paginas[@i].Correcto" value="true" checked />
                }
                else
                {
                    <input type="hidden" name="Paginas[@i].Correcto" />
                }
                <input type="hidden" name="Paginas[@i].Position" value="@Model.Paginas[i].Position" />
                <input type="hidden" name="Paginas[@i].Categoria.Id" value="@Model.Paginas[i].Categoria.Id" />
                <input type="hidden" name="Paginas[@i].Categoria.Subcategoria" value="@Model.Paginas[i].Categoria.Subcategoria" />
                if (Model.Paginas[i].Correcto)
                {
                    <div class="d-flex align-content-center custom-control custom-switch">
                        <input checked id="Paginas[@i].Activo" name="Paginas[@i].Activo" type="checkbox" class="custom-control-input" value="true" />
                        <label class="custom-control-label" for="Paginas[@i].Activo">@Model.Paginas[i].Categoria.Subcategoria</label>
                    </div>
                }
                else
                {
                    <div class="d-flex align-content-center custom-control custom-switch">
                        <input id="Paginas[@i].Activo" name="Paginas[@i].Activo" type="checkbox" disabled class="custom-control-input" />
                        <label class="custom-control-label" for="Paginas[@i].Activo">@Model.Paginas[i].Categoria.Subcategoria</label>
                    </div>
                }
            }
            <div class="d-flex mt-4 align-items-center justify-content-end">
                <button type="submit" class="btn btn-primary">CONTINUAR</button>
            </div>
        </form>
            
        }    
    </div>
</div>
