﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.Reporte

<style>
    input[type=radio].estado-categoria {
        position: absolute;
        visibility: hidden;
        display: none;
    }

    label.estado-categoria {
    }

    input[type=radio]:not(:checked) + label {
        color: #000 !important;
        background-color: #fafafa !important;
    }
</style>

@if (ViewBag.BackToHome == true)
{
    <form class="instalaciones-form" action="@Url.Action("InstalacionesHome", "Members")" data-refresh="true" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        <input type="hidden" name="id" value="@ViewBag.Id" />
        <input type="submit" value="Regresar" class="btn btn-link" />
    </form>
}
else
{
    <form class="instalaciones-form" action="@Url.Action("ReportesListaContainer", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        <input type="hidden" name="id" value="@ViewBag.Id" />
        <input type="submit" value="Regresar" class="btn btn-link" />
    </form>
}

<form class="instalaciones-form" action="@Url.Action("ReportesCrear", "Members")" method="post" autocomplete="off" enctype="multipart/form-data" data-file="true" data-target="#contenedorInstalaciones">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="d-flex align-items-start justify-content-between">
            <div>
                <h4>Nuevo reporte</h4>
                <p class="text-muted"><label class="text-danger mr-1">*</label>Campo requerido.</p>
            </div>
            <div class="d-flex flex-column align-items-end">
                <p class="text-muted">Está reportando: @ViewBag.Username</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-form-label col-sm-3"><label class="text-danger mr-1">*</label>Instalación</div>
                    <div class="col-sm-9">
                        @if (ViewBag.Id != null || (ViewBag.InstalacionesList as SelectList).Count() == 1)
                        {
                            @Html.DropDownList("InstalacionId", ViewBag.InstalacionesList as SelectList, new { @class = "form-control selectpicker" })
                        }
                        else
                        {
                            @Html.DropDownList("InstalacionId", ViewBag.InstalacionesList as SelectList, "Instalación...", new { @class = "form-control selectpicker" })
                        }
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-form-label col-sm-3"><label class="text-danger mr-1">*</label>Categoría</div>
                    <div id="reporteCategoria" class="col-sm-9">
                        @if (ViewBag.Id != null || (ViewBag.InstalacionesList as SelectList).Count() == 1)
                        {
                            @Html.Action("ReportesCrearCategoria", new { instalacionId = ViewBag.Id ?? (ViewBag.InstalacionesList as SelectList).FirstOrDefault().Value })
                        }
                    </div>
                </div>
                <div id="reporteAplicacion">

                </div>
            </div>
            <div class="col-sm-6">

            </div>
        </div>

        <hr />

        <div class="form-group d-flex">
            <label class="text-danger mr-1">*</label><input class="h5 form-control" name="Titulo" type="text" placeholder="Título" />
        </div>

        <div class="form-group d-flex">
            <label class="text-danger mr-1">*</label>
            @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @Placeholder = "Descripción breve" })
        </div>

        <div class="form-group d-flex">
            <label class="text-danger mr-1">*</label><input class="h5 form-control" name="NumeroSerie" type="text" placeholder="No. Serie" />
        </div>

        <div class="form-group d-flex">
            <div class="d-flex align-items-center btn btn-link">
                <i class="material-icons">attachment</i>
                <label id="uploadFileLabel" for="uploadFile" class="m-0">adjunta una evidencia</label>
                <input type="file" class="d-none" name="uploadFile" id="uploadFile" accept="image/*, video/mp4, video/ogg, video/webm" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-12 col-md-6 col-bg-4">
                <div class="row">
                    @Html.LabelFor(model => model.Prioridad, htmlAttributes: new { @class = "col-form-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.EnumDropDownListFor(model => model.Prioridad, htmlAttributes: new { @class = "form-control selectpicker" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group d-flex align-items-center justify-content-end">
            <input type="submit" value="REPORTAR" class="btn btn-primary" />
        </div>
    </div>
</form>

<form id="version-form" class="instalaciones-form" action="@Url.Action("ReportesCrearVersion", "Members")" method="post" autocomplete="off" data-target="#reporteVersion">
    <input id="moduloId" type="hidden" name="moduloId" value="0" />
</form>

<form id="modulo-form" class="instalaciones-form" action="@Url.Action("ReportesCrearModulo", "Members")" method="post" autocomplete="off" data-target="#reporteModulo">
    <input id="aplicacionId" type="hidden" name="aplicacionId" value="0" />
    @if (ViewBag.Id != null || (ViewBag.InstalacionesList as SelectList).Count() == 1)
    {
        <input id="moduloInstalacionId" type="hidden" name="moduloInstalacionId" value="@(ViewBag.Id ?? (ViewBag.InstalacionesList as SelectList).FirstOrDefault().Value)" />
    }
    else
    {
        <input id="moduloInstalacionId" type="hidden" name="moduloInstalacionId" value="0" />
    }
</form>

<form id="aplicacion-form" class="instalaciones-form" action="@Url.Action("ReportesCrearAplicacion", "Members")" method="post" autocomplete="off" data-target="#reporteAplicacion">
    <input id="categoriaId" type="hidden" name="categoriaId" value="0" />
    @if (ViewBag.Id != null || (ViewBag.InstalacionesList as SelectList).Count() == 1)
    {
        <input id="categoriaInstalacionId" type="hidden" name="categoriaInstalacionId" value="@(ViewBag.Id ?? (ViewBag.InstalacionesList as SelectList).FirstOrDefault().Value)" />
    }
    else
    {
        <input id="categoriaInstalacionId" type="hidden" name="categoriaInstalacionId" value="0" />
    }

</form>

<form id="categoria-form" class="instalaciones-form" action="@Url.Action("ReportesCrearCategoria", "Members")" method="get" autocomplete="off" data-target="#reporteCategoria">
    <input id="instalacionId" type="hidden" name="instalacionId" value="0" />
</form>


<script>
    $('.selectpicker').selectpicker({
        liveSearch: true,
        showSubtext: true
    });

    var categoriaForm = function () {
        console.log($(this).val());
        $('#instalacionId').val($(this).val());
        $('#categoriaInstalacionId').val($(this).val());
        $('#moduloInstalacionId').val($(this).val());

        if ($(this).val() != null && $(this).val() != "") {
            $('#categoria-form').submit();
        }
        else {
            $('#instalacionId').val(null);
            $('#reporteCategoria').html("");
        }
    }

    $('select[name=InstalacionId]').unbind("change", categoriaForm);
    $('select[name=InstalacionId]').on("change", categoriaForm);

    $('#uploadFile').unbind();
    $('#uploadFile').change(function (e) {
        if (this != null) {
            if (this.files[0] != null) {
                var name = e.target.files[0].name;
                $('#uploadFileLabel').html(name);

            }
        }
    });
</script>
