﻿@model SelectList

@if (Model.ToList().Count > 0)
{
    <div class="form-group row esAplicacionContainer">
        <div class="col-form-label col-sm-3">Versión actual</div>
        <div class="col-sm-9">
            @Html.DropDownList("VersionActualId", Model, new { @class = "selectpicker selectpicker-nosub form-control" })
        </div>
    </div>
    
}
else
{
    <label class="form-control">No hay versiones de esta aplicación en el sistema.</label>
}

<script>
    $('.selectpicker-nosub').selectpicker({

    });
</script>