﻿@model SelectList

@if (Model.ToList().Count > 0 && ViewBag.EsAplicacion == true)
{
    <hr />
    <h6>Detalles de la aplicación:</h6>
    <div class="form-group row esAplicacionContainer">
        <div class="col-form-label col-sm-3">Aplicación</div>
        <div class="col-sm-9">
            @Html.DropDownList("AplicacionId", Model, "Selecciona una Aplicación...", new { @class = "selectpicker selectpicker-nosub form-control" })
        </div>
    </div>

    <div id="reporteModulo">

    </div>
    <div class="d-flex align-content-center custom-control custom-switch">
        <input id="esRequerimiento" type="checkbox" class="custom-control-input" value="true" name="esRequerimiento" />
        <label class="custom-control-label" for="esRequerimiento">¿Es requerimiento?</label>
    </div>
}
else
{

}

<script>
    $('.selectpicker').selectpicker({
        liveSearch: true,
        showSubtext: true
    });

    var moduloForm = function () {
        console.log($(this).val());
        $('#aplicacionId').val($(this).val());

        if ($(this).val() != null && $(this).val() != "") {
            $('#modulo-form').submit();
        }
        else {
            $('#aplicacionId').val(null);
            $('#reporteModulo').html("");
        }
    }

    $('select[name=AplicacionId]').unbind("change", moduloForm);
    $('select[name=AplicacionId]').on("change", moduloForm);
</script>

