﻿@model List<Reporte>
@using IDigitales.Pagina.Web.Data.Entidades.Poco

<hr />
@if (Model.Count > 0)
{
    if (Model.Count == 1)
    {
        <p>@Model.Count reporte encontrado.</p>
    }
    else
    {
        <p>@Model.Count reportes encontrados.</p>
    }
    foreach (var item in Model)
    {
        <div class="card mb-2">
            <div class="card-header">
                <div class="row justify-content-between align-items-center px-1">
              
                   <div>
                        <h5 class="m-0">@item.Tag</h5>
                        <p><strong class="m-0">@item.Titulo</strong></p>
                        <h6><strong class="m-0">Numero de Serie:</strong> @item.NumeroSerie</h6>
                        <div class="text-muted">Reportado por <a href="#">@item.QuienReporta.Nombre</a></div>
                    </div>
                    <div class="p-1 rounded estado-@item.Estado.ToString().ToLower()">@Reporte.EstadoDisplay(item.Estado)</div>
                </div>
            </div>
            <div class="card-body">
                @item.Descripcion
            </div>
            <div class="card-footer py-1" >
                <div data-request-url="@Url.Action("ReportesDetalle", "Members")" class="row justify-content-between align-items-center px-1">
                    <div class="d-flex">
                        <div class="text-@Reporte.PrioridadColor(item.Prioridad)">@item.Prioridad</div>
                        @if (item.DesarrolladorAsignado != null)
                        {
                            <span class="mx-2 text-muted">|</span>
                            <div class="text-muted m-0 p-0">Asignado a @item.DesarrolladorAsignado.Nombre</div>
                        }
                        else
                        {
                            <span class="mx-2 text-muted">|</span>
                            <div class="text-muted m-0 p-0">Sin asignar</div>
                        }
                    </div>
                    <form class="instalaciones-form" action="@Url.Action("ReportesDetalle", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                       
                        <input type="hidden" name="id" value="@item.Id" />
                        <button class="btn d-flex align-items-center py-0">
                            @item.Comentarios.Count
                            <i class="material-icons">message</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="d-flex align-items-center justify-content-center">
        <p class="text-align-center">No hay elementos para mostrar.</p>
    </div>
}