﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.Reporte
@using IDigitales.Pagina.Web.Data.Entidades.Poco

@if (ViewBag.BackToHome == true)
{
    <form class="instalaciones-form" action="@Url.Action("InstalacionesHome", "Members")" data-refresh="true" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        <input class="btn btn-link" type="submit" value="Regresar" />
    </form>
}
else
{
    <form class="instalaciones-form" action="@Url.Action("ReportesListaContainer", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        <input name="id" type="hidden" value="@Model.InstalacionId" />
        <input type="submit" value="Atrás" class="btn btn-link" />
    </form>
}

@if ((ViewBag.User as Usuarios).Tipo == Usuarios.EnumUsuarioTipo.Administrador)
{
    <div class="mb-2">
        <h5>Categoría: @Model.ReportesCategorias.Nombre</h5>
        <span class="text-muted">Responsables:</span>
        @if (Model.ReportesCategorias.Usuarios_Responsables.Count == 0)
        {
            <p>No hay responsables en esta categoría.</p>
        }
        @foreach (var person in Model.ReportesCategorias.Usuarios_Responsables)
        {
            <div class="badge badge-info">@person.Nombre</div>
        }
        <span class="text-muted">Clientes:</span>
        @if (Model.ReportesCategorias.Usuarios_Responsables.Count == 0)
        {
            <p>No hay clientes en este proyecto.</p>
        }
        @foreach (var person in Model.Instalacion.Usuarios.Where(u => u.Tipo == Usuarios.EnumUsuarioTipo.Cliente))
        {
            <div class="badge badge-info">@person.Nombre</div>
        }
    </div>
}

<div class="card mb-5">
    <div class="card-header">
        <div class="row justify-content-between align-items-center px-1">
            <div>
                <h5 class="m-0">@Model.Tag</h5>
                <p ><strong class="m-0">@Model.Titulo</strong></p>
                <h6><strong  class="m-0">Numero de Serie:</strong> @Model.NumeroSerie</h6>
                
                <div class="text-muted">Reportado por @Model.QuienReporta.Nombre el @Model.FechaReporte.ToShortDateString()</div>
            </div>
            @if ((ViewBag.User as Usuarios).ReportesCategorias.FirstOrDefault(r => r.Id == Model.CategoriaId) != null)
            {
                <div class="d-flex align-items-center">
                    @if (Model.Estado == Reporte.EstadoEnum.Reportado || Model.Estado == Reporte.EstadoEnum.Requerimiento)
                    {
                        if ((ViewBag.User as Usuarios).Tipo == Usuarios.EnumUsuarioTipo.Administrador || (ViewBag.User as Usuarios).Tipo == Usuarios.EnumUsuarioTipo.Jefe)
                        {
                            <form class="instalaciones-form" action="@Url.Action("ReporteCambiarVistoBueno", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                <div class="d-flex align-items-center custom-control custom-checkbox mr-3">
                                    <input type="hidden" name="id" value="@Model.Id" />
                                    <input id="vistoBueno" name="vistoBueno" type="checkbox" class="custom-control-input" value="true" @(Model.VistoBueno != null ? "checked" : "") />
                                    <label class="custom-control-label text-muted align-self-center" for="vistoBueno" style="line-height:1.3">(visto bueno)</label>
                                </div>
                            </form>
                        }
                    }
                    @if (Model.EstadosSiguientesAutorizados(ViewBag.Permisos as List<string>).Count > 0)
                    {
                        <div class="btn btn-light estado-@Model.Estado.ToString().ToLower()" id="btn-cambiarEstado" data-toggle="modal" data-target="#modalConfirm">
                            @Reporte.EstadoDisplay(Model.Estado)
                        </div>
                    }
                    else
                    {
                        <div class="btn estado-text-@Model.Estado.ToString().ToLower()">
                            @Reporte.EstadoDisplay(Model.Estado)
                        </div>
                    }
                </div>
            }

        </div>
    </div>
    <div class="card-body">
        @Model.Descripcion
    </div>
    <div class="card-footer py-1">
        <div class="row justify-content-between align-items-center px-1">
            <div class="d-flex">
                <div class="text-@Reporte.PrioridadColor(Model.Prioridad)">@Model.Prioridad</div>
                @if (Model.DesarrolladorAsignado != null)
                {
                    <span class="mx-2 text-muted">|</span>
                    <div class="text-muted">Asignado a @Model.DesarrolladorAsignado.Nombre</div>
                }
                else
                {
                    <span class="mx-2 text-muted">|</span>
                    <div class="text-link m-0 p-0">Sin asignar</div>
                }
            </div>
            <div class="d-flex align-items-center">
                @Model.Comentarios.Count
                <i class="material-icons">message</i>
            </div>
        </div>
    </div>
</div>

@if (Model.Estado != Reporte.EstadoEnum.Terminado && Model.Estado != Reporte.EstadoEnum.Cancelado)
{
    <h4>Evidencias y observaciones</h4>

    <form id="newMessagePost" class="instalaciones-form" action="@Url.Action("ComentarioCrear", "Members")" method="post" autocomplete="off" enctype="multipart/form-data" data-file="true" data-target="#nuevosComentarios" data-append="true" data-success="onComentarioNuevo">
        @Html.Hidden("reporteId", Model.Id)
        <div class="">
            <textarea id="textArea" name="mensaje" class="form-control" placeholder="Comentario, link de dropbox, etc"></textarea>
            <div>
                <hr />
                <div class="">
                    <h5>Numero de Reporte Dynamics</h5>
                    <input type="text" class="" id="dynamics" placeholder="Numero de Reporte Dynamics" />
                    <label style="color:green">Numero Dynamics</label>
                </div>
                <div class="d-flex align-items-center btn btn-link">
                    <i class="material-icons">attachment</i>
                    <label id="uploadFileLabel" for="uploadFile" class="m-0">adjunta una evidencia</label>
                    <input type="file" class="d-none" name="uploadFile" id="uploadFile" accept="image/*, video/mp4, video/ogg, video/webm" />
                </div>
            </div>
        </div>
        <input id="newMessageBtn" class="btn btn-primary mt-2" type="button" value="ENVIAR" aria-orientation="horizontal" />
    </form>
}
else
{
    <h4>Historial de evidencias y observaciones</h4>
}



<hr />

<div class="position-relative">
    <div class="h-100 d-flex justify-content-center position-absolute" style="width:40px; z-index:-1;"><div class="h-100 bg-light" style="width:6px;"></div></div>
    <div id="comentariosLista">

    </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="">
            <div class="modal-body d-flex align-items-center justify-content-center">
                <img class="img img-fluid" src="" id="imagepreview" />
                <video controls class="img img-fluid" style="max-height:500px;" id="videopreview">
                    <source />
                    El explorador no soporta este formato de vídeo.
                </video>
            </div>
        </div>
    </div>
</div>

<div id="modalConfirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog d-flex" role="document">
        <div class="loading-container position-absolute w-100 h-100 hide bg-light text-dark" style="z-index:9; opacity:0.96;">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="spinner-grow text-dark mr-2" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    Cargando...
                </div>
            </div>
        </div>
        <div class="modal-content">
            <form class="instalaciones-form" action="@Url.Action("ReporteCambiarEstado", "Members")" method="post" autocomplete="off" enctype="multipart/form-data" data-file="true" data-target="#contenedorInstalaciones" data-modal="true">
                @Html.Hidden("idReporte", Model.Id)
                <div class="modal-header d-flex align-items-center justify-content-between">
                    <h6 class="m-0">Cambiar el estado del reporte</h6>
                </div>
                <div class="modal-body">
                    @Html.Partial("Reportes/_ReporteCambiarEstado", Model)
                    <input type="hidden" name="backToHome" value="true" />
                </div>
                <div class="modal-footer">
                    <button id="cambiarEstadoSubmit" type="submit" class="btn btn-primary">CAMBIAR</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">CANCELAR</button>
                </div>
            </form>
            <form id="evidencias-list-form" class="instalaciones-form" action="@Url.Action("ReporteCambioEstadoEvidencia", "Members")" method="get" autocomplete="off" data-target="#comentarios_evidencia" data-success="postEvidencia">
                <input type="hidden" name="idReporte" value="@Model.Id" />
                <input id="evidenciaEstado" type="hidden" name="estado" />
            </form>
        </div>
    </div>
</div>

<script>
    $('.evidencia-btn').unbind();
    $('.evidencia-btn').click(function (event) {
        var s = '#comentario-' + parseInt(event.target.id.split('-')[1]);
        $('.comentario:not(' + s + ')').addClass('bg-light');
        $('.comentario:not(' + s + ')').removeClass('alert-warning');
        $(s).toggleClass('alert-warning bg-light');
    });

    var hook = function () {
        console.log("success");
        $('#textArea').val("");
        $('#uploadFile').val('');
        $('#uploadFileLabel').html("adjunta una evidencia");
    }

    $('#newMessageBtn').unbind();
    $('#newMessageBtn').on("click", function () {
        $(this).closest('form').submit();
        hook();
    });

    $('#vistoBueno').unbind();
    $('#vistoBueno').on("change", function () {
        $(this).closest('form').submit();
    });

    $('#uploadFile').unbind();
    $('#uploadFile').change(function (e) {
        if (this != null) {
            if (this.files[0] != null) {
                var name = e.target.files[0].name;
                $('#uploadFileLabel').html(name);

            }
        }
    });

    function addThumbnailClick() {
        $('.thumbnail').unbind();
        $('img.thumbnail').click(function () {
            console.log("click");
            $('#videopreview').hide();
            $('#imagepreview').show();

            $('#imagepreview').attr('src', $(this).attr('src'));
            $('#imagemodal').modal('show');
        });
        $('video.thumbnail').click(function () {
            $('#videopreview').show();
            $('#imagepreview').hide();

            var video = $('#videopreview')[0];
            video.src = $('source', this).attr('src');
            video.type = $('source', this).attr('type');
            video.load();
            video.play();
            console.log(video);
            //$('#videopreview source').attr('src', );
            //$('#videopreview source').attr('type', );
            $('#imagemodal').modal('show');
        });
    }

    $(function () {
        PaginaWeb.Members.Proyectos().ajaxCall({
            post_url: "@Url.Action("ReporteComentariosLista", "Members")",
            request_method: "get",
            targetId: "#comentariosLista",
            form_data: "id=@Model.Id",
            append: false,
            success: null,
            refresh: false,
            refreshTime: null,
            content_type: null
        });
    });

</script>
