﻿@model IDigitales.Pagina.Web.Data.Modelos.ReportesListaViewModel
@using IDigitales.Pagina.Web.Data.Entidades.Poco

<style>
    input[type=radio].estado-categoria {
        position: absolute;
        visibility: hidden;
        display: none;
    }

    label.estado-categoria {
    }

    input[type=radio]:not(:checked) + label {
        color: #000 !important;
        background-color: #fafafa !important;
    }
</style>

<div class="d-flex justify-content-between align-items-center">
    <form class="instalaciones-form" action="@Url.Action("InstalacionesHome", "Members")" data-refresh="true" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        <input class="btn btn-link" type="submit" value="Regresar" />
    </form>

    <form class="instalaciones-form" action="@Url.Action("ReportesCrear", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
        @Html.Hidden("instalacionId", Model.InstalacionId)
        <input type="submit" value="Crear reporte" class="btn btn-link" />
    </form>
</div>

<form class="instalaciones-form" action="@Url.Action("ReportesLista", "Members")" method="get" autocomplete="off" data-target="#contenedorReportesLista" data-wait="true">
    <div class="bg-light px-2 pt-2">
        <h5>Búsqueda</h5>
        @Html.Hidden("InstalacionId", Model.InstalacionId)

        <div class="form-group d-flex">
            @Html.LabelFor(m => m.CategoriaId, new { @class = "col-form-label col-sm-3" })
            @Html.DropDownList("CategoriaId", ViewBag.Categorias as SelectList, "*", new { @class = "custom-select col-sm-9 form-events" })
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Modulo, htmlAttributes: new { @class = "" })
            <div class="card p-2 d-inline-block">
                @foreach (var categoria in ViewBag.Categorias as List<Aplicaciones>)
                {
                    if (categoria.Modulos.Count > 0)
                    {
                        <h5>@categoria.Nombre</h5>
                        foreach (var subcategoria in categoria.Modulos)
                        {
                            <input class="estado-categoria form-events" type="radio" name="Modulo.Id" id="modulo-@subcategoria.Id" value="@subcategoria.Id" @(Model.Modulo != null ? (Model.Modulo.Id == subcategoria.Id ? "checked" : "") : "") />
                            <label class="btn estado-categoria badge badge-primary text-light" for="modulo-@subcategoria.Id"><span class="p-2 my-1">@subcategoria.Subcategoria</span></label>
                        }
                    }
                }
            </div>
        </div>*@

        <div class="pb-3">
            <span class="btn btn-link p-0 text_small" data-toggle="collapse" data-target="#advanceSearch">Búsqueda avanzada</span>
            <div id="advanceSearch" class="collapse @(ViewBag.AdvancedSearch == true ? "show" : "")">
                <div class="form-group d-flex">
                    @Html.LabelFor(m => m.Estado, new { @class = "col-form-label col-sm-3" })
                    @Html.DropDownList("Estado", ViewBag.Estados as SelectList, "*", new { @class = "custom-select col-sm-9 form-events" })
                </div>
                <div class="form-group d-flex">
                    @Html.LabelFor(m => m.Prioridad, new { @class = "col-form-label col-sm-3" })
                    @Html.EnumDropDownListFor(m => m.Prioridad, "*", new { @class = "custom-select col-sm-9 form-events" })
                </div>
                <input type="text" name="Busqueda" class="form-control form-events" placeholder="título, contenido, quién reporta, etc" />
            </div>
        </div>
    </div>
</form>

<div id="contenedorReportesLista">
    @Html.Action("ReportesLista", "Members", new { model = Model })
</div>

<script>
    $('.form-events').unbind();
    $('.form-events').on("change, input", function () {
        $(this).closest('form').submit();
    });
</script>
