﻿@model IDigitales.Pagina.Web.Data.Modelos.ReportesTableViewModel
@using IDigitales.Pagina.Web.Data.Entidades.Poco

@{
    int random = new Random().Next(9999);
}

@if (Model.Total() > 0)
{
    <div class="mx-0 mb-4 row">
        <div class="col-lg-6 list-group list-group-flush mb-4">
            @if (Model.ReportesEnProcesoExedente.Count == 0)
            {

            }
            else if(ViewBag.Admin == true)
            {
                foreach (var reporte in Model.ReportesEnProcesoExedente.Take(4))
                {
                    <form class="instalaciones-form" action="@Url.Action("ReportesDetalle", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                        <input type="hidden" name="id" value="@reporte.Id" />
                        <input type="hidden" name="backToHome" value="true" />
                        <button class="mx-0 row list-group-item list-group-item-action text-danger d-flex align-content-center"><i class="material-icons mr-1">alarm</i>Reporte @reporte.Tag lleva más de @ViewBag.ExedenteDias días <span class="estado-text-enproceso ml-1">en proceso</span>.</button>
                    </form>
                }
            }
            @if (Model.ReportesPendientes.Count > 0 && ViewBag.Admin == true)
            {
                if (Model.ReportesPendientes.Count == 1)
                {
                    <form class="instalaciones-form" action="@Url.Action("ReportesListaContainer", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                        <input name="Estado" type="hidden" value="@((int)Reporte.EstadoEnum.Pendiente)" />
                        <button class="mx-0 list-group-item list-group-item-action text-danger d-flex align-content-center"><i class="material-icons mr-1">alarm</i>Hay 1 reporte <span class="estado-text-pendiente ml-1">pendiente</span>.</button>
                    </form>
                }
                else
                {
                    <form class="instalaciones-form" action="@Url.Action("ReportesListaContainer", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                        <input name="Estado" type="hidden" value="@((int)Reporte.EstadoEnum.Pendiente)" />
                        <button class="mx-0 list-group-item list-group-item-action text-danger d-flex align-content-center"><i class="material-icons mr-1">alarm</i>Hay @Model.ReportesPendientes.Count reportes <span class="estado-text-pendiente ml-1">pendientes</span>.</button>
                    </form>
                }
            }
            else
            {
                <span class="mx-0 list-group-item text-success d-flex align-content-center"><i class="material-icons mr-1">check</i>No hay reportes pendientes.</span>
            }
            @if (Model.ReportesPorAsignar.Count == 0 && ViewBag.Admin == true)
            {
                <span class="mx-0 list-group-item text-success d-flex align-content-center"><i class="material-icons mr-1">check</i>No hay reportes por asignar.</span>
            }
            else if (Model.ReportesPorAsignar.Count == 1 && ViewBag.Admin == true)
            {
                <form class="instalaciones-form" action="@Url.Action("ReportesListaContainer", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                    <input name="Estado" type="hidden" value="@((int)Reporte.EstadoEnum.Reportado)" />
                    <button class="mx-0 list-group-item list-group-item-action text-warning d-flex align-content-center"><i class="material-icons mr-1">warning</i>Hay 1 reporte listo para asignar.</button>
                </form>
            }
            else if(ViewBag.Admin == true)
            {
                <form class="instalaciones-form" action="@Url.Action("ReportesListaContainer", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                    <input name="Estado" type="hidden" value="@((int)Reporte.EstadoEnum.Reportado)" />
                    <button class="mx-0 list-group-item list-group-item-action text-warning d-flex align-content-center"><i class="material-icons mr-1">warning</i>Hay @Model.ReportesPorAsignar.Count reportes listos para asignar.</button>
                </form>
            }
            @if (Model.ReportesCambioReciente.Count > 0)
            {
                foreach (var reporte in Model.ReportesCambioReciente.OrderBy(o => o.CambioReciente.FechaCreacion).Take(4))
                {
                    <form class="instalaciones-form" action="@Url.Action("ReportesDetalle", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                        <input type="hidden" name="id" value="@reporte.Id" />
                        <input type="hidden" name="backToHome" value="true" />
                        <button class="mx-0 row list-group-item list-group-item-action text-success d-flex align-content-center"><i class="material-icons mr-1">alarm</i>Reporte @reporte.Tag cambió recientemente a <span class="estado-text-@reporte.Estado.ToString().ToLower() ml-1">@Reporte.EstadoDisplay(reporte.Estado)</span>.</button>
                    </form>
                }
            }
        </div>
        <div class="col-lg-6 position-relative">
            <canvas id="myChart-@random"></canvas>
        </div>
    </div>

    <div class="row mt-2">
        @foreach (Reporte.EstadoEnum estado in (Reporte.EstadoEnum[])Enum.GetValues(typeof(Reporte.EstadoEnum)))
        {
            <div class="my-2 col-sm-6 col-md-3 col-lg">                
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="estado-@estado.ToString().ToLower()" style="width:40px; height: 8px; border-radius:4px;"></div>
                    <span class="d-flex">@Reporte.EstadoDisplay(estado)</span>
                    <h2>@Model.Total(estado)</h2>
                </div>
            </div>
        }
        </div>

    @*<div class="mt-4" style="overflow-x: scroll;">
        <table class="table">
            <thead>
                <tr>
                    <th style="border-top:0;" scope="col"><div></div></th>
                    <th style="border-top:0;" scope="col">Subtotal</th>
                    @foreach (Modulo categoria in Model.Categorias.OrderByDescending(m => Model.Total(m)))
                    {
                        <th style="border-top:0;" scope="col">
                            <form class="instalaciones-form" action="@Url.Action("ReportesListaContainer", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                <input name="Modulo.Id" type="hidden" value="@categoria.Id" />
                                <button class="btn p-0" style="white-space:nowrap; text-overflow: ellipsis; max-width: 120px; overflow: hidden;">
                                    @categoria.Subcategoria
                                </button>
                            </form>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (Reporte.EstadoEnum estado in (Reporte.EstadoEnum[])Enum.GetValues(typeof(Reporte.EstadoEnum)))
                {
                    <tr>
                        <th scope="row">
                            <form class="instalaciones-form" action="@Url.Action("ReportesListaContainer", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                <input name="Estado" type="hidden" value="@((int)estado)" />
                                <button class="btn btn-link p-0 d-flex align-items-center justify-content-between">
                                    <div class="rounded-circle estado-@estado.ToString().ToLower()" style="width:10px; height:10px;"></div>
                                    <div class="p-1 estado-text-@estado.ToString().ToLower()">
                                        @Reporte.EstadoDisplay(estado)
                                    </div>
                                </button>
                            </form>
                        </th>
                        <td>
                            <form class="instalaciones-form" action="@Url.Action("ReportesListaContainer", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                <input name="Estado" type="hidden" value="@((int)estado)" />
                                <button class="font-weight-bold btn p-0">
                                    @Model.Total(estado)
                                </button>
                            </form>
                        </td>
                        @foreach (Modulo categoria in Model.Categorias.OrderByDescending(m => Model.Total(m)))
                        {
                            <td>
                                <form class="instalaciones-form" action="@Url.Action("ReportesListaContainer", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                    <input name="Estado" type="hidden" value="@((int)estado)" />
                                    <input name="Modulo.Id" type="hidden" value="@categoria.Id" />
                                    <button class="btn p-0">
                                        @Model.Total(categoria, estado)
                                    </button>
                                </form>
                            </td>
                        }
                    </tr>
                }
                <tr>
                    <th scope="row"></th>
                    <th scope="row">@Model.Total()</th>
                    @foreach (Modulo categoria in Model.Categorias.OrderByDescending(m => Model.Total(m)))
                    {
                        <th>
                            <form class="instalaciones-form" action="@Url.Action("ReportesListaContainer", "Members")" method="get" autocomplete="off" data-target="#contenedorInstalaciones">
                                <input name="Modulo.Id" type="hidden" value="@categoria.Id" />
                                <button class="font-weight-bold btn bold p-0">
                                    @Model.Total(categoria)
                                </button>
                            </form>
                        </th>
                    }
                </tr>
            </tbody>
        </table>
    </div>*@
}
else
{
    <p>No hay reportes en el sistema.</p>
}

<script>
    var datos = [];
    var ls = [];
    var colors = [];
    @foreach (Reporte.EstadoEnum estado in (Reporte.EstadoEnum[])Enum.GetValues(typeof(Reporte.EstadoEnum)))
    {
        @:datos.push(@Model.Total(estado));
        @:ls.push("@Reporte.EstadoDisplay(estado)");

        @:var c = $(".estado-@estado.ToString().ToLower()").css("background-color");
        @:colors.push(c);
    }

    var data = {
        datasets: [{
            data: datos,
            backgroundColor: colors,
        }],

        labels: ls,
    };

    console.log(data);
    var ctx = $('#myChart-@random');
    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
    });

</script>