﻿@model SelectList

@if (Model.ToList().Count > 0)
{
    @Html.DropDownList("CategoriaId", Model, "Selecciona una categoría...", new { @class = "selectpicker selectpicker-nosub form-control" })
}
else
{
    <label class="form-control">No hay categorias en esta instalación.</label>
}


<script>
    $('.selectpicker').selectpicker({
        liveSearch: true,
        showSubtext: true
    });

    var aplicacionForm = function () {
        console.log($(this).val());
        $('#categoriaId').val($(this).val());        

        if ($(this).val() != null && $(this).val() != "") {
            $('#aplicacion-form').submit();
        }
        else {
            $('#categoriaId').val(null);
            $('#reporteAplicacion').html("");
        }
    }

    $('select[name=CategoriaId]').unbind("change", aplicacionForm);
    $('select[name=CategoriaId]').on("change", aplicacionForm);
</script>

