﻿@model SelectList

@if (Model.ToList().Count > 0)
{
    <div class="form-group row esAplicacionContainer">
        <div class="col-form-label col-sm-3">Módulo</div>
        <div class="col-sm-9">
            @Html.DropDownList("ModuloId", Model, "Selecciona un módulo", new { @class = "selectpicker selectpicker-nosub form-control" })
        </div>
    </div>

    <div id="reporteVersion">

    </div>
}
else
{
}

<script>
    $('.selectpicker').selectpicker({
        liveSearch: true,
        showSubtext: true
    });

    var versionForm = function () {
        console.log($(this).val());
        $('#moduloId').val($(this).val());

        if ($(this).val() != null && $(this).val() != "") {
            $('#version-form').submit();
        }
        else {
            $('#moduloId').val(null);
            $('#reporteVersion').html("");
        }
    }

    $('select[name=ModuloId]').unbind("change", versionForm);
    $('select[name=ModuloId]').on("change", versionForm);
</script>
