﻿@model IDigitales.Pagina.Web.Data.Entidades.Poco.Reporte
@using IDigitales.Pagina.Web.Data.Entidades.Poco

<style>
    input[type=radio].estado-reporte {
        position: absolute;
        visibility: hidden;
        display: none;
    }

    label.estado-reporte {
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
        padding: 5px 10px;
        margin: 0;
    }

    input[type=radio]:not(:checked) + label {
        color: #A0A0A0;
        background: #fafafa;
    }

    label + input[type=radio] + label {
        border-left: solid 3px #442f35;
    }

    .radio-group {
        border: solid 1px #442f35;
        display: inline-block;
        border-radius: 10px;
        overflow: hidden;
    }
</style>

<div class="d-flex align-items-center justify-content-between">
    <span class="btn estado-@Model.Estado.ToString().ToLower()">@Reporte.EstadoDisplay(Model.Estado)</span>
    <i class="material-icons">arrow_forward</i>
    <div class="radio-group d-flex align-items-center justify-content-between">
        @foreach (var item in Model.EstadosSiguientesAutorizados(ViewBag.Permisos as List<string>))
        {
        <div class="flex-fill estado-@item.ToString().ToLower()">
            <input class="estado-reporte" type="radio" id="estado-@item.ToString().ToLower()" value="@((int)item)" name="Estado" required />
            <label class="text-center w-100 estado-reporte" for="estado-@item.ToString().ToLower()">@Reporte.EstadoDisplay(item)</label>
        </div>
        }
    </div>
</div>

<div id="comentarios_evidencia"></div>

<script>
    $('.estado-reporte').unbind();
    $('.estado-reporte').on("change", function () {
        $('#evidenciaEstado').val($('.estado-reporte:checked').val());
        $('#evidencias-list-form').submit();
    });
</script>
