﻿body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#divBody {
    overflow: hidden;
}

.ca-menu {
    padding: 0;
    margin: 5rem auto;
    width: 100%;
    text-align: center;
}


@-webkit-keyframes rotateSlideIn {
    0%, 25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(200%);
    }

    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(0) translateX(0);
    }
}

@keyframes rotateSlideIn {
    0%, 25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(200%);
        transform: translateZ(-500px) translateX(200%);
    }

    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px);
        transform: translateZ(-500px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
    }
}



.panelConfiguraciones-wrap {
    padding: 10rem 15rem 2rem 15rem;
}

.panelConfiguraciones {
    border-radius: 5rem;
    padding: 10rem;
    border: 1rem solid silver;
    overflow: auto;
}




.contenedor4Inspinia,
.contenedor4Inspinia #cntUsuarios,
#cntUsuarios .pagewrapper-config,
#cntUsuarios .wrappercontent-config,
.fielsetGral,
.ca-contenido-config,
#wrapper,
#contBody,
.wrapper-configuracion,
#frmGenerales,
#cntPrincipalFolios {
    height: 100%;
}

.fullWapper.height100p,
.fullWapper.height100p .height100p {
    height: 100% !important;
}

.height100p .panelConfiguraciones-wrap,
.height100p .panelConfiguraciones {
    height: 100%;
}



.ca-menu,
.wrapper-configuracion {
    position: relative;
    z-index: 2;
}

#contenido {
    opacity: 0;
    height: 0;
}

#contenido.visible {
    opacity: 1;
    height: 100%;
}

.wrapper-configuracion #contenido > div[class^='ca_content_item'].visible {
    visibility: visible;
    -webkit-animation: rotateSlideIn 1s both ease;
    -moz-animation: rotateSlideIn 1s both ease;
    -ms-animation: rotateSlideIn 1s both ease;
    -o-animation: rotateSlideIn 1s both ease;
    animation: rotateSlideIn 1s both ease;
    height: 100%;

    display: block;
    overflow: hidden;
    padding: 10rem;
}


.wrapper-configuracion #contenido > div[class^='ca_content_item'] {
    visibility: hidden;
}

.wrapper-configuracion #contenido > div[class^='ca_content_item'].visible > div {
    height: 100%;
    width: 100%;
    position: relative;
}

.innerData {
    height: 100%;
    position: absolute;
    top: 0;
    padding: 35rem 15rem 15rem 15rem;
    width: 100%;
}

div#confGen {
    padding-bottom: 45px;
}

.minimizado.ca-menu > li {
    width: 60rem !important;
    height: 60rem !important;
}

.minimizado > li a {
}

.minimizado .ca-content {
    opacity: 0;
}


.panel-botones-menu {
    height: 100%;
    z-index: 2;
    position: relative;
}

.panel-botones-menu.minimizado {
    height: 0 !important;
}

#divBody,
.minimizado.ca-menu > li,
.minimizado.ca-menu > li > a,
#contenido,
.panel-botones-menu,
.ca-menu > li,
.minimizado > li,
.ca-menu > li > a,
.minimizado > li > a,
.ca-content,
.ca-icon,
.iconPanelConf {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.ca-menu > li {
    width: 190rem;
    height: 140rem;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 4rem;
    margin: 10rem;
    border-radius: 5rem;
}

.ca-menu > li a {
    text-align: center;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    position: relative;
}

.ca-menu > li a:hover,
.ca-menu > li a:focus {
    text-decoration: none;
}

.ca-menu li.selected .ca-icon {
    font-size: 40rem !important;
    line-height: 60rem !important;
    opacity: 1;
}

.minimizado > li > a > .ca-icon {
    font-size: 33rem !important;
    line-height: 60rem !important;
    opacity: 1;
}

.PanelBotonConf {
    text-align: left;
    margin: 0;
}

.PanelBotonConf li {
    z-index: 1;
    position: relative;
    overflow: initial;
}

.PanelBotonConf li:hover {
    z-index: 2;
}

.iconPanelConf,
.ca-icon {
    font-size: 120rem;
    line-height: 115%;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #C8D1D1;
    z-index: 1;
    opacity: 0.2;
}


.ca-content {
 
    width: 100%;
    height: 100%;
    display: table-cell;
    opacity: 1;
    z-index: 2;
    vertical-align: middle;
    position: relative;
}

.ca-main {
    font-size: 25rem;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    margin-top: 0;
    margin-bottom: 5rem;
}

.ca-sub {
    font-size: 13rem;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    margin: 0;
}


.middle.minimizado {
 
    visibility: visible !important;
}

@keyframes slideUp {
    0% {
        transform: translateY(40%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(40%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}


.expandir {

    visibility: visible !important;
}

@keyframes slideDown {
    0% {
        transform: translateY(-30%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-30%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}

.container {
    display: table;
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.helper {
    position: absolute;
    top: 50%;
    display: table-cell;
    vertical-align: middle;
}

.content {
    position: relative;
    top: -50%;
    margin: 0 auto; 
}


.inner {
    overflow: auto;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 15px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.ca-contenido-config {
    width: 100%;
    /*height: 700px;*/
    /*min-height: 650rem;*/
    padding: 10rem;
    opacity: 1;
    /* height: 0rem !important; */
    /* min-height: 680rem; */
    position: absolute;
    top: 0;
    padding-top: 80rem;
    z-index: 1;
}

.ca-contenido-config h2 {
    margin-top: 0rem !important;
}

/* Temas */

.theme_select {
    list-style: none;
}

.theme_select li {
    padding: 0;
    margin: 0 0 20rem 0;
}

.theme_select li.active {
    opacity: 1;
}

.theme_select li a {
    display: block;
    height: 190rem;
    zoom: 85%;
}

.theme_select li a.thm_light {
    background: url(../../../../Images/paginas/Temas/theme-light.png) no-repeat scroll;
}

.theme_select li a.thm_medium {
    background: url(../../../../Images/paginas/Temas/theme-medium.png) no-repeat;
}

.theme_select li a.thm_dark {
    background: url(../../../../Images/paginas/Temas/theme-dark.png) no-repeat;
}


/*Boton volver*/

.buttonBack {
    position: absolute;
    right: 28rem;
    top: 22px; /*se ve mejor con pixels que con rem*/
    font-size: 23rem;
    display: inline-block !important;
    cursor: pointer;
    /* padding: 1.5px 0 0 2px; */
    width: 45rem;
    height: 45rem;
    margin-left: 0;
    text-align: center;
    padding: 0;
}

.buttonBack > div {
    line-height: 2;
}



div[class^='ca_content_item'] .titulo {
    margin-left: 30rem;
    margin-right: 30rem;
    /*margin-left: 60rem ;*/
    border-bottom: 1rem solid;
    text-align: left;
}

/*.buttonBack{
    height:25rem;
    cursor:pointer;
    width: 110rem !important;
}
.buttonBack > a {
    float: left;
    text-decoration: none;
}
.buttonBack > div {
    float: left;
    margin-right: 5rem;
    font-size: 20rem;
}*/

.conficon {
    font-size: 18rem !important;
    text-decoration: none !important;
    font: normal normal normal 14rem/1 FontAwesome !important;
}

.faicono {
    /*font-size: 25rem;*/
    font-family: FontAwesome;
    /*line-height: 60rem;*/
    /*width: 100%;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;*/
}

.meicono {
    /*font-size: 25rem;*/
    font-family: 'webfont-medical-icons';
    /*line-height: 60rem;
    width: 100%;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;*/
}

.faicono:before {
    font-family: FontAwesome;
}

.meicono:before {
    font-family: 'webfont-medical-icons';
}

.iconohis:before {
    font-family: 'fontHISWEB';
}

/*----------------------------
	alertify de catalogo
-----------------------------*/

.ajs-dialog.loadingCatalogo {
    min-width: 300rem;
    width: 95%;
    min-height: 300rem;
    height: 300rem !important;
    height: auto;
}

#divCatalogo {
    width: 100%;
}
/*----------------------------
	submenu de catalogo
-----------------------------*/


.subMenuCat {
    position: absolute;
    list-style: none;
    text-align: center;
    width: 190rem;
    padding: 0rem;
    /*left: 50%;*/
    /*margin-left: -90px;*/
    /* top: 10px; */
    font: bold 12rem 'Open Sans Condensed', sans-serif; /* This is important for the show/hide CSS animation */
    max-height: 0;
    overflow: auto;
    -webkit-transition: max-height 0.4s linear;
    -moz-transition: max-height 0.4s linear;
    -webkit-transition: z-index 0.4s linear;
    -moz-transition: z-index 0.4s linear;
    z-index: 1;
    transition: max-height 0.4s linear;
}

.subMenuCat li a {
    padding: 12rem;
    color: #8D98A2 !important;
    text-decoration: none !important;
    display: block;
}

.subMenuCat li a:hover {
    color: #FFF !important;
}

.subMenuCat li:first-child {
    border-radius: 3rem 3rem 0 0;
    margin-top: 5rem;
    position: relative;
}

.subMenuCat li:first-child:before { /* the pointer tip */
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border: 5rem solid transparent;
    border-bottom-color: #313131;
    left: 50%;
    top: -10rem;
    margin-left: -5rem;
}

.subMenuCat li:last-child {
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

/* This will trigger the CSS */
/* transition animation on hover */

.ca-menu.overflowList li:hover ul {
    max-height: 200rem;
    overflow: auto;
    z-index: 1;
}

.cc_menu .ca-main {
    text-align: center;
}

a[data-args*="Delete"].eliminar:before {
    content: "\f00d";
    display: inline-block;
    font-size: 18rem !important;
    text-decoration: none !important;
    font: normal normal normal 14rem/1 FontAwesome;
    color: #FF6743;
}


.comboicon:before {
}

.wrapTexto {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150rem;
}

.dxpLite_MetropolisBlue {
    min-width: 150rem !important;
}


.btnlink {
    padding-top: .4em;
    padding-left: .4em;
}

.btnlink:before {
    font-size: 23rem;
    line-height: 38rem;
    font-weight: lighter !important;
}

.alertify.ajs-resizable:not(.ajs-maximized) .ajs-dialog {
    min-width: 250rem !important;
}



.fielsetGral {
    border-radius: 5rem;
    padding: 0 15rem 15rem 15rem;
    overflow: auto;
}


.input-group {
    margin-top: 10rem !important;
    width: 100%;
}

.input-group .label_hl {
    vertical-align: middle;
    width: auto;
    display: table-cell;
    white-space: nowrap;
    padding-right: 10rem;
}

.input-group.redondo {
    border-radius: 5rem !important;
}

/*----------------------------
	configuracion general
-----------------------------*/
.confPanelGeneral {
    color: #2c27ef
}


.ruta {
    width: 400rem;
    background: #fcfcfc;
}

.cuadrado {
    border-radius: 5rem;
    height: 60rem;
    width: 60rem;
    display: inline-block;
    position: relative;
}


.cuadrado > img {
    height: 56rem;
    width: 56rem;
}

.iEliminar {
    position: absolute;
    right: 4rem;
    top: 3rem;
}

.previewHospital > div {
    text-align: center;
    position: relative;
}

.previewHospital {
    position: relative;
}


/*----------------------------
	Menu Usuarios
-----------------------------*/

/*#menuUsuarios ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto;
  position: relative;
  display: block;
  font-size: 12rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  zoom: 1;
}
#menuUsuarios ul:before {
  content: '';
  display: block;
}
#menuUsuarios ul:after {
  content: '';
  display: table;
  clear: both;
}
#menuUsuarios li {
  display: block;
  float: left;
  margin: 0;
  padding: 0 4rem;
}
#menuUsuarios li a {
  display: block;
  float: left;
  text-decoration: none;
  font-weight: bold;
  padding: 10rem 20rem 7rem 20rem;
  border-bottom: 3rem solid transparent;
}

#menuUsuarios li.active a {
  display: inline;
  float: left;
  margin: 0;
}*/


#menuUsuarios .fa-fw {
    font-size: 19rem !important;
}

.customMenuUsuarios li.navMenu-opt > a > span {
    display: block;
    opacity: 1 !important;
    width: auto !important;
    white-space: normal;
    font-size: 12rem;
}

.customMenuUsuarios li.navMenu-opt {
    text-align: center;
}

.customMenuUsuarios li.navMenu-opt > a {
    padding: 5rem !important;
    height: 70rem;
    font-size: 20rem;
}

.consultaUsuariosConfiguracion {
    /*text-align:center;*/
}
/*.consultaUsuariosConfiguracion > div {
    text-align:left;
    display:inline;
        overflow: hidden;
}*/
.consultaUsuariosConfiguracion .userblock_hl {
    vertical-align: bottom;
    width: 200rem;
    margin: 5rem;
    min-height: 120rem;
    float: none;
    display: inline-block;
}


#cntUsuarios .userblock_hl span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


div#cntUsuarios {
    padding-left: 210rem;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.mini-navbar + div#cntUsuarios {
    padding-left: 80rem !important;
}

#MenuModulos nav.navMenu-navigation {
    /*margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 5px 0 0 0;
        overflow: hidden;*/
    bottom: 0;
    left: 0;
    top: 0;
    overflow: hidden;
}
/*@media (min-width: 768px) {
  #modalPersonal> #page-wrapper, #cntUsuarios > #page-wrapper { 
    margin: 0 0 0 0; 
  
  }
  
}
@media (max-width: 768px) {
     #modalPersonal> #page-wrapper, #cntUsuarios > #page-wrapper {
        margin: 0 0 0 0;
    }
}*/



/*----------------------------
	Paneles
-----------------------------*/

#cntUsuarios .pl-tools {
    float: none;
    margin-top: 0;
    position: absolute;
    margin: 0;
    top: 0;
    right: 7rem;
}


.pl-circle {
    height: 35rem;
    width: 35rem;
    line-height: 35rem;
    float: right;
    display: block;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 5rem;
    font-size: 23rem;
    font-weight: lighter !important;
    text-align: center;
    padding-top: 0rem !important;
}

.iconCircular {
    border-radius: 26rem;
    padding-top: 2rem;
}

.pagewrapper-config {
    overflow-x: hidden;
    overflow-y: auto; /**/
    position: relative;
}

.wrappercontent-config {
    position: relative;
    padding-top: 40rem;
}

.wrapUsuarioBusqueda {
    width: 33%;
    padding: 0 5rem;
    float: left;
}

.wrapUsuarioResultado {
    width: 66%;
    padding: 0 5rem;
    float: right;
    height: 100%;
}

.wrapUsuarioResultado > .panel {
    height: 100%;
    overflow: hidden;
    padding-top: 30rem;
    position: relative;
    margin: 0;
}

.wrapUsuarioResultado > .panel > .panel-heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30rem;
}

.wrapUsuarioResultado > .panel > .panel-body {
    overflow: auto;
    height: 100%;
    background: #f1f2f2;
}


@media (max-width: 800px) {
    .wrapUsuarioBusqueda {
        width: 100%;
        padding: 0 5rem;
        float: none;
    }

    .wrapUsuarioResultado {
        width: 100%;
        padding: 0 5rem;
        float: none;
        height: auto;
    }
}

.contenedor4Inspinia
/*.wrappercontent-config*/ {
    /*border:1px solid red;*/
    border-radius: 5rem;
    padding: 10rem;
    position: relative;
    overflow: hidden;
}

.width100 {
    width: 100%;
}
/*----------------------------
	configuracion Licencias
-----------------------------*/



.lic-titulo {
    font-size: 25rem;
    margin-top: 0;
    margin-bottom: 5rem;
}

.lic-subtitulo {
    font-size: 13rem;
    margin: 0;
}

.lic-li {
    width: 220rem !important;
    height: 160rem !important;
}

.lic-contenido {
    position: relative;
    z-index: 100;
}





/*----------------------------
    Botones deshabilitados
----------------------------*/

.wrapper-configuracion .opcion-deshabilitada {
    pointer-events: none;
}

/*notificaciones*/
body > .idigitales-notificaciones {
    top: 70rem;
}



/* configuracion portada mensaje */

#cntPortadaMensajes {
    height: 100%;
}

#contListaMensajes {
    position: relative;
    height: 100%;
    width: 100%;
}



#contListaMensajes .innerItemListConfig > div {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#contListaMensajes .innerItemListConfig > div span {
    display: table-cell;
    width: 100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#contListaMensajes .innerItemListConfig > div label {
    display: table-cell;
    width: 65rem;
}

[class^="activoPortada-"] {
    float: right;
    border-radius: 100%;
    width: 10rem !important;
    height: 10rem;
    position: absolute;
    right: 10rem;
    background: green;
}

.activoPortada-False {
    background: red;
}



.itemListConfig {
    position: relative;
    margin-right: 10rem;
}

.confListSeleccion {
    display: none;
}


.innerItemListConfig,
.innerItemListConfig > div {
    pointer-events: none;
}

.innerItemListConfig {
    margin-top: 10rem;
    padding: 10rem;
    display: block !important;
    text-align: left;
    border-radius: 10rem;
    margin-right: 10rem;
    position: relative;
    border: 2rem solid #d3d3d3;
    background-color: #f1f2f2;
}

input[type="radio"].confListSeleccion:checked + .innerItemListConfig {
    border: 2px solid #79abb5;
}

/*Tarjetas Usuarios*/
.userblock_hl:hover {
    background: #E2EFEF;
    box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.4);
    color: #444444;
    cursor:pointer;
}

.userblock_hl {
    padding: 5rem 5rem 20rem 5rem;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
    color: #444444;
}
.listaUsuarios .userblock_hl {
    vertical-align: bottom;
    width: 200rem;
    margin: 5rem;
    min-height: 120rem;
    float: none;
    display: inline-block;    
}
.listaUsuarios .userblock_hl .usuarioImg {
    max-height: 50rem;
    margin-left: 0;
    font-size: 40rem;
    color: #444444;
    text-align: center;
    width: 100%;
}

.listaUsuarios .userblock_hl span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.usuarioOpciones {
    text-align: right;
    font-size: 15rem;   
}
.usuarioInfo {
    text-align: center;
    font-size: 15rem;
    margin-top: 10rem;
}
.contenedor-usuarios {
    height: 100%;
}

.listaUsuarios {
    overflow: auto;
    height: 100%;
    background: #f1f2f2;
    padding: 10rem;
}

/*Menu tabla*/
.dropbtn {
    padding: 5rem;
    font-size: 14px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8rem 16rem 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 400;
    color: #74788d;
    padding: 10rem 5rem;
}

.dropdown-content a {
    padding: 10rem 20rem;
    text-decoration: none;
    display: block;
    font-size: 14rem;
    text-align: left;
    width: 170rem;
}

.dropdown-content a > i {
    margin-right: 10rem;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.pagina-panel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-shadow: 0 0 13rem 0 rgba(82,63,105,.05);
    background-color: #fff;
    border-radius: 4rem;
    padding: 0;
    height:100%
}


.pagina-panel .titulo-barra {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        position: relative;
        padding: 0 25rem;
        border-bottom: 1rem solid #ebedf2;
        min-height: 50rem;
        border-top-left-radius: 5rem;
        border-top-right-radius: 5rem;
        background: #686868;
    }

        .pagina-panel .titulo-barra .titulo-label {
            display: flex;
            align-items: center;
            align-content: flex-first;
        }

            .pagina-panel .titulo-barra .titulo-label .titulo-icon {
                padding-right: 10rem;
                font-size: 18rem;
                color: #00C1D4;
            }

            .pagina-panel .titulo-barra .titulo-label .titulo-texto {
                margin: 0;
                padding: 0;
                font-size: 16rem;
                font-weight: 500;
                color: #fff;
            }

.pagina-panel .titulo-barra .boton {
    margin-top: 5rem;
    font-size: 25rem;
    color: #fff;
    cursor:pointer;
}


/*           Tabuladores           */
.navTabuladoresConfiguracionModulo {
    /*background: #79ABB5;*/
    width: 120rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
    border: 2px solid #FFFFFF;
}


.navTabuladoresConfiguracionModulo * {
    margin: 0;
    padding: 0;
    border: 0 none;
    position: relative;   
}

.sectionTabuladoresConfiguracionExp {
    min-width: 320rem;
    height: 585rem;
    margin: 10rem auto;
    padding: 0;
    position: relative;
    padding-right: 50rem;   
    border: 2px solid #FFFFFF;
}

.articleTabuladoresConfiguracionWidget {
    height: 560rem;
    position: absolute;
    left: 120rem;
    top: 0;
    right: 0;
    transition: .7s;
    transform: scale(0);
    transform-origin: 0% 0%;
    transition-delay: .1s;
    overflow-y: scroll;
}

.articleTabuladoresConfiguracionWidget:before {
    font-size: 40rem;
    font-weight: 100;
    position: absolute;
    top: 10rem;
    left: 10rem;
}


.navTabuladoresConfiguracionModulo::-webkit-scrollbar, .articleTabuladoresConfiguracionWidget::-webkit-scrollbar {
    width: 13rem !important;
}

.navTabuladoresConfiguracionModulo:after {
    content: '';
    width: 120rem;
    height: 80rem;
    /*background: #FFFFFF;*/
    position: absolute;
    left: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    transition: .5s;
}

.checkTransition {
    display: block;
    transform: scale(1);
    transition-delay: .4s;
    padding: 10rem;
}

.checkSelected {
    color: #00C1D4;
    background-color: #484646;
}

.tabuladoresConfiguracionModulo {
    display: none;
}


.iconSizeConfiguracionModulo {
    font-size: 20rem;
    display: block;
    height: 80rem;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    z-index: 2;
    font-weight: normal !important;
    padding-top: 15rem;
}

.iconSizeConfiguracionModulo span {
    font-size: 12rem;
}


.iconSizeConfiguracionModulo:before {
    display: block;
    font-size: 30rem;
    z-index: 2;
}

/*Configuracion-Windget*/
.idigitales-renglon.permiso {
    margin-top: 5rem;
    padding: 5rem;
    border-radius: 10rem;
    border: 2rem solid #d3d3d3;   
}

.idigitales-renglon.permiso .idigitalesCheckboxes-wrap {
    margin-left: 15rem;
    margin-top: 17rem;
}

.idigitales-renglon.permiso .idigitalesCheckboxes-checkmark svg {
    margin-top: -25rem;
}

.idigitales-renglon.permiso .wd-icono {
    padding: 0rem 8rem;
    text-align: center;
    border-radius: 50%;
    width: 35rem;
    height: 35rem;
    cursor: move;
    font-size: 20rem;
}

.idigitales-renglon.permiso .wd-texto .texto {
    font-size: 15rem;
    margin-left: 15rem;
    top: 8rem;
}

.idigitales-renglon.permiso .wd-texto .subtexto {
    font-size: 11rem;
    margin-left: 15rem;
    color: #27ccc0;
}

.dataTables_empty {
    color: darkgray;
}

table.dataTable.no-footer {
    border-bottom: 1px solid darkgray !important;
}




/********** CONTACTOS *****************/


#confContactos #panelAplicaciones,
#confContactos .contenedor-config,
#confContactos .contenedor-config > .idigitales-renglon {
    height: 100%;
}

#confContactos #confPanelAplicaciones .itemAplicacion > .innerItemAplicaciones,
#confContactos #confPanelAplicaciones .itemAplicacion > .innerItemAplicaciones > div {
    pointer-events: none;
}

#confContactos .innerItemAplicaciones {
    margin-top: 10rem;
    padding: 10rem;
    display: block !important;
    text-align: left;
    border-radius: 10rem;
    margin-right: 10rem;
}

#confContactos .confPanelAplicaciones {
    height: 100%;
    width: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    /* z-index: 1; */
    /* padding-bottom: 15rem; */
    padding-right: 5rem !important;
    /* top: 30rem; */
    height: 96% !important;
    overflow: auto;
    /* padding: 0; */
    /* margin-top: 30rem; */
}

#confContactos .confSeleccionAplicaciones {
    display: none;
}

#confContactos .wrapper-confPanelAplicaciones {
    width: 100%;
    position: absolute;
    padding-right: 57%;
    height: calc(100% - 40rem);
    z-index: 1;
    left: 0;
    top: 30rem;
}

#confContactos .wrapper-confPanelAplicaciones fieldset {
    height: 100%;
    position: relative;
}

#confContactos .wrapper-confPanelContactos {
    width: 55%;
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 2;
}

#confContactos .wrapper-confPanelContactos fieldset {
    height: calc(100% - 90rem);
    background: #f1f2f2;
}

#confContactos .wrapper-confPanelConApp {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 40rem 10rem 10rem 10rem;
    height: 100%;
    width: 100%;
}

#confContactos .noElementos {
    display: block;
    text-align: center;
    margin-top: 30%;
    font-family: Chiller;
    font-stretch: semi-expanded;
    font-size: 50rem;
}

#confContactos .boton-cuadrado {
    width: 20rem;
    height: 20rem;
    line-height: 15rem;
    padding: 2rem;
    border-radius: 3rem;
    cursor: pointer;
    float: right;
    margin-top: -24rem;
    cursor: pointer;
    color: #BEBEBE;
    border: 1rem solid #BEBEBE;
    background-color: transparent;
}

#confContactos .boton-cuadrado:hover {
    color: #fff;
    border: 1rem solid #fff;
}



/********** INSTALACIONES *****************/


#confInstalaciones #panelAplicaciones,
#confInstalaciones .contenedor-config,
#confInstalaciones .contenedor-config > .idigitales-renglon {
    height: 100%;
}

#confInstalaciones #confPanelAplicaciones .itemAplicacion > .innerItemAplicaciones,
#confInstalaciones #confPanelAplicaciones .itemAplicacion > .innerItemAplicaciones > div {
    pointer-events: none;
}

#confInstalaciones .innerItemAplicaciones {
    margin-top: 10rem;
    padding: 10rem;
    display: block !important;
    text-align: left;
    border-radius: 10rem;
    margin-right: 10rem;
}

#confInstalaciones .confPanelAplicaciones {
    height: 100%;
    width: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    /* z-index: 1; */
    /* padding-bottom: 15rem; */
    padding-right: 5rem !important;
    /* top: 30rem; */
    height: 96% !important;
    overflow: auto;
    /* padding: 0; */
    /* margin-top: 30rem; */
}

#confInstalaciones .confSeleccionAplicaciones {
    display: none;
}

#confInstalaciones .wrapper-confPanelAplicaciones {
    width: 100%;
    position: absolute;
    padding-right: 57%;
    height: calc(100% - 40rem);
    z-index: 1;
    left: 0;
    top: 30rem;
}

#confInstalaciones .wrapper-confPanelAplicaciones fieldset {
    height: 100%;
    position: relative;
}

#confInstalaciones .wrapper-confPanelCategorias {
    width: 55%;
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 2;
}

#confInstalaciones .wrapper-confPanelCategorias fieldset {
    height: calc(100% - 90rem);
    background: #f1f2f2;
}

#confInstalaciones .wrapper-confPanelConApp {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 40rem 10rem 10rem 10rem;
    height: 100%;
    width: 100%;
}

#confInstalaciones .noElementos {
    display: block;
    text-align: center;
    margin-top: 30%;
    font-family: Chiller;
    font-stretch: semi-expanded;
    font-size: 50rem;
}

#confInstalaciones .boton-cuadrado {
    width: 20rem;
    height: 20rem;
    line-height: 15rem;
    padding: 2rem;
    border-radius: 3rem;
    cursor: pointer;
    float: right;
    margin-top: -24rem;
    cursor: pointer;
    color: #BEBEBE;
    border: 1rem solid #BEBEBE;
    background-color: transparent;
}

#confInstalaciones .boton-cuadrado:hover {
    color: #fff;
    border: 1rem solid #fff;
}


/*Tarjetas Usuarios*/
.tarjeta:hover {
    background: #E2EFEF;
    box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.4);
    color: #444444;
    cursor: pointer;
}

.tarjeta {
    padding: 5rem 5rem 20rem 5rem;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.5);
    color: #444444;
}

.tarjeta.checked {
    background: #c9d0e0;
    color: #FFFFFF;
    cursor: pointer;
}

.tarjeta.checked:hover {
    background: #E2EFEF;
    box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.4);
    color: #444444;
    cursor: pointer;
}

#panelContactos .tarjeta {
    vertical-align: bottom;
    width: 200rem;
    margin: 5rem;
    min-height: 120rem;
    float: none;
    display: inline-block;
}

#panelContactos .tarjeta .usuarioImg {
    max-height: 50rem;
    margin-left: 0;
    font-size: 40rem;
    color: #444444;
    text-align: center;
    width: 100%;
}

#panelContactos .tarjeta span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.usuarioOpciones {
    text-align: right;
    font-size: 15rem;
}

.tarjetaInfo {
    text-align: center;
    font-size: 15rem;
    margin-top: 10rem;
}

.contenedor-usuarios {
    height: 100%;
}

#panelContactos {
    overflow: auto;
    height: calc(100% - 40rem);
    background: #f1f2f2;
    padding: 10rem;
}

#modalContactos #Aplicacion + .multiple-select {
    width: 100% !important;
    color: #a7a9ac;
    font-size: 12rem;
}

#modalContactos #Aplicacion + .multiple-select .ms-choice span {
    color: #a7a9ac;
}

#modalContactos .ctrlSelect2Multi ~ .select2-container--default .select2-selection--multiple {
    height: 50rem;
    overflow: hidden;
    border-radius: 0 5rem 5rem 0;
}

#modalContactos .ms-drop.top {
    z-index: 2;
    bottom: 85rem !important;
    top: auto !important;
    color: #a7a9ac;
    font-size: 12rem;
}

#modalContactos .ms-drop.top .order {
    color: white;
    background-color: #4895bf;
    width: auto;
    padding: 0px 4rem 0 4rem;
    position: relative;
    top: -2rem;
    border-radius: 5rem;
}

#modalContactos .ms-drop ul li span {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 10rem);
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#modalContactos .ms-drop ul li input {
    margin: 3px 3px 3px 4px;
}

#modalConfigUsuarios .icono-responsable {
    color: gray;
    font-size: 25rem;
    cursor: pointer;
    margin-top: 12rem;
}

#modalConfigUsuarios .icono-responsable:hover,
#modalConfigUsuarios .icono-responsable.activo {
    color: #E7E8EA;
}

#confUsu #busquedaTipo + .multiple-select,
#confUsu #busquedaInstalacion + .multiple-select {
    width: 100% !important;
    color: #a7a9ac;
    font-size: 12rem;
}

#confUsu #busquedaTipo + .multiple-select .ms-choice span,
#confUsu #busquedaInstalacion + .multiple-select .ms-choice span {
    color: #a7a9ac;
}
