﻿


#cntAplicaciones .sin-aplicaciones {
    color: rgb(209, 209, 209);
}


.opciones-versiones .btn-menu-versiones { 
    color: white;
    background: #BEBEBE;
}

.opciones-versiones .btn-menu-versiones:hover {
    color: white;
    background: #999999;
}
#cntAplicaciones .versiones-icono {
    color: white;
    background: #c9d0e0;
}

#modalOpcionesDescarga #InformacionManual .cambios {
    color: #919191;
}

#modalOpcionesDescarga #InformacionManual > div {
    background: #f2f2f2;
    margin-bottom: 5rem;
    padding: 5rem;
}
#modalOpcionesDescarga #OpcionesManuales .label-version {
    background: #f2f2f2;
}
#modalOpcionesDescarga #OpcionesManuales .select2-container--default .select2-selection--single {
    border: 2rem solid #f2f2f2;
}

.versiones-aplicacion {
    color: #c9d0e0;
}


.versiones-descarga,
.versiones-descarga-manual-archivo,
.versiones-descarga-manual {
    color: #888484;
}

#InformacionManual .labels-verdes {
    color: #00C1D4 !important
}
/********Agregar Aplicacion *******/
#modalAgregarAplicacion .dz-remove {
    background: #00C1D4;
    color: #52596b;
}

#modalAgregarAplicacion .dz-remove:hover {
    background: #2ba9a0;
    color: #FFF;
}



/********Editar Version *******/
#modalEditarVersion .dz-remove {
    background: #00C1D4;
    color: #52596b;
}

#modalEditarVersion .dz-remove:hover {
    background: #2ba9a0;
    color: #FFF;
}


#modalEditarVersion #panelCarousel { border: 1rem solid #bbb; }


#modalEditarVersion .emptyDataCarusel {
    color: #bbb;
}

#modalOpcionesDescarga .sinVersiones > span {
    color: #27ccc0;
}
