﻿.ca-menu > li {
    background: #E7E8EA;
    -webkit-box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);
    -moz-box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);
}

.ca-menu > li a {
    color: #333;
}


.ca-sub {
    color: #333;
}

.ca-menu li.selected,
.ca-menu > li:hover {
    border-color: #F1F2F2;
    background: #BCBEC0;
}

.ca-menu li.selected .ca-icon,
.ca-menu > li:hover .faicono,
.ca-menu > li:hover .meicono,
.ca-menu > li:hover .ca-icon {
    color: #0073B5;
}

.ca-menu > li:hover .ca-main {
    color: #0073B5;
    font-size: 14rem;
}

.ca-menu > li:hover .ca-sub {
    color: #fff;
    font-size: 20rem;
}

.wrapper-configuracion #contenido > div.visible {
    background-color: #EDEDED;
    border: 1rem solid #0073B5;
}

.ca-contenido-config .titulo {
    border-bottom: 1rem solid #0073B5;
    color: #0073B5;
    text-align: left;
    margin-left: 20rem;
}

.theme_select li:hover a {
    box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.6);
}

.theme_select li.activo {
    box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0rem 3rem 15rem rgba(0, 0, 0, 0.6);
}

.buttonBack, .buttonBack > a {
    color: #FFF !important;
}

.conficon {
    color: #0073B5 !important;
}

.colorAzul {
    color: #0073b5 !important;
    ;
}

.wrapper-configuracion .idigitales-form-label,
.wrapper-configuracion .idigitales-form-input {
    color: #4af9ec;
}


.wrapper-configuracion .wrapper-confPanelContactos fieldset .idigitales-form-label,
.wrapper-configuracion .wrapper-confPanelConApp fieldset .idigitales-form-label,
.wrapper-configuracion .wrapper-confPanelCategorias fieldset .idigitales-form-label {
    color: #ffffff;
}
/********************CONTACTOS  ****************/
#confContactos .innerItemAplicaciones {
    border: 2rem solid #d3d3d3;
    background-color: #f1f2f2;
}

#confContactos .noElementos {
    color: rgb(209, 209, 209);
    
}

.confPanelAplicaciones input[type="radio"]:checked + .innerItemAplicaciones {
    border: 2rem solid #686868 !important;
}

/******************** Instalaciones  ****************/
#confInstalaciones .innerItemAplicaciones {
    border: 2rem solid #d3d3d3;
    background-color: #f1f2f2;
}

#confInstalaciones .noElementos {
    color: rgb(209, 209, 209);
}