﻿iframe.iframeModulo {
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
    display: block;
}

/***************************************************
             Animaciones
***************************************************/

.fa-refresh.animado {
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -ms-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

    .fa-refresh.animado.lento {
        -webkit-animation: spin 2.2s linear infinite;
        -moz-animation: spin 2.2s linear infinite;
        -ms-animation: spin 2.2s linear infinite;
        -o-animation: spin 2.2s linear infinite;
        animation: spin 2.2s linear infinite;
    }

    .fa-refresh.animado.rapido {
        -webkit-animation: spin 0.7s linear infinite;
        -moz-animation: spin 0.7s linear infinite;
        -ms-animation: spin 0.7s linear infinite;
        -o-animation: spin 0.7s linear infinite;
        animation: spin 0.7s linear infinite;
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}