.wrapper-versiones {
    padding: 5rem 5rem;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.idigitales-seccion, .idigitales-seccion-panel, .idigitales-seccion-contenido {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


/*Titulo*/
.pagina-panel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-shadow: 0 0 13rem 0 rgba(82,63,105,.05);
    background-color: #fff;
    border-radius: 4rem;
    padding: 0;
}


.pagina-panel .titulo-barra {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    padding: 0 25rem;
    border-bottom: 1rem solid #ebedf2;
    min-height: 50rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    background: #686868;
}

.pagina-panel .titulo-barra .titulo-label {
    display: flex;
    align-items: center;
    align-content: flex-first;
}

.pagina-panel .titulo-barra .titulo-label .titulo-icon {
    padding-right: 10rem;
    font-size: 18rem;
    color: #00C1D4;
}

.pagina-panel .titulo-barra .titulo-label .titulo-texto {
    margin: 0;
    padding: 0;
    font-size: 16rem;
    font-weight: 500;
    color: #fff;
}

.pagina-panel .pagina-panel-contenido {
    display: flex;
    flex-direction: column;
    padding: 15rem;
    border-radius: 4rem;
}

.wrapper-versiones #cntVersionesAplicaciones {
    height: 100%;
}


.wrapper-versiones .tituloDescargas {
    font-size: 34rem;
    color: #515154;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    margin-top: 10rem;
    margin-bottom: 30rem;
}


#cntAplicaciones {
    padding-top: 10rem;
    overflow-y: auto;
    height: 90%;
}

.item-aplicacion {
    border: 1rem solid lightgray;
    border-left: none;
    border-right: none;
    padding: 20rem 10rem 5rem 10rem;
    border-top: none;
}


#cntAplicaciones .versiones-icono {
    font-size: 65rem;
    text-align: center;
    line-height: 80rem;
    margin: 0 auto;
    width: auto;
    height: 120rem;
    width: 120rem;
    padding: 10rem;
    /* border-radius: 1000rem; */
    cursor: pointer;
    padding: 20rem;
}

.versiones-aplicacion {
    font-size: 15rem;
   
    font-weight: 700;
    text-rendering: optimizelegibility;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}
.versiones-aplicacion:hover {
    text-decoration: underline;
    cursor: pointer;
}

.versiones-version {
    color: #999;
    text-rendering: optimizelegibility;
    font-family: "Century Gothic";
    font-size: 11rem;
    margin-top: 20rem;
}

.versiones-descripcion {
    color: #555;
    text-rendering: optimizelegibility;
    font-family: "Century Gothic";
    margin-top: 5rem;
    font-size: 14rem;
    margin-bottom: 15rem;
}

.versiones-descarga-manual-archivo,
.versiones-descarga-manual {
    font-size: 12rem;
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
}
    .versiones-descarga span,
    .versiones-descarga-manual-archivo span,
    .versiones-descarga-manual span {
        margin-right: 5rem;
    }
.versiones-descarga .descarga,
.versiones-descarga-manual-archivo .descarga,
.versiones-descarga-manual  .descarga{
    font-size: 12rem;
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Century Gothic";
}

.opciones-versiones {
    text-align: center;
    position: relative;
}

.opciones-versiones .btn-menu-versiones {
  
    font-size: 25rem;
    border: 1rem solid;
    text-align: center;
    border-radius: 25rem;
    width: 35rem;
    cursor: pointer;
    z-index: 2;
    margin: 30rem auto 5rem auto;
    height: 35rem;
    line-height: 35rem;
}

#cntAplicaciones .sin-aplicaciones {
    text-align: center;
    font-family: Chiller;
    font-stretch: semi-expanded;
    font-size: 50rem;
    padding-top: 15%;
}

#modalOpcionesDescarga #InformacionManual .idigitales-form-label {
    color: #686868;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    margin-top: 5rem;
}
#modalOpcionesDescarga #InformacionManual {
    padding: 5rem;
    height: 160rem;
    margin-top: 10rem;
}
#modalOpcionesDescarga #InformacionManual > div {
        margin-bottom: 5rem;
        padding: 5rem;
    }
#modalOpcionesDescarga #InformacionManual .version-informacion {
        display: inline-block;
        color: #bebebe;
        cursor: pointer;
        margin-right: 5rem;
    }
#modalOpcionesDescarga #InformacionManual #Sistema {
        display: inline-block;
        width: auto;
    }


#modalOpcionesDescarga .card-info-version {
    transition: all 0.5s;
    opacity: 0;
    top: 670rem;
    position: absolute;
    max-width: 1000rem;
    min-height: 50rem;
    background: white;
    display: flex;
    box-shadow: 0 40px 70px 0 rgba(0, 0, 0, 0.22), 0px 27px 24px 0 rgba(0, 0, 0, 0.2);
    background: rgb(201, 208, 224);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 40px 70px 0px, rgba(0, 0, 0, 0.2) 0px 27px 24px 0px;
    padding: 10rem;
    font-size: 12rem;
}

#modalOpcionesDescarga .card-info-version .cambios {
        white-space: pre-line;
    }
#modalOpcionesDescarga #cntArchivos {
    height: 300rem;
    overflow-x: hidden;
    overflow-y: auto;
}

#modalOpcionesDescarga #OpcionesManuales {
    width: 100%;
}

#modalOpcionesDescarga #InformacionManual .sistema {
    font-weight: 800;
}
#modalOpcionesDescarga #InformacionManual .titulo label {
    font-weight: 800;
    font-size: 15rem;
}

#modalOpcionesDescarga #OpcionesManuales .label-version {
    line-height: 30rem;
    padding-left: 5rem;
    display: inline-flex;
    width: auto;
    padding-right: 5rem;
}
#modalOpcionesDescarga #OpcionesManuales .select2-container--default .select2-selection--single {
    border-radius: unset;
    border: 2rem solid #f2f2f2;
    height: 30rem;
}

#cntAplicaciones .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 12rem;
    line-height: 25rem;
}



/**Agregar Aplicaciones*/
#modalAgregarAplicacion #drop_zone {
    margin: 10rem 0rem;
    padding: 5rem 20rem;
    height: 220rem;
}
#modalAgregarAplicacion .font-agregar-archivo {
    cursor: pointer;
    text-align: center;
    font-size: 25rem;
    opacity: 0.5;
    text-align: center;
}

#modalAgregarAplicacion .font-agregar-archivo {
    font-size: 17rem;
    line-height: 15rem;
}

#modalAgregarAplicacion  .version-val {
    width: 23%;
}

#modalAgregarAplicacion .dz-message {
    margin-top: 50rem;
}

#modalAgregarAplicacion .dz-remove {
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    text-align: center;
    border: none;
    letter-spacing: 2rem;
    font-size: 13rem;
    height: 30rem;
}

#modalAgregarAplicacion .dz-remove:focus {
    outline: none;
    box-shadow: none;
}

#modalAgregarAplicacion .dz-remove:hover {
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    text-align: center;
    border: none;
    letter-spacing: 2rem;
    font-size: 13rem;
}


/*******Editar Aplicaciones ******/

#modalEditarAplicacion .boton-cuadrado {
    width: 21rem;
    height: 21rem;
    line-height: 16rem;
    padding: 2rem;
    border-radius: 3rem;
    cursor: pointer;
    float: right;
    margin-top: -24rem;
    background: transparent;
    color: #BEBEBE;
    border: 1rem solid #BEBEBE;
    font-size: 16rem;
    text-align: center;
}

    #modalEditarAplicacion .boton-cuadrado:hover {
        color: #fff;
        border: 1rem solid #fff;
    }
#modalEditarAplicacion .boton-cuadrado-grande {
    width: 25rem;
    height: 25rem;
    line-height: 20rem;
    font-size: 15rem;
    padding: 2rem;
    border-radius: 3rem;
    cursor: pointer;
    float: right;
   
    color: #BEBEBE;
    border: 1rem solid #BEBEBE;
    text-align: center;
    /*z-index: 3;*/
    display: block;
}

#modalEditarAplicacion .boton-cuadrado-grande:hover {
    color: #fff;
    border: 1rem solid #fff;
}


#modalEditarAplicacion .titulo-sistema {
    font-weight: bold;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

#modalEditarAplicacion .informacion-version {
    /*font-family: "Open Sans",Arial,Helvetica,sans-serif;*/
    font-size: 12rem;
}


#modalEditarAplicacion .item-version {
    border-bottom: 1rem solid gray;
    overflow-y: auto;
}

#modalEditarAplicacion #contenedorVersiones .boton-cuadrado {
    font-size: 12rem;
    text-align: center;
    margin-top: 0rem;
}
#modalEditarAplicacion #contenedorVersiones {
    height: 330rem;
    overflow-y: auto;
    width: 100%;
}


#modalEditarAplicacion .idigitales-fielset-title label { width: auto; }



/*******Editar Version ******/

#modalEditarVersion .version-val {
    width: 23%;
}
#modalEditarVersion #drop_zone {    
    padding: 5rem 20rem;
    height: 120rem;
    margin-top:10rem;
    margin-bottom:10rem;
    margin-left:0rem;
    margin-right:0rem;
}



#modalEditarVersion .dz-message {
    margin-top: 5rem;
}

#modalEditarVersion .dz-remove {
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    text-align: center;
    border: none;
    letter-spacing: 2rem;
    font-size: 13rem;
    height: 30rem;
}

#modalEditarVersion .dz-remove:focus {
    outline: none;
    box-shadow: none;
}

#modalEditarVersion .dz-remove:hover {
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    text-align: center;
    border: none;
    letter-spacing: 2rem;
    font-size: 13rem;
}




#modalEditarVersion .boton-cuadrado {
    width: 17rem;
    height: 17rem;
    line-height: 15rem;
    padding: 2rem;
    border-radius: 3rem;
    cursor: pointer;
    float: right;
    margin-top: -20rem;
    background: #ACACAD;
    color: #fff;
}

#modalEditarVersion .boton-cuadrado :hover {
    background: #1b1b1b;
}


#modalEditarVersion .titulo-sistema {
    font-weight: bold;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

#modalEditarVersion .informacion-version {
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-size: 12rem;
}


#modalEditarVersion .item-version {
    border-bottom: 1rem solid gray;
    overflow-y: auto;
}



#modalEditarVersion .idigitales-fielset-title label {
    width: auto;
}


#modalEditarVersion #panelCarousel {
    margin-top: 0rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 5rem;
    height: 200rem;
}


#modalEditarVersion .emptyDataCarusel {
    position: absolute;
    left: 50%;
    top: 60%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



#modalOpcionesDescarga .sinVersiones {
    top: 50%;
    position: absolute;
    text-align: center;
    width: 92%;
}

#modalOpcionesDescarga .sinVersiones >span {
    margin: auto 0;
    text-align: center;

}