.itemDocumento {
    width: 330rem;
    height: 80rem;
    background: #c9d0e0;
    opacity: 0.9;
    display: inline-flex;
    border: 2rem solid #c9d0e0;
    border-radius: 15rem;
    position: relative;
    margin: 20rem;
}

.item-tab {
    display: inline-block;
    width:100%;
}

.item-img {
    display: inline-block;
    font-size: 50rem;
    color: #686868;
    vertical-align: middle;
    line-height: 80rem;
    margin-left: 10rem;
}

.item-ext {
    font-size: 12rem;
    font-weight: bolder;
    position: absolute;
    left: 17px;
    top: 45px;
    color: #c9d0e0;
    float: left;
    text-align: center;
    width: 36rem;    
}

.item-titulo {
    color: #686868;
    display: inline-block;
    font-size: 12rem;
    width: 120rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align:middle;
    /*margin-left:10rem;*/
}

.item-descarga {
    position: absolute;
    width: 130px;
    height: 25px;
    font-size: 13px;
    text-align: center;
    right: 10px;
    top: 28px;
    color: #383232;
    border: 2rem solid #a3b3da;
    border-radius: 20rem;
    background: #a3b3da;
    opacity: 0.8;
    cursor: pointer;
}

.item-descarga i {
    margin-left: 10rem;
}

.panelDatos{
    margin-bottom: 3rem;
}

.elementoSeleccionado {
    border: 2px solid #4ABAD1;
}

/*Paneles*/
.idigitales-panel-encabezado i {
    font-size: 15rem;
}

/*Extensiones*/
.ext_base {
    color: #fff;
}
.ext_txt, .ext_jpg, .ext_avi, .ext_mp3, .ext_zip, .ext_pdf{
    color: #86bcb7;
}
.ext_doc, .ext_gif, .ext_mp4, .ext_wav, .ext_rar, .ext_epub {
    color: #e7c8a6;
}
.ext_docx, .ext_bmp, .ext_mpeg, .ext_wma, .ext_tar, .ext_azw {
    color: #f2eeaa;
}
.ext_exe, .ext_png, .ext_mwv, .ext_iso, .ext_img, .ext_ibook {
    color: #c2dd9b;
}
.ext_bat, .ext_dll, .ext_sys, .ext_mds{
    color: #d5c5e3;
}

/*Busqueda*/
.itemBusqueda {
    display: inline-block;
    margin-top: 15rem;
    margin-left: 20rem;
}

.busqueda-icon {
    position:absolute;
    margin-top: 7rem;
    margin-left: 7rem;
}

.busqueda-input {
    display: inline-block;
    background: #f3f3f3;
    border: none;
    line-height: 28rem;
    width: 300rem;
    color: #686868;
    padding-left: 30rem !important;
    margin-right: 3rem;
}

.busqueda-select {
    display: inline-block;  
    width: 200rem;
    margin-right: 3rem;
}

.busqueda-btn {
    display: inline-block;
    background: #f3f3f3;
    width: 80rem;
    text-align: center;
    cursor:pointer;
}
.busqueda-btn:hover {
    background: #42c2ef;
    color: #383232;
}
.busqueda-btn div {
    line-height: 32rem;
    font-size: 13rem;
}

/*Select*/
.itemBusqueda .select2-container--default
.select2-selection--single {
    background-color: #f3f3f3;
    border: none !important;
    border-radius: 0px !important;
}

.itemBusqueda 
.select2-container--default
.select2-selection--single
.select2-selection__rendered {
    color: #686868;
}

.itemBusqueda 
.select2-container .select2-selection--single .select2-selection__rendered {
    height: 31px !important;
}

.itemBusqueda .select2-normal .select2-container--default .select2-selection--single .select2-selection__rendered,
.itemBusqueda .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 31rem !important;
    text-align: center;
}

.itemBusqueda
.select2-container--default
.select2-selection--single
.select2-selection__arrow b {
    display: none;
}

.select2-container--default
.select2-results__option--highlighted[aria-selected] {
    background-color: #c9d0e0;
}

.select2-container--default
.select2-results__option[aria-selected=true] {
    background-color: #5d5d5d;
}

.select2-dropdown {
    font-size: 13rem;
    text-align: center;
}








