#barraTitulo .imagenUsuario{border:2rem solid #FFF;background:#DCDCDC;color:#FFF;}.header_hl{background:#FFF;}.logoDefault{color:#52596b;}.menuOpc{background:#c9d0e0;color:#FFF;border:1rem solid #52596b;}.menu-tab .btn-menu-tab{color:#BEBEBE;}.menu-tab .boton-agregar:hover{color:#DCDCDC;}