﻿@import '../_coloresBase.scss';

#barraTitulo .imagenUsuario { 
    border: 2rem solid $blanco; 
    background: $gray1; 
    color: $blanco; 
}
  
.header_hl{ 
    background: $blanco;
} 

.logoDefault{
    color:$grayBlue; 
} 

.menuOpc{
    background:$grayBlueLight;
    color:$blanco;
    border:1rem solid $grayBlue;
}

/*COLORES CONTENIDO TABS*/
.menu-tab .btn-menu-tab {   
    color: $gray2;  
}   

.menu-tab .boton-agregar:hover {
    color: $gray1;
}

 .cuerpo-tab {  
    /*border-top: solid 1px $gray3;*/
    /*background: $blanco;*/
}