﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RSNA @DateTime.Now.Year</title>
</head>
<body>
    <div style="margin: auto;
  max-width:400px;
  border: 3px solid #bee4ed;
  text-align:center;
  padding: 10px;">
        <div>
            Under Construction.
        </div>
        <img src="https://img.icons8.com/ios/50/000000/under-construction.png" />
    </div>
</body>
</html>
