.idigitales-cuadricula-cuadrito.seleccionado{background-color:#DCDCDC;}.idigitales-cuadricula-cuadrito:hover.seleccionado{background-color:#DCDCDC;opacity:1 !important;}.idigitales-cuadricula-cuadrito:hover{background-color:#DCDCDC;opacity:0.8;}