﻿@import '../../_coloresBase.scss';

.idigitales-cuadricula-cuadrito.seleccionado {
   /*border:solid 1px $gray3;  */
   background-color:$gray1;  
}

.idigitales-cuadricula-cuadrito:hover.seleccionado {
  /* border:solid 1px $gray2;    */
   background-color:$gray1; 
    opacity:1 !important; 
}

.idigitales-cuadricula-cuadrito:hover {
  /* border:solid 1px $gray2;    */
   background-color:$gray1;
   opacity:0.8;
} 