﻿
@using IDigitales.Pagina.Web.Comun.Idioma.Home
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
    <meta name="description" content="CMR Compañía Mexicana de Radiología es fabricante de equipo de Rayos X para para uso en diagnóstico médico, así como de Sistemas de Archivo y Distribución de Imágenes Diagnósticas PACS / HIS y Sistemas de información hospitalaria INFOSALUD">
    <meta name="google-site-verification" content="R1ALDYgKEJyNAOLcy68qqI6BZAdSOD-wTu-PNJaERZE" />
    <meta property="og:title" content="CMR Compañía Mexicana de Radiología">
    <meta property="og:description" content="CMR Compañía Mexicana de Radiología es fabricante de equipo de Rayos X para para uso en diagnóstico médico, así como de Sistemas de Archivo y Distribución de Imágenes Diagnósticas PACS y Sistemas de información hospitalaria INFOSALUD ">
    <meta property="og:image" content="~/Content/images/favicon.png">
    <meta property="og:url" content="http://www.cmr-rx.com">
    <meta name="twitter:title" content="CMR Compañía Mexicana de Radiología">
    <meta name="twitter:description" content="CMR Compañía Mexicana de Radiología es fabricante de equipo de Rayos X para para uso en diagnóstico médico, así como de Sistemas de Archivo y Distribución de Imágenes Diagnósticas PACS y Sistemas de información hospitalaria INFOSALUD ">
    <meta name="twitter:image" content="~/Content/images/favicon.png">
    <meta name="author" content="">
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.png")">
    <title>@Index.Titulo</title>

    <!-- Información para la Card de Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="batoosai" /> <!-- Usado para analytics. Cambiar por usuario de la empresa-->
    <meta name="twitter:title" content="@Index.Titulo" />
    <meta name="twitter:description" content="@Index.Titulo" />

    @Html.Partial("~/Views/Partials/Base/References.cshtml")
</head>

    <body>
        <div id="load"></div>

        <div class="everything" style="overflow: hidden">
            @Html.Partial("~/Views/Partials/Base/Header.cshtml")
            @Html.Partial("~/Views/Partials/Base/Home.cshtml")
            @Html.Partial("~/Views/Partials/Base/Products.cshtml")
            @Html.Partial("~/Views/Partials/Base/Models.cshtml")
            @*@Html.Partial("~/Views/Partials/Base/Opinions.cshtml")*@
            @Html.Partial("~/Views/Partials/Base/About.cshtml")
            @Html.Partial("~/Views/Partials/Base/Certifications.cshtml")
            @Html.Partial("~/Views/Partials/Base/News.cshtml")
            @Html.Partial("~/Views/Partials/Base/Contact.cshtml")
            @Html.Partial("~/Views/Partials/Base/Footer.cshtml")

        </div>

        <!-- GO TOP BUTTON -->
        <p id="back-top"><a href="#home" aria-label="Top"></a></p>

        @Html.Partial("~/Views/Partials/Base/Modal.cshtml")
        @Html.Partial("~/Views/Partials/Base/Scripts.cshtml")
    </body>
</html>