﻿@using IDigitales.Pagina.Web.Comun.Idioma.Home

<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta name="description" content="CMR Compañía Mexicana de Radiología es fabricante de equipo de Rayos X para para uso en diagnóstico médico, así como de Sistemas de Archivo y Distribución de Imágenes Diagnósticas PACS / HIS y Sistemas de información hospitalaria INFOSALUD">
    <meta property="og:title" content="CMR Compañía Mexicana de Radiología">
    <meta property="og:description" content="CMR Compañía Mexicana de Radiología es fabricante de equipo de Rayos X para para uso en diagnóstico médico, así como de Sistemas de Archivo y Distribución de Imágenes Diagnósticas PACS y Sistemas de información hospitalaria INFOSALUD ">
    <meta property="og:image" content="~/Content/images/favicon.png">
    <meta property="og:url" content="http://www.cmr-rx.com">
    <meta name="twitter:title" content="CMR Compañía Mexicana de Radiología">
    <meta name="twitter:description" content="CMR Compañía Mexicana de Radiología es fabricante de equipo de Rayos X para para uso en diagnóstico médico, así como de Sistemas de Archivo y Distribución de Imágenes Diagnósticas PACS y Sistemas de información hospitalaria INFOSALUD ">
    <meta name="twitter:image" content="~/Content/images/favicon.png">
    <meta name="author" content="">
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.png")">
    <title>@Login.Titulo</title>
    <link href="~/content/css/login.css" rel="stylesheet" />
    <link href="~/content/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="~/content/js/jquery-2.1.4.js"></script>
    @*<script src="~/content/js/paris.js"></script>*@
</head>
<body>
    <form class="centrado">
        <div class="logoDefault logo-cmr-system"></div>
        <h1>@Login.Acceso</h1>
        @*<h4 style="padding-left: 20px;padding-top: 20px;">Acceso a Miembros</h4>*@
        <img src="~/content/images/icons/iconousuario.png" style="width: 84px; margin-top: 10px; position: relative; left: 50%; margin-left: -42px;" alt="" />

        <div class="inset">
            <p>
                <label for="usuario">@Login.Usuario</label>
                <input type="text" name="usuario" id="usuario">
            </p>
            <p>
                <label for="contrasenia">@Login.Contrasena</label>
                <input type="password" name="constraseña" id="contrasenia">
            </p>

            <p id="error" style="display: none; text-align: center;">
                Verifique sus datos
            </p>
            <div class="padd">
                <span class="btn btn-default btn-block btn-lg" onclick="login()">@Login.Iniciar</span>
            </div>
        </div>
    </form>
<div  id="spin" class="centrado" style="display:none">
    <div style="font-size: 5rem; color: #446cb3;" class="fa fa-refresh animado lento idigitales-form-icon"></div>
</div>
<script>
   
        $('.inset #contrasenia').keypress(function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                login();
                return false;
            }
            return true;
        });

    
    function login() {
        $('#spin').show();
        var usuario = $('input[name=usuario]');
        var contrasenia = $('input[name=constraseña]');
        if (usuario.val() == '') {
            usuario.addClass('hightlight');
            contrasenia.removeClass('hightlight');
            return false;
        } else usuario.removeClass('hightlight');

        ////E-mail address validation
        //var reg = /^([A-Za-z0-9_\-\.])+\@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        //if (reg.test(usuario.val()) == false) {
        //    usuario.addClass('hightlight');
        //    return false;
        //} else usuario.removeClass('hightlight');

        if (contrasenia.val() == '') {
            contrasenia.addClass('hightlight');
            return false;
        } else contrasenia.removeClass('hightlight');

        $.ajax({
            url: '@Url.Action("AutenticarUsuario","Home")',
            data: { user: usuario.val(), password: contrasenia.val() },
            method: "POST",
            dataType: "json",
            beforeSend: function() {
                $("#error").hide();
                $('#spin').show();
            },
            success: function(data) {
                if (data.existe) {
                    location.href = '@Url.Action("Index", "Members")';
                } else {
                    $("#error").show();
                    contrasenia.addClass('hightlight');
                    usuario.addClass('hightlight');
                }
                $('#spin').hide();
            },
            error: function () {
                alert('An error occurred');
                $('#spin').hide();
            }
        });

    }
</script>

</body>
</html>