﻿@using IDigitales.Pagina.Web.Comun.Idioma.Home
@using IDigitales.Pagina.Web.Controllers.Helpers

@{
    var tipo = ((CustomPrincipal)User).Tipo;
    var usuario = ((CustomPrincipal) User).Nombre;
    var idUsuario = ((CustomPrincipal) User).Id;
}
<!DOCTYPE html>
<html lang="es" style="font-size: 1px">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta name="description" content="CMR Compañía Mexicana de Radiología es fabricante de equipo de Rayos X para para uso en diagnóstico médico, así como de Sistemas de Archivo y Distribución de Imágenes Diagnósticas PACS / HIS y Sistemas de información hospitalaria INFOSALUD">
    <meta property="og:title" content="CMR Compañía Mexicana de Radiología">
    <meta property="og:description" content="CMR Compañía Mexicana de Radiología es fabricante de equipo de Rayos X para para uso en diagnóstico médico, así como de Sistemas de Archivo y Distribución de Imágenes Diagnósticas PACS y Sistemas de información hospitalaria INFOSALUD ">
    <meta property="og:image" content="~/Content/images/favicon.png">
    <meta property="og:url" content="http://www.cmr-rx.com">
    <meta name="twitter:title" content="CMR Compañía Mexicana de Radiología">
    <meta name="twitter:description" content="CMR Compañía Mexicana de Radiología es fabricante de equipo de Rayos X para para uso en diagnóstico médico, así como de Sistemas de Archivo y Distribución de Imágenes Diagnósticas PACS y Sistemas de información hospitalaria INFOSALUD ">
    <meta name="twitter:image" content="~/Content/images/favicon.png">
    <meta name="author" content="">
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.png")">
    <title>Compañía Mexicana de Radiología</title>


    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    @*<link rel="stylesheet" href="css/reset.css">*@ <!-- CSS reset -->
    <link href="~/content/css/tabs.css" rel="stylesheet" />

    <script src="~/content/js/jquery-2.1.4.js"></script>
    <script src="~/content/manager/layoutmodulo.js"></script>
    <script src="~/content/manager/dependenciasmanager.js"></script>
    <script src="~/content/manager/seccionesmanager.js"></script>
    <script src="~/content/manager/scriptsmanager.js"></script>
    <script src="~/content/manager/ajaxmanager.js"></script>
    <script src="~/content/manager/temasmanager.js"></script>
    <script src="~/content/js/jquery.cookie.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <script src="~/content/js/async.min.js"></script>
    <script src="~/content/Members/Members.js"></script>
    <link href="~/content/Members/Members.css" rel="stylesheet" />
    <link href="~/content/Members/Members-theme-gray.css" rel="stylesheet" />

    <script src="~/content/idigitales-menumodulo/idigitales-menumodulo.js"></script>
    <link href="~/content/idigitales-menumodulo/idigitales-menumodulo-themes-gray.css" rel="stylesheet" />
    <link href="~/content/idigitales-menumodulo/idigitales-menumodulo.css" rel="stylesheet" />


    <link href="~/content/css/estilos-themes-gray.css" rel="stylesheet" />
    <link href="~/content/css/estilos.css" rel="stylesheet" />
    <link href="~/content/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/fonts/font-CMRPage/fontCMRPage.css" rel="stylesheet" />

    <script src="~/Content/comunes/idigitales-cuadricula/idigitales-cuadricula.js"></script>
    <link href="~/Content/comunes/idigitales-cuadricula/idigitales-cuadricula.css" rel="stylesheet" />
    <link href="~/Content/comunes/idigitales-cuadricula/idigitales-cuadricula-theme-gray.css" rel="stylesheet" />

    @*<link href="~/Content/comunes/datatables/datatables.min.css" rel="stylesheet" />*@
    <link href="~/Content/comunes/datatables/DataTables-1.10.18/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/comunes/dropzone/css/dropzone.css" rel="stylesheet" />
    <link href="~/Content/comunes/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/comunes/select2/select2-themes-gray.css" rel="stylesheet" />
    <link href="~/Content/comunes/idigitales-notificaciones/idigitales-notificaciones.css" rel="stylesheet" />
    <link href="~/Content/comunes/validador/validador.css" rel="stylesheet" />
    <link href="~/Content/comunes/idigitales-checkboxes/idigitales-checkboxes.css" rel="stylesheet" />
    <link href="~/Content/comunes/idigitales-checkboxes/idigitales-checkboxes-themes-gray.css" rel="stylesheet" />

    <link href="~/Content/comunes/bootstrap-datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/comunes/bootstrap-datetimepicker/bootstrap-datetimepicker-themes-dark.css" rel="stylesheet" />
    <link href="~/Content/icon-fonts/glyphicons.css" rel="stylesheet" />

    <link href="~/Content/comunes/idigitales-panels/idigitales-uipanels.css" rel="stylesheet" />
    <link href="~/Content/comunes/idigitales-panels/idigitales-uipanels-themes-dark.css" rel="stylesheet" />
    <link href="~/Content/comunes/multiple-select/multiple-select.css" rel="stylesheet" />
   

</head>
<body style="font-size: 16rem; ">

    <div class="header_hl idigitales-wrap-vertical-center" id="barraTitulo">

        <div id="ContenedorLogo" class=" idigitales-inner-vertical-center">
            <div class="logoDefault logo-cmr-system"></div>
        </div>
        <div class="idigitales-inner-vertical-center">
            <div class="topMenu_Cotizaciones menuOpc icon icon-nuevacotizacion" id="btnCotNueva" style="display: none;"></div>
            <div class="topMenu_Cotizaciones menuOpc fa fa-folder-open-o" id="btnCotAbrir" style="display: none;"></div>
            <div class="topMenu_Cotizaciones menuOpc fa fa-floppy-o" id="btnCotGuardar" style="display: none;"></div>
            <div class="topMenu_Cotizaciones menuOpc icon icon-agregarproducto" id="btnCotAgregar" style="display: none;"></div>
            <div class="topMenu_Cotizaciones menuOpc fa fa-print" id="btnImprimirCot" style="display: none;"></div>
            @if (User.IsInRole("GENERAL_EXISTENCIAS_IMPRIMIR"))
            {
                <div class="topMenu_Cotizaciones menuOpc icon icon-imprimirinventario" id="btnImprimirInventarioCot" title="Imprimir Inventario" style="display: none;"></div>
            }
            @if (User.IsInRole("GENERAL_LISTAPRECIOS_IMPRIMIR"))
            {
                <div class="topMenu_Cotizaciones menuOpc icon icon-imprimirlista" id="btnImprimirListasPrecioCot" title="Imprimir Listas de Precios" style="display: none;"></div>
            }


            @*PROUCTOS*@
            @if (User.IsInRole("GENERAL_APLICACIONES_EDITAR"))
            {
                <div class="topMenu_Versiones menuOpc icon icon-agregarapp" id="btnAgregarAplicacion" style="display: none;"></div>
            }
            @if (User.IsInRole("GENERAL_PRODUCTOS_EDITAR"))
            {
                <div class="topMenu_Productos menuOpc icon icon-agregarproducto" id="btnAgregaProductos" title="Agregar Productos" style="display: none;"></div>
            }
            @if (User.IsInRole("GENERAL_LISTAPRECIOS_EDITAR"))
            {
                <div class="topMenu_Productos menuOpc icon icon-listadeprecios" id="btnAgregaLista" title="Listas de Precios" style="display: none;"></div>
            }
            @if (User.IsInRole("GENERAL_EXISTENCIAS_IMPRIMIR"))
            {
                <div class="topMenu_Productos menuOpc icon icon-imprimirinventario" id="btnImprimirInventario" title="Imprimir Inventario" style="display: none;"></div>
            }
            @if (User.IsInRole("GENERAL_LISTAPRECIOS_IMPRIMIR"))
            {
                <div class="topMenu_Productos menuOpc icon icon-imprimirlista" id="btnImprimirListasPrecio" title="Imprimir Listas de Precios" style="display: none;"></div>
            }


                @* <div class="topMenu_Configuracion menuOpc fa fa-arrow-left" id="btnRegresar"></div>*@
                <div class="topMenu_Configuracion menuOpc fa fa-home" id="btnAtras" style="display: none;"></div>
            </div>
        <div class="userinfo_hl idigitales-inner-vertical-center">

            <div class="profile_hl">
                <div class="usernameinfo_hl">
                    @usuario     <br>
                    @tipo
                </div>
            </div>
            <div class="dropdown">
                <div class="dropbtn"> <i class="icon icon-usuario"></i></div>
                <div class="dropdown-content">
                    <a class="dropdown-item"  id="btnEditarUsuario" onclick="_Members.editarUsuario(@idUsuario)">
                        <i data-id="" data-opcion="Editar" class="icon icon-cerrarsesion"></i>Editar
                    </a>
                    <a class="dropdown-item" href='@Url.Action("Login", "Home")'>
                        <i data-id="" data-opcion="Salir" class="icon icon-cerrarsesion"></i>Salir
                    </a>
                </div>
            </div>

        </div>



    </div>

    <div class="fullWapper height100p">

        @Html.Partial("~/Views/Members/Menu.cshtml")
    </div>

    <script src="~/Content/comunes/datatables/datatables.min.js"></script>
    <script src="~/Content/comunes/datatables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/comunes/time/moment.min.js"></script>
    <script src="~/Content/comunes/dropzone/dropzone.min.js"></script>
    <script src="~/Content/comunes/select2/select2.min.js"></script>
    <script src="~/Content/comunes/idigitales-notificaciones/idigitales-notificaciones.js"></script>
    <script src="~/Content/comunes/validador/validador.js"></script>
    <script src="~/Content/comunes/idigitales-checkboxes/idigitales-checkboxes.js"></script>
    <script src="~/Content/comunes/bootstrap-datetimepicker/moment-locales.js"></script>
    <script src="~/Content/comunes/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/comunes/bootstrap-datetimepicker/fechas.js"></script>
    <script src="~/Content/comunes/idigitales-panels/idigitales-uipanels.js"></script>
    <script src="~/Content/comunes/multiple-select/multiple-select.js"></script>
   

    @Html.Partial("~/Views/Members/Scripts.cshtml")

    <div id="ContenedorPopUp1" style="min-height: 150rem;" class="hide"></div>
    <div id="ContenedorPopUp2" style="min-height: 150rem;" class="hide"></div>
    <div id="ContenedorPopUp3" style=" min-height: 200rem;" class="hide"></div>
    <div id="ContenedorPopUp4" style=" min-height: 170rem;" class="hide"></div>
    <div id="ContenedorPopUp5" style=" min-height: 200rem;" class="hide"></div>
</body>
</html>